<ng-form name="addDocPartType" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.edit.newFile.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="addPart()" text="applications.edit.newFile.addPart"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.newFile.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="nomenclature" ng-model="docPartType" alias="'documentParts'" params="{ parentValueId: lotSetId }" l10n-text="applications.edit.newFile.documentType" class="col-sm-4" ng-required="true"></sc-field>
        <sc-field type="nomenclature" ng-model="caseType" alias="'caseTypes'" params=" {lotId: lotId }" l10n-text="applications.edit.newFile.caseType" class="col-sm-2" ng-required="true"></sc-field>
      </div>
    </div>
  </div>
</ng-form>
