<ng-form name="addFormWrapper" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong>{{title}}</strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="linkNew()" text="applications.edit.addPart.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.addPart.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <!--Person-->
      <gva-person-document-id name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personDocumentId'"></gva-person-document-id>

      <gva-person-document-education name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personEducation'"></gva-person-document-education>

      <gva-person-document-employment name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personEmployment'"></gva-person-document-employment>

      <gva-person-document-medical name="addForm" ng-model="applicationPart" sc-form-params="{ personLin: personLin, hideCaseType: true }" ng-if="setPartAlias === 'personMedical'"></gva-person-document-medical>

      <gva-person-document-check name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personCheck'"></gva-person-document-check>

      <gva-person-document-training name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personTraining'"></gva-person-document-training>

      <gva-person-document-lang-cert name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personLangCert'"></gva-person-document-lang-cert>

      <gva-person-document-other name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'personOther'"></gva-person-document-other>

      <gva-person-report name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true, isNew: true }" ng-if="setPartAlias === 'personReport'"></gva-person-report>

      <!--Organization-->
      <gva-organization-document-other name="addForm" ng-model="applicationPart" sc-form-params="{ hideCaseType: true }" ng-if="setPartAlias === 'organizationOther'"></gva-organization-document-other>

      <!--Aircraft-->
      <gva-aircraft-document-owner name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'aircraftOwner'"></gva-aircraft-document-owner>

      <gva-aircraft-document-debt-fm name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'aircraftDebtFM'"></gva-aircraft-document-debt-fm>

      <gva-aircraft-document-occurrence name="addForm" ng-model="applicationPart" ng-if="setPartAlias === 'aircraftOccurrence'"></gva-aircraft-document-occurrence>

      <gva-aircraft-document-other name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'aircraftOther'"></gva-aircraft-document-other>

      <!--Airport-->
      <gva-airport-document-owner name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'airportOwner'"></gva-airport-document-owner>

      <gva-airport-document-other name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'airportOther'"></gva-airport-document-other>

      <!--Equipment-->
      <gva-equipment-document-owner name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'equipmentOwner'"></gva-equipment-document-owner>

      <gva-equipment-document-other name="addForm" ng-model="applicationPart.part" ng-if="setPartAlias === 'equipmentOther'"></gva-equipment-document-other>

      <!--Applications-->
      <gva-common-document-application name="addForm" ng-model="applicationPart" sc-form-params="{ lotId: lotId, hideCaseType: true }"
          ng-if="setPartAlias === 'personApplication' ||
                  setPartAlias === 'organizationApplication' ||
                  setPartAlias === 'aircraftApplication' ||
                  setPartAlias === 'airportApplication' ||
                  setPartAlias === 'equipmentApplication'"></gva-common-document-application>

      <gva-application-document name="appFile" ng-model="applicationPart.case" readonly="true" sc-form-params="{ lotId: lotId, readonly: caseReadonly }"></gva-application-document>

    </div>
  </div>
</ng-form>
