<div class="container page-content">
  <form name="form" class="form-inline" role="form">
    <div class="well">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">Text directive</label>
          <sc-text name="textDir" ng-model="text"></sc-text>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label">Text input box</label>
          <input name="textInput" class="form-control input-sm" ng-model="text" />
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">Int directive</label>
          <sc-int name="intDir" ng-model="intNum"></sc-int>
        </div>
        <div class="form-group col-sm-2 labeless">
          <button type="button" ng-click="changeInt()" name="intBtn" class="btn-sm btn-info">Change to 789</button>
        </div>
        <div class="form-group col-sm-3 labeless"">
          <label>model = <span name="intLbl">{{intNum}}</span></label>
        </div>
        <div class="form-group col-sm-2 labeless">
          <button type="button" ng-click="checkIsIntNumber()" name="isIntBtn" class="btn-sm btn-info">Is number 123.45</button>
        </div>
        <div class="form-group col-sm-3 labeless">
          <label>is number 123.45 = <span name="isIntLbl">{{isIntNumber}}</span></label>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">Float directive</label>
          <sc-float name="floatDir" ng-model="floatNum"></sc-float>
        </div>
        <div class="form-group col-sm-2 labeless">
          <button type="button" ng-click="changeFloat()" name="floatBtn" class="btn-sm btn-info">Change to 789.12</button>
        </div>
        <div class="form-group col-sm-3 labeless">
          <label>model = <span name="floatLbl">{{floatNum}}</span></label>
        </div>
        <div class="form-group col-sm-2 labeless">
          <button type="button" ng-click="checkIsFloatNumber()" name="isFloatBtn" class="btn-sm btn-info">Is number 123</button>
        </div>
        <div class="form-group col-sm-3 labeless">
          <label>is number 123.45 = <span name="isFloatLbl">{{isFloatNumber}}</span></label>
        </div>
      </div>
    </div>

    <div class="well">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">Date directive</label>
          <sc-date name="dateDir" ng-model="date"></sc-date>
        </div>
        <div class="form-group col-sm-2 labeless">
          <button type="button" ng-click="changeDate()" name="dateBtn" class="btn-sm btn-info">Change to 10.08.1990</button>
        </div>
        <div class="form-group col-sm-3 labeless">
          <label>model = <span name="dateLbl">{{date}}</span></label>
        </div>
      </div>
    </div>
  </form>
</div>
