<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.others.new' }" text="aircrafts.otherSearch.newOther" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentOthers" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.others.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="aircrafts.otherSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="aircrafts.otherSearch.documentDateValidFrom" type="date">
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="aircrafts.otherSearch.documentDateValidTo" type="date">
  </sc-column>
  <sc-column data="part.documentPublisher" title="aircrafts.otherSearch.documentPublisher">
  </sc-column>
  <sc-column data="part.otherDocumentType.name" title="aircrafts.otherSearch.otherDocumentType">
  </sc-column>
  <sc-column data="part.otherDocumentRole.name" title="aircrafts.otherSearch.otherDocumentRole">
  </sc-column>
  <sc-column data="part.notes" title="aircrafts.otherSearch.notes" visible="false">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.otherSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.otherSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.otherSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
