<ng-form name="editDocumentOtherForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editOther.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.editOther.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteDocumentOther()" text="aircrafts.editOther.deleteDoc" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editOther.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editOther.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-document-other name="aircraftDocumentOtherForm" ng-model="aircraftDocumentOther.part"></gva-aircraft-document-other>

      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="aircraftDocumentOther.files"
        sc-form-params="{ setPart: 'aircraft', lotId: lotId }"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
