<sc-navigation user-fullname="{{userFullname}}" change-password-state="root.common.users.changePassword" class="navigation">
  <sc-navigation-item text="common.navigation.docs.title" icon="glyphicon glyphicon-folder-open" parent="true">
    <sc-navigation-item state="root.docs.search" params="{ filter: 'current' }" text="common.navigation.docs.search"></sc-navigation-item>
    <sc-navigation-item state="root.docs.new" text="common.navigation.docs.new"></sc-navigation-item>
    <sc-navigation-item state="root.docs.news" text="common.navigation.docs.news"></sc-navigation-item>
    <sc-navigation-item state="root.corrs.search" text="common.navigation.docs.corrsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.corrs.new" text="common.navigation.docs.corrsNew"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item state="root.apps.search" text="common.navigation.apps.search"></sc-navigation-item>
  <sc-navigation-item state="root.docs.search" text="common.navigation.reports.search"></sc-navigation-item>
  <sc-navigation-item text="common.navigation.admin.title" icon="glyphicon glyphicon-wrench" parent="true" ng-if="showAdmin">
    <sc-navigation-item state="root.users.search" text="common.navigation.admin.users"></sc-navigation-item>
    <sc-navigation-item state="root.users.search" text="common.navigation.admin.noms"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.help.title" parent="true">
    <sc-navigation-item new-tab="true" url="/docs/help.pdf" text="common.navigation.help.userManual"></sc-navigation-item>
  </sc-navigation-item>
</sc-navigation>

<sc-breadcrumb home-state="root.docs.search"></sc-breadcrumb>

<div class="breadcrumb-page-view"></div>

<div class="container alert-container">
  <alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert(alert)">
    {{alert.message}}
  </alert>
</div>

<div ui-view class="container"></div>
