<ng-form name="editAirportForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="airports.editAirportData.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="airports.editAirportData.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="airports.editAirportData.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="airports.editAirportData.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <gva-airport-data name="airportDataForm" ng-model="airportData.part"></gva-airport-data>
    </div>
  </div>
</ng-form>
