<div ng-if="regView">
  <ng-form name="viewCertForm" class="card" sc-form-readonly>
      <div class="well well-sm" ng-show="regView.firstReg && regView.lastReg">
        <div class="row">
          <div class="col-sm-12">
            <span l10n-text="aircrafts.regView.firstReg"></span>
            <span>{{regView.firstReg.register.textContent.regPrefix + regView.firstReg.certNumber}}</span>
            <span>, {{regView.firstReg.regMark}}</span>
            <span l10n-text="aircrafts.regView.regFrom"></span>
            <span>{{regView.firstReg.certDate | date: 'dd.MM.yyyy г.'}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span l10n-text="aircrafts.regView.lastReg"></span>
            <span>{{regView.lastReg.register.textContent.regPrefix + regView.lastReg.certNumber}}</span>
            <span>, {{regView.lastReg.regMark}}</span>
            <span l10n-text="aircrafts.regView.regFrom"></span>
            <span>{{regView.lastReg.certDate | date: 'dd.MM.yyyy г.'}}</span>
          </div>
        </div>
      </div>
      <div class ="row">
        <div class="form-group col-md-7 col-md-offset-3 col-sm-offset-1 col-sm-10">
          <button name="firstBtn" class="btn btn-sm btn-primary" type="button" sc-click="switchReg(regView.firstIndex)" ng-disabled="regView.prevIndex == undefined">
            <span ng-class="{'glyphicon glyphicon-loading': firstBtn.$pending, 'fa fa-angle-double-left': !firstBtn.$pending }"></span>
            <span l10n-text="aircrafts.regView.first"></span>
          </button>
          <button name="prevBtn" class="btn btn-sm btn-primary" type="button" sc-click="switchReg(regView.prevIndex)" ng-disabled="regView.prevIndex == undefined">
            <span ng-class="{'glyphicon glyphicon-loading': prevBtn.$pending, 'fa fa-angle-left': !prevBtn.$pending }"></span>
            <span l10n-text="aircrafts.regView.prev"></span>
          </button>
          <button name="nextBtn" class="btn btn-sm btn-primary" type="button" sc-click="switchReg(regView.nextIndex)" ng-disabled="regView.nextIndex == undefined">
            <span l10n-text="aircrafts.regView.next"></span>
            <span ng-class="{'glyphicon glyphicon-loading': nextBtn.$pending, 'fa fa-angle-right': !nextBtn.$pending }"></span>
          </button>
          <button name="lastBtn" class="btn btn-sm btn-primary" type="button" sc-click="switchReg(regView.lastIndex)" ng-disabled="regView.nextIndex == undefined">
            <span l10n-text="aircrafts.regView.last"></span>
            <span ng-class="{'glyphicon glyphicon-loading': lastBtn.$pending, 'fa fa-angle-double-right': !lastBtn.$pending }"></span>
          </button>
        </div>
      </div>
  </ng-form>

  <gva-aircraft-cert-register-view name="aircraftCertRegisterForm" ng-model="reg.part" sc-form-readonly="true"></gva-aircraft-cert-register-view>

  <gva-aircraft-cert-airworthiness-view name="aircraftCertAirworthinessForm" ng-model="aw.part" sc-form-readonly="true"></gva-aircraft-cert-airworthiness-view>

  <ng-form class="form-inline" sc-form-readonly>
    <div class="panel panel-default">
      <div class="panel-heading"><strong l10n-text="aircrafts.regView.debts"></strong></div>
      <div class="well-sm panel-body">
         <sc-datatable items="debts" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
           <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
             <sc-button name="editBtn" btn-click="editDocumentDebt(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
           </sc-column>
           <sc-column data="part.certId" title="aircrafts.debtSearchFM.certId">
           </sc-column>
           <sc-column data="part.regDate" title="aircrafts.debtSearchFM.regDate" type="date">
           </sc-column>
           <sc-column data="part.aircraftDebtType.name" title="aircrafts.debtSearchFM.aircraftDebtType">
           </sc-column>
           <sc-column data="part.documentNumber" title="aircrafts.debtSearchFM.documentNumber">
           </sc-column>
           <sc-column data="part.documentDate" title="aircrafts.debtSearchFM.documentDate" type="date">
           </sc-column>
           <sc-column data="part.aircraftCreditor.name" title="aircrafts.debtSearchFM.aircraftCreditor">
           </sc-column>
           <sc-column data="part.inspector.name" title="aircrafts.debtSearchFM.inspector">
           </sc-column>
           <sc-column data="files[0].bookPageNumber" title="aircrafts.debtSearchFM.bookPageNumber" width="50px">
           </sc-column>
           <sc-column data="files[0].pageCount" title="aircrafts.debtSearchFM.pageCount" width="50px">
           </sc-column>
           <sc-column sortable="false" title="aircrafts.debtSearchFM.file" width="30px">
             <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files" title="{{item.files [0].file.name}}">
               <span class="glyphicon glyphicon-file"></span>
             </a>
           </sc-column>
         </sc-datatable>
      </div>
    </div>
  </ng-form>
</div>
<div ng-if="!regView">
  <sc-button name="newButton" btn-click="newReg()" text="aircrafts.regView.newReg" class="btn btn-sm btn-primary" icon="glyphicon-floppy-disk"></sc-button>
</div>
