<sc-button name="createBtn" btn-click="newCertReg()" text="aircrafts.regSearch.newReg" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="regs" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-click="editCertReg(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.isActive.name" title="aircrafts.regSearch.isActive">
  </sc-column>
  <sc-column data="part.certNumber" title="aircrafts.regSearch.certNumber">
  </sc-column>
  <sc-column data="part.certDate" title="aircrafts.regSearch.certDate" type="date">
  </sc-column>
  <sc-column data="part.typeCert.aircraftTypeCertificateType.name" title="aircrafts.regSearch.aircraftTypeCertificateType">
  </sc-column>
  <sc-column data="part.aircraftNewOld.name" title="aircrafts.regSearch.aircraftNewOld">
  </sc-column>
  <sc-column data="part.operationType.name" title="aircrafts.regSearch.operationType">
  </sc-column>
  <sc-column data="part.removal.date" title="aircrafts.regSearch.removalDate" type="date">
  </sc-column>
  <sc-column data="part.removal.reason" title="aircrafts.regSearch.removalReason">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.regSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.regSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.regSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
