<ng-form name="certGroundServiceOperatorsSnoOperationalForm">

  <gva-organization-cert-operator name="newCertGroundServiceOperatorsSnoOperationalForm" ng-model="certificate.part"></gva-organization-cert-operator>
  
  <gva-organization-equipment ng-model="certificate.part" name="organizationEquipmentForm"></gva-organization-equipment>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="organizations.newCertGroundServiceOperatorsSnoOperational.save" class="btn btn-primary" icon="glyphicon-floppy-disk"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.newCertGroundServiceOperatorsSnoOperational.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>