<sc-button name="createBtn" btn-click="newDocumentEmployment()" text="persons.employmentSearch.newEmployment" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="employments" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editDocumentEmployment(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.hiredate" title="persons.employmentSearch.hiredate" type="date">
  </sc-column>
  <sc-column data="part.employmentCategory.name" title="persons.employmentSearch.employmentCategory" type="string">
  </sc-column>
  <sc-column data="part.organization.name" title="persons.employmentSearch.organization" type="string">
  </sc-column>
  <sc-column data="part.country.name" title="persons.employmentSearch.country" type="string">
  </sc-column>
  <sc-column data="part.valid.name" title="persons.employmentSearch.valid">
  </sc-column>
  <sc-column data="part.notes" title="persons.employmentSearch.notes" type="string">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="persons.employmentSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="persons.employmentSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.employmentSearch.file">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
