<ng-form name="editDocumentEmploymentForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="persons.editEmployment.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="persons.editEmployment.edit"
          class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteEmployment()" text="persons.editEmployment.deleteEmpl"
          class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode" >
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="persons.editEmployment.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.editEmployment.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-person-document-employment name="personDocumentEmploymentForm" ng-model="personDocumentEmployment.part" readonly="!editMode"></gva-person-document-employment>

      <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentEmployment.files" readonly="!editMode"></gva-person-scanned-document>
    </div>
  </div>
</ng-form>
