<ng-form name="newDocumentApplicationForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.newAircraftDocApplication.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.newAircraftDocApplication.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.newAircraftDocApplication.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-document-application name="aircraftDocumentApplicationForm" ng-model="aircraftDocumentApplication.part" sc-data-lot-id="lotId"></gva-common-document-application>

      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="aircraftDocumentApplication.files" sc-data-set-part="'aircraft'"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
