<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="GvaAircraft" connectionString="Data Source=.\;Initial Catalog=GvaAircraft;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="FileMakerNamespace" value="http://www.filemaker.com/fmpxmlresult" />
  </appSettings>
</configuration>