<ng-form name="form.newLangCertForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="persons.newLangCertModal.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.newLangCertModal.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.newLangCertModal.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-person-common-doc name="personDocumentForm" ng-model="newLangCert"
        sc-form-params="{ isNew: true, caseTypeId: caseTypeId, categoryAlias: 'languageCert', appId: appId, withoutCertsAliases: withoutCertsAliases }">
      </gva-person-common-doc>

      <div ng-show="newLangCert.case.caseType">
      <h5 class="form-header" l10n-text="persons.newLangCertModal.langCertData"></h5>
      <div class="row">
        <sc-field type="nomenclature" ng-model="langLevelModel.langLevel" alias="'langLevels'" params="{ roleAlias: langCert.part.documentRole.alias }" l10n-text="persons.newLangCertModal.langLevel" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="date" ng-model="langLevelModel.changeDate" l10n-text="persons.newLangCertModal.changeDate" class="col-sm-2 col-md-2"></sc-field>
      </div>

      <gva-person-common-doc-classification name="personDocumentClassificationForm" ng-model="newLangCert"></gva-person-common-doc-classification>

      <gva-common-scanned-document name="personScannedDocumentForm" ng-model="newLangCert.case"
        sc-form-params="{ setPart: 'person', lotId: lotId }"></gva-common-scanned-document>

    </div>
  </div>
</ng-form>
