<div>
  <sc-button name="createBtn" btn-click="newEdition()" text="persons.ratingEditionsSearch.newEdition" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
  <sc-datatable ng-model="editions" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="ratingEdition.part.documentDateValidFrom" title="persons.ratingEditionsSearch.documentDateValidFrom" type="date">
    </sc-column>
    <sc-column data="ratingEdition.part.documentDateValidTo" title="persons.ratingEditionsSearch.documentDateValidTo" type="date">
    </sc-column>
    <sc-column data="rating.firstEditionValidFrom" title="persons.ratingEditionsSearch.firstEditionValidFrom" type="date">
    </sc-column>
    <sc-column data="rating.ratingTypeOrRatingLevel.name" title="persons.ratingEditionsSearch.ratingTypeOrRatingLevel">
    </sc-column>
    <sc-column data="rating.classOrSubclass" title="persons.ratingEditionsSearch.classOrCategory">
    </sc-column>
    <sc-column data="rating.authorizationAndLimitations" title="persons.ratingSearch.authorizationAndLimitations">
    </sc-column>
    <sc-column data="ratingEdition.part.notes" title="persons.ratingEditionsSearch.notes">
    </sc-column>
    <sc-column data="ratingEdition.part.notesAlt" title="persons.ratingEditionsSearch.notesAlt">
    </sc-column>
    <sc-column data="ratingEdition.part.inspector.name" title="persons.ratingEditionsSearch.inspector">
    </sc-column>
    <sc-column data="rating.personRatingModel.name" title="persons.ratingEditionsSearch.personRatingModel">
    </sc-column>
    <sc-column sortable="false" class="buttons-cell">
      <sc-button name="editBtn" btn-click="editEdition(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell">
      <sc-button name="deleteBtn" btn-click="deleteEdition(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
    </sc-column>
</sc-datatable>
</div>
