<ng-form name="editDocumentDebtForm" sc-validate="{}">

  <gva-aircraft-document-debt-fm name="aircraftDocumentDebtForm" ng-model="debt.part"></gva-aircraft-document-debt-fm>

  <gva-aircraft-scanned-document name="aircraftScannedDocumentForm" ng-model="debt.files"></gva-aircraft-scanned-document>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editDebtFM.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editDocumentDebtForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editDebtFM.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
