li.dropdown-split-right > a
{
  padding-left: 4px;
}
li.dropdown-split-left > a
{
  padding-right: 0px;
}
div.labeless
{
  margin-top: 25px;
}
form.form-inline label.control-label 
{
  min-width: 100%;
}
@media (max-width:767px)
{
  .hidden-phone{display:none !important;}
}

.page-view {
    padding-top: 50px;
    padding-bottom: 50px;
}

.breadcrumb-page-view {
    padding-top: 91px;
    padding-bottom: 10px;
}

.navbar.breadcrumb-bar {
    top: 51px;
    min-height: 30px;
    z-index: 1029;
}

.breadcrumb-bar .breadcrumb {
    margin-bottom: 0;
    padding: 5px 15px;
}

/*****TREE*******/
ul.tree
{
  list-style: none outside none;
  margin: 0;
  font-size: 12px;
  padding-left: 4px;
}

ul.tree.tree-root
{
  margin-top: 15px;
  list-style: none outside none;
  margin: 0;
  font-size: 12px;
  padding-left: 4px;
}

ul.tree > li
{
  line-height: 18px;
  padding-left: 15px;
  font-size: 12px;
}

ul.tree.tree-root > li
{
  padding-left: 0px;
  font-size: 12px;
}

ul.tree > li > i
{
  vertical-align: text-top;
  line-height: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}

i.tree-image-folder
{
  vertical-align: text-top;
  line-height: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 2px;
  margin-top: 0px;
}

i.tree-image-close
{
  vertical-align: text-top;
  line-height: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-left: 2px;
  margin-top: 0px;
}
/****************/
