body
{
  padding-top: 60px;
}
li.dropdown-split-right > a
{
  padding-left: 4px;
}
li.dropdown-split-left > a
{
  padding-right: 0px;
}
div.labeless
{
  margin-top: 25px;
}
form.form-inline label.control-label 
{
  min-width: 100%;
}
@media (max-width:767px)
{
  .hidden-phone{display:none !important;}
}
