body
{
  padding-top: 50px;
}
li.dropdown-split-right > a
{
  padding-left: 4px;
}
li.dropdown-split-left > a
{
  padding-right: 0px;
}
div.labeless
{
  margin-top: 25px;
}
form.form-inline label.control-label 
{
  min-width: 100%;
}
@media (max-width:767px)
{
  .hidden-phone{display:none !important;}
}

.page-view {
    padding-bottom: 50px;
}

.breadcrumb-page-view {
    padding-top:50px;
    padding-bottom: 10px;
}

.breadcrumb-bar {
    margin-top:-45px;
    margin-bottom:-25px;
    padding-top:50px;
}

