<ng-form name="nomenclatureForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="common.nomenclatures.nomValues.edit.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="common.nomenclatures.nomValues.edit.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="common.nomenclatures.nomValues.edit.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
        <sc-button name="deleteBtn" ng-if="nomenclatureValue.nomValueId && !nomenclatureValue.alias" btn-click="deleteNomenclatureValue()" text="common.nomenclatures.nomValues.edit.remove" class="btn btn-danger btn-xs" icon="glyphicon-remove">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="nomenclature" alias="'nomList'" mode="id" ng-model="nomType" l10n-text="common.nomenclatures.nomValues.edit.nomType" class="col-sm-4" ng-readonly="true"></sc-field>
      </div>

      <div class="row">
        <sc-field type="text" ng-model="nomenclatureValue.code" ng-required="true" l10n-text="common.nomenclatures.nomValues.edit.code" class="col-sm-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="text" ng-model="nomenclatureValue.name" ng-required="true" l10n-text="common.nomenclatures.nomValues.edit.name" class="col-sm-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="text" ng-model="nomenclatureValue.nameAlt" l10n-text="common.nomenclatures.nomValues.edit.altName" class="col-sm-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="text" ng-model="nomenclatureValue.order" l10n-text="common.nomenclatures.nomValues.edit.order" class="col-sm-4"></sc-field>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.isActive"></label>
          <input type="checkbox" ng-model="nomenclatureValue.isActive"/>
        </div>
      </div>

       <div class="row" ng-if="alias === 'limitations66'">
        <div class="form-group col-sm-4" ng-init="nomenclatureValue.textContent.point = nomenclatureValue.textContent.point || '8'">
          <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.limitations66Point"></label>
          <select ui-select2 ng-model="nomenclatureValue.textContent.point" class="input-sm form-control">
            <option value=""></option>
            <option value="8">8</option>
            <option value="13">13</option>
          </select>
        </div>
      </div>

      <div ng-if="alias === 'applicationTypes'">
        <div class="row">
          <div class="form-group col-sm-4"  sc-has-error="caseTypes">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.caseTypes"></label>
            <sc-validation-error field-name="caseTypes" validations="{required: 'default'}"></sc-validation-error>
            <select ui-select2 multiple ng-model="nomenclatureValue.textContent.caseTypes" class="input-sm form-control" name="caseTypes" ng-required="true">
              <option ng-repeat="caseType in caseTypeOptions" value="{{caseType.alias}}">{{caseType.name}}</option>
            </select>
          </div>
          <sc-field ng-hide="true" type="int" ng-init="nomenclatureValue.textContent.documentTypeId = 12" ng-model="nomenclatureValue.textContent.documentTypeId" class="col-sm-4"></sc-field>
        </div>
        <div class="row">
          <sc-field type="int" ng-model="nomenclatureValue.textContent.duration" ng-init="nomenclatureValue.textContent.duration = nomenclatureValue.textContent.duration || 30" ng-required="true" l10n-text="common.nomenclatures.nomValues.edit.duration" class="col-sm-4"></sc-field>
        </div>
        <div class="row">
          <sc-field type="nomenclature" alias="'licenceTypes'" ng-init="nomenclatureValue.textContent.licenceTypeIds = nomenclatureValue.textContent.licenceTypeIds || null" mode="id" multiple ng-model="nomenclatureValue.textContent.licenceTypeIds" l10n-text="common.nomenclatures.nomValues.edit.licenceTypeIds" class="col-sm-8"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'documentTypes'">
        <div class="row">
          <div class="form-group col-sm-4" ng-init="nomenclatureValue.textContent.isPersonsOnly = nomenclatureValue.textContent.isPersonsOnly || false">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.isPersonsOnly"></label>
            <input type="checkbox" ng-model="nomenclatureValue.textContent.isPersonsOnly"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4" ng-init="nomenclatureValue.textContent.isIdDocument = nomenclatureValue.textContent.isIdDocument || false">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.isIdDocument"></label>
            <input type="checkbox" ng-model="nomenclatureValue.textContent.isIdDocument"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4" sc-has-error="caseType">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.caseType"></label>
            <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
            <select ui-select2 ng-model="nomenclatureValue.textContent.caseTypeAlias" class="input-sm form-control"  name="caseType" ng-required="true">
              <option ng-repeat="caseType in caseTypeOptions" value="{{caseType.alias}}">{{caseType.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-if="alias === 'documentRoles'">
        <div class="row">
          <div class="form-group col-sm-4" ng-init="nomenclatureValue.textContent.isPersonsOnly = nomenclatureValue.textContent.isPersonsOnly || false">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.isPersonsOnly"></label>
            <input type="checkbox" ng-model="nomenclatureValue.textContent.isPersonsOnly"/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.categoryAlias"></label>
            <select ui-select2 ng-model="nomenclatureValue.textContent.categoryAlias" class="input-sm form-control">
              <option value=""></option>
              <option value="check">Проверка</option>
              <option value="training">Обучение</option>
              <option value="other">Други</option>
              <option value="docId">За самоличност</option>
              <option value="flying">Летателен/Практически опит</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4" sc-has-error="caseType">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.caseType"></label>
            <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
            <select ui-select2 ng-model="nomenclatureValue.textContent.caseTypeAlias" class="input-sm form-control" name="caseType" ng-required="true">
              <option ng-repeat="caseType in caseTypeOptions" value="{{caseType.alias}}">{{caseType.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div ng-if="alias === 'ratingClasses'">
        <div class="row">
          <sc-field type="nomenclature" alias="'ratingClassGroups'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.ratingClassGroup" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'ratingSubClasses'">
        <div class="row">
          <sc-field type="nomenclature" alias="'ratingClasses'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.ratingClass" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'authorizations'">
        <div class="row">
          <sc-field type="nomenclature" alias="'authorizationGroups'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.authorizationGroup" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'aircraftTypeGroups'">
        <div class="row">
          <sc-field type="nomenclature" alias="'aircraftTypes'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.aircraftType" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'caa'">
        <div class="row">
          <sc-field type="nomenclature" alias="'countries'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.country" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'auditPartSections'">
        <div class="row">
          <sc-field type="nomenclature" alias="'auditParts'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.auditPart" class="col-sm-4"></sc-field>
        </div>
      </div>

      <div ng-if="alias === 'auditPartSectionDetails'">
        <div class="row">
          <sc-field type="nomenclature" alias="'auditPartSections'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.auditPartSection" class="col-sm-5"></sc-field>
        </div>
      </div>
      
      <div ng-if="alias === 'licenceTypes'">
        <div class="row">
          <sc-field type="text" ng-model="nomenclatureValue.textContent.codeCA" ng-required="true" l10n-text="common.nomenclatures.nomValues.edit.codeCA" class="col-sm-4"></sc-field>
        </div>
          <div class="row">
          <sc-field type="nomenclature" alias="'staffTypes'" ng-required="true" ng-model="nomenclatureValue.parentValueId" mode="id" l10n-text="common.nomenclatures.nomValues.edit.staffType" class="col-sm-4"></sc-field>
        </div>
        <div class="row">
          <div class="form-group col-sm-4"  sc-has-error="caseType">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.caseType"></label>
            <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
            <select ui-select2 ng-model="nomenclatureValue.textContent.caseTypeAlias" class="input-sm form-control"  name="caseType" ng-required="true">
              <option ng-repeat="caseType in caseTypeOptions" value="{{caseType.alias}}">{{caseType.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4" sc-has-error="templateName">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.templateName"></label>
            <sc-validation-error field-name="templateName" validations="{required: 'default'}"></sc-validation-error>
            <select ui-select2 ng-model="nomenclatureValue.textContent.templateName" name="templateName" class="input-sm form-control" ng-required="true">
              <option ng-repeat="template in templateOptions" value="{{template.code}}">{{template.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label class="control-label" l10n-text="common.nomenclatures.nomValues.edit.qualification"></label>
            <select ui-select2 ng-model="nomenclatureValue.textContent.qlfCode" class="input-sm form-control">
              <option ng-repeat="qualification in qualificationOptions" value="{{qualification.code}}">{{qualification.name}}</option>
            </select>
          </div>
        </div>
      </div>
  </div>
</ng-form>
