  <sc-tabs tab-list="{
    'common.nomenclatures.tabs.system' : {
      state: 'root.nomenclatures.search.system',
      stateParams: {
        category: 'system'
      }
    },
    'common.nomenclatures.tabs.persons' : {
      'common.nomenclatures.tabs.personsCommon': {
        state: 'root.nomenclatures.search.persons',
        stateParams: {
          category: 'person'
        }
      },
      'common.nomenclatures.tabs.licences': {
        state: 'root.nomenclatures.search.licences',
        stateParams: {
          category: 'licence'
        }
      },
      'common.nomenclatures.tabs.ratings': {
        state: 'root.nomenclatures.search.ratings',
        stateParams: {
          category: 'rating'
        }
      }
    },
    'common.nomenclatures.tabs.aircrafts' : {
        state: 'root.nomenclatures.search.aircrafts',
        stateParams: {
          category: 'aircraft'
        }
    },
    'common.nomenclatures.tabs.organizations' : {
      'common.nomenclatures.tabs.common' : {
        state: 'root.nomenclatures.search.orgCommon',
        stateParams: {
          category: 'orgCommon'
        }
      },
      'common.nomenclatures.tabs.145mf' : {
        state: 'root.nomenclatures.search.org145mf',
        stateParams: {
        	category: 'org145mf'
        }
      },
      'common.nomenclatures.tabs.147' : {
        state: 'root.nomenclatures.search.org147',
        stateParams: {
          category: 'org147'
        }
      },
      'common.nomenclatures.tabs.reports' : {
        state: 'root.nomenclatures.search.orgReport',
        stateParams: {
          category: 'orgReport'
        }
      }
    },
    'common.nomenclatures.tabs.equipments' : {
      state: 'root.nomenclatures.search.equipments',
      stateParams: {
        category: 'equipment'
      }
    },
    'common.nomenclatures.tabs.airports' : {
      state: 'root.nomenclatures.search.airports',
      stateParams: {
        category: 'airport'
      }
    }
  }"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
