<ng-form name="editDocumentApplicationForm" sc-validate="{}">

  <gva-airport-document-application name="airportDocumentApplicationForm" ng-model="airportDocumentApplication.part"></gva-airport-document-application>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="airports.editAirportDocApplication.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editDocumentApplicationForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="airports.editAirportDocApplication.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
