<ng-form name="editInspectionForm">

  <gva-common-inspection name="aircraftInspectionForm" ng-model="aircraftInspection.part"></gva-common-inspection>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editInspection.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="!aircraftInspectionForm.$dirty"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editInspection.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
