<h5 class="table-header" l10n-text="persons.editRatingEdition.editions"></h5>
<div>
  <sc-datatable items="ratingEditions" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="editEditionBtn" icon="fa-circle-o" icon-disabled="fa-check-circle-o"
        btn-sref="{ state: 'root.persons.view.ratings.edit.editions.edit', params: { index: item.partIndex} }"
        ng-disabled="item.partIndex === currentRatingEdition.partIndex"></sc-button>
    </sc-column>
    <sc-column title="persons.editRatingEdition.ratingTypeOrRatingLevel" has-content="true">
      {{rating.part.personRatingLevel.code || rating.part.ratingType.code || rating.part.aircraftTypeGroup.code}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.documentDateValidFrom" has-content="true">
      {{item.part.documentDateValidFrom | date:'mediumDate'}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.documentDateValidTo" has-content="true">
      {{item.part.documentDateValidTo | date:'mediumDate'}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.firstEditionValidFrom" has-content="true">
      {{(ratingEditions | first).part.documentDateValidFrom | date:'mediumDate'}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.classOrCategory" has-content="true">
      {{(rating.part.ratingClass.code || '') + (item.part.ratingSubClasses.length > 0 ? ' (' + (item.part.ratingSubClasses | pluck:'code' | join:', ') + ')' : '')}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.authorizationAndLimitations" has-content="true">
      {{(rating.part.authorization.code || '') + ' ' + (item.part.limitations | pluck:'code' | join:', ')}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.notes" has-content="true">
      {{item.part.notes}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.notesAlt" has-content="true">
      {{item.part.notesAlt}}
    </sc-column>
    <sc-column title="persons.editRatingEdition.inspector" has-content="true">
      {{item.part.inspector.name}}
    </sc-column>
  </sc-datatable>
  <div style="clear: both"></div>
</div>

<ng-form name="editRatingEditionForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="persons.editRatingEdition.editionForm"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="persons.editRatingEdition.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode" ng-disabled="currentRatingEdition.partIndex !== lastEditionIndex">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteCurrentEdition()" text="persons.editRatingEdition.deleteEdition" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="persons.editRatingEdition.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.editRatingEdition.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-rating-edition name="ratingEditionForm" ng-model="currentRatingEdition"
        sc-form-params="{
          isNew: false,
          lotId: lotId,
          caseTypeId: caseTypeId,
          appId: appId,
          rating: rating.partIndex
        }">
      </gva-rating-edition>
    </div>
  </div>
</ng-form>
