<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.name" ng-readonly="!isNew"  l10n-text="papers.paperDataDirective.name" 
      sc-validate="{ valid: isValidData }" 
      validations="{ valid: 'errorTexts.notValidPaperData'}"
      class="col-sm-4" ng-required="true"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.fromDate" l10n-text="papers.paperDataDirective.fromDate" class="col-sm-2" ng-required="true"></sc-field>
    <sc-field type="date" ng-model="model.toDate" l10n-text="papers.paperDataDirective.toDate" class="col-sm-2" ng-required="true"></sc-field>
  </div>
  <div class="row">
    <sc-field type="int" ng-model="model.firstNumber" ng-readonly="!isNew"  l10n-text="papers.paperDataDirective.firstNumber" class="col-sm-2" ng-required="true"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label" l10n-text="papers.paperDataDirective.isActive"></label>
      <input type="checkbox" ng-model="model.isActive" name="isActive" ng-disabled="form.$readonly"/>
    </div>
  </div>
</ng-form>