<ng-form name="editAppExSystDataForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.edit.examinationSystem.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="applications.edit.examinationSystem.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"></sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="applications.edit.examinationSystem.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.examinationSystem.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-application-exam-syst-data name="appExamSystDataForm" ng-model="application.part.examinationSystemData"></gva-application-exam-syst-data>

      <h5 class="form-header" l10n-text="applications.edit.examinationSystem.qualificationsTitle"></h5>
      <sc-datatable items="qualifications" filterable="true" pageable="false" sortable="true" dynamic-columns="false">
        <sc-column data="licenceType.code" title="applications.edit.examinationSystem.licenceType">
        </sc-column>
        <sc-column data="qualificationName" title="applications.edit.examinationSystem.qualificationName">
        </sc-column>
        <sc-column data="state" title="applications.edit.examinationSystem.status" has-content="true">
            {{ item.state === 'Finished' ? 'Приключил' : ' '}}
            {{ item.state === 'Started' ? 'Стартирал' : ' '}}
            {{ item.state === 'Canceled' ? 'Прекратен' : ' '}}
            {{ item.state === 'Missing' ? 'Липсва състояние' : ' '}}
            {{item.stateMethod === 'Automatically' ? ' - автоматично' : ''}}
            {{item.stateMethod === 'Manually' ? '- ръчно' : ''}}
        </sc-column>
      </sc-datatable>
    </div>
  </div>
</ng-form>
