<ng-form name="editAppExSystDataForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.edit.examinationSystem.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="applications.edit.examinationSystem.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode"></sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="applications.edit.examinationSystem.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.examinationSystem.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-application-exam-syst-data name="appExamSystDataForm" ng-model="application.part.examinationSystemData"></gva-application-exam-syst-data>
    </div>
  </div>
</ng-form>
