<ng-form name="editInspectionForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editInspection.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.editInspection.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteInspection()" text="aircrafts.editInspection.deleteInspection" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editInspection.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editInspection.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-inspection-data name="inspectionDataForm" ng-model="aircraftInspection" sc-form-params="{ setPart: 'aircraft', isNew: false, caseTypeId: caseTypeId }"></gva-common-inspection-data>
      
      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="aircraftInspection.case"
        sc-form-params="{ setPart: 'aircraft', lotId: lotId, hideFiles: true }">
      </gva-common-scanned-document>

      <h5 class="form-header" l10n-text="aircrafts.editInspection.inspectionPeriod"></h5>
      <div class="form-inline">
        <div class="row">
          <sc-field type="date" ng-model="aircraftInspection.part.inspectionFrom" ng-readonly="editInspectionForm.$readonly" l10n-text="aircrafts.editInspection.inspectionFrom" class="col-sm-3 col-md-2"></sc-field>
          <sc-field type="date" ng-model="aircraftInspection.part.inspectionTo" ng-readonly="editInspectionForm.$readonly" l10n-text="aircrafts.editInspection.inspectionTo" class="col-sm-3 col-md-2"></sc-field>
        </div>
      </div>

      <gva-common-inspection-details name="inspectionDetailsForm" ng-model="aircraftInspection.part" sc-form-params="{ setPart: 'aircraft' }"></gva-common-inspection-details>
    </div>
  </div>
</ng-form>
