<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.inspections.new' }" text="aircrafts.inspectionSearch.newInspection" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aircraftInspections" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.startDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.inspections.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.auditState.name" title="aircrafts.inspectionSearch.auditState">
  </sc-column>
  <sc-column data="part.documentNumber" title="aircrafts.inspectionSearch.documentNumber">
  </sc-column>
  <sc-column data="part.auditReason.name" title="aircrafts.inspectionSearch.auditReason">
  </sc-column>
  <sc-column data="part.auditType.name" title="aircrafts.inspectionSearch.auditType" class="wrap">
  </sc-column>
  <sc-column data="part.subject" title="aircrafts.inspectionSearch.subject" class="wrap">
  </sc-column>
  <sc-column data="part.notification.name" title="aircrafts.inspectionSearch.notification">
  </sc-column>
  <sc-column data="part.startDate" title="aircrafts.inspectionSearch.startDate" type="date">
  </sc-column>
  <sc-column data="part.endDate" title="aircrafts.inspectionSearch.endDate" type="date">
  </sc-column>
  <sc-column data="part.inspectionPlace" title="aircrafts.inspectionSearch.inspectionPlace" class="wrap">
  </sc-column>
  <sc-column data="case.applications[0].applicationName" title="aircrafts.inspectionSearch.application" class="wrap">
  </sc-column>
</sc-datatable>
