<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.certAirCarriers.new' }" text="organizations.certAirCarrierSearch.newCertAirCarrier" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="certAirCarriers" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.certAirCarriers.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certNumber" title="organizations.certAirCarrierSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="organizations.certAirCarrierSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="organizations.certAirCarrierSearch.validToDate"  type="date">
  </sc-column>
  <sc-column data="(part.aircarrierServices| pluck:'name' | join:', </br>')" title="organizations.certAirCarrierSearch.aircarrierServices">
  </sc-column>
</sc-datatable>
