<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.documentOthers.new' }" text="persons.otherSearch.newOther" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentOthers" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.persons.view.documentOthers.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.otherSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentPersonNumber" title="persons.otherSearch.documentPersonNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="persons.otherSearch.documentDateValidFrom" type="date">
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="persons.otherSearch.documentDateValidTo" type="date">
  </sc-column>
  <sc-column data="part.documentPublisher" title="persons.otherSearch.documentPublisher">
  </sc-column>
  <sc-column data="part.documentType.name" title="persons.otherSearch.personOtherDocumentType">
  </sc-column>
  <sc-column data="part.documentRole.name" title="persons.otherSearch.personOtherDocumentRole">
  </sc-column>
  <sc-column data="part.notes" title="persons.otherSearch.notes" visible="false">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="persons.otherSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="persons.otherSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.otherSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" sc-access-token ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
