[submodule "Gva.Portal"]
	path = Gva.Portal
	url = git@bitbucket.org:abbaty/gva-portal-integration.git

[submodule "Aop.Portal"]
	path = Aop.Portal
	url = git@bitbucket.org:abbaty/aop-portal-integration.git

[submodule "Mosv.Portal"]
	
	path = Mosv.Portal
	
	url = git@bitbucket.org:abbaty/mosv-portal-integration.git
