<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Set location of packages directory. By default it is in \packages -->
    <!--<add key="repositorypath" value=".\packages" />-->
  </config>

  <solution>
    <!--Instructs version control systems like TFS to not add the NuGet packages folder to the pending check-ins list.-->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
