<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.examinerCode" ng-required="true" l10n-text="persons.examinerDataDirective.examinerCode" validations="{required: 'default'}" class="col-sm-3 col-lg-2"></sc-field>
    <sc-field type="text" ng-model="model.stampNum" l10n-text="persons.examinerDataDirective.stampNum" class="col-sm-3 col-lg-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.valid" alias="'boolean'" ng-required="true" l10n-text="persons.examinerDataDirective.isValid" validations="{required: 'default'}" class="col-sm-3 col-lg-2"></sc-field>
  </div>
</ng-form>
