<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.caaId" mode="id" alias="'caa'" l10n-text="persons.inspectorDataDirective.caa" class="col-sm-9 col-lg-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.examinerCode" ng-required="true" l10n-text="persons.inspectorDataDirective.examinerCode" validations="{required: 'default'}" class="col-sm-3 col-lg-2"></sc-field>
    <sc-field type="text" ng-model="model.stampNum" l10n-text="persons.inspectorDataDirective.stampNum" class="col-sm-3 col-lg-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.validId" mode="id" alias="'boolean'" ng-required="true" l10n-text="persons.inspectorDataDirective.isValid" validations="{required: 'default'}" class="col-sm-3 col-lg-2"></sc-field>
  </div>
</ng-form>
