<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" ng-required="true" l10n-text="persons.personDocumentEducationDirective.documentNumber" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.completionDate" ng-required="true" l10n-text="persons.personDocumentEducationDirective.completionDate" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.graduation" alias="'graduations'" ng-required="true" l10n-text="persons.personDocumentEducationDirective.graduation" class="col-sm-7 col-md-6 col-lg-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.school" alias="'schools'" params="{graduationId: model.graduation.nomValueId}" ng-required="true" l10n-text="persons.personDocumentEducationDirective.school" class="col-sm-7 col-md-6 col-lg-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.speciality" ng-required="true" l10n-text="persons.personDocumentEducationDirective.speciality" class="col-sm-7 col-md-6 col-lg-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" ng-model="model.notes" l10n-text="persons.personDocumentEducationDirective.notes" class="col-sm-7 col-md-6 col-lg-5"></sc-field>
  </div>
</ng-form>