<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <gva-person-common-doc name="personDocumentForm" ng-model="model"
      sc-form-params="{ isNew: isNew, caseTypeId: caseTypeId, categoryAlias: 'languageCert' }"></gva-person-common-doc>

  <div ng-show="model.case.caseType">
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.langLevel" alias="'langLevels'" params="{ roleAlias: model.part.documentRole.alias }" l10n-text="persons.personDocumentLangCertDirective.langLevel" class="col-sm-6 col-md-4"></sc-field>
    </div>
    <gva-person-common-doc-details name="personDocumentDetailsForm" ng-model="model"
      sc-form-params="{ categoryAlias: 'languageCert' }"></gva-person-common-doc-details>
  </div>
</ng-form>