<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row" ng-if="model.case.caseType.alias === 'to_suvd'">
    <sc-field type="nomenclature" ng-model="model.part.ratingSubClasses" format-options="{{code}} {{name}}" alias="'ratingSubClasses'" multiple="multiple" l10n-text="persons.ratingEditionDirective.subclasses" class="col-sm-5"></sc-field>
  </div>
  <div class="row" ng-if="model.case.caseType.alias === 'to_suvd' || model.case.caseType.alias === 'to_vs'">
    <sc-field type="nomenclature" ng-model="model.part.limitations" alias="'limitations66'" multiple="multiple" params="{type: model.case.caseType.alias === 'to_suvd' ? 'ATSML' : 'AMLAircrafts'}" l10n-text="persons.ratingEditionDirective.limitations" class="col-sm-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.part.documentDateValidFrom" ng-required="true" l10n-text="persons.ratingEditionDirective.documentDateValidFrom" class="col-sm-2"></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidTo" ng-required="model.case.caseType.alias === 'to_suvd'" l10n-text="persons.ratingEditionDirective.documentDateValidTo" class="col-sm-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" alias="'inspectors'" ng-model="model.part.inspector" ng-disabled="model.part.examiner" params="{limit: null}" l10n-text="persons.ratingEditionDirective.inspector" class="col-sm-3"></sc-field>
    <sc-field type="nomenclature" alias="'staffExaminers'" ng-model="model.part.examiner" ng-disabled="model.part.inspector" params="{limit: null}" l10n-text="persons.ratingEditionDirective.examiner" class="col-sm-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" ng-model="model.part.notes" sc-validate="{ invalidNotes: notesShouldBeFilled}" alias="'ratingNotes'" l10n-text="persons.ratingEditionDirective.notes" validations="{invalidNotes: 'errorTexts.invalidNotes'}" rows="3" class="col-md-3"></sc-field>
    <sc-field type="textarea-suggestion" ng-model="model.part.notesAlt" sc-validate="{ invalidNotesAlt: notesAltShouldBeFilled}" alias="'ratingNotes'" l10n-text="persons.ratingEditionDirective.notesAlt" validations="{invalidNotesAlt: 'errorTexts.invalidNotesAlt'}" rows="3" class="col-md-3"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-9 col-md-7">
      <gva-common-scanned-document name="personScannedDocumentForm" ng-model="model.case"
        sc-form-params="{ setPart: 'person', lotId: lotId, hideFiles: true }">
      </gva-common-scanned-document>
    </div>
  </div>
</ng-form>
