<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.firstName" ng-required="true" l10n-text="persons.personDataDirective.firstName" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.middleName" ng-required="true" l10n-text="persons.personDataDirective.middleName" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.lastName" ng-required="true" l10n-text="persons.personDataDirective.lastName" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.firstNameAlt" ng-required="true" l10n-text="persons.personDataDirective.firstNameAlt" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.middleNameAlt" ng-required="true" l10n-text="persons.personDataDirective.middleNameAlt" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.lastNameAlt" ng-required="true" l10n-text="persons.personDataDirective.lastNameAlt" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.uin" ng-change="setAgeSex()" sc-validate="{ validValue: uinValid, unique: isUniqueUin }" l10n-text="persons.personDataDirective.uin" validations="{validValue: 'errorTexts.uin', unique: 'errorTexts.notUniqueUin'}" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.sexId" mode="id" alias="'gender'" ng-required="true" l10n-text="persons.personDataDirective.sex" class="col-sm-3 col-md-2"></sc-field>
    <sc-field-group class="col-sm-4 col-md-3" text="persons.personDataDirective.lin" validations="{required: 'default'}" field-name="lin">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="form.$readonly || (!isNew && (linType.code !== 'noLin' && linType.code !== 'none'))" data-toggle="dropdown" style="width: 110px">
        {{linType.name || 'Избери'}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="type in linTypes">
          <a ng-click="setLin(type)">{{type.name}}</a>
        </li>
      </ul>
      <sc-int name="lin" ng-model="model.lin" ng-disabled="form.$readonly || (!isNew && linType.code !== 'none')" ng-required="linType.code !== 'noLin' && isNew"></sc-int>
    </sc-field-group>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.dateOfBirth" ng-required="true" l10n-text="persons.personDataDirective.dateOfBirth" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.placeOfBirthId" mode="id" alias="'cities'" l10n-text="persons.personDataDirective.placeOfBirth" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.countryId" mode="id" alias="'countries'" ng-required="true" l10n-text="persons.personDataDirective.country" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.email" ng-pattern="/^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z.]{2,5}$/" l10n-text="persons.personDataDirective.email" validations="{pattern: 'errorTexts.mail'}" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="text" ng-model="model.fax" l10n-text="persons.personDataDirective.fax" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.phone2" l10n-text="persons.personDataDirective.phones" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.phone3" class="col-sm-3 col-md-2 labeless"></sc-field>
    <sc-field type="text" ng-model="model.phone4" class="col-sm-3 col-md-2 labeless"></sc-field>
    <sc-field type="text" ng-model="model.phone5" class="col-sm-3 col-md-2 labeless"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.phone1" l10n-text="persons.personDataDirective.companyPhone" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.caseTypes" mode="id" alias="'personCaseTypes'" multiple l10n-text="persons.personDataDirective.caseTypes" class="col-sm-3 col-md-2"></sc-field>
  </div>
</ng-form>