<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div style="width: 500px; float:left">
    <div class="row">
      <sc-field type="date" ng-model="model.examDate" ng-required="true" l10n-text="persons.examDirective.examDate" class="col-md-4 col-sm-4"></sc-field>
    </div>

    <h5 class="form-header" l10n-text="persons.examDirective.commonQuestions" style="margin-top:10px;"></h5>
    <div class="row" style="margin-bottom:20px;">
      <sc-field type="nomenclature" ng-model="model.commonQuestion" alias="'commonQuestions'" ng-required="true" class="col-md-5 col-sm-8"></sc-field>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-4">
        <ol>
          <li ng-repeat="question in model.commonQuestions1" style="padding-bottom: 5px;">
            <ul class="list-inline answer-list">
              <li>
                <input type="checkbox" ng-model="question[0]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[1]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[2]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[3]" ng-disabled="form.$readonly">
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="col-md-5 col-sm-4">
        <ol start="6">
          <li ng-repeat="question in model.commonQuestions2" style="padding-bottom: 5px;">
            <ul class="list-inline answer-list">
              <li>
                <input type="checkbox" ng-model="question[0]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[1]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[2]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[3]" ng-disabled="form.$readonly">
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <h5 class="form-header" l10n-text="persons.examDirective.specializedQuestions" style="margin-top:20px;"></h5>

    <div class="row" style="margin-bottom:20px;">
      <sc-field type="nomenclature" ng-model="model.specializedQuestion" alias="'specializedQuestions'" ng-required="true" class="col-md-5 col-sm-8"></sc-field>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-4">
        <ol>
          <li ng-repeat="question in model.specializedQuestions1" style="padding-bottom: 5px;">
            <ul class="list-inline answer-list">
              <li>
                <input type="checkbox" ng-model="question[0]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[1]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[2]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[3]" ng-disabled="form.$readonly">
              </li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="col-md-5 col-sm-4">
        <ol start="11">
          <li ng-repeat="question in model.specializedQuestions2" style="padding-bottom: 5px;">
            <ul class="list-inline answer-list">
              <li>
                <input type="checkbox" ng-model="question[0]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[1]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[2]" ng-disabled="form.$readonly">
              </li>
              <li>
                <input type="checkbox" ng-model="question[3]" ng-disabled="form.$readonly">
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div style="float: right;">
    <img width="580" height="800" ng-src="{{model.file}}">
  </div>
  <div class="clear"></div>

  <h5 class="form-header" l10n-text="persons.examDirective.inspectors" style="margin-top:20px;"></h5>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" multiple class="col-sm-8"></sc-field>
  </div>

  <h5 class="form-header" l10n-text="persons.examDirective.grading" style="margin-top:20px;"></h5>
  <div class="row">
    <sc-field type="int" ng-model="model.score" multiple l10n-text="persons.examDirective.score" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.passed" alias="'boolean'" l10n-text="persons.examDirective.passed" class="col-md-2 col-sm-4"></sc-field>
    <div class="form-group">
      <sc-button name="grade" btn-click="$raise('scOnGradeExam')" text="persons.examDirective.grade" class="btn btn-default" ng-disabled="form.$readonly" style="margin-top:10px;"></sc-button>
    </div>
    <div class="form-group">
      <sc-button name="extract" btn-click="$raise('scOnExtractAnswers')" text="persons.examDirective.extract" class="btn btn-default" ng-disabled="form.$readonly" style="margin-top:10px;"></sc-button>
    </div>
    <div class="form-group has-success" ng-if="msg.success">
      <label class="control-label"></label>
      <span class="help-block">
        <span class="glyphicon glyphicon-ok"></span>
        <span>{{msg.success}}</span>
      </span>
    </div>
    <div class="form-group has-error" ng-if="msg.error">
      <label class="control-label"></label>
      <span class="help-block">
        <span class="glyphicon glyphicon-remove"></span>
        <span>{{msg.error}}</span>
      </span>
    </div>
  </div>
</ng-form>