<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row" ng-if="!hideCaseType">
    <div class="form-group col-sm-2" sc-has-error="caseTypes">
      <label class="control-label" l10n-text="persons.personDocumentIdDirective.caseType"></label>
      <sc-validation-error field-name="caseTypes" validations="{required: 'default'}"></sc-validation-error>
      <gva-case-type model="model.cases" name="caseTypes" multiple init="isNew" ng-disabled="form.$readonly" case-type="caseTypeId" app-id="appId"></gva-case-type>
    </div>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.documentTypeId" mode="id" alias="'documentTypes'" params="{ isIdDocument: true }" 
      ng-required="true" l10n-text="persons.personDocumentIdDirective.personDocumentIdTypeId" class="col-sm-6 col-md-4"
      sc-validate="{ unique: isUniqueDocData }" validations="{unique: 'errorTexts.notUniqueDocData', required: 'default'}"></sc-field>
    <sc-field type="text" ng-model="model.part.documentNumber" ng-required="true" l10n-text="persons.personDocumentIdDirective.documentNumber"
       class="col-sm-3 col-md-2" sc-validate="{ unique: isUniqueDocData }" validations="{unique: 'errorTexts.notUniqueDocData'}"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.validId" mode="id" alias="'boolean'" ng-required="true" l10n-text="persons.personDocumentIdDirective.valid"
       class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.part.documentDateValidFrom" ng-required="true" l10n-text="persons.personDocumentIdDirective.documentDateValidFrom" class="col-sm-3 col-md-2" 
      sc-validate="{ unique: isUniqueDocData }" validations="{unique: 'errorTexts.notUniqueDocData', required: 'default'}" ></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidTo" l10n-text="persons.personDocumentIdDirective.documentDateValidTo"
       class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.documentPublisher" ng-required="true" l10n-text="persons.personDocumentIdDirective.documentPublisher" 
      class="col-sm-12 col-md-8" sc-validate="{ unique: isUniqueDocData }" validations="{unique: 'errorTexts.notUniqueDocData', required: 'default'}" ></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.part.notes" alias="'personsNotes'" l10n-text="persons.personDocumentIdDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>