<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div ng-if="categoryAlias === 'training' || categoryAlias === 'languageCert'">
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.ratingType" alias="'ratingTypes'" ng-disabled="model.part.ratingClass" l10n-text="persons.personCommonDocDetailsDirective.ratingType" class="col-sm-6 col-md-4"></sc-field>
      <sc-field type="nomenclature" ng-model="model.part.aircraftTypeGroup" alias="'aircraftTypeGroups'" l10n-text="persons.personCommonDocDetailsDirective.aircraftTypeGroup" class="col-sm-6 col-md-4"></sc-field>
    </div>
    <div class="row" ng-if="model.case.caseType.alias === 'flightCrew' || model.case.caseType.alias === 'ovd' || model.case.caseType.alias === 'to_vs'">
      <sc-field type="nomenclature" ng-model="model.part.licenceType" alias="'licenceTypes'" params="{ caseTypeAlias: model.case.caseType.alias }" l10n-text="persons.personCommonDocDetailsDirective.licenceType" class="col-sm-9 col-md-6"></sc-field>
    </div>
  </div>
  <div ng-if="categoryAlias === 'check'">
    <div class="row">
      <div ng-show="model.case.caseType.alias === 'to_vs'">
        <div class="form-group col-sm-6 col-md-4">
          <label class="control-label" l10n-text="persons.personCommonDocDetailsDirective.aircraftTypeGroup"></label>
          <sc-nomenclature ng-model="model.part.aircraftTypeGroup" alias="'aircraftTypeGroups'" ng-readonly="form.$readonly"></sc-nomenclature>
        </div>
      </div>
      <div>
        <div ng-show="model.case.caseType.alias === 'flightCrew'">
          <div class="form-group col-sm-6 col-md-4">
            <label class="control-label" l10n-text="persons.personCommonDocDetailsDirective.ratingType"></label>
            <sc-nomenclature ng-model="model.part.ratingType" alias="'ratingTypes'" name="ratingType" ng-disabled="model.part.ratingClass" ng-readonly="form.$readonly"></sc-nomenclature>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.licenceType" alias="'licenceTypes'" params="{ caseTypeAlias: model.case.caseType.alias }" l10n-text="persons.personCommonDocDetailsDirective.licenceType" class="col-sm-9 col-md-6"></sc-field>
    </div>
  </div>
  <div class="row" ng-if="model.case.caseType.alias === 'ovd'">
    <sc-field type="nomenclature" ng-model="model.part.locationIndicator" alias="'locationIndicators'" l10n-text="persons.personCommonDocDetailsDirective.locationIndicator" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="text" ng-model="model.part.sector" l10n-text="persons.personCommonDocDetailsDirective.sector" class="col-sm-6 col-md-4"></sc-field>
  </div>

  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.ratingClass" ng-disabled="model.part.ratingType" alias="'ratingClasses'" params="{ caseTypeAlias: model.case.caseType.alias }" l10n-text="persons.personCommonDocDetailsDirective.ratingClass" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.authorization" alias="'authorizations'" params="{ caseTypeAlias: model.case.caseType.alias }" l10n-text="persons.personCommonDocDetailsDirective.authorization" class="col-sm-6 col-md-4"></sc-field>
  </div>

  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.part.notes" alias="'notes'" l10n-text="persons.personCommonDocDetailsDirective.notes" class="col-md-8"></sc-field>
  </div>
</ng-form>