<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <div class="form-group col-sm-2" sc-has-error="caseType">
      <label class="control-label" l10n-text="persons.personOtherDirective.caseType"></label>
      <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
      <gva-case-type model="model.case" name="caseType" init="isNew" ng-disabled="!isNew" ng-required="true" case-type="caseTypeId"></gva-case-type>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.documentNumber" l10n-text="persons.personOtherDirective.documentNumber" class="col-sm-6 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.part.documentPersonNumber" l10n-text="persons.personOtherDirective.documentPersonNumber" class="col-sm-6 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field-group class="col-sm-6 col-md-4" text="persons.personOtherDirective.documentPublisher" validations="{required: 'default'}" field-name="documentPublisher">
      <sc-text ng-model="model.part.documentPublisher" name="documentPublisher" ng-required="true" ng-readonly="form.$readonly"></sc-text>
      <sc-button class="btn btn-default" btn-click="choosePublisher()" icon="glyphicon-search" ng-disabled="form.$readonly"></sc-button>
    </sc-field-group>
    <sc-field type="date" ng-model="model.part.documentDateValidFrom" l10n-text="persons.personOtherDirective.documentDateValidFrom" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidTo" l10n-text="persons.personOtherDirective.documentDateValidTo" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.documentType" alias="'documentTypes'" params="{ isIdDocument: false, caseTypeAliases: ['flightCrew', 'to_vs', 'ovd'] }" ng-required="true" l10n-text="persons.personOtherDirective.personOtherDocumentType" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.documentRole" alias="'documentRoles'" params="{ categoryAlias: 'other', caseTypeAliases: ['flightCrew', 'to_vs', 'ovd'] }" ng-required="true" l10n-text="persons.personOtherDirective.personOtherDocumentRole"
    class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.valid" alias="'boolean'" ng-required="true" l10n-text="persons.personOtherDirective.valid" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.part.notes" alias="'notes'" l10n-text="persons.personOtherDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>