<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="documentNumber">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.documentNumber"></label>
      <sc-validation-error field-name="documentNumber" validations="{required: 'default'}"></sc-validation-error>
      <sc-text ng-model="model.documentNumber" name="documentNumber" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2" sc-has-error="completionDate">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.completionDate"></label>
      <sc-validation-error field-name="completionDate" validations="{required: 'default'}"></sc-validation-error>
      <sc-date ng-model="model.completionDate" name="completionDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-7 col-md-6 col-lg-5" sc-has-error="graduation">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.graduation"></label>
      <sc-validation-error field-name="graduation" validations="{required: 'default'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.graduation" name="graduation" alias="'graduations'" ng-required="true" ng-readonly="readonly">
      </sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-7 col-md-6 col-lg-5" sc-has-error="school">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.school"></label>
      <sc-validation-error field-name="school" validations="{required: 'default'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.school" name="school" alias="'schools'" params="{graduationId: model.graduation.nomValueId}" ng-required="true" ng-readonly="readonly">
      </sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-7 col-md-6 col-lg-5" sc-has-error="speciality">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.speciality"></label>
      <sc-validation-error field-name="speciality" validations="{required: 'default'}"></sc-validation-error>
      <sc-text ng-model="model.speciality" ng-required="true" name="speciality" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-7 col-md-6 col-lg-5">
      <label class="control-label" l10n-text="persons.personDocumentEducationDirective.notes"></label>
      <sc-textarea rows="3" ng-model="model.notes" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>

</ng-form>
