<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" alias="'inspectors'" ng-model="model.part.inspector" l10n-text="persons.licenceEditionDirective.inspector" class="col-sm-3"></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidFrom" ng-required="true" l10n-text="persons.licenceEditionDirective.documentDateValidFrom" class="col-sm-2"></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidTo" ng-required="model.case.caseType.alias !== 'flightCrew' || ( fcl.code !== 'Y' && licenceType.code !== 'BG CCA')"
      l10n-text="persons.licenceEditionDirective.documentDateValidTo" class="col-sm-2" ng-if="model.case.caseType.alias !== 'flightCrew' || ( fcl.code !== 'Y' && licenceType.code !== 'BG CCA')">
    </sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" alias="'licenceActions'" ng-model="model.part.licenceAction" ng-required="true" l10n-text="persons.licenceEditionDirective.licenceAction" class="col-sm-4"></sc-field>
  </div>
  <div ng-if="model.case.caseType.alias === 'to_vs'">
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.at_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AT_a_Ids" class="col-sm-3"></sc-field>
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.at_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AT_b1_Ids" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.ap_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AP_a_Ids" class="col-sm-3"></sc-field>
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.ap_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AP_b1_Ids" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.ht_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HT_a_Ids" class="col-sm-3"></sc-field>
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.ht_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HT_b1_Ids" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.hp_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HP_a_Ids" class="col-sm-3"></sc-field>
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.hp_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HP_b1_Ids" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.avionics_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.avionics_Ids" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.amlLimitations.pe_b3_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.PE_b3_Ids" class="col-sm-6"></sc-field>
    </div>
  </div>
  <div class="row" ng-if="model.case.caseType.alias === 'flightCrew'">
    <sc-field type="nomenclature" ng-model="model.part.limitations" alias="'limitations66'" multiple="multiple" params="{general: 'F'}" l10n-text="persons.licenceEditionDirective.limitations" class="col-sm-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="3" ng-model="model.part.notes" l10n-text="persons.licenceEditionDirective.notes" class="col-md-3"></sc-field>
    <sc-field type="textarea" rows="3" ng-model="model.part.notesAlt" l10n-text="persons.licenceEditionDirective.notesAlt" class="col-md-3"></sc-field>
  </div>

  <gva-common-scanned-document name="personScannedDocumentForm" ng-model="model.case" sc-form-params="{ setPart: 'person', lotId: lotId }"></gva-common-scanned-document>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.ratings"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addRating()" text="persons.licenceEditionDirective.addRating" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingRating()" text="persons.licenceEditionDirective.addExistingRating" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedRatings.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedRatings.length"></th>
            <th l10n-text="persons.licenceEditionDirective.ratingsTable.ratingType"></th>
            <th l10n-text="persons.licenceEditionDirective.ratingsTable.ratingClass"></th>
            <th l10n-text="persons.licenceEditionDirective.ratingsTable.authorization"></th>
            <th l10n-text="persons.licenceEditionDirective.ratingsTable.dateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.ratingsTable.dateValidTo"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedRatings" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedRatings.length">
            <td colspan="5" class="text-center" l10n-text="persons.licenceEditionDirective.noRatings"></td>
          </tr>
          <tr ng-repeat="rating in includedRatings">
            <td ng-if="!form.$readonly && model.part.includedRatings.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedRatings.length">
              <sc-button name="deleteRatingBtn" class="btn btn-xs btn-danger" btn-click="removeRating(rating)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{rating.personRatingLevel.name || rating.ratingType.name}}</td>
            <td>{{rating.aircraftTypeGroup.name || ((rating.ratingClass.name || '') + ( rating.ratingSubClasses ? ' (' + rating.ratingSubClasses + ')' : ''))}}</td>
            <td>{{((rating.authorization && rating.authorization.name) || '') + ' ' + (rating.limitations ? rating.limitations : '')}}</td>
            <td><span>{{rating.lastDocDateValidFrom | date:'mediumDate'}}</span>
            </td>
            <td><span>{{rating.lastDocDateValidTo | date:'mediumDate'}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.exams"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addExam()" text="persons.licenceEditionDirective.addExam" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingExam()" text="persons.licenceEditionDirective.addExistingExam" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedExams.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedExams.length"></th>
            <th l10n-text="persons.licenceEditionDirective.examsTable.documentNumber"></th>
            <th l10n-text="persons.licenceEditionDirective.examsTable.documentDateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.examsTable.documentPublisher"></th>
            <th l10n-text="persons.licenceEditionDirective.examsTable.valid"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedExams" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedExams.length">
            <td colspan="5" class="text-center" l10n-text="persons.licenceEditionDirective.noExams"></td>
          </tr>
          <tr ng-repeat="exam in includedExams">
            <td ng-if="!form.$readonly && model.part.includedExams.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedExams.length">
              <sc-button name="deleteExamBtn" class="btn btn-xs btn-danger" btn-click="removeExam(exam)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{exam.part.documentNumber}}</td>
            <td>{{exam.part.documentDateValidFrom | date:'mediumDate'}}</td>
            <td>{{exam.part.documentPublisher}}</td>
            <td>{{exam.part.valid.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.langCerts"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addLangCert()" text="persons.licenceEditionDirective.addLangCert" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingLangCert()" text="persons.licenceEditionDirective.addExistingLangCert" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedLangCerts.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedLangCerts.length"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.documentNumber"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.documentDateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.langCertType"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.langLevel"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.documentPublisher"></th>
            <th l10n-text="persons.licenceEditionDirective.langCertsTable.valid"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedLangCerts" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedLangCerts.length">
            <td colspan="6" class="text-center" l10n-text="persons.licenceEditionDirective.noLangCerts"></td>
          </tr>
          <tr ng-repeat="langCert in includedLangCerts">
            <td ng-if="!form.$readonly && model.part.includedLangCerts.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedLangCerts.length">
              <sc-button name="deleteLangCertBtn" class="btn btn-xs btn-danger" btn-click="removeLangCert(langCert)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{langCert.part.documentNumber}}</td>
            <td>{{langCert.part.documentDateValidFrom | date:'mediumDate'}}</td>
            <td>{{langCert.part.documentRole.name}}</td>
            <td>{{langCert.part.langLevel.name}}</td>
            <td>{{langCert.part.documentPublisher}}</td>
            <td>{{langCert.part.valid.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.trainings"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addTraining()" text="persons.licenceEditionDirective.addTraining" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingTraining()" text="persons.licenceEditionDirective.addExistingTraining" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedTrainings.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedTrainings.length"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.number"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.dateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.dateValidTo"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.publisher"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.ratingType"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.docType"></th>
            <th l10n-text="persons.licenceEditionDirective.trainingsTable.docRole"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedTrainings" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedTrainings.length">
            <td colspan="7" class="text-center" l10n-text="persons.licenceEditionDirective.noTrainings"></td>
          </tr>
          <tr ng-repeat="training in includedTrainings">
            <td ng-if="!form.$readonly && model.part.includedTrainings.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedTrainings.length">
              <sc-button name="deleteTrainingBtn" class="btn btn-xs btn-danger" btn-click="removeTraining(training)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{training.part.documentNumber}}</td>
            <td><span>{{training.part.documentDateValidFrom | date:'mediumDate'}}</span>
            </td>
            <td><span>{{training.part.documentDateValidTo | date:'mediumDate'}}</span>
            </td>
            <td>{{training.part.documentPublisher}}</td>
            <td>{{training.part.ratingType.name}}</td>
            <td>{{training.part.documentType.name}}</td>
            <td>{{training.part.documentRole.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.checks"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addCheck()" text="persons.licenceEditionDirective.addCheck" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingCheck()" text="persons.licenceEditionDirective.addExistingCheck" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedChecks.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedChecks.length"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.documentNumber"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.personCheckDocumentType"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.personCheckDocumentRole"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.documentDateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.documentDateValidTo"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.documentPublisher"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.ratingType"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.ratingClass"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.authorization"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.licenceType"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.valid"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.ratingValue"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.bookPageNumber"></th>
            <th l10n-text="persons.licenceEditionDirective.checksTable.pageCount"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedChecks" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedChecks.length">
            <td colspan="14" class="text-center" l10n-text="persons.licenceEditionDirective.noChecks"></td>
          </tr>
          <tr ng-repeat="check in includedChecks">
            <td ng-if="!form.$readonly && model.part.includedChecks.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedChecks.length">
              <sc-button name="deleteCheckBtn" class="btn btn-xs btn-danger" btn-click="removeCheck(check)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{check.part.documentNumber}}</td>
            <td>{{check.part.documentType.name}}</td>
            <td>{{check.part.documentRole.name}}</td>
            <td><span>{{check.part.documentDateValidFrom | date:'mediumDate'}}</span>
            </td>
            <td><span>{{check.part.documentDateValidTo | date:'mediumDate'}}</span>
            </td>
            <td>{{check.part.documentPublisher}}</td>
            <td>{{check.part.ratingType.name || check.part.sector}}</td>
            <td>{{check.part.ratingClass.name}}</td>
            <td>{{check.part.authorization.name}}</td>
            <td>{{check.part.licenceType.code}}</td>
            <td>{{check.part.valid.name}}</td>
            <td>{{check.part.personCheckRatingValue.name}}</td>
            <td>{{check.case.bookPageNumber}}</td>
            <td>{{check.case.pageCount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h5 class="form-header" l10n-text="persons.licenceEditionDirective.meds"></h5>
  <div class="row">
    <div class="form-group col-sm-12">
      <div class="table-buttons" ng-show="!form.$readonly">
        <sc-button btn-click="addMedical()" text="persons.licenceEditionDirective.addMed" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        <sc-button btn-click="addExistingMedical()" text="persons.licenceEditionDirective.addExistingMed" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-if="!form.$readonly && model.part.includedMedicals.length"></th>
            <th width="1px" ng-if="!form.$readonly && model.part.includedMedicals.length"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.number"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.dateValidFrom"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.dateValidTo"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.medClass"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.limitations"></th>
            <th l10n-text="persons.licenceEditionDirective.medsTable.publisher"></th>
          </tr>
        </thead>
        <tbody ng-model="model.part.includedMedicals" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
          <tr class="sort-disabled" ng-if="!model.part.includedMedicals.length">
            <td colspan="6" class="text-center" l10n-text="persons.licenceEditionDirective.noMeds"></td>
          </tr>
          <tr ng-repeat="medical in includedMedicals">
            <td ng-if="!form.$readonly && model.part.includedMedicals.length"><span class="fa fa-bars drag-handle"></span>
            </td>
            <td ng-if="!form.$readonly && model.part.includedMedicals.length">
              <sc-button name="deleteMedicalBtn" class="btn btn-xs btn-danger" btn-click="removeMedical(medical)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{medical.part.documentNumberPrefix}}-{{medical.part.documentNumber}}-{{person.lin}}-{{medical.part.documentNumberSuffix}}</td>
            <td>{{medical.part.documentDateValidFrom}}</td>
            <td>{{medical.part.documentDateValidTo}}</td>
            <td>{{medical.part.medClass.name}}</td>
            <td>{{medical.part.limitations | pluck:'name' | join:', '}}</td>
            <td>{{medical.part.documentPublisher.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-if="model.case.caseType.alias === 'flightCrew'">
    <h5 class="form-header" l10n-text="persons.licenceEditionDirective.licences"></h5>

    <div class="row">
      <div class="form-group col-sm-12">
        <div class="table-buttons" ng-show="!form.$readonly">
          <sc-button btn-click="addExistingLicence()" text="persons.licenceEditionDirective.addExistingLicence" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="1px" ng-if="!form.$readonly && model.part.includedLicences.length"></th>
              <th width="1px" ng-if="!form.$readonly && model.part.includedLicences.length"></th>
              <th l10n-text="persons.licenceEditionDirective.licencesTable.licenceNumber"></th>
              <th l10n-text="persons.licenceEditionDirective.licencesTable.licenceType"></th>
              <th l10n-text="persons.licenceEditionDirective.licencesTable.documentDateValidFrom"></th>
              <th l10n-text="persons.licenceEditionDirective.licencesTable.documentDateValidTo"></th>
              <th l10n-text="persons.licenceEditionDirective.licencesTable.firstEditionValidFrom"></th>
            </tr>
          </thead>
          <tbody ng-model="model.part.includedLicences" ui-sortable="{ items:'tr:not(.sort-disabled)', handle: '.drag-handle' }">
            <tr class="sort-disabled" ng-if="!model.part.includedLicences.length">
              <td colspan="5" class="text-center" l10n-text="persons.licenceEditionDirective.noLicences"></td>
            </tr>
            <tr ng-repeat="licence in includedLicences">
              <td ng-if="!form.$readonly && model.part.includedLicences.length"><span class="fa fa-bars drag-handle"></span>
              </td>
              <td ng-if="!form.$readonly && model.part.includedLicences.length">
                <sc-button name="deleteLicenceBtn" class="btn btn-xs btn-danger" btn-click="removeLicence(licence)" icon="glyphicon-remove"></sc-button>
              </td>
              <td>{{licence.licenceNumber}}</td>
              <td>{{licence.licenceType.code}}</td>
              <td><span>{{licence.dateValidFrom | date:'mediumDate'}}</span>
              </td>
              <td><span>{{licence.dateValidTo | date:'mediumDate'}}</span>
              </td>
              <td><span>{{licence.firstDocDateValidFrom | date:'mediumDate'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-form>