<ng-form class="form-inline" sc-validate="{}">
  <div class="row" ng-if="staffType.alias === 'to_suvd'">
    <div class="form-group col-sm-5">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.subclasses"></label>
      <sc-nomenclature ng-model="model.ratingSubClasses" alias="'ratingSubClasses'" multiple="multiple" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row" ng-if="staffType.alias === 'to_suvd' || staffType.alias === 'to_vs'">
    <div class="form-group col-sm-5">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.limitations"></label>
      <sc-nomenclature ng-model="model.limitations" alias="'limitations66'" multiple="multiple" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2" sc-has-error="documentDateValidFrom">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.documentDateValidFrom"></label>
      <sc-validation-error field-name="documentDateValidFrom" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-2" sc-has-error="documentDateValidTo">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.documentDateValidTo"></label>
      <sc-validation-error field-name="documentDateValidTo" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.documentDateValidTo" name="documentDateValidTo" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.inspector"></label>
      <sc-nomenclature alias="'inspectors'" ng-model="model.inspector" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.notes"></label>
      <sc-textarea rows="3" ng-model="model.notes" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.notesAlt"></label>
      <sc-textarea rows="3" ng-model="model.notesAlt" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-9 col-md-7">
      <label class="control-label" l10n-text="persons.ratingEditionDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="'person'" ng-readonly="readonly"></gva-applications>
    </div>
  </div>
</ng-form>
