<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.staffType" alias="'staffTypes'" ng-required="true" ng-disabled="!isNew" l10n-text="persons.licenceDirective.staffType" class="col-sm-3"></sc-field>
    <sc-field type="nomenclature" alias="'boolean'" ng-model="model.fcl" ng-disabled="!isNew" l10n-text="persons.licenceDirective.fcl" class="col-sm-2"></sc-field>
  </div>
  <div ng-if="model.staffType">
    <div class="row">
      <sc-field type="nomenclature" alias="'licenceTypes'" ng-model="model.licenceType" ng-required="true" params="{staffTypeAlias: model.staffType.alias, fclCode: model.fcl.code}" l10n-text="persons.licenceDirective.licenceType" class="col-sm-3"></sc-field>
      <sc-field type="text" ng-model="lastLicenceNumber" l10n-text="persons.licenceDirective.lastLicenceNumber" class="col-sm-4"></sc-field>
    </div>
    <div class="row">
      <sc-field type="text" ng-model="model.licenceNumber" l10n-text="persons.licenceDirective.licenceNumber" class="col-sm-3"></sc-field>
      <sc-field type="text" ng-model="model.foreignLicenceNumber" ng-if="model.licenceType.code === 'FOREIGN'" ng-required="true" l10n-text="persons.licenceDirective.foreignLicenceNumber" class="col-sm-3"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" alias="'boolean'" ng-model="model.valid" ng-required="true" l10n-text="persons.licenceDirective.valid" class="col-sm-3"></sc-field>
    </div>
  </div>
</ng-form>