<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <gva-person-common-doc name="personDocumenForm" ng-model="model"
      sc-form-params="{ isNew: isNew, caseTypeId: caseTypeId, categoryAlias: 'check', hideCaseType: hideCaseType, appId: appId, lotId: lotId }"></gva-person-common-doc>

  <div ng-show="model.case.caseType">
    <h5 class="form-header" l10n-text="persons.personCheckDirective.checkData"></h5>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.part.personCheckRatingValue" alias="'personCheckRatingValues'" l10n-text="persons.personCheckDirective.personCheckRatingValue" class="col-sm-3 col-md-2"></sc-field>
    </div>

    <gva-person-common-doc-classification name="personDocumentClassificationForm" ng-model="model"></gva-person-common-doc-classification>

    <div ng-if="report.length > 0">
      <h5 class="form-header" l10n-text="persons.personCheckDirective.report"></h5>
        <sc-datatable items="report" sortable="false" pageable="false" filterable="false" has-info-text="false" dynamic-columns="false" scrollable="false">
          <sc-column data="publisher" title="persons.personCheckDirective.publisher">
          </sc-column>
          <sc-column data="reportNumber" title="persons.personCheckDirective.reportNumber">
          </sc-column>
          <sc-column data="date" title="persons.personCheckDirective.date" type="date">
          </sc-column>
        </sc-datatable>
    </div>
</div>
</ng-form>