<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div ng-if="isNew">
    <div class="row">
      <sc-field type="nomenclature" alias="'inspectors'" ng-model="model.part.inspector" l10n-text="persons.licenceEditionDirective.inspector" class="col-sm-3"></sc-field>
      <sc-field type="date" ng-model="model.part.documentDateValidFrom" ng-required="true" l10n-text="persons.licenceEditionDirective.documentDateValidFrom" class="col-sm-2"></sc-field>
      <sc-field type="date" ng-model="model.part.documentDateValidTo" ng-required="model.case.caseType.alias !== 'flightCrew' || ( fcl.code !== 'Y' && licenceType.code !== 'BG CCA')"
        l10n-text="persons.licenceEditionDirective.documentDateValidTo" class="col-sm-2" ng-if="model.case.caseType.alias !== 'flightCrew' || ( fcl.code !== 'Y' && licenceType.code !== 'BG CCA')">
      </sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" format-options="{{code}} {{name}}" alias="'licenceActions'" ng-model="model.part.licenceAction" ng-required="true" l10n-text="persons.licenceEditionDirective.licenceAction" class="col-sm-4"></sc-field>
    </div>
    <div ng-if="model.case.caseType.alias === 'to_vs'">
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.at_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AT_a_Ids" class="col-sm-3"></sc-field>
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.at_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AT_b1_Ids" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.ap_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AP_a_Ids" class="col-sm-3"></sc-field>
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.ap_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.AP_b1_Ids" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.ht_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HT_a_Ids" class="col-sm-3"></sc-field>
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.ht_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HT_b1_Ids" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.hp_a_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HP_a_Ids" class="col-sm-3"></sc-field>
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.hp_b1_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.HP_b1_Ids" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.avionics_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.avionics_Ids" class="col-sm-3"></sc-field>
      </div>
      <div class="row">
        <sc-field type="nomenclature" format-options="{{code}} {{name}}" ng-model="model.part.amlLimitations.pe_b3_Ids" alias="'limitations66'" multiple="multiple" params="{general: 'Y'}" l10n-text="persons.licenceEditionDirective.PE_b3_Ids" class="col-sm-6"></sc-field>
      </div>
    </div>
    <div class="row" ng-if="model.case.caseType.alias === 'flightCrew'">
      <sc-field type="nomenclature" ng-model="model.part.limitations" format-options="{{code}} {{name}}" alias="'limitations66'" multiple="multiple" params="{general: 'F'}" l10n-text="persons.licenceEditionDirective.limitations" class="col-sm-5"></sc-field>
    </div>
    <div class="row">
      <sc-field type="textarea" ng-model="model.part.notes" sc-validate="{ invalidNotes: notesShouldBeFilled}" l10n-text="persons.licenceEditionDirective.notes" validations="{invalidNotes: 'errorTexts.invalidNotes'}" rows="3" class="col-md-3"></sc-field>
      <sc-field type="textarea" ng-model="model.part.notesAlt" sc-validate="{ invalidNotesAlt: notesAltShouldBeFilled}" l10n-text="persons.licenceEditionDirective.notesAlt" validations="{invalidNotesAlt: 'errorTexts.invalidNotesAlt'}" rows="3" class="col-md-3"></sc-field>
    </div>
  </div>

</ng-form>