<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row" ng-if="!hideCaseType">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="caseType">
      <label class="control-label" l10n-text="persons.personReportDirective.caseType"></label>
      <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
      <gva-case-type model="model.case" name="caseType" lot-id="lotId" init="isNew" ng-disabled="!isNew" ng-required="true" case-type="caseTypeId" app-id="appId"></gva-case-type>
    </div>
  </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.reportNumber" ng-required="true" l10n-text="persons.personReportDirective.reportNumber" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.part.date" ng-required="true" l10n-text="persons.personReportDirective.date" class="col-sm-3 col-md-2"></sc-field>
  </div>

  <h5 class="form-header" l10n-text="persons.personReportDirective.includedPersons"></h5>
  <div class="row" ng-if="!form.$readonly">
    <div class="col-sm-2" style="margin-top:10px">
    <sc-button btn-click="addPersons()" text="persons.personReportDirective.addPersons" ng-disabled="form.$readonly" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width: 1px" ng-if="model.part.includedPersons.length && !form.$readonly"></th>
            <th l10n-text="persons.personReportDirective.checksTable.personLin"></th>
            <th class="col-sm-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="sort-disabled" ng-if="!model.part.includedPersons.length">
            <td colspan="{{ form.$readonly ? 2 : 3}}" class="text-center" l10n-text="persons.personReportDirective.noAvailablePersons"></td>
          </tr>
          <tr ng-repeat="person in model.part.includedPersons">
            <td ng-if="model.part.includedPersons.length && !form.$readonly">
              <sc-button name="deletePersonBtn" class="btn btn-xs btn-danger" ng-disabled="form.$readonly" btn-click="removePerson(person)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{person.lin}}</td>
            <td>
              <sc-button btn-click="addCheck(person)" text="persons.personReportDirective.addCheck" ng-disabled="form.$readonly" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h5 class="form-header" style="margin-top: 0px" l10n-text="persons.personReportDirective.includedChecks"></h5>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th style="width: 1px" ng-if="model.part.includedChecks.length && !form.$readonly"></th>
        <th l10n-text="persons.personReportDirective.checksTable.personLin"></th>
        <th l10n-text="persons.personReportDirective.checksTable.documentNumber"></th>
        <th l10n-text="persons.personReportDirective.checksTable.personCheckDocumentType"></th>
        <th l10n-text="persons.personReportDirective.checksTable.personCheckDocumentRole"></th>
        <th l10n-text="persons.personReportDirective.checksTable.documentDateValidFrom"></th>
        <th l10n-text="persons.personReportDirective.checksTable.documentDateValidTo"></th>
        <th l10n-html="persons.personReportDirective.checksTable.ratingType"></th>
        <th l10n-text="persons.personReportDirective.checksTable.ratingClass"></th>
        <th l10n-html="persons.personReportDirective.checksTable.authorization"></th>
        <th l10n-html="persons.personReportDirective.checksTable.licenceType"></th>
        <th l10n-text="persons.personReportDirective.checksTable.valid"></th>
        <th l10n-text="persons.personReportDirective.checksTable.ratingValue"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="sort-disabled" ng-if="!model.part.includedChecks.length">
        <td colspan="13" class="text-center" l10n-text="persons.personReportDirective.checksTable.noChecks"></td>
      </tr>
      <tr ng-repeat="check in includedChecks">
        <td ng-if="model.part.includedChecks.length && !form.$readonly">
          <sc-button name="deleteCheckBtn" class="btn btn-xs btn-danger" ng-disabled="form.$readonly" btn-click="removeCheck(check)" icon="glyphicon-remove"></sc-button>
        </td>
        <td>{{check.personLin}}</td>
        <td>{{check.documentNumber}}</td>
        <td>{{check.documentType.name}}</td>
        <td>{{check.documentRole.name}}</td>
        <td><span>{{check.documentDateValidFrom | date:'mediumDate'}}</span>
        </td>
        <td><span>{{check.documentDateValidTo | date:'mediumDate'}}</span>
        </td>
        <td>{{check.ratingType.name || check.sector}}</td>
        <td>{{check.ratingClass.name}}</td>
        <td>{{check.authorization.code}}</td>
        <td>{{check.licenceType.code}}</td>
        <td>{{check.valid.name}}</td>
        <td>{{check.personCheckRatingValue.name}}</td>
      </tr>
    </tbody>
  </table>

</ng-form>