<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumberPrefix" ng-required="true" ng-init="model.documentNumberPrefix='MED BG'" l10n-text="persons.personMedicalDirective.testimonial" class="col-md-2 col-sm-3"></sc-field>
    <div class="form-group labeless" style="float: left;margin:auto -7px">
      <span>—</span>
    </div>
    <sc-field type="text" ng-model="model.documentNumber" ng-required="true" class="col-md-2 col-sm-3"></sc-field>
    <div class="form-group labeless" style="float: left; margin: auto -7px">
      <span>—</span>
    </div>
    <sc-field type="text" ng-disabled="true" ng-model="personLin" class="col-md-2 col-sm-3 labeless"></sc-field>
    <div class="form-group labeless" style="float: left; margin: auto -7px">
      <span>—</span>
    </div>
    <sc-field type="text" ng-model="model.documentNumberSuffix" class="col-md-2 col-sm-3 labeless"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.medClass" alias="'medClasses'" ng-required="true" l10n-text="persons.personMedicalDirective.medClass" class="col-md-2 col-sm-3"></sc-field>
    <sc-field type="date" ng-model="model.documentDateValidFrom" ng-required="true" l10n-text="persons.personMedicalDirective.documentDateValidFrom" class="col-md-2 col-sm-3"></sc-field>
    <sc-field type="date" ng-model="model.documentDateValidTo" ng-required="true" l10n-text="persons.personMedicalDirective.documentDateValidTo" class="col-md-2 col-sm-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.limitations" alias="'medLimitation'" multiple="multiple" l10n-text="persons.personMedicalDirective.limitations" class="col-sm-9 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.documentPublisher" alias="'medDocPublishers'" ng-required="true" l10n-text="persons.personMedicalDirective.documentPublisher" class="col-sm-9 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.notes" alias="'notes'" l10n-text="persons.personMedicalDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>