<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.hiredate" ng-required="true" l10n-text="persons.personEmploymentDirective.hiredate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.valid" alias="'boolean'" ng-required="true" l10n-text="persons.personEmploymentDirective.valid" class="col-sm-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" l10n-text="persons.personEmploymentDirective.organization" class="col-sm-6 col-md-5 col-lg-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.employmentCategory" alias="'employmentCategories'" ng-required="true" l10n-text="persons.personEmploymentDirective.employmentCategory" class="col-sm-6 col-md-5 col-lg-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.country" alias="'countries'" ng-required="true" l10n-text="persons.personEmploymentDirective.country" class="col-sm-6 col-md-5 col-lg-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" ng-model="model.notes" l10n-text="persons.personEmploymentDirective.notes" class="col-sm-12 col-md-10 col-lg-8"></sc-field>
  </div>
</ng-form>