<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.fromDate" ng-required="true" l10n-text="persons.qlfStateDirective.fromDate" ng-required="true" class="col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.toDate" l10n-text="persons.qlfStateDirective.toDate" class="col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.qualification" alias="'appExSystQualifications'" ng-required="true" l10n-text="persons.qlfStateDirective.qualification"
      class="col-sm-8"></sc-field>
  </div>

  <h5 class="form-header" l10n-text="persons.qlfStateDirective.state"></h5>
  <div class="row">
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="persons.qlfStateDirective.stateStarted"></label>
      <input type="radio" ng-model="model.state" value="Started" class="col-sm-4" ng-required="!model.state">
    </div>
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="persons.qlfStateDirective.stateCanceled"></label>
      <input type="radio" ng-model="model.state" value="Canceled" class="col-sm-4" ng-required="!model.state">
    </div>
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="persons.qlfStateDirective.stateFinished"></label>
      <input type="radio" ng-model="model.state" value="Finished" class="col-sm-4" ng-required="!model.state">
    </div>
  </div>

</ng-form>