<ng-form class="form-inline" name="editStatusForm">

  <gva-person-status name="personStatusForm" ng-model="status.part"></gva-person-status>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="persons.editStatus.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="!editStatusForm.$dirty"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="persons.editStatus.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
