<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="persons.personEmploymentDirective.title"></strong></div>
    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-sm-3 col-md-2" gva-has-error="hiredate">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.hiredate"></label>
          <gva-validation-error field-name="hiredate" validations="{required: null}"></gva-validation-error>
          <sc-date ng-model="model.hiredate" name="hiredate" ng-required="true"></sc-date>
        </div>
        <div class="form-group col-sm-2" gva-has-error="valid">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.valid"></label>
          <gva-validation-error field-name="valid" validations="{required: null}"></gva-validation-error>
          <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6 col-md-5 col-lg-4" gva-has-error="organization">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.organization"></label>
          <gva-validation-error field-name="organization" validations="{required: null}"></gva-validation-error>
          <sc-nomenclature ng-model="model.organization" name="organization" alias="'organizations'" load="true"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-6 col-md-5 col-lg-4" gva-has-error="employmentCategory">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.employmentCategory"></label>
          <gva-validation-error field-name="employmentCategory" validations="{required: null}"></gva-validation-error>
          <sc-nomenclature ng-model="model.employmentCategory" name="employmentCategory" alias="'employmentCategories'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6 col-md-5 col-lg-4" gva-has-error="country">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.country"></label>
          <gva-validation-error field-name="country" validations="{required: null}"></gva-validation-error>
          <sc-nomenclature ng-model="model.country" name="country" alias="'countries'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-10 col-lg-8">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.notes"></label>
          <sc-textarea rows="3" ng-model="model.notes"></sc-textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3 col-md-2" gva-has-error="bookPageNumber">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.bookPageNumber"></label>
          <gva-validation-error field-name="bookPageNumber" validations="{required: null}"></gva-validation-error>
          <sc-text ng-model="model.bookPageNumber" name="bookPageNumber" ng-required="true"></sc-text>
        </div>
        <div class="form-group col-sm-3 col-md-2" gva-has-error="pageCount">
          <label class="control-label" l10n-text="persons.personEmploymentDirective.pageCount"></label>
          <gva-validation-error field-name="pageCount" validations="{min: null}"></gva-validation-error>
          <sc-int ng-model="model.pageCount" name="pageCount" min="0"></sc-int>
        </div>
      </div>
    </div>
  </div>
</ng-form>