<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-sm-6 col-md-4">
      <label class="control-label" l10n-text="persons.personDocumentExamDirective.documentNumber"></label>
      <sc-text ng-model="model.documentNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2">
      <label class=" control-label" l10n-text="persons.personDocumentExamDirective.valid"></label>
      <sc-nomenclature ng-model="model.valid" alias="'boolean'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="documentDateValidFrom">
      <label class="control-label" l10n-text="persons.personDocumentExamDirective.documentDateValidFrom"></label>
      <sc-validation-error field-name="documentDateValidFrom" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-6 col-md-5">
      <div class="form-group col-sm-9 col-md-6">
        <label class="control-label" l10n-text="persons.personMedicalDirective.documentPublisher"></label>
        <sc-text ng-model="model.documentPublisher" alias="'medDocPublishers'" ng-readonly="readonly"></sc-text>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-12 col-md-9">
      <label class="control-label" l10n-text="persons.personDocumentExamDirective.notes"></label>
      <sc-textarea rows="3" ng-model="model.notes" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
</ng-form>
