<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="persons.personStatusDirective.title"></strong></div>
    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-sm-6 col-md-4" gva-has-error="personStatusType">
          <label class="control-label" l10n-text="persons.personStatusDirective.personStatusType"></label>
          <gva-validation-error field-name="personStatusType" validations="{required: null}"></gva-validation-error>
          <sc-nomenclature ng-model="model.personStatusType" name="personStatusType" alias="'personStatusTypes'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6 col-md-4">
          <label class="control-label" l10n-text="persons.personStatusDirective.documentNumber"></label>
          <sc-text ng-model="model.documentNumber"></sc-text>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3 col-md-2" gva-has-error="documentDateValidFrom">
          <label class=" control-label" l10n-text="persons.personStatusDirective.documentDateValidFrom"></label>
          <gva-validation-error field-name="documentDateValidFrom" validations="{required: null}"></gva-validation-error>
          <sc-date name="documentDateValidFrom" ng-model="model.documentDateValidFrom" ng-required="true"></sc-date>
        </div>
        <div class="form-group col-sm-3 col-md-2">
          <label class="control-label" l10n-text="persons.personStatusDirective.documentDateValidTo"></label>
          <sc-date name="documentDateValidTo" ng-model="model.documentDateValidTo"></sc-date>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6 col-md-4">
          <label class="control-label" l10n-text="persons.personStatusDirective.notes"></label>
          <sc-textarea rows="3" ng-model="model.notes"></sc-textarea>
        </div>
      </div>
    </div>
  </div>
</ng-form>
