<ng-form class="form-inline">
  <div class="panel panel-default">
    <div class="panel-heading form-title"><strong l10n-text="persons.personDocumentIdDirective.title"></strong></div>
    <div class="well-sm panel-body form-body">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.personDocumentIdTypeId"></label>
          <span ng-show="form.personDocumentIdType.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="personDocumentIdTypeValidationSpan" ng-show="form.personDocumentIdType.$dirty && form.personDocumentIdType.$invalid && !form.personDocumentIdType.$error.$pending"
            class="glyphicon glyphicon-warning-sign"
             title="{{form.personDocumentIdType.$error.required && 'Задължително поле' || form.personDocumentIdType.$error.unique && 'Невалиден тип на документ'}}"></span>
          <sc-nomenclature ng-model="model.personDocumentIdType" name="personDocumentIdType" alias="'personIdDocumentTypes'" load="true" ng-required="true"
            sc-validate="{unique: isUniqueDocTypeId}">
          </sc-nomenclature>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.valid"></label>
          <span name="docValidValidationSpan" ng-show="form.valid.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.valid.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" load="true" ng-required="true"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.bookPageNumber"></label>
          <span name="bookPageNumberValidationSpan" ng-show="form.bookPageNumber.$dirty && form.bookPageNumber.$invalid && !form.bookPageNumber.$error.$pending" class="glyphicon glyphicon-warning-sign"
            title="{{form.bookPageNumber.$error.required && 'Задължително поле' || form.bookPageNumber.$error.min && 'Стойността трябва да е по-голяма от 0'}}"></span>
          <sc-text ng-model="model.bookPageNumber" name="bookPageNumber" ng-required="true" sc-validate="{min: isPositive}"></sc-text>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.pageCount"></label>
          <span name="pageCountValidationSpan" ng-show="form.pageCount.$invalid" class="glyphicon glyphicon-warning-sign"
            title="{{form.pageCount.$error.min && 'Стойността трябва да е по-голяма от 0'}}"></span>
          <sc-text ng-model="model.pageCount" name="pageCount" sc-validate="{min: isPositive}"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentNumber"></label>
          <span ng-show="form.documentNumber.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="documentNumberValidationSpan" ng-show="form.documentNumber.$dirty && form.documentNumber.$invalid && !form.documentNumber.$error.$pending" class="glyphicon glyphicon-warning-sign"
            title="{{form.documentNumber.$error.required && 'Задължително поле' || form.documentNumber.$error.unique && 'Невалиден номер на документ'}}"></span>

          <sc-text ng-model="model.documentNumber" name="documentNumber" ng-required="true" sc-validate="{unique: isUniqueDocNumber}"></sc-text>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentDateValidFrom"></label>
          <span ng-show="form.documentDateValidFrom.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="documentDateValidFromValidationSpan" ng-show="form.documentDateValidFrom.$dirty && form.documentDateValidFrom.$invalid && !form.documentDateValidFrom.$error.$pending"
            class="glyphicon glyphicon-warning-sign"
            title="{{form.documentDateValidFrom.$error.required && 'Задължително поле'|| form.documentDateValidFrom.$error.unique && 'Невалидна начална дата'}}"></span>
          <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true" sc-validate="{unique: isUniqueValidDateFrom}"></sc-date>
        </div>
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentDateValidTo"></label>
          <span name="documentDateValidToValidationSpan" ng-show="form.documentDateValidTo.$invalid" class="glyphicon glyphicon-warning-sign"
            title="{{form.documentDateValidTo.$error.required && 'Задължително поле'}}"></span>
          <sc-date ng-model="model.documentDateValidTo" name="documentDateValidTo"></sc-date>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentPublisher"></label>
          <span ng-show="form.documentPublisher.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="documentPublisherValidationSpan" ng-show="form.documentPublisher.$dirty && form.documentPublisher.$invalid && !form.documentPublisher.$error.$pending"
             class="glyphicon glyphicon-warning-sign"
            title="{{form.documentPublisher.$error.required && 'Задължително поле' || form.documentPublisher.$error.unique && 'Невалиден издател на документ'}}"></span>
          <sc-text ng-model="model.documentPublisher" name="documentPublisher" ng-required="true" sc-validate="{unique: isUniquePublisher}"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.notes"></label>
        </div>
      </div>
      <div class="row3">
        <div class="form-group col-md">
          <sc-textarea rows="3" cols="50" ng-model="model.notes"></sc-textarea>
        </div>
      </div>
    </div>
  </div>
</ng-form>
