<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-4 col-md-3" sc-has-error="firstName">
      <label class="control-label" l10n-text="persons.personDataDirective.firstName"></label>
      <sc-validation-error field-name="firstName" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.firstName" name="firstName" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="middleName">
      <label class="control-label" l10n-text="persons.personDataDirective.middleName"></label>
      <sc-validation-error field-name="middleName" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.middleName" name="middleName" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="lastName">
      <label class="control-label" l10n-text="persons.personDataDirective.lastName"></label>
      <sc-validation-error field-name="lastName" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.lastName" name="lastName" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4 col-md-3" sc-has-error="firstNameAlt">
      <label class="control-label" l10n-text="persons.personDataDirective.firstNameAlt"></label>
      <sc-validation-error field-name="firstNameAlt" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.firstNameAlt" name="firstNameAlt" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="middleNameAlt">
      <label class="control-label" l10n-text="persons.personDataDirective.middleNameAlt"></label>
      <sc-validation-error field-name="middleNameAlt" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.middleNameAlt" name="middleNameAlt" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="lastNameAlt">
      <label class="control-label" l10n-text="persons.personDataDirective.lastNameAlt"></label>
      <sc-validation-error field-name="lastNameAlt" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.lastNameAlt" name="lastNameAlt" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2" sc-has-error="lin">
      <label class="control-label" l10n-text="persons.personDataDirective.lin"></label>
      <sc-validation-error field-name="lin" validations="{required: null}"></sc-validation-error>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" ng-disabled="!isNew" data-toggle="dropdown" style="text-align: left; width: 120px">
            {{model.linType.name || 'Избери'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="type in linTypes"><a ng-click="setLin(type)">{{type.name}}</a></li>
          </ul>
        </div>
        <input type="text" style="width: 50px;" class="form-control input-sm" name="lin" ng-model="model.lin" ng-readonly="true" ng-required="true">
      </div>
    </div>

    <div class="form-group col-sm-3 col-md-2" sc-has-error="uin">
      <label class="control-label" l10n-text="persons.personDataDirective.uin"></label>
      <sc-validation-error field-name="uin" validations="{validValue: 'errorTexts.uin'}"></sc-validation-error>
      <sc-text ng-model="model.uin "name="uin" sc-validate="{ validValue: uinValid }" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2" sc-has-error="sex">
      <label class="control-label" l10n-text="persons.personDataDirective.sex"></label>
      <sc-validation-error field-name="sex" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.sex" name="sex" alias="'gender'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="dateOfBirth">
      <label class="control-label" l10n-text="persons.personDataDirective.dateOfBirth"></label>
      <sc-validation-error field-name="dateOfBirth" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.dateOfBirth" name="dateOfBirth" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-3 col-md-2" sc-has-error="placeOfBirth">
      <label class="control-label" l10n-text="persons.personDataDirective.placeOfBirth"></label>
      <sc-validation-error field-name="placeOfBirth" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.placeOfBirth" name="placeOfBirth" alias="'cities'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="country">
      <label class="control-label" l10n-text="persons.personDataDirective.country"></label>
      <sc-validation-error field-name="country" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.country" name="country" alias="'countries'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-md-4" sc-has-error="email">
      <label class="control-label" l10n-text="persons.personDataDirective.email"></label>
      <sc-validation-error field-name="email" validations="{pattern: 'errorTexts.mail'}"></sc-validation-error>
      <sc-text ng-model="model.email" ng-pattern='/^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z.]{2,5}$/' name="email" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label class="control-label" l10n-text="persons.personDataDirective.fax"></label>
      <sc-text ng-model="model.fax" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="persons.personDataDirective.phones"></label>
      <sc-text ng-model="model.phone2" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2 labeless">
      <sc-text ng-model="model.phone3" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2 labeless">
      <sc-text ng-model="model.phone4" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2 labeless">
      <sc-text ng-model="model.phone5" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="persons.personDataDirective.companyPhone"></label>
      <sc-text ng-model="model.phone1" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="caseTypes">
      <label class="control-label" l10n-text="persons.personDataDirective.caseTypes"></label>
      <sc-validation-error field-name="caseTypes" validations="{required: null, requiredValue: 'Задължително поле'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.caseTypes" name="caseTypes" alias="'personCaseTypes'" sc-validate="{ requiredValue: requireCaseTypes }" multiple ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
</ng-form>
