<ng-form class="form-inline">
  <div class="panel panel-default">
    <div class="panel-heading form-title"><strong l10n-text="persons.personFlyingExperienceDirective.title"></strong></div>
    <div class="well-sm panel-body form-body">
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.staffType"></label>
          <span name="staffTypeValidationSpan" ng-show="form.staffType.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.staffType.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.staffType" name="staffType" alias="'staffTypes'" load="true" ng-required="true"  ng-disabled="isEdit"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-3" ng-show="model.staffType.code === 'F'">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.month"></label>
          <span name="monthValidationSpan" ng-show="form.month.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.month.$error.required && 'Задължително поле'}}"></span>
          <sc-text ng-model="model.period.month" name="month" ng-required="model.staffType.nomTypeValueId === 1"></sc-text>
        </div>
        <div class="form-group col-sm-3" ng-show="model.staffType.code === 'F'">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.year"></label>
          <span name="yearValidationSpan" ng-show="form.year.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.year.$error.required && 'Задължително поле'}}"></span>
          <sc-int ng-model="model.period.year" name="year" ng-required="model.staffType.nomTypeValueId === 1"></sc-int>
        </div>
      </div>
      <div class="row" ng-show="model.staffType.code === 'F'">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.organization"></label>
          <span name="organizationValidationSpan" ng-show="form.organization.$dirty && form.organization.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.organization.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.organization" name="organization" alias="'organizations'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row" ng-show="model.staffType.code === 'F' || model.staffType.code === 'G'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.aircraft"></label>
        <span name="aircraftValidationSpan" ng-show="form.aircraft.$dirty && form.aircraft.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.aircraft.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.aircraft" name="aircraft" alias="'aircrafts'" load="true" ng-required="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.ratingType"></label>
        <span name="ratingTypeValidationSpan" ng-show="form.ratingType.$dirty && form.ratingType.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.ratingType.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.ratingType" name="ratingType" alias="'ratingTypes'" load="true" ng-required="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row" ng-show="model.staffType.code === 'F' || model.staffType.code === 'T'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.ratingClass"></label>
        <span name="ratingClassValidationSpan" ng-show="form.ratingClass.$dirty && form.ratingClass.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.ratingClass.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.ratingClass" name="ratingClass" alias="'ratingClasses'" load="true" ng-required="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.licenceType"></label>
        <span name="licenceTypeValidationSpan" ng-show="form.licenceType.$dirty && form.licenceType.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.licenceType.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.licenceType" name="licenceType" alias="'licenceTypes'" load="true" ng-required="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.authorization"></label>
        <span name="authorizationValidationSpan" ng-show="form.authorization.$dirty && form.authorization.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.authorization.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.authorization" name="authorization" alias="'authorizations'" load="true" ng-required="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row" ng-show="model.staffType.code === 'F'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.locationIndicator"></label>
        <span name="locationIndicatorValidationSpan" ng-show="form.locationIndicator.$dirty && form.locationIndicator.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.locationIndicator.$error.required && 'Задължително поле'}}"></span>
        <sc-nomenclature ng-model="model.locationIndicator" name="locationIndicator" alias="'locationIndicators'" load="true" ng-required="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.sector"></label>
        <span name="sectorTypeValidationSpan" ng-show="form.sector.$dirty && form.sector.$invalid"  class="glyphicon glyphicon-warning-sign" title="{{form.sector.$error.required && 'Задължително поле'}}"></span>
        <sc-text ng-model="model.sector" name="sector" ng-required="true"></sc-text>
      </div>
    </div>
  </div>
  <div class="well row">
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.experienceRole"></label>
      <span name="experienceRoleIndicatorValidationSpan" ng-show="form.experienceRole.$dirty && form.experienceRole.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.experienceRole.$error.required && 'Задължително поле'}}"></span>
      <sc-nomenclature ng-model="model.experienceRole" name="experienceRole" alias="'experienceRoles'" load="true" ng-required="true"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.experienceMeasure"></label>
      <span name="experienceMeasureValidationSpan" ng-show="form.experienceMeasure.$dirty && form.experienceMeasure.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.experienceMeasure.$error.required && 'Задължително поле'}}"></span>
      <sc-nomenclature ng-model="model.experienceMeasure" name="experienceMeasure" alias="'experienceMeasures'" load="true" ng-required="true"></sc-nomenclature>
    </div>
  </div>
  <div class="well" ng-show="model.staffType.code === 'F'">
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.dayDuration"></label>
        <div class="input-group">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.IFR">
            </span>
          </span>
          <sc-int ng-model="model.dayIFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.dayIFR.minutes"></sc-int>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.nightDuration"></label>
        <div class="input-group">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.IFR">
            </span>
          <sc-int ng-model="model.nightIFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.nightIFR.minutes"></sc-int>
        </div>
      </div>
    </div>
    <div class="row padding-top10">
      <div class="form-group col-sm-2">
        <div class="input-group">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.VFR">
            </span>
          <sc-int ng-model="model.dayVFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.dayVFR.minutes"></sc-int>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="input-group">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.VFR">
            </span>
          <sc-int ng-model="model.nightVFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.nightVFR.minutes"></sc-int>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.dayLandings"></label>
          <sc-int ng-model="model.dayLandings"></sc-int>
        </div>

      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.nightLandings"></label>
          <sc-int ng-model="model.nightLandings"></sc-int>
      </div>
    </div>
  </div>
  <div class="well row" >
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.total"></label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
          </span>
        </span>
        <sc-int ng-model="model.total.hours"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.total.minutes"></sc-int>
      </div>
    </div>
    <div class="form-group col-sm-2" ng-show="model.staffType.code === 'F'">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.totalDoc"></label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
          </span>
        <sc-int ng-model="model.totalDoc.hours"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.totalDoc.minutes"></sc-int>
      </div>
    </div>
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.totalLastMonths"></label>
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
          </span>
        <sc-int ng-model="model.totalLastMonths.hours"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.totalLastMonths.minutes"></sc-int>
      </div>
    </div>
  </div>

</ng-form>
