<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="persons.personDocumentTrainingDirective.title"></strong></div>
    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-sm-6 col-md-4" sc-has-error="staffType">
          <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.staffType"></label>
          <sc-validation-error field-name="staffType" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.staffType" name="staffType" alias="'staffTypes'" load="true" ng-disabled="$parent.isEdit" ng-required="true">
          </sc-nomenclature>
        </div>
      </div>

      <div ng-show="model.staffType">

        <div class="row">
          <div class="form-group col-sm-6 col-md-4">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.documentNumber"></label>
            <sc-text ng-model="model.documentNumber" name="documentNumber"></sc-text>
          </div>
          <div class="form-group col-sm-6 col-md-4">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.documentPersonNumber"></label>
            <sc-int ng-model="model.documentPersonNumber" name="documentPersonNumber"></sc-int>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3 col-md-2" sc-has-error="documentDateValidFrom">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.documentDateValidFrom"></label>
            <sc-validation-error field-name="documentDateValidFrom" validations="{required: null}"></sc-validation-error>
            <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true"></sc-date>
          </div>
          <div class="form-group col-sm-3 col-md-2">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.documentDateValidTo"></label>
            <sc-date ng-model="model.documentDateValidTo" name="documentDateValidTo"></sc-date>
          </div>
          <div class="form-group col-sm-6 col-md-5" sc-has-error="documentPublisher">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.documentPublisher"></label>
            <sc-validation-error field-name="documentPublisher" validations="{required: null}"></sc-validation-error>
            <sc-text ng-model="model.documentPublisher" name="documentPublisher" ng-required="true"></sc-text>
          </div>
        </div>

        <div class="row" ng-if="model.staffType.alias === 'D'">
          <div class=" form-group col-sm-6 col-md-4">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.ratingType"></label>
            <sc-nomenclature ng-model="model.ratingType" name="ratingType" alias="'ratingTypes'" load="true" ng-disabled="model.ratingClass">
            </sc-nomenclature>
          </div>
          <div class="form-group col-sm-6 col-md-5">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.aircraftTypeGroup"></label>
            <sc-nomenclature ng-model="model.aircraftTypeGroup" name="aircraftTypeGroup" alias="'aircraftTypeGroups'" load="true">
            </sc-nomenclature>
          </div>
        </div>

        <div class="row" ng-if="model.staffType.alias === 'F' || model.staffType.alias === 'T' || model.staffType.alias === 'G'">
          <div class=" form-group col-sm-6 col-md-4" ng-if="model.staffType.alias === 'F'">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.ratingType"></label>
            <sc-nomenclature ng-model="model.ratingType" name="ratingType" alias="'ratingTypes'" load="true" ng-disabled="model.ratingClass">
            </sc-nomenclature>
          </div>
          <div class="form-group col-sm-6 col-md-4" ng-if="model.staffType.alias === 'G'">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.aircraftTypeGroup"></label>
            <sc-nomenclature ng-model="model.aircraftTypeGroup" name="aircraftTypeGroup" alias="'aircraftTypeGroups'" load="true">
            </sc-nomenclature>
          </div>
          <div class="form-group col-sm-6 col-md-5" ng-class="{'col-md-5': model.staffType.alias === 'F' || model.staffType.alias === 'G', 'col-md-4': model.staffType.alias === 'T'}">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.licenceType"></label>
            <sc-nomenclature ng-model="model.licenceType" name="licenceType" alias="'licenceTypes'" params="{ nomTypeParentValueId: model.staffType.nomTypeValueId }" load="false">
            </sc-nomenclature>
          </div>
        </div>

        <div ng-if="model.staffType.alias === 'T'">
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.locationIndicator"></label>
              <sc-nomenclature ng-model="model.locationIndicator" name="locationIndicator" alias="'locationIndicators'" load="true">
              </sc-nomenclature>
            </div>
            <div class="form-group col-sm-6 col-md-5">
              <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.sector"></label>
              <sc-text ng-model="model.sector" name="sector"></sc-text>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4">
            <label class=" control-label" l10n-text="persons.personDocumentTrainingDirective.ratingClass">
            </label>
            <sc-nomenclature ng-model="model.ratingClass" ng-disabled="model.ratingType" name="ratingClass" alias="'ratingClasses'" params="{ staffTypeId: model.staffType.nomTypeValueId, parentAlias: 'ratingClassGroups' }" load="false">
            </sc-nomenclature>
          </div>
          <div class="form-group col-sm-6 col-md-5">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.authorization"></label>
            <sc-nomenclature ng-model="model.authorization" name="authorization" alias="'authorizations'" params="{ staffTypeId: model.staffType.nomTypeValueId, parentAlias: 'authorizationGroups' }" load="false">
            </sc-nomenclature>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-6 col-md-4" sc-has-error="personOtherDocumentType">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.personOtherDocumentType"></label>
            <sc-validation-error field-name="personOtherDocumentType" validations="{required: null}"></sc-validation-error>
            <sc-nomenclature ng-model="model.personOtherDocumentType" name="personOtherDocumentType" alias="'documentTrainingTypes'" ng-required="true" load="true">
            </sc-nomenclature>
          </div>
          <div class="form-group col-sm-6 col-md-5" sc-has-error="personOtherDocumentRole">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.personOtherDocumentRole"></label>
            <sc-validation-error field-name="personOtherDocumentRole" validations="{required: null}"></sc-validation-error>
            <sc-nomenclature ng-model="model.personOtherDocumentRole" name="personOtherDocumentRole" ng-required="true" alias="'documentTrainingRoles'" load="true">
            </sc-nomenclature>
          </div>
        </div>

        <div ng-if="model.personOtherDocumentRole.alias === 'engTraining'">
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.engLangLevel"></label>
              <sc-nomenclature ng-model="model.engLangLevel" name="engLangLevel" alias="'engLangLevels'" load="true">
              </sc-nomenclature>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3 col-md-2" sc-has-error="valid">
            <label class=" control-label" l10n-text="persons.personDocumentTrainingDirective.valid"></label>
            <sc-validation-error field-name="valid" validations="{required: null}"></sc-validation-error>
            <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" load="true" ng-required="true"></sc-nomenclature>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12 col-md-9">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.notes"></label>
            <sc-textarea rows="3" ng-model="model.notes"></sc-textarea>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-3 col-md-2" sc-has-error="bookPageNumber">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.bookPageNumber"></label>
            <sc-validation-error field-name="bookPageNumber" validations="{required: null}"></sc-validation-error>
            <sc-text ng-model="model.bookPageNumber" name="bookPageNumber" ng-required="true"></sc-text>
          </div>

          <div class="form-group col-sm-3 col-md-2" sc-has-error="pageCount">
            <label class="control-label" l10n-text="persons.personDocumentTrainingDirective.pageCount"></label>
            <sc-validation-error field-name="pageCount" validations="{min: null}"></sc-validation-error>
            <sc-int ng-model="model.pageCount" name="pageCount" min="0"></sc-int>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
