<ng-form class="form-inline" sc-validate="{}">
<!--  <div>
    <label ng-show="personFlyingExperienceForm.$invalid && personFlyingExperienceForm.$validated" l10n-text="persons.personFlyingExperienceDirective.notUnique"></label>
  </div>-->
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="persons.personFlyingExperienceDirective.title"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-3" ng-class="{'has-error': form.$validated && form.staffType.$invalid}">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.staffType"></label>
          <span name="staffTypeValidationSpan" ng-show="form.staffType.$invalid && form.$validated" class="glyphicon glyphicon-warning-sign" title="{{form.staffType.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.staffType" name="staffType"  alias="'staffTypes'" load="true" ng-disabled="$parent.isEdit" ng-required="true"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-3" ng-show="model.staffType.code === 'F'">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.month"></label>
          <sc-text ng-model="model.period.month"></sc-text>
        </div>
        <div class="form-group col-sm-3" ng-show="model.staffType.code === 'F'">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.year"></label>
          <sc-int ng-model="model.period.year"></sc-int>
        </div>
      </div>
      <div class="row" ng-show="model.staffType.code === 'F'">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.organization"></label>
          <sc-nomenclature ng-model="model.organization" alias="'organizations'" load="true"></sc-nomenclature>
        </div>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row" ng-show="model.staffType.code === 'F' || model.staffType.code === 'G'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.aircraft"></label>
        <sc-nomenclature ng-model="model.aircraft" name="aircraft" alias="'aircrafts'" load="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.ratingType"></label>
        <sc-nomenclature ng-model="model.ratingType" alias="'ratingTypes'" load="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row" ng-show="model.staffType.code === 'F' || model.staffType.code === 'T'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.ratingClass"></label>
        <sc-nomenclature ng-model="model.ratingClass" alias="'ratingClasses'" load="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.licenceType"></label>
        <sc-nomenclature ng-model="model.licenceType" alias="'licenceTypes'" load="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.authorization"></label>
        <sc-nomenclature ng-model="model.authorization" alias="'authorizations'" load="true"></sc-nomenclature>
      </div>
    </div>
    <div class="row" ng-show="model.staffType.code === 'F'">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.locationIndicator"></label>
        <sc-nomenclature ng-model="model.locationIndicator" alias="'locationIndicators'" load="true"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.sector"></label>
        <sc-text ng-model="model.sector"></sc-text>
      </div>
    </div>
  </div>
  <div class="well">
    <div class = "row">
    <div class="form-group col-sm-3" ng-class="{'has-error': form.$validated && form.experienceRole.$invalid}">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.experienceRole"></label>
      <span name="experienceRoleIndicatorValidationSpan" ng-show="form.$validated && form.experienceRole.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.experienceRole.$error.required && 'Задължително поле'}}"></span>
      <sc-nomenclature ng-model="model.experienceRole" name="experienceRole" alias="'experienceRoles'" load="true" ng-required="true"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-3" ng-class="{'has-error': form.$validated && form.experienceMeasure.$invalid}">
      <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.experienceMeasure"></label>
      <span name="experienceMeasureValidationSpan" ng-show="form.$validated && form.experienceMeasure.$invalid" class="glyphicon glyphicon-warning-sign" title="{{form.experienceMeasure.$error.required && 'Задължително поле'}}"></span>
      <sc-nomenclature ng-model="model.experienceMeasure" name="experienceMeasure" alias="'experienceMeasures'" load="true" ng-required="true"></sc-nomenclature>
    </div>
  </div>
    </div>
  <div class="well" ng-show="model.staffType.code === 'F'">
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.dayDuration"></label>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.IFR">
          </span>
          </span>
          <sc-int ng-model="model.dayIFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.dayIFR.minutes"></sc-int>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.nightDuration"></label>
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.IFR">
          </span>
          <sc-int ng-model="model.nightIFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.nightIFR.minutes"></sc-int>
        </div>
      </div>
    </div>
    <div class="row padding-top10">
      <div class="form-group col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.VFR">
          </span>
          <sc-int ng-model="model.dayVFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.dayVFR.minutes"></sc-int>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="persons.personFlyingExperienceDirective.VFR">
          </span>
          <sc-int ng-model="model.nightVFR.hours"></sc-int>
          <span class="input-group-addon padding6">:</span>
          <sc-int ng-model="model.nightVFR.minutes"></sc-int>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.dayLandings"></label>
        <sc-int ng-model="model.dayLandings"></sc-int>
      </div>

      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.nightLandings"></label>
        <sc-int ng-model="model.nightLandings"></sc-int>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.total"></label>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.totalLastMonths"></label>
      </div>
      <div class="form-group col-sm-4" ng-show="model.staffType.code === 'F'"
        ng-class="{'has-error': form.hours.$invalid || form.minutes.$invalid && form.$validated}">
        <label class="control-label" l10n-text="persons.personFlyingExperienceDirective.totalDoc"></label>
        <span name="totalDocValidationSpan" ng-show="form.hours.$invalid || form.minutes.$invalid && form.$validated"
              class="glyphicon glyphicon-warning-sign"
              title="{{(form.hours.$error.required || form.minutes.$error.required) && 'Задължително поле'}}"></span>
      </div>
    </div>
    
    <div class="row">
    <div class="form-group col-sm-2">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
        </span>
        </span>
        <sc-int ng-model="model.total.hours"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.total.minutes"></sc-int>
      </div>
    </div>
    <div class="form-group col-sm-2" ng-show="model.staffType.code === 'F'">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
        </span>
        <sc-int ng-model="model.totalLastMonths.hours"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.totalLastMonths.minutes"></sc-int>
      </div>
    </div>
    <div class="form-group col-sm-2">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time">
          </span>
        </span>
        <sc-int ng-model="model.totalDoc.hours" name="hours" ng-required="model.staffType.code === 'F'"></sc-int>
        <span class="input-group-addon padding6">:</span>
        <sc-int ng-model="model.totalDoc.minutes" name="minutes" ng-required="model.staffType.code === 'F'"></sc-int>
      </div>
    </div>
      </div>
  </div>
</ng-form>
