<ng-form class="form-inline"  sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="persons.personDocumentIdDirective.title"></strong></div>
    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-sm-6 col-md-4" ng-class="{'has-error': form.$validated && form.personDocumentIdType.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.personDocumentIdTypeId"></label>
          <span name="personDocumentIdTypeValidationSpan" ng-show="form.personDocumentIdType.$invalid && form.$validated" class="glyphicon glyphicon-warning-sign"
             title="{{form.personDocumentIdType.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.personDocumentIdType" name="personDocumentIdType" alias="'personIdDocumentTypes'" load="true" ng-required="true">
          </sc-nomenclature>
        </div>
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.$validated && form.documentNumber.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentNumber"></label>
          <span name="documentNumberValidationSpan" ng-show="form.documentNumber.$invalid && form.$validated" class="glyphicon glyphicon-warning-sign"
                title="{{form.documentNumber.$error.required && 'Задължително поле'}}"></span>
          <sc-text ng-model="model.documentNumber" name="documentNumber" ng-required="true"></sc-text>
        </div>
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.$validated && form.valid.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.valid"></label>
          <span name="docValidValidationSpan" ng-show="form.valid.$invalid && form.$validated" class="glyphicon glyphicon-warning-sign" title="{{form.valid.$error.required && 'Задължително поле'}}"></span>
          <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" load="true" ng-required="true"></sc-nomenclature>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.$validated && form.documentDateValidFrom.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentDateValidFrom"></label>
          <span name="documentDateValidFromValidationSpan" ng-show="form.documentDateValidFrom.$invalid && form.$validated"
                class="glyphicon glyphicon-warning-sign"
                title="{{form.documentDateValidFrom.$error.required && 'Задължително поле'}}"></span>
          <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true"></sc-date>
        </div>
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.$validated && form.documentDateValidTo.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentDateValidTo"></label>
          <span name="documentDateValidToValidationSpan" ng-show="form.documentDateValidTo.$invalid && form.$validated" class="glyphicon glyphicon-warning-sign"
                title="{{form.documentDateValidTo.$error.required && 'Задължително поле'}}"></span>
          <sc-date ng-model="model.documentDateValidTo" name="documentDateValidTo" ng-required="true"></sc-date>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-8" ng-class="{'has-error': form.$validated && form.documentPublisher.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.documentPublisher"></label>
          <span name="documentPublisherValidationSpan" ng-show="form.documentPublisher.$invalid && form.$validated"
                class="glyphicon glyphicon-warning-sign"
                title="{{form.documentPublisher.$error.required && 'Задължително поле'}}"></span>
          <sc-text ng-model="model.documentPublisher" name="documentPublisher" ng-required="true"></sc-text>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12 col-md-8">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.notes"></label>
          <sc-textarea rows="3" ng-model="model.notes"></sc-textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.bookPageNumber.$error.min || (form.bookPageNumber.$invalid && form.$validated)}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.bookPageNumber"></label>
          <span ng-show="form.bookPageNumber.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="bookPageNumberValidationSpan" ng-show="form.bookPageNumber.$error.min || (form.bookPageNumber.$invalid && form.$validated)" class="glyphicon glyphicon-warning-sign"
                title="{{form.bookPageNumber.$error.required && 'Задължително поле' || form.bookPageNumber.$error.min && 'Стойността трябва да е по-голяма от 0'}}"></span>
          <sc-text ng-model="model.bookPageNumber" name="bookPageNumber" sc-validate-immediate="true" ng-required="true" sc-validate="{min: isPositive}"></sc-text>
        </div>
        <div class="form-group col-sm-3 col-md-2" ng-class="{'has-error': form.pageCount.$invalid}">
          <label class="control-label" l10n-text="persons.personDocumentIdDirective.pageCount"></label>
          <span ng-show="form.pageCount.$error.$pending" class="glyphicon glyphicon-loading"></span>
          <span name="pageCountValidationSpan" ng-show="form.pageCount.$invalid" class="glyphicon glyphicon-warning-sign"
                title="{{form.pageCount.$error.min && 'Стойността трябва да е по-голяма от 0'}}"></span>
          <sc-int ng-model="model.pageCount" name="pageCount" sc-validate-immediate="true" sc-validate="{min: isPositive}"></sc-int>
        </div>
      </div>
    </div>
  </div>
</ng-form>
