<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.radios.new' }" text="aircrafts.radioSearch.newRadio" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="radios" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.radios.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.valid.name" title="aircrafts.radioSearch.valid">
  </sc-column>
  <sc-column data="part.certNumber" title="aircrafts.radioSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="aircrafts.radioSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="aircrafts.radioSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="part.radios.aircraftRadioType.name" title="aircrafts.radioSearch.aircraftRadioType">
  </sc-column>
  <sc-column data="part.radios.count" title="aircrafts.radioSearch.count">
  </sc-column>
  <sc-column data="part.radios.producer" title="aircrafts.radioSearch.producer">
  </sc-column>
  <sc-column data="part.radios.model" title="aircrafts.radioSearch.model">
  </sc-column>
</sc-datatable>