<ng-form name="form.newRatingForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="persons.newRatingModal.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.newRatingModal.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.newRatingModal.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-rating name="ratingForm" ng-model="newRating.rating.part" sc-form-params="{ isNew: true }"></gva-rating>

      <gva-rating-edition name="ratingEditionForm" ng-if="newRating.rating.part.staffType" ng-model="newRating.edition"
        sc-form-params="{ lotId: lotId }" sc-data-staff-type="newRating.rating.part.staffType">
      </gva-rating-edition>
    </div>
  </div>
</ng-form>
