<ng-form name="newCertOperForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="equipments.newOper.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="equipments.newOper.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="equipments.newOper.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <gva-equipment-cert-operational name="equipmentCertOperForm" ng-model="equipmentCertOper.part"></gva-equipment-cert-operational>
    </div>
  </div>
</ng-form>
