<sc-button name="createBtn" btn-sref="{ state: 'root.equipments.view.opers.new' }" text="equipments.operSearch.newOper" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="certOpers" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.equipments.view.opers.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.issueDate" title="equipments.operSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.issueNumber" title="equipments.operSearch.issueNumber">
  </sc-column>
  <sc-column data="part.validToDate" title="equipments.operSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="part.audit" title="equipments.operSearch.audit">
  </sc-column>
  <sc-column data="part.organization.name" title="equipments.operSearch.organization">
  </sc-column>
  <sc-column data="part.inspector.name" title="equipments.operSearch.inspector">
  </sc-column>
  <sc-column data="part.valid.name" title="equipments.operSearch.valid">
  </sc-column>
</sc-datatable>
