<sc-button name="createBtn" btn-sref="{ state: 'root.applications.new', params: {set: 'organization', lotId: lotId} }" text="organizations.organizationDocApplicationSearch.newApplication" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationDocumentApplications" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDate"
  row-class="{'declinedApplication' : isDeclinedApp(item), 'doneApplication' : isDoneApp(item)}">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ 
      state: 'root.applications.edit.data',
      params: { 
        id: item.part.applicationId,
        set: 'organization',
        lotId: lotId,
        ind: item.partIndex
      } 
    }" class="btn btn-xs btn-primary" icon="glyphicon-pencil">
    </sc-button>
  </sc-column>
  <sc-column data="part.applicationType.name" title="organizations.organizationDocApplicationSearch.applicationType" class="wrap">>
  </sc-column>
  <sc-column data="part.documentNumber" title="organizations.organizationDocApplicationSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDate" title="organizations.organizationDocApplicationSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.stage.name" title="persons.personDocApplicationSearch.stageName">
  </sc-column>
  <sc-column data="part.applicationPaymentType.name" title="organizations.organizationDocApplicationSearch.applicationPaymentType" class="wrap">
  </sc-column>
  <sc-column data="part.taxAmount" title="organizations.organizationDocApplicationSearch.taxAmount" visible="false">
  </sc-column>
  <sc-column data="part.currency.name" title="organizations.organizationDocApplicationSearch.currency" visible="false">
  </sc-column>
  <sc-column data="part.notes" title="organizations.organizationDocApplicationSearch.notes" class="wrap" visible="false">
  </sc-column>
  <sc-column data="case.bookPageNumber" title="organizations.organizationDocApplicationSearch.bookPageNumber">
  </sc-column>
  <sc-column data="case.pageCount" title="organizations.organizationDocApplicationSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="organizations.organizationDocApplicationSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
