<ng-form name="editDocumentApplicationForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.editOrganizationDocApplication.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.editOrganizationDocApplication.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteApplication()" text="organizations.editOrganizationDocApplication.deleteApplication" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.editOrganizationDocApplication.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editOrganizationDocApplication.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-document-application name="organizationDocumentApplicationForm" ng-model="organizationDocumentApplication.part" sc-form-params="{ lotId: lotId }"></gva-common-document-application>

      <gva-common-scanned-document name="organizationScannedDocumentForm" ng-model="organizationDocumentApplication.files" sc-form-params="{ setPart: 'organization' }"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
