<div class="container page-content">
  <form name="form"class="form-inline well" role="form">
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-3">Text directive</label>
        <sc-text name="textDir" class="col-sm-4 form-control" ng-model="text"></sc-text>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Int directive</label>
        <sc-int name="intDir" class="col-sm-4 form-control" ng-model="intNum"></sc-int>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Float directive</label>
        <sc-float name="floatDir" class="col-sm-4 form-control" ng-model="floatNum"></sc-float>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-3">Text input box</label>
        <input name="textInput" class="col-sm-4 form-control input-sm" ng-model="text" />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Int input box</label>
        <input name="intInput" class="col-sm-4 form-control input-sm" ng-model="intNum" />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3">Float input box</label>
        <input name="floatInput" class="col-sm-4 form-control input-sm" ng-model="floatNum" />
      </div>
    </div>
  </form>
</div>
