<div class="container page-content">
  <form name="form"class="form-inline well" role="form">
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label">Text directive</label>
        <sc-text name="textDir" ng-model="text"></sc-text>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Int directive</label>
        <sc-int name="intDir" ng-model="intNum"></sc-int>
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Float directive</label>
        <sc-float name="floatDir" ng-model="floatNum"></sc-float>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label">Text input box</label>
        <input name="textInput" class="form-control input-sm" ng-model="text" />
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Int input box</label>
        <input name="intInput" class="form-control input-sm" ng-model="intNum" />
      </div>
      <div class="form-group col-sm-3">
        <label class="control-label">Float input box</label>
        <input name="floatInput" class="form-control input-sm" ng-model="floatNum" />
      </div>
    </div>
  </form>
</div>
