<sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3">
  <sc-filter type="text" name="displayName" class="col-sm-3" removable="false" label="corrs.search.displayName"></sc-filter>
  <sc-filter type="text" name="correspondentEmail" class="col-sm-3" removable="true" label="corrs.search.email"></sc-filter>
  <sc-search-button action="search()" text="corrs.search.search" class="btn btn-primary btn-sm" icon="glyphicon-search"></sc-search-button>
  <sc-search-button action="newCorr()" text="corrs.search.new" icon="glyphicon glyphicon-plus"></sc-search-button>
  <sc-search-button action="add"></sc-search-button>
</sc-search>

<sc-datatable items="corrs" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="viewButton" btn-click="editCorr(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="displayName" title="corrs.search.displayName">
  </sc-column>
  <sc-column data="email" title="corrs.search.email">
  </sc-column>
  <sc-column data="correspondentTypeName" title="corrs.search.correspondentType">
  </sc-column>
</sc-datatable>
