<ng-form name="newDocumentCheckForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="persons.newCheck.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.newCheck.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.newCheck.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-person-document-check name="personDocumentCheckForm" ng-model="personDocumentCheck.part" sc-data-is-new="true"></gva-person-document-check>

      <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentCheck.files"></gva-person-scanned-document>
    </div>
  </div>
</ng-form>
