<div>
  <ng-form name="newRatingForm" sc-validate="{}">
    <gva-rating name="ratingEditionForm" ng-model="model.rating.part"></gva-rating>

    <gva-rating-edition name="ratingEditionForm" ng-model="model.ratingEdition.part"></gva-rating-edition>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <gva-button name="saveBtn" gva-click="save()" text="persons.ratingNew.save" class="btn btn-primary" icon="glyphicon-floppy-disk"
                    ng-disabled="!newRatingForm.$dirty"></gva-button>
        <gva-button name="cancelBtn" gva-click="cancel()" text="persons.ratingNew.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></gva-button>
      </div>
    </div>
  </ng-form>
</div>
