<div>
  <h5 class="form-header" l10n-text="persons.exportExamsData.exportData"></h5>
  <sc-link-button name="exportBtn" ng-disabled="!examsIds.length"ng-href="api/exportXml/examsData?examsIds={{examsIds}}" target="_blank" sc-access-token text="persons.exportExamsData.exportData" class="btn btn-primary btn-sm"></sc-link-button>
  <sc-button btn-click="addExams()" class="btn btn-default btn-sm" icon="glyphicon-plus"></sc-button>
  <sc-datatable items="examsForExport" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button btn-click="removeExam(item)" class="btn btn-danger btn-xs" icon="glyphicon-remove"></sc-button>
    </sc-column>
    <sc-column data="documentNumber" title="persons.exportExamsData.documentNumber">
    </sc-column>
    <sc-column data="documentDate" title="persons.exportExamsData.documentDate" type="date">
    </sc-column>
    <sc-column data="stageName" title="persons.exportExamsData.stageName">
    </sc-column>
    <sc-column data="personLin" title="persons.exportExamsData.personLin">
    </sc-column>
    <sc-column data="personUin" title="persons.exportExamsData.personUin">
    </sc-column>
    <sc-column data="personNames" title="persons.exportExamsData.personNames">
    </sc-column>
    <sc-column data="examName" title="persons.exportExamsData.examName">
    </sc-column>
    <sc-column data="examDate" title="persons.exportExamsData.examDate" type="date">
    </sc-column>
    <sc-column data="certCampName" title="persons.exportExamsData.certCampName">
    </sc-column>
  </sc-datatable>
</div>

