<div>
  <h5 class="form-header" l10n-text="persons.exportPersonsData.chosenPersons"></h5>
  <sc-link-button name="exportBtn" ng-disabled="!personIds.length"ng-href="api/exportXml/personsData?personIds={{personIds}}" target="_blank" sc-access-token text="persons.exportPersonsData.exportData" class="btn btn-primary btn-sm"></sc-link-button>
  <sc-button btn-click="addPersons()" class="btn btn-default btn-sm" icon="glyphicon-plus"></sc-button>
  <sc-datatable items="personsForExport" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button btn-click="removePerson(item)" class="btn btn-danger btn-xs" icon="glyphicon-remove"></sc-button>
    </sc-column>
    <sc-column data="lin" title="persons.exportPersonsData.lin">
    </sc-column>
    <sc-column data="names" title="persons.exportPersonsData.names" type="date">
    </sc-column>
    <sc-column data="uin" title="persons.exportPersonsData.uin">
    </sc-column>
  </sc-datatable>
</div>
