<div>
  <div>
    <form class="form-inline well well-sm card">
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.name"></span>
            <input disabled name="names" type="text" class="form-control" value="{{person.names}}" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.company"></span>
            <input disabled name="organization" type="text" class="form-control" value="{{person.organization}}" />
          </div>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.caseType"></span>
            <sc-nomenclature ng-model="caseType" name="caseType" alias="'personCaseTypes'" mode="id" params="{lotId: person.id}" ng-change="changeCaseType()"></sc-nomenclature>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.uin"></span>
            <input disabled name="uin" type="text" class="form-control" value="{{person.uin}}" />
          </div>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.lin"></span>
            <input disabled name="lin" type="text" class="form-control" value="{{person.lin}}" />
          </div>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.age"></span>
            <input disabled name="age" type="text" class="form-control" value="{{person.age}}" />
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" l10n-text="persons.viewPerson.employmentCategory"></span>
            <input disabled name="employment" type="text" class="form-control" value="{{person.employment}}" />
          </div>
        </div>
        <div class="form-group col-md-2">
          <sc-button name="editBtn" btn-click="edit()" text="persons.viewPerson.edit" class="btn btn-primary btn-sm pull-right" icon="glyphicon-pencil"></sc-button>
        </div>
      </div>
    </form>
  </div>

  <div ng-if="application" class="alert alert-info" style="margin-bottom: 10px; padding: 7px 10px;">
    <a ng-click="viewApplication(application.applicationId)" class="alert-link" style="cursor: pointer;"><span l10n-text="persons.viewPerson.viewApplication"></span>{{ application.applicationName }}</a>
  </div>

  <sc-tabs tab-list="{
      'persons.tabs.licences': 'root.persons.view.licences',
      'persons.tabs.qualifications': {
        'persons.tabs.ratings': 'root.persons.view.ratings',
        'persons.tabs.flyingExperiences': 'root.persons.view.flyingExperiences',
        'persons.tabs.documentTrainings': 'root.persons.view.documentTrainings',
        'persons.tabs.checks': 'root.persons.view.checks',
        'persons.tabs.exams': 'root.persons.view.exams',
        'persons.tabs.examASs': 'root.persons.view.examASs'
       },
      'persons.tabs.medicals': 'root.persons.view.medicals',
      'persons.tabs.personData': {
        'persons.tabs.addresses': 'root.persons.view.addresses',
        'persons.tabs.employments': 'root.persons.view.employments',
        'persons.tabs.documentEducations': 'root.persons.view.documentEducations',
        'persons.tabs.documentIds': 'root.persons.view.documentIds',
        'persons.tabs.statuses': 'root.persons.view.statuses'
      },
      'persons.tabs.docs': {
        'persons.tabs.others': 'root.persons.view.documentOthers'
      },
      'persons.tabs.inventory': 'root.persons.view.inventory',
      'persons.tabs.applications': 'root.persons.view.documentApplications'
    }"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
</div>
