<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3" default-action="search()">
    <sc-filter type="int" name="lin" class="col-sm-3" removable="false" label="persons.search.lin"></sc-filter>
    <sc-filter type="text" name="uin" class="col-sm-3" removable="false" label="persons.search.uin"></sc-filter>
    <sc-filter type="nomenclature" name="caseType" class="col-sm-2" removable="false" alias="personCaseTypes" mode="id" label="persons.search.caseType"></sc-filter>
    <sc-filter type="text" name="names" class="col-sm-3" removable="true" label="persons.search.names"></sc-filter>
    <sc-filter type="text" name="licences" class="col-sm-3" removable="true" label="persons.search.licences"></sc-filter>
    <sc-filter type="text" name="ratings" class="col-sm-3" removable="true" label="persons.search.ratings"></sc-filter>
    <sc-filter type="text" name="organization" class="col-sm-3" removable="true" label="persons.search.organization"></sc-filter>
    <sc-search-button action="search()" text="persons.search.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="newPerson()" text="persons.search.new" icon="glyphicon-plus"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
  </sc-search>

  <sc-datatable items="persons" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewButton" btn-sref="{state: 'root.persons.view.licences.search', params: { id: item.id }}" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column data="lin" title="persons.search.lin">
    </sc-column>
    <sc-column data="names" title="persons.search.names">
    </sc-column>
    <sc-column data="uin" title="persons.search.uin">
    </sc-column>
    <sc-column data="age" title="persons.search.age">
    </sc-column>
    <sc-column data="licences" title="persons.search.licences" class="wrap">
    </sc-column>
    <sc-column data="ratings" title="persons.search.ratings" class="wrap">
    </sc-column>
    <sc-column data="organization" title="persons.search.organization">
    </sc-column>
  </sc-datatable>
</div>
