<ng-form name="newPersonForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="persons.newPerson.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.newPerson.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.newPerson.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">

      <h5 class="form-header" l10n-text="persons.newPerson.personDataForm"></h5>
      <gva-person-data name="personDataForm" ng-model="newPerson.personData" sc-form-params="{ isNew: true }"></gva-person-data>

      <h5 class="form-header" l10n-text="persons.newPerson.documentIdForm"></h5>
      <gva-person-document-id name="personDocumentIdForm" ng-model="newPerson.personDocumentId" sc-form-params="{ isNewPerson: true }"></gva-person-document-id>

      <h5 class="form-header" l10n-text="persons.newPerson.addressForm"></h5>
      <gva-person-address name="personAddressForm" ng-model="newPerson.personAddress"></gva-person-address>

    </div>
  </div>
</ng-form>
