<div class="container page-content">
  <sc-promise-state id="promiseStateDir" promise="promise"></sc-promise-state>

  <button id="createBtn" type="button" class="btn btn-primary" ng-click="create()">Create</button>
  <button id="resolveBtn" type="button" class="btn btn-primary" ng-click="resolve()">Resolve</button>
  <button id="rejectBtn" type="button" class="btn btn-primary" ng-click="reject()">Reject</button>
  <button id="destroyBtn" type="button" class="btn btn-primary" ng-click="destroy()">Destroy</button>
  <button id="createResolvedBtn" type="button" class="btn btn-primary" ng-click="createResolved()">Create resolved</button>
</div>