<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="common.docApplicationDirective.documentNumber"></label>
      <sc-text ng-model="model.documentNumber" name="documentNumber" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-10" sc-has-error="applicationType">
      <label class="control-label" l10n-text="common.docApplicationDirective.applicationType"></label>
      <sc-validation-error field-name="applicationType" validations="{required: 'default'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.applicationType" name="applicationType" alias="'applicationTypes'" required ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4 col-md-6">
      <label class="control-label" l10n-text="common.docApplicationDirective.applicationPaymentType"></label>
      <sc-nomenclature ng-model="model.applicationPaymentType" alias="'applicationPaymentTypes'" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="common.docApplicationDirective.taxAmount"></label>
      <sc-float ng-model="model.taxAmount" name="taxAmount" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="common.docApplicationDirective.currency"></label>
      <sc-nomenclature ng-model="model.currency" alias="'currencies'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="requestDate">
      <label class="control-label" l10n-text="common.docApplicationDirective.requestDate"></label>
      <sc-validation-error field-name="requestDate" validations="{requestDate: 'errorTexts.date'}"></sc-validation-error>
      <sc-date ng-model="model.requestDate" name="requestDate" sc-validate="{requestDate: validateDate}" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-3 col-md-2" sc-has-error="documentDate">
      <label class="control-label" l10n-text="common.docApplicationDirective.documentDate"></label>
      <sc-validation-error field-name="documentDate" validations="{documentDate: 'errorTexts.date', required: null}"></sc-validation-error>
      <sc-date ng-model="model.documentDate" name="documentDate" sc-validate="{documentDate: validateDate}" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-10">
      <label class="control-label" l10n-text="common.docApplicationDirective.notes"></label>
      <sc-textarea rows="3" ng-model="model.notes" name="notes" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
</ng-form>
