<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <label class="control-label" ng-show="!form.$readonly">
    <sc-button btn-click="addExaminer()" text="common.examinerDirective.addExaminer" class="btn btn-xs btn-primary" icon="glyphicon-plus"></sc-button>
  </label>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="1px" ng-show="!form.$readonly"></th>
        <th width="1px" ng-show="!form.$readonly"></th>
        <th l10n-text="common.examinerDirective.examiner"></th>
      </tr>
    </thead>
    <tbody ng-model="model" ui-sortable="{items:'tr:not(.sort-disabled)' }">
      <tr class="sort-disabled" ng-if="!model.length">
        <td colspan="{{form.$readonly ? 1 : 3}}" class="text-center" l10n-text="common.examinerDirective.noAvailableExaminers"></td>
      </tr>
      <tr ng-repeat="examiner in model" ng-class="{'sort-disabled': form.$readonly}">
        <td ng-show="!form.$readonly"><span class="fa fa-bars"></span>
        </td>
        <td ng-show="!form.$readonly">
          <sc-button name="deleteExaminerBtn" class="btn btn-xs btn-danger" btn-click="deleteExaminer(examiner)" icon="glyphicon-remove"></sc-button>
        </td>
        <td>{{examiner.name}}</td>
      </tr>
    </tbody>
  </table>
</ng-form>
