<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.part.setPart" class="col-sm-3 col-md-2" l10n-text="common.inspectionDirective.setPart"></sc-field>
    <div class="form-group col-sm-3 col-md-2" ng-if="setPart === 'organization'">
      <label class="control-label" l10n-text="common.inspectionDirective.auditCaseType"></label>
      <input type="hidden" ng-model="model.part.auditCaseTypes" class="form-control input-sm select2input" ng-readonly="form.$readonly" ui-select2="caseTypesOptions">
    </div>
    <sc-field type="text" ng-model="model.part.documentNumber" l10n-text="common.inspectionDirective.documentNumber" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditPart" alias="'auditParts'" l10n-text="common.inspectionDirective.auditPart" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.auditReason" alias="'auditReasons'" ng-required="true" l10n-text="common.inspectionDirective.auditReason" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditType" alias="'auditTypes'" ng-required="true" l10n-text="common.inspectionDirective.auditType" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditState" alias="'auditStatuses'" ng-required="true" l10n-text="common.inspectionDirective.auditState" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.notification" alias="'auditStatuses'" ng-required="true" l10n-text="common.inspectionDirective.notification" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="3" ng-model="model.part.subject" ng-required="true" l10n-text="common.inspectionDirective.subject" class="col-sm-12 col-md-8"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-12 col-md-8">
      <label class="control-label" l10n-text="common.inspectionDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="setPart" ng-readonly="form.$readonly"></gva-applications>
    </div>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="3" ng-model="model.part.inspectionPlace" ng-required="true" l10n-text="common.inspectionDirective.inspectionPlace" class="col-sm-12 col-md-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.part.startDate" ng-required="true" l10n-text="common.inspectionDirective.startDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.part.endDate" l10n-text="common.inspectionDirective.endDate" class="col-sm-3 col-md-2"></sc-field>
  </div>

  <h5 class="form-header" l10n-text="common.inspectionDirective.inspectionPeriod" ng-if="setPart === 'aircraft'"></h5>

  <div ng-if="setPart === 'aircraft'">
    <div class="row">
      <sc-field type="date" ng-model="model.part.inspectionFrom" l10n-text="common.inspectionDirective.inspectionFrom" class="col-sm-3 col-md-2"></sc-field>
      <sc-field type="date" ng-model="model.part.inspectionTo" l10n-text="common.inspectionDirective.inspectionTo" class="col-sm-3 col-md-2"></sc-field>
    </div>
  </div>

  <h5 class="table-header" l10n-text="common.inspectionDirective.recommendationReports" ng-if="setPart === 'organization'"></h5>

  <sc-datatable items="model.part.recommendationReports" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false" ng-if="setPart === 'organization'">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button btn-click="viewRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil" ng-disabled="form.$readonly"></sc-button>
    </sc-column>
    <sc-column data="recommendationPartName" title="common.inspectionDirective.recommendationPart"></sc-column>
    <sc-column data="formDate" title="common.inspectionDirective.formDate" type="date"></sc-column>
    <sc-column data="formText" title="common.inspectionDirective.formText"></sc-column>
  </sc-datatable>

  <h5 class="table-header" l10n-text="common.auditDetailDirective.title"></h5>
  <gva-common-audit-detail name="auditDetailsForm" ng-model="model.part" sc-data-set-part="setPart"></gva-common-audit-detail>

  <h5 class="table-header" l10n-text="common.inspectionDirective.disparitiesTitle"></h5>
  <gva-common-disparity name="disparitiesForm" ng-model="model.part"></gva-common-disparity>

  <h5 class="table-header" l10n-text="common.inspectionDirective.examinersTable.examinersTitle"></h5>
  <gva-common-examiner ng-model="model.part.examiners" name="examinersForm"></gva-common-examiner>
</ng-form>