<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.part.setPart" class="col-sm-3 col-md-2" l10n-text="common.inspectionDirective.setPart"></sc-field>
    <div class="form-group col-sm-3 col-md-2" ng-if="setPart === 'organization'">
      <label class="control-label" l10n-text="common.inspectionDirective.auditCaseType"></label>
      <input type="hidden" ng-model="model.part.auditCaseTypes" class="form-control input-sm select2input" ng-readonly="form.$readonly" ui-select2="caseTypesOptions">
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.documentNumber" l10n-text="common.inspectionDirective.documentNumber" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditPart" alias="'auditParts'" l10n-text="common.inspectionDirective.auditPart" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.auditReason" alias="'auditReasons'" ng-required="true" l10n-text="common.inspectionDirective.auditReason" class="col-sm-2 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditType" alias="'auditTypes'" ng-required="true" l10n-text="common.inspectionDirective.auditType" class="col-sm-2 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.auditState" alias="'auditStatuses'" ng-required="true" l10n-text="common.inspectionDirective.auditState" class="col-sm-2 col-md-2"></sc-field>
    <div class="form-group col-sm-4 col-md-3" sc-has-error="notification">
      <label class="control-label" l10n-text="common.inspectionDirective.notification"></label>
      <sc-validation-error field-name="notification" validations="{required: 'default'}"></sc-validation-error>
      <div class="col-sm-5 col-md-7" style="padding:0px">
        <sc-nomenclature ng-model="model.part.notification" name="notification" alias="'boolean'" ng-required="true" ng-readonly="form.$readonly"></sc-nomenclature>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" cols="50" ng-model="model.part.subject" ng-required="true" l10n-text="common.inspectionDirective.subject" class="col-sm-6 col-md-6"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-6 col-md-6">
      <label class="control-label" l10n-text="common.inspectionDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="setPart" ng-readonly="form.$readonly"></gva-applications>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.inspectionPlace" ng-required="true" l10n-text="common.inspectionDirective.inspectionPlace" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.part.startDate" ng-required="true" l10n-text="common.inspectionDirective.startDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.part.endDate" l10n-text="common.inspectionDirective.endDate" class="col-sm-3 col-md-2"></sc-field>
  </div>

  <h5 class="form-header" l10n-text="common.inspectionDirective.inspectionPeriod" ng-if="setPart === 'aircraft'"></h5>

  <div ng-if="setPart === 'aircraft'">
    <div class="row">
      <sc-field type="date" ng-model="model.part.inspectionFrom" l10n-text="common.inspectionDirective.inspectionFrom" class="col-sm-3 col-md-2"></sc-field>
      <sc-field type="date" ng-model="model.part.inspectionTo" l10n-text="common.inspectionDirective.inspectionTo" class="col-sm-3 col-md-2"></sc-field>
    </div>
  </div>

  <h5 class="table-header" l10n-text="common.inspectionDirective.recommendationReports" ng-if="setPart === 'organization'"></h5>

  <sc-datatable items="model.part.recommendationReports" filterable="false" pageable="false" sortable="false" dynamic-columns="false" ng-if="setPart === 'organization'">
    <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
      <sc-button btn-click="viewRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil" ng-disabled="form.$readonly"></sc-button>
    </sc-column>
    <sc-column data="recommendationPartName" title="common.inspectionDirective.recommendationPart"></sc-column>
    <sc-column data="formDate" title="common.inspectionDirective.formDate" type="date"></sc-column>
    <sc-column data="formText" title="common.inspectionDirective.formText"></sc-column>
  </sc-datatable>

  <h5 class="table-header" l10n-text="common.auditDetailDirective.title"></h5>
  <gva-common-audit-detail name="auditDetailsForm" ng-model="model.part" sc-data-set-part="setPart"></gva-common-audit-detail>

  <h5 class="table-header" l10n-text="common.inspectionDirective.disparitiesTitle"></h5>
  <gva-common-disparity name="disparitiesForm" ng-model="model.part"></gva-common-disparity>

  <h5 class="table-header" l10n-text="common.inspectionDirective.examinersTable.examinersTitle"></h5>
  <table class="table table-striped table-bordered ctrl-table">
    <thead>
      <tr>
        <th l10n-text="common.inspectionDirective.examinersTable.sortOrder"></th>
        <th ng-class="{'has-error': model.part.examiners.length === 0}">
          <div sc-has-error="examiner">
            <label class="control-label" l10n-text="common.inspectionDirective.examinersTable.examiner"></label>
            <sc-validation-error field-name="examiner" validations="{required: 'default'}"></sc-validation-error>
          </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="examiner in model.part.examiners">
        <td class="col-sm-1 col-md-1 ctrl-cell">
          <sc-int ng-model="examiner.sortOrder" ng-readonly="form.$readonly"></sc-int>
        </td>
        <td class="ctrl-cell">
          <sc-nomenclature ng-model="examiner.examiner" name="examiner" alias="'examiners'" ng-readonly="form.$readonly"></sc-nomenclature>
        </td>
        <td style="text-align: right; width: 1px;">
          <sc-button name="deleteExaminerBtn" type="button" class="btn btn-primary btn-xs" btn-click="deleteExaminer(examiner)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
        </td>
      </tr>
      <tr ng-repeat-end=""></tr>
      <tr class="sort-disabled" ng-if="!model.part.examiners.length">
        <td colspan="8" class="text-center" l10n-text="common.inspectionDirective.examinersTable.noAvailableExaminers"></td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: right; width: 1px;">
          <sc-button name="addExaminerBtn" type="button" btn-click="addExaminer()" class="btn btn-primary btn-xs" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-form>