<ng-form  class="form-inline" sc-validate="{}">
  <table class="table table-striped table-bordered ctrl-table">
    <thead>
      <tr>
        <th style="width: 60px;" l10n-text="common.disparityDirective.auditPart" ng-if="form.$name === 'recomendationDisparitiesFromDescriptionForm'"></th>
        <th style="width: 10px;" l10n-text="common.disparityDirective.sortOrder"></th>
        <th style="width: 90px;">
          <div sc-has-error="refNumber">
            <label class="control-label" l10n-text="common.disparityDirective.refNumber"></label>
            <sc-validation-error field-name="refNumber" validations="{required: null}"></sc-validation-error>
          </div>
        </th>
        <th style="width: 300px;">
          <div sc-has-error="description">
            <label class="control-label" l10n-text="common.disparityDirective.description"></label>
            <sc-validation-error field-name="description" validations="{required: null}"></sc-validation-error>
          </div>
        </th>
        <th>
          <div sc-has-error="disparityLevel">
            <label class="control-label" l10n-text="common.disparityDirective.disparityLevel"></label>
            <sc-validation-error field-name="disparityLevel" validations="{required: null}"></sc-validation-error>
          </div>
        </th>
        <th style="width: 105px;" l10n-text="common.disparityDirective.removalDate"></th>
        <th l10n-text="common.disparityDirective.rectifyAction"></th>
        <th style="width: 105px;" l10n-text="common.disparityDirective.closureDate"></th>
        <th l10n-text="common.disparityDirective.closureDocument"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="disparity in model.disparities" class="disparity{{disparity.sortOrder}}">
        <td ng-if="form.$name === 'recomendationDisparitiesFromDescriptionForm'">
          {{disparity.auditPart}}
        </td>
        <td class="ctrl-cell">
          <sc-int ng-model="disparity.sortOrder" ng-readonly="readonly"></sc-int>
        </td>
        <td class="ctrl-cell">
          <sc-text ng-model="disparity.refNumber" name="refNumber"  ng-required="true" ng-readonly="readonly"></sc-text>
        </td>
        <td class="ctrl-cell">
          <sc-textarea ng-model="disparity.description" name="description" ng-required="true" ng-readonly="readonly"></sc-textarea>
        </td>
        <td class="ctrl-cell">
          <sc-nomenclature ng-model="disparity.disparityLevel" name="disparityLevel" alias="'disparityLevels'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
        </td>
        <td class="ctrl-cell">
          <sc-date ng-model="disparity.removalDate" ng-readonly="readonly"></sc-date>
        </td>
        <td class="ctrl-cell">
          <sc-textarea ng-model="disparity.rectifyAction" ng-readonly="readonly"></sc-textarea>
        </td>
        <td class="ctrl-cell">
          <sc-date ng-model="disparity.closureDate" ng-readonly="readonly"></sc-date>
        </td>
        <td class="ctrl-cell">
          <sc-text ng-model="disparity.closureDocument" ng-readonly="readonly"></sc-text>
        </td>
        <td>
          <sc-button name="deleteDisparityBtn" type="button" btn-click="deleteDisparity(disparity)" class="btn btn-primary btn-xs" icon="glyphicon-remove" ng-disabled="readonly"></sc-button>
        </td>
      </tr>
      <tr ng-if="!model.disparities.length">
        <td colspan="8" l10n-text="common.disparityDirective.noAvailableDisparities"></td>
      </tr>
    </tbody>
  </table>
</ng-form>