<ng-form  class="form-inline" sc-validate="{}" sc-form-readonly>
  <sc-button btn-click="insertAuditDetails()"
    ng-disabled="(setPart === 'organization' && !model.auditPart) || form.$readonly"
    text="common.auditDetailDirective.insertAuditDetails" class="btn btn-default"></sc-button>
  <table class="table table-striped table-bordered ctrl-table" ng-if="model.auditDetails.length > 0" >
    <thead>
      <tr>
        <th style="width: 60px;" l10n-text="common.auditDetailDirective.code"></th>
        <th style="width: 310px;" l10n-text="common.auditDetailDirective.subject"></th>
        <th style="width: 310px;" l10n-text="common.auditDetailDirective.auditResult"></th>
        <th l10n-text="common.auditDetailDirective.disparity"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="detail in model.auditDetails">
        <td style="width: 10px;">
          {{detail.code}}
        </td>
        <td>
          {{detail.subject}}
        </td>
        <td class="ctrl-cell">
          <sc-nomenclature ng-model="detail.auditResult" alias="'auditResults'" name="auditResult" ng-required="true" ng-readonly="form.$readonly"></sc-nomenclature>
        </td>
        <td>
          <sc-button name="addDisparityBtn" type="button" btn-click="addDisparity(detail)" class="btn btn-primary btn-xs pull-right" icon="glyphicon-plus" 
              ng-show="detail.auditResult.code === '1' || detail.auditResult.code === '2'"
              ng-disabled="form.$readonly">
          </sc-button>
          <div class="nav-pills pull-left" ng-repeat="detail in detail.disparities">
              <a href="" scroll-to=".disparity{{detail}}">
                <span class="badge">{{detail}}</span>
              </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-form>