<ng-form name="newPersonForm" sc-validate="{}">
   <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.personNew.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="applications.personNew.saveAndSelect"
          class="btn btn-primary btn-sm" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.personNew.cancel"
          class="btn btn-default btn-sm" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">

      <h5 class="form-header" l10n-text="applications.personNew.personDataForm"></h5>
      <gva-person-data name="personDataForm" ng-model="newPerson.personData" sc-data-is-new="true"></gva-person-data>

    </div>
  </div>
</ng-form>
