<sc-button name="createBtn" btn-click="newCertMark()" text="aircrafts.markSearch.newMark" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="marks" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editCertMark(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.valid.name" title="aircrafts.markSearch.valid">
  </sc-column>
  <sc-column data="part.mark" title="aircrafts.markSearch.mark">
  </sc-column>
  <sc-column data="part.ltrInNumber" title="aircrafts.markSearch.ltrInNumber">
  </sc-column>
  <sc-column data="part.ltrInDate" title="aircrafts.markSearch.ltrInDate" type="date">
  </sc-column>
  <sc-column data="part.ltrCaaNumber" title="aircrafts.markSearch.ltrCaaNumber">
  </sc-column>
  <sc-column data="part.ltrCaaDate" title="aircrafts.markSearch.ltrCaaDate" type="date">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.markSearch.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.markSearch.pageCount" width="50px">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.markSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>