<sc-button name="createBtn" btn-click="newApplication()" text="aircrafts.aircraftDocApplicationSearch.newApplication" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aircraftDocumentApplications" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editApplication(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.applicationType.name" title="aircrafts.aircraftDocApplicationSearch.applicationType">
  </sc-column>
  <sc-column data="part.documentNumber" title="aircrafts.aircraftDocApplicationSearch.documentNumber">
  </sc-column>
   <sc-column data="part.requestDate" title="aircrafts.aircraftDocApplicationSearch.requestDate" type="date">
  </sc-column>
  <sc-column data="part.documentDate" title="aircrafts.aircraftDocApplicationSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.applicationPaymentType.name" title="aircrafts.aircraftDocApplicationSearch.applicationPaymentType">
  </sc-column>
  <sc-column data="part.taxAmount" title="aircrafts.aircraftDocApplicationSearch.taxAmount">
  </sc-column>
  <sc-column data="part.currency.name" title="aircrafts.aircraftDocApplicationSearch.currency">
  </sc-column>
  <sc-column data="part.notes" title="aircrafts.aircraftDocApplicationSearch.notes">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.aircraftDocApplicationSearch.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.aircraftDocApplicationSearch.pageCount" width="50px">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.aircraftDocApplicationSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
