<ng-form name="newDocumentApplicationForm" sc-validate="{}">

  <gva-aircraft-document-application name="aircraftDocumentApplicationForm" ng-model="aircraftDocumentApplication.part"></gva-aircraft-document-application>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editAircraftDocApplication.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="newDocumentApplicationForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editAircraftDocApplication.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
