<sc-button name="createBtn" btn-click="newAddress()" text="organizations.addressSearch.newAddress" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationAddresses" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editAddress(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteAddress(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.addressType.name" title="organizations.addressSearch.addressType">
  </sc-column>
  <sc-column data="part.settlement.name" title="organizations.addressSearch.settlement">
  </sc-column>
  <sc-column data="part.address" title="organizations.addressSearch.address">
  </sc-column>
  <sc-column data="part.addressAlt" title="organizations.addressSearch.addressAlt">
  </sc-column>
  <sc-column data="part.phone" title="organizations.addressSearch.phone">
  </sc-column>
  <sc-column data="part.fax" title="organizations.addressSearch.fax">
  </sc-column>
  <sc-column data="part.valid.name" title="organizations.addressSearch.valid">
  </sc-column>
  <sc-column data="part.postalCode" title="organizations.addressSearch.postalCode">
  </sc-column>
</sc-datatable>