<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.title"></strong></div>
    <accordion>
      <accordion-group style="margin-top: 5px;" class="col-md-12 col-sm-12">
        <accordion-heading>
          <a l10n-text="organizations.recommendationDirective.commonData.title" style="font-size: 12px;"></a>
        </accordion-heading>
          <div class="row">
            <div class="form-group col-sm-4 col-md-3">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.recommendationPart"></label>
              <sc-nomenclature ng-model="model.part.recommendationPart" alias="'auditParts'"></sc-nomenclature>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-5 col-md-3">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.form"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.formDate"></label>
              <sc-date ng-model="model.part.formDate"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.formText"></label>
              <sc-text ng-model="model.part.formText"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.interviewedStaff"></label>
              <sc-text ng-model="model.part.interviewedStaff"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.fromDate"></label>
              <sc-date ng-model="model.part.fromDate"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.toDate"></label>
              <sc-date ng-model="model.part.toDate"></sc-date>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.part1"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished1Date"></label>
              <sc-date ng-model="model.part.finished1Date"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
              <sc-text ng-model="model.part.town1"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.part2"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished2Date"></label>
              <sc-date ng-model="model.part.finished1Date"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
              <sc-text ng-model="model.part.town2"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.part3"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished3Date"></label>
              <sc-date ng-model="model.part.finished1Date"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
              <sc-text ng-model="model.part.town3"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.part4"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished4Date"></label>
              <sc-date ng-model="model.part.finished1Date"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
              <sc-text ng-model="model.part.town4"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.part5"></label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished5Date"></label>
              <sc-date ng-model="model.part.finished1Date"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
              <sc-text ng-model="model.part.town5"></sc-text>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.documentDescription"></label>
              <sc-text ng-model="model.part.documentDescription"></sc-text>
            </div>
          </div>
          <div class="row" style="margin-bottom:10px">
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.recommendation"></label>
              <sc-textarea rows="3" ng-model="model.part.recommendation"></sc-textarea>
            </div>
          </div>

          <gva-organization-scanned-document name="organizationScannedDocumentForm" ng-model="model.files"></gva-organization-scanned-document>

          <div class="panel panel-default" style="margin-top:10px">
            <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.commonData.auditorsTitle"></strong></div>
            <div class="well-sm panel-body">
              <gva-organization-recommendation-auditor ng-model="model.part.part1" name="examinersForm1"></gva-organization-recommendation-auditor>
            </div>
          </div>
      </accordion-group>
    <accordion>
    <accordion>
      <accordion-group style="margin-top: 5px;" class="col-md-12 col-sm-12">
        <accordion-heading>
          <a l10n-text="organizations.recommendationDirective.auditorsReview.title" style="font-size: 12px;"></a>
        </accordion-heading>
        <sc-button name="chooseAuditsBtn" type="button" btn-click="chooseAudits()" class="btn btn-primary btn-sm" icon="glyphicon-plus"
              text="organizations.recommendationDirective.auditorsReview.chooseAudits"></sc-button>
        <sc-datatable ng-model="model.part.auditorsReview.auditDetails" filterable="false" pageable="true" sortable="true" dynamic-columns="false">
          <sc-column data="auditPart.name" title="organizations.recommendationDirective.auditorsReview.auditPart">
          </sc-column>
          <sc-column data="subject.name" title="organizations.recommendationDirective.auditorsReview.subject">
          </sc-column>
          <sc-column data="auditResult.name" title="organizations.recommendationDirective.auditorsReview.auditResult">
          </sc-column>
          <sc-column title="organizations.recommendationDirective.auditorsReview.disparity">
            <span>{{item.disparities.join(',')}}</span>
          </sc-column>
        </sc-datatable>

        <div class="panel panel-default" style="margin-top:30px">
          <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.auditorsReview.auditorsTitle"></strong></div>
          <div class="well-sm panel-body">
            <gva-organization-recommendation-auditor ng-model="model.part.part2" name="examinersForm2"></gva-organization-recommendation-auditor>
          </div>
        </div>
      </accordion-group>
    <accordion>
    <accordion>
      <accordion-group style="margin-top: 5px;" class="col-md-12 col-sm-12">
        <accordion-heading>
          <a l10n-text="organizations.recommendationDirective.accordance.title" style="font-size: 12px;"></a>
        </accordion-heading>
        <div class="well-sm panel-body">
            <div class="panel panel-default">
                <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.accordance.AuditDetailTitle"></strong></div>
                  <div class="well-sm panel-body">
                    <sc-button btn-click="insertAuditDetails()" ng-if="!model.part.descriptionReview.auditDetails.length" 
                      text="organizations.recommendationDirective.accordance.insertAuditDetails" class="btn btn-default"></sc-button>
                    <table class="table table-striped table-bordered"  ng-if="model.part.descriptionReview.auditDetails.length > 0" >
                      <thead>
                        <tr>
                          <th l10n-text="organizations.recommendationDirective.accordance.auditPart"></th>
                          <th l10n-text="organizations.recommendationDirective.accordance.code"></th>
                          <th l10n-text="organizations.recommendationDirective.accordance.subject"></th>
                          <th>
                            <div sc-has-error="auditResult"  class="col-sm-2 col-md-2">
                              <label class="control-label" l10n-text="organizations.recommendationDirective.accordance.auditResult"></label>
                              <sc-validation-error field-name="auditResult" validations="{required: null}"></sc-validation-error>
                            </div>
                          </th>
                          <th l10n-text="organizations.recommendationDirective.accordance.disparity"></th>
                        </tr>
                      </thead>
                      <tbody ng-repeat="auditDetailGroup in model.part.descriptionReview.auditDetails">
                        <tr>
                          <td colspan="5" class="text-center" style="background: #A8A8A8; color: white">{{auditDetailGroup.groupTitle}}</td>
                        </tr>
                        <tr ng-repeat="detail in auditDetailGroup.group">
                          <td style="width: 10px;">
                            {{detail.auditPart}}
                          </td>
                          <td style="width: 10px;">
                            {{detail.code}}
                          </td>
                          <td class="col-sm-4 col-md-3">
                            {{detail.subject.name}}
                          </td>
                          <td class="col-sm-4 col-md-3">
                            <sc-nomenclature ng-model="detail.auditResult" name="auditResult" alias="'auditResults'" ng-required="true"></sc-nomenclature>
                          </td>
                          <td class="row">
                            <sc-button name="addDisparityBtn" type="button" btn-click="addDisparity(detail)" class="btn btn-primary btn-sm pull-right" icon="glyphicon-plus" 
                                ng-show="detail.auditResult.code === '3' || detail.auditResult.code === '4'">
                            </sc-button>
                            <div class="nav-pills pull-left" ng-repeat="detail in detail.disparities">
                                <a href="" scroll-to=".disparity{{detail}}">
                                  <span class="badge pull-right">{{detail}}</span>
                                </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
        <div class="panel panel-default" style="margin-top:10px">
          <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.accordance.auditorsTitle"></strong></div>
          <div class="well-sm panel-body">
            <gva-organization-recommendation-auditor ng-model="model.part.part3" name="examinersForm3"></gva-organization-recommendation-auditor>
          </div>
        </div>
      </accordion-group>
    <accordion>
    <accordion>
      <accordion-group style="margin-top: 5px;" class="col-md-12 col-sm-12">
        <accordion-heading>
          <a l10n-text="organizations.recommendationDirective.disparities.title" style="font-size: 12px;"></a>
        </accordion-heading>
        <div class="well-sm panel-body">
          <div class="panel panel-default ">
            <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.disparities.disparitiesRecommendationsTitle1"></strong></div>
              <sc-datatable ng-model="model.part.auditorsReview.disparities" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
              <sc-column data="auditPart.name" title="organizations.recommendationDirective.disparities.auditPart">
              </sc-column>
              <sc-column data="sortOrder" title="organizations.recommendationDirective.disparities.sortOrder">
              </sc-column>
              <sc-column data="subject.name" title="organizations.recommendationDirective.disparities.subject">
              </sc-column>
              <sc-column data="refNumber" title="organizations.recommendationDirective.disparities.refNumber">
              </sc-column>
              <sc-column data="description" title="organizations.recommendationDirective.disparities.description">
              </sc-column>
              <sc-column data="disparityLevel.name" title="organizations.recommendationDirective.disparities.disparityLevel">
              </sc-column>
              <sc-column data="removalDate" title="organizations.recommendationDirective.disparities.removalDate">
              </sc-column>
              <sc-column data="rectifyAction" title="organizations.recommendationDirective.disparities.rectifyAction">
              </sc-column>
              <sc-column data="closureDate" title="organizations.recommendationDirective.disparities.closureDate">
              </sc-column>
              <sc-column data="closureDocument" title="organizations.recommendationDirective.disparities.closureDocument">
              </sc-column>
              <sc-column sortable="false" class="buttons-cell" width="1px">
                <sc-button name="editBtn" btn-click="editDisparity(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
              </sc-column>
            </sc-datatable>
          </div>
        </div>

        <gva-common-disparity name="recomendationDisparitiesFromDescriptionForm" ng-model="model.part.descriptionReview"></gva-common-disparity>

        <div class="panel panel-default" style="margin-top:10px">
          <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.disparities.auditorsTitle"></strong></div>
          <div class="well-sm panel-body">
            <gva-organization-recommendation-auditor ng-model="model.part.part4" name="examinersForm4"></gva-organization-recommendation-auditor>
          </div>
        </div>
      </accordion-group>
    <accordion>
    <accordion>
      <accordion-group style="margin-top: 5px;" class="col-md-12 col-sm-12">
        <accordion-heading>
          <a l10n-text="organizations.recommendationDirective.recommendations.title" style="font-size: 12px;"></a>
        </accordion-heading>
        <div class="panel panel-default">
          <div class="panel-heading"><strong l10n-text="organizations.recommendationDirective.recommendations.auditorsTitle"></strong></div>
          <div class="well-sm panel-body">
            <gva-organization-recommendation-auditor ng-model="model.part.part5" name="examinersForm5"></gva-organization-recommendation-auditor>
          </div>
        </div>
      </accordion-group>
    <accordion>
  </div>
</ng-form>
