<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="organizations.organizationOtherDirective.title"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-6 col-md-3">
          <label class="control-label" l10n-text="organizations.organizationOtherDirective.documentNumber"></label>
          <sc-text ng-model="model.documentNumber" name="documentNumber"></sc-text>
        </div>
        <div class="form-group col-sm-6 col-md-3">
          <label class="control-label" l10n-text="organizations.organizationOtherDirective.documentPersonNumber"></label>
          <sc-text ng-model="model.documentPersonNumber" name="documentPersonNumber" name="documentPersonNumber"></sc-text>
        </div>
        <div class="form-group col-sm-2 col-md-2" sc-has-error="valid">
          <label class="control-label" l10n-text="organizations.organizationOtherDirective.valid"></label>
          <sc-validation-error field-name="valid" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" ng-required="true"></sc-nomenclature>
        </div>
      </div>
          <div class="row">
            <div class="form-group col-sm-3 col-md-2" sc-has-error="documentDateValidFrom">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.documentDateValidFrom"></label>
              <sc-validation-error field-name="documentDateValidFrom" validations="{required: null}"></sc-validation-error>
              <sc-date ng-model="model.documentDateValidFrom" name="documentDateValidFrom" ng-required="true"></sc-date>
            </div>
            <div class="form-group col-sm-3 col-md-2">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.documentDateValidTo"></label>
              <sc-date ng-model="model.documentDateValidTo" name="documentDateValidTo"></sc-date>
            </div>
            <div class="form-group col-sm-6 col-md-4" sc-has-error="documentPublisher">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.documentPublisher"></label>
              <div class="input-group input-group-sm">
                <sc-text ng-model="model.documentPublisher" name="documentPublisher" ng-required="true"></sc-text>
                <span class="input-group-btn">
                  <sc-button class="btn btn-default" btn-click="$parent.choosePublisher()" icon="glyphicon-search"></sc-button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 col-md-4" sc-has-error="organizationOtherDocumentType">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.organizationOtherDocumentType"></label>
              <sc-validation-error field-name="organizationOtherDocumentType" validations="{required: null}"></sc-validation-error>
              <sc-nomenclature ng-model="model.organizationOtherDocumentType" name="organizationOtherDocumentType" alias="'organizationOtherDocumentTypes'" ng-required="true"></sc-nomenclature>
            </div>
            <div class="form-group col-sm-6 col-md-4" sc-has-error="organizationOtherDocumentRole">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.organizationOtherDocumentRole"></label>
              <sc-validation-error field-name="organizationOtherDocumentRole" validations="{required: null}"></sc-validation-error>
              <sc-nomenclature ng-model="model.organizationOtherDocumentRole" name="organizationOtherDocumentRole" alias="'organizationOtherDocumentRoles'" ng-required="true"></sc-nomenclature>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-8">
              <label class="control-label" l10n-text="organizations.organizationOtherDirective.notes"></label>
              <sc-textarea rows="3" cols="50" ng-model="model.notes" name="notes"></sc-textarea>
            </div>
          </div>
      </div>
  </div>
</ng-form>
