<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-4 col-md-3" sc-has-error="auditPartRequirement">
      <label class="control-label" l10n-text="organizations.auditplanDirective.auditPartRequirement"></label>
      <sc-validation-error field-name="auditPartRequirement" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.auditPartRequirement" name="auditPartRequirement" alias="'auditPartRequirmants'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-2 col-md-2">
      <label class="control-label" l10n-text="organizations.auditplanDirective.planYear"></label>
      <sc-text ng-model="model.planYear" name="planYear" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-2 col-md-2">
      <label class="control-label" l10n-text="organizations.auditplanDirective.planMonth"></label>
      <sc-text ng-model="model.planMonth" name="planMonth" ng-readonly="readonly"></sc-text>
    </div>
  </div>

</ng-form>
