<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-4 col-md-3" sc-has-error="auditPartRequirement">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.auditPartRequirement"></label>
      <sc-validation-error field-name="auditPartRequirement" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.part.auditPartRequirement" name="auditPartRequirement" alias="'auditPartRequirements'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-2 col-md-2">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.planYear"></label>
      <sc-text ng-model="model.part.planYear" name="planYear" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-2 col-md-2">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.planMonth"></label>
      <sc-text ng-model="model.part.planMonth" name="planMonth" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3 col-md-2" sc-has-error="position">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.position"></label>
      <sc-validation-error field-name="position" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.part.position" name="position" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-3 col-md-2" sc-has-error="person">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.person"></label>
      <sc-validation-error field-name="person" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.part.person" name="person" alias="'persons'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-2 col-md-2" sc-has-error="valid">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.valid"></label>
      <sc-validation-error field-name="valid" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.part.valid" name="valid" alias="'boolean'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-4 col-md-3">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.testDate"></label>
      <sc-date ng-model="model.part.testDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.testScore"></label>
      <sc-nomenclature ng-model="model.part.testScore" alias="'boolean'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-9 col-md-7">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.applications"></label>
      <gva-applications ng-model="model.applications" state-name="root.organizations.view.documentApplications.edit" ng-readonly="readonly"></gva-applications>
    </div>
  </div>
</ng-form>
