<ng-form class="form-inline" sc-validate="{}">

  <div class="panel panel-default">
    <div class="panel-heading" ng-if="$parent.organizationRegAirportOperator"><strong l10n-text="organizations.organizationRegisterDirective.titleAirportOperator"></strong></div>
    <div class="panel-heading" ng-if="$parent.organizationRegGroundServiceOperator"><strong l10n-text="organizations.organizationRegisterDirective.titleGroundServiceOperator"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.certNumber"></label>
          <sc-int ng-model="model.certNumber"></sc-int>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-2">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.issueDate"></label>
          <sc-date ng-model="model.issueDate"></sc-date>
        </div>
        <div class="form-group col-sm-3 col-md-2">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.validToDate"></label>
          <sc-date ng-model="model.validToDate"></sc-date>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-2">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.organization"></label>
          <sc-nomenclature ng-model="model.organization" alias="'organizations'"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-3 col-md-2">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.airport"></label>
          <sc-nomenclature ng-model="model.airport" alias="'airports'"></sc-nomenclature>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6 col-md-4">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.address"></label>
          <sc-text ng-model="model.address"></sc-text>
        </div>
      </div>
      <div class="row" ng-if="$parent.organizationRegAirportOperator">
        <div class="form-group col-sm-5 col-md-4">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.activityTypes"></label>
          <sc-nomenclature ng-model="model.airportoperatorActivityTypes" alias="'airportoperatorActivityTypes'" multiple="multiple"></sc-nomenclature>
         </div>
      </div>
      <div class="row" ng-if="$parent.organizationRegGroundServiceOperator">
        <div class="form-group col-sm-5 col-md-4">
          <label class="control-label" l10n-text="organizations.organizationRegisterDirective.activityTypes"></label>
           <sc-nomenclature ng-model="model.groundServiceOperatorActivityTypes" alias="'groundServiceOperatorActivityTypes'" multiple="multiple"></sc-nomenclature>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong l10n-text="organizations.organizationRegisterDirective.revokeTitle"></strong></div>
      <div class="well-sm panel-body">
        <div class="row">
          <div class="form-group col-sm-3 col-md-2">
            <label class="control-label" l10n-text="organizations.organizationRegisterDirective.revokeDate"></label>
            <sc-date ng-model="model.revokeDate"></sc-date>
          </div>
          <div class="form-group col-sm-3 col-md-2">
            <label class="control-label" l10n-text="organizations.organizationRegisterDirective.revokeCause"></label>
            <sc-text ng-model="model.revokeCause"></sc-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-form>
