<ng-form class="form-inline" sc-validate="{}">

  <h5 class="form-header" style="margin-top:10px;" ng-init="commonData = false">
    <a l10n-text="organizations.recommendationDirective.commonData.title" ng-click="commonData = !commonData" style="cursor:pointer;"></a>
  </h5>
  <div ng-show="commonData">
    <div class="row">
      <div class="form-group col-sm-4 col-md-3">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.recommendationPart"></label>
        <sc-nomenclature ng-model="model.part.recommendationPart" alias="'auditParts'" ng-readonly="readonly"></sc-nomenclature>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.form"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.formDate"></label>
        <sc-date ng-model="model.part.formDate" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.formText"></label>
        <sc-text ng-model="model.part.formText" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-6 col-md-4">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.interviewedStaff"></label>
        <sc-text ng-model="model.part.interviewedStaff" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.fromDate"></label>
        <sc-date ng-model="model.part.fromDate" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.toDate"></label>
        <sc-date ng-model="model.part.toDate" ng-readonly="readonly"></sc-date>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.part1"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished1Date"></label>
        <sc-date ng-model="model.part.finished1Date" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
        <sc-text ng-model="model.part.town1" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.part2"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished2Date"></label>
        <sc-date ng-model="model.part.finished1Date" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
        <sc-text ng-model="model.part.town2" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.part3"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished3Date"></label>
        <sc-date ng-model="model.part.finished1Date" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
        <sc-text ng-model="model.part.town3" ng-readonly="readonly"></sc-text>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-4">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.documentDescription"></label>
        <sc-text ng-model="model.part.documentDescription" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.part4"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished4Date"></label>
        <sc-date ng-model="model.part.finished1Date" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
        <sc-text ng-model="model.part.town4" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.part5"></h5>
    <div class="row">
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.finished5Date"></label>
        <sc-date ng-model="model.part.finished1Date" ng-readonly="readonly"></sc-date>
      </div>
      <div class="form-group col-sm-3 col-md-2">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.town"></label>
        <sc-text ng-model="model.part.town5" ng-readonly="readonly"></sc-text>
      </div>
    </div>

    <div class="row" style="margin-bottom:10px">
      <div class="form-group col-sm-6 col-md-4">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.recommendation"></label>
        <sc-textarea rows="3" ng-model="model.part.recommendation" ng-readonly="readonly"></sc-textarea>
      </div>
    </div>

   <div class="row" style="margin-bottom:10px">
      <div class="form-group col-sm-6 col-md-4">
        <label class="control-label" l10n-text="organizations.recommendationDirective.commonData.applications"></label>
        <gva-applications ng-model="model.applications" state-name="root.organizations.view.documentApplications.edit" ng-readonly="readonly"></gva-applications>
      </div>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.commonData.auditorsTitle"></h5>
    <gva-organization-recommendation-auditor ng-model="model.part.part1" name="examinersForm1" readonly="readonly"></gva-organization-recommendation-auditor>
  </div>

  <h5 class="form-header" style="margin-top:10px;" ng-init="auditorsReview = false">
    <a l10n-text="organizations.recommendationDirective.auditorsReview.title" ng-click="auditorsReview = !auditorsReview" style="cursor:pointer;"></a>
  </h5>
  <div ng-show="auditorsReview">
    <sc-button name="chooseAuditsBtn" type="button" btn-click="chooseAudits()" class="btn btn-primary btn-sm" icon="glyphicon-plus"
              text="organizations.recommendationDirective.auditorsReview.chooseAudits" ng-disabled="readonly"></sc-button>
    <sc-datatable items="model.part.auditorsReview.auditDetails" filterable="false" pageable="true" sortable="true" dynamic-columns="false">
      <sc-column data="auditPart.name" title="organizations.recommendationDirective.auditorsReview.auditPart">
      </sc-column>
      <sc-column data="subject" title="organizations.recommendationDirective.auditorsReview.subject">
      </sc-column>
      <sc-column data="auditResult.name" title="organizations.recommendationDirective.auditorsReview.auditResult">
      </sc-column>
      <sc-column title="organizations.recommendationDirective.auditorsReview.disparity" has-content="true">
        <span>{{item.disparities.join(',')}}</span>
      </sc-column>
    </sc-datatable>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.auditorsReview.auditorsTitle" style="clear:both;"></h5>
    <gva-organization-recommendation-auditor ng-model="model.part.part2" name="examinersForm2" readonly="readonly"></gva-organization-recommendation-auditor>
  </div>

  <h5 class="form-header" style="margin-top:10px;" ng-init="accordance = false">
    <a l10n-text="organizations.recommendationDirective.accordance.title" ng-click="accordance = !accordance" style="cursor:pointer;"></a>
  </h5>
  <div ng-show="accordance">
    <h5 class="form-header" l10n-text="organizations.recommendationDirective.accordance.AuditDetailTitle"></h5>
    <sc-button btn-click="insertAuditDetails()" ng-disabled="!model.part.recommendationPart || readonly" ng-if="!model.part.descriptionReview.auditDetails.length && !insertionBtnIsClicked" 
               text="organizations.recommendationDirective.accordance.insertAuditDetails" class="btn btn-default"></sc-button>
    <table class="table table-striped table-bordered"  ng-if="model.part.descriptionReview.auditDetails.length > 0" >
      <thead>
        <tr>
          <th l10n-text="organizations.recommendationDirective.accordance.auditPart"></th>
          <th l10n-text="organizations.recommendationDirective.accordance.subject"></th>
          <th>
            <div sc-has-error="auditResult"  class="col-sm-2 col-md-2">
              <label class="control-label" l10n-text="organizations.recommendationDirective.accordance.auditResult"></label>
              <sc-validation-error field-name="auditResult" validations="{required: null}"></sc-validation-error>
            </div>
          </th>
          <th l10n-text="organizations.recommendationDirective.accordance.disparity"></th>
        </tr>
      </thead>
      <tbody ng-repeat="auditDetailGroup in model.part.descriptionReview.auditDetails">
        <tr>
          <td colspan="5" class="text-center" style="background: #A8A8A8; color: white">{{auditDetailGroup.groupTitle}}</td>
        </tr>
        <tr ng-repeat="detail in auditDetailGroup.group">
          <td >
            {{detail.auditPart}}
          </td>
          <td class="col-sm-4 col-md-3">
            {{detail.subject}}
          </td>
          <td class="col-sm-4 col-md-3">
            <sc-nomenclature ng-model="detail.auditResult" name="auditResult" alias="'auditResults'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
          </td>
          <td class="row">
            <sc-button name="addDisparityBtn" type="button" btn-click="addDisparity(detail)" class="btn btn-primary btn-sm pull-right" icon="glyphicon-plus" 
                ng-show="detail.auditResult.code === '1' || detail.auditResult.code === '2'" ng-disabled="readonly">
            </sc-button>
            <div class="nav-pills pull-left" ng-repeat="detail in detail.disparities">
                <a href="" scroll-to=".disparity{{detail}}">
                  <span class="badge pull-right">{{detail}}</span>
                </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="sort-disabled" ng-if="!model.part.descriptionReview.auditDetails.length && insertionBtnIsClicked">
      <span colspan="8" l10n-text="organizations.recommendationDirective.disparities.noAvailableDisparities"></span>
    </div>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.accordance.auditorsTitle"></h5>
    <gva-organization-recommendation-auditor ng-model="model.part.part3" name="examinersForm3" readonly="readonly"></gva-organization-recommendation-auditor>
  </div>

  <h5 class="form-header" style="margin-top:10px;" ng-init="disparities = false">
    <a l10n-text="organizations.recommendationDirective.disparities.title" ng-click="disparities = !disparities" style="cursor:pointer;"></a>
  </h5>
  <div ng-show="disparities">
    <h5 class="form-header" l10n-text="organizations.recommendationDirective.disparities.disparitiesRecommendationsTitle1"></h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th l10n-text="organizations.recommendationDirective.disparities.sortOrder"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.subject"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.refNumber"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.description"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.disparityLevel"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.removalDate"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.closureDate"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.rectifyAction"></th>
          <th l10n-text="organizations.recommendationDirective.disparities.closureDocument"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="disparity in model.part.auditorsReview.disparities">
          <td class="col-sm-1 col-md-1">
            {{disparity.sortOrder}}
          </td>
          <td class="col-sm-3 col-md-2">
            {{disparity.subject}}
          </td>
          <td>
            {{disparity.refNumber}}
          </td>
            <td>
            {{disparity.description}}
          </td>
            <td>
            {{disparity.disparityLevel.name}}
          </td>
            <td>
            {{disparity.removalDate | date:'mediumDate'}}
          </td>
            <td>
            {{disparity.closureDate | date:'mediumDate'}}
          </td>
          <td>
            {{disparity.rectifyAction}}
          </td>
          <td>
            {{disparity.closureDocument}}
          </td>
          <td class="row">
            <sc-button name="editBtn" btn-click="editDisparity(disparity)" class="btn btn-xs btn-primary" icon="glyphicon-pencil" ng-disabled="readonly"></sc-button>
          </td>
        </tr>
        <tr class="sort-disabled" ng-if="!model.part.auditorsReview.disparities.length">
          <td colspan="8" l10n-text="organizations.recommendationDirective.disparities.noAvailableDisparities"></td>
        </tr>
      </tbody>
    </table>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.disparities.disparitiesRecommendationsTitle2"></h5>
    <gva-common-disparity name="recomendationDisparitiesFromDescriptionForm" ng-model="model.part.descriptionReview" readonly="readonly"></gva-common-disparity>

    <h5 class="form-header" l10n-text="organizations.recommendationDirective.disparities.auditorsTitle"></h5>
    <gva-organization-recommendation-auditor ng-model="model.part.part4" name="examinersForm4" readonly="readonly"></gva-organization-recommendation-auditor>

  </div>

  <h5 class="form-header" style="margin-top:10px;" ng-init="recommendations = false">
    <a l10n-text="organizations.recommendationDirective.recommendations.title" ng-click="recommendations = !recommendations" style="cursor:pointer;"></a>
  </h5>
  <div ng-show="recommendations">
    <h5 class="form-header" l10n-text="organizations.recommendationDirective.recommendations.auditorsTitle"></h5>
    <gva-organization-recommendation-auditor ng-model="model.part.part5" name="examinersForm5" readonly="readonly"></gva-organization-recommendation-auditor>
  </div>
</ng-form>
