<i class="glyphicon glyphicon-folder-open tree-image-folder"
  ng-click="data.isExpanded = !data.isExpanded"
  ng-class="{'glyphicon-folder-open': data.isExpanded, 'glyphicon-folder-close': !data.isExpanded }"
  ng-show="data.children.length"></i>

<a ng-show="!data.item.pending && !data.children" ng-href="{{data.item.url}}" target="_blank">
  <span>{{data.name}}
  </span>
</a>
<span ng-show="data.item.pending">{{data.name}}
</span>
<span ng-show="data.children">{{data.name}}
</span>
<i class="glyphicon glyphicon-remove-circle tree-image-close"
  ng-show="data.canRemove" ng-click="remove(data)"></i>
<ul class="tree" ng-show="data.isExpanded">
  <li ng-repeat="data in data.children">
    <!-- move ng-include to a separate element because of https://github.com/angular/angular.js/issues/3584 -->
    <ng-include src="'scaffolding/templates/files/filesModalTree.html'"></ng-include>
  </li>
</ul>
