<ng-form name="certAirOperatorForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.editCertAirOperator.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.editCertAirOperator.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteCertAirOperator()" text="organizations.editCertAirOperator.deleteCertOp" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.editCertAirOperator.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editCertAirOperator.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-organization-certificate name="editCertAirOperatorForm" ng-model="certificate.part"></gva-organization-certificate>
    </div>
  </div>
</ng-form>
