<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.certAirOperators.new' }" text="organizations.certAirOperatorSearch.newCertAirOperator" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="certAirOperators" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.certAirOperators.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certNumber" title="organizations.certAirOperatorSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="organizations.certAirOperatorSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="organizations.certAirOperatorSearch.validToDate"  type="date">
  </sc-column>
  <sc-column data="part.specs" title="organizations.certAirOperatorSearch.specs">
  </sc-column>
</sc-datatable>
