<ng-form name="certAirOperatorForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.newCertAirOperator.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="organizations.newCertAirOperator.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.newCertAirOperator.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-organization-certificate name="newCertAirOperatorForm" ng-model="certificate.part"></gva-organization-certificate>
  </div>
</ng-form>
