<sc-button name="createBtn" btn-click="newCertAirOperator()" text="organizations.certAirOperatorSearch.newCertAirOperator" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="certAirOperators" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-click="editCertAirOperator(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certNumber" title="organizations.certAirOperatorSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="organizations.certAirOperatorSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="organizations.certAirOperatorSearch.validToDate"  type="date">
  </sc-column>
  <sc-column data="part.specs" title="organizations.certAirOperatorSearch.specs">
  </sc-column>
</sc-datatable>