<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.flyingExperiences.new' }" text="persons.flyingExperienceSearch.newFlyingExperience" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="flyingExperiences" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.persons.view.flyingExperiences.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentDate" title="persons.flyingExperienceSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.ratingTypes && part.ratingTypes.length > 0 ? (part.ratingTypes | pluck:'code' | join:', ') : (part.locationIndicator ? part.locationIndicator.code : '')  + ' ' + (part.sector ? part.sector : '')" title="persons.flyingExperienceSearch.ratingType" class="wrap">
  </sc-column>
  <sc-column data="part.ratingClass.code" title="persons.flyingExperienceSearch.ratingClass" class="wrap">
  </sc-column>
  <sc-column data="part.authorization.code" title="persons.flyingExperienceSearch.authorization" class="wrap">
  </sc-column>
  <sc-column data="part.licenceType.code" title="persons.flyingExperienceSearch.licenceType" class="wrap">
  </sc-column>
  <sc-column data="part.experienceRole.name" title="persons.flyingExperienceSearch.experienceRole">
  </sc-column>
  <sc-column data="part.experienceMeasure.name" title="persons.flyingExperienceSearch.experienceMeasure">
  </sc-column>
  <sc-column data="totalDocHours" title="persons.flyingExperienceSearch.totalDoc">
  </sc-column>
  <sc-column data="totalHours" title="persons.flyingExperienceSearch.total">
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.dayIFR" has-content="true" visible="false">
    <span ng-show="item.part.dayIFR.hours">{{item.part.dayIFR.hours + ':' + item.part.dayIFR.minutes}}</span>
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.dayVFR" has-content="true" visible="false">
    <span ng-show="item.part.dayVFR.hours">{{item.part.dayVFR.hours + ':' + item.part.dayVFR.minutes}}</span>
  </sc-column>
  <sc-column data="part.dayLandings" title="persons.flyingExperienceSearch.dayLandings" visible="false">
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.nightIFR" has-content="true" visible="false">
    <span ng-show="item.part.nightIFR.hours">{{item.part.nightIFR.hours + ':' + item.part.nightIFR.minutes}}</span>
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.nightVFR" has-content="true" visible="false">
    <span ng-show="item.part.nightVFR.hours">{{item.part.nightVFR.hours + ':' + item.part.nightVFR.minutes}}</span>
  </sc-column>
  <sc-column data="part.nightLandings" title="persons.flyingExperienceSearch.nightLandings" visible="false">
  </sc-column>
  <sc-column data="part.organization.name" title="persons.flyingExperienceSearch.organization" visible="false">
  </sc-column>
  <sc-column sortable="false" title="persons.flyingExperienceSearch.file" has-content="true">
    <a target="_blank" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}&mimeType={{item.case.file.mimeType}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
