<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.flyingExperiences.new' }" text="persons.flyingExperienceSearch.newFlyingExperience" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="flyingExperiences" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.persons.view.flyingExperiences.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentDate" title="persons.flyingExperienceSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.period.year" title="persons.flyingExperienceSearch.year">
  </sc-column>
  <sc-column data="part.period.month" title="persons.flyingExperienceSearch.month">
  </sc-column>
  <sc-column data="part.aircraft.name" title="persons.flyingExperienceSearch.aircraft">
  </sc-column>
  <sc-column data="part.ratingType.name || part.sector" title="persons.flyingExperienceSearch.ratingType">
  </sc-column>
  <sc-column data="part.ratingClass.name" title="persons.flyingExperienceSearch.ratingClass">
  </sc-column>
  <sc-column data="part.authorization.code" title="persons.flyingExperienceSearch.authorization">
  </sc-column>
  <sc-column data="part.licenceType.code" title="persons.flyingExperienceSearch.licenceType">
  </sc-column>
  <sc-column data="part.experienceRole.name" title="persons.flyingExperienceSearch.experienceRole">
  </sc-column>
  <sc-column data="part.experienceMeasure.name" title="persons.flyingExperienceSearch.experienceMeasure">
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.dayIFR" has-content="true">
    <span ng-show="item.part.dayIFR.hours">{{item.part.dayIFR.hours + ':' + item.part.dayIFR.minutes}}</span>
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.dayVFR" has-content="true">
    <span ng-show="item.part.dayVFR.hours">{{item.part.dayVFR.hours + ':' + item.part.dayVFR.minutes}}</span>
  </sc-column>
  <sc-column data="part.dayLandings" title="persons.flyingExperienceSearch.dayLandings">
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.nightIFR" has-content="true">
    <span ng-show="item.part.nightIFR.hours">{{item.part.nightIFR.hours + ':' + item.part.nightIFR.minutes}}</span>
  </sc-column>
  <sc-column title="persons.flyingExperienceSearch.nightVFR" has-content="true">
    <span ng-show="item.part.nightVFR.hours">{{item.part.nightVFR.hours + ':' + item.part.nightVFR.minutes}}</span>
  </sc-column>
  <sc-column data="part.nightLandings" title="persons.flyingExperienceSearch.nightLandings">
  </sc-column>
  <sc-column data="part.organization.name" title="persons.flyingExperienceSearch.organization">
  </sc-column>
</sc-datatable>
