<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.permits.new' }" text="aircrafts.permitSearch.newPermit" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="permits" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.permits.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.issueDate" title="aircrafts.permitSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.issuePlace" title="aircrafts.permitSearch.issuePlace">
  </sc-column>
  <sc-column data="part.validToDate" title="aircrafts.permitSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="part.pointFrom" title="aircrafts.permitSearch.pointFrom">
  </sc-column>
  <sc-column data="part.pointTo" title="aircrafts.permitSearch.pointTo">
  </sc-column>
  <sc-column data="part.planStops" title="aircrafts.permitSearch.planStops">
  </sc-column>
  <sc-column data="part.crew" title="aircrafts.permitSearch.crew">
  </sc-column>
</sc-datatable>