<ng-form name="editDocumentMedicalForm">

  <gva-person-document-medical name="personDocumentMedicalForm" ng-model="personDocumentMedical.part"></gva-person-document-medical>

  <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentMedical.file"></gva-person-scanned-document>

  <gva-person-application name="personApplicationForm" ng-model="personDocumentMedical.applications"></gva-person-application>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="persons.editMedical.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="!personDocumentMedicalForm.$dirty"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="persons.editMedical.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>