<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.equipmentType" alias="'equipmentTypes'" ng-required="true" l10n-text="equipments.equipmentDataDirective.equipmentType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.name" ng-required="true" l10n-text="equipments.equipmentDataDirective.name" class="col-md-4 col-sm-6"></sc-field>
    <sc-field type="nomenclature" ng-model="model.equipmentProducer" alias="'equipmentProducers'" ng-required="true" l10n-text="equipments.equipmentDataDirective.equipmentProducer" class="col-md-4 col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.manPlace" ng-required="true" l10n-text="equipments.equipmentDataDirective.manPlace" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="date" ng-model="model.manDate" ng-required="true" l10n-text="equipments.equipmentDataDirective.manDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.place" l10n-text="equipments.equipmentDataDirective.manPlace" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="date" ng-model="model.operationalDate" l10n-text="equipments.equipmentDataDirective.manDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.note" l10n-text="equipments.equipmentDataDirective.note" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <accordion>
    <accordion-group style="margin-top: 5px;">
      <accordion-heading>
        <a l10n-text="equipments.equipmentDataDirective.otherData" style="font-size: 12px;"></a>
      </accordion-heading>
      <div class="row">
        <sc-field type="text" ng-model="model.ext.coordinates" l10n-text="equipments.equipmentDataDirective.coordinates" class="col-md-2 col-sm-4"></sc-field>
        <sc-field type="text" ng-model="model.ext.elevation" l10n-text="equipments.equipmentDataDirective.elevation" class="col-md-2 col-sm-4"></sc-field>
        <sc-field type="text" ng-model="model.ext.call" l10n-text="equipments.equipmentDataDirective.call" class="col-md-2 col-sm-4"></sc-field>
        <sc-field type="text" ng-model="model.ext.frequencies" l10n-text="equipments.equipmentDataDirective.frequencies" class="col-md-2 col-sm-4"></sc-field>
      </div>
      <div class="row">
        <sc-field type="text" ng-model="model.ext.behavior" l10n-text="equipments.equipmentDataDirective.behavior" class="col-md-2 col-sm-4"></sc-field>
        <sc-field type="text" ng-model="model.ext.power" l10n-text="equipments.equipmentDataDirective.power" class="col-md-2 col-sm-4"></sc-field>
        <sc-field type="text" ng-model="model.ext.range" l10n-text="equipments.equipmentDataDirective.range" class="col-md-2 col-sm-4"></sc-field>
      </div>
    </accordion-group>
  </accordion>
</ng-form>