<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.equipmentRelation" alias="'equipmentRelations'" ng-required="true" l10n-text="equipments.equipmentOwnerDirective.equipmentRelation" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.person" alias="'persons'" ng-disabled="model.organization" l10n-text="equipments.equipmentOwnerDirective.person" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" ng-disabled="model.person" l10n-text="equipments.equipmentOwnerDirective.organization" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" ng-required="true" l10n-text="equipments.equipmentOwnerDirective.documentNumber" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.documentDate" ng-required="true" l10n-text="equipments.equipmentOwnerDirective.documentDate" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.fromDate" ng-required="true" l10n-text="equipments.equipmentOwnerDirective.fromDate" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.toDate" l10n-text="equipments.equipmentOwnerDirective.toDate" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" cols="50" ng-model="model.reasonTerminate" l10n-text="equipments.equipmentOwnerDirective.reasonTerminate" class="col-sm-12 col-md-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" cols="50" ng-model="model.notes" l10n-text="equipments.equipmentOwnerDirective.notes" class="col-sm-12 col-md-8"></sc-field>
  </div>
</ng-form>