<sc-datatable items="sModeCodes" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.sModeCodes.edit', params: {id: item.sModeCodeLotId} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="codeHex" title="aircrafts.smodSearch.codeHex">
  </sc-column>
  <sc-column data="theirNumber" title="aircrafts.smodSearch.theirNumber">
  </sc-column>
  <sc-column data="theirDate" title="aircrafts.smodSearch.theirDate" type="date">
  </sc-column>
  <sc-column data="caaNumber" title="aircrafts.smodSearch.caaNumber">
  </sc-column>
  <sc-column data="caaDate" title="aircrafts.smodSearch.caaDate" type="date">
  </sc-column>
  <sc-column data="codeDecimal" title="aircrafts.smodSearch.codeDecimal">
  </sc-column>
  <sc-column data="codeBinary" title="aircrafts.smodSearch.codeHex">
  </sc-column>
</sc-datatable>
