<div class="container page-content">
  <form name="userForm" novalidate class="form-horizontal well" role="form">
    <div class="form-group" ng-class="{'has-error': saveClicked && (userExists || userForm.username.$invalid)}">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.username"></label>
      <div class="col-sm-4">
        <sc-text name="username"
          required ng-pattern="/^[а-яА-Яa-zA-Z0-9_\.]{5,}$/"
          ng-model="user.username" ng-disabled="isEdit">
        </sc-text>
        <span id="usernameInvalid" class="help-block" ng-show="saveClicked && userForm.username.$invalid" l10n-text="common.users.edit.usernameInvalid"></span>
        <span id="usernameExists" class="help-block" ng-show="userExists" l10n-text="common.users.edit.usernameExists"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.name"></label>
      <div class="col-sm-4">
        <sc-text ng-model="user.fullname"></sc-text>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.comment"></label>
      <div class="col-sm-4">
        <sc-textarea rows="3" class="form-control" ng-model="user.notes"></sc-textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.entrance"></label>
      <div class="col-sm-4">
        <div class="checkbox">
          <input type="checkbox" ng-model="setPassword">
          <span l10n-text="common.users.edit.withPassAndUsername"></span>
        </div>
        <div class="checkbox">
          <input type="checkbox" ng-model="setCertificate">
          <span l10n-text="common.users.edit.withCertificate"></span>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': saveClicked && userForm.password.$invalid}"
      ng-show="setPassword">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.password"></label>
      <div class="col-sm-4">
        <input type="password" name="password" class="input-sm form-control" ng-required="setPassword && !isEdit" ng-minlength="8" ng-model="password" />
        <span id="passInvalid" class="help-block" ng-show="saveClicked && userForm.password.$invalid" l10n-text="common.users.edit.passMustBeMin8symbols"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': saveClicked && (password !== confirmPassword)}"
      ng-show="setPassword">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.repeatPass"></label>
      <div class="col-sm-4">
        <input type="password" name="confirmPassword" class="input-sm form-control" ng-model="confirmPassword">
        <span id="confirmPassInvalid" class="help-block" ng-show="saveClicked && (password !== confirmPassword)" l10n-text="common.users.edit.doNotMatch"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': saveClicked && userForm.certificate.$invalid}"
      ng-show="setCertificate">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.certificate"></label>
      <div class="col-sm-4">
        <sc-text name="certificate" ng-required="setCertificate" ng-model="certificate"></sc-text>
        <span id="certificateInvalid" class="help-block" ng-show="saveClicked && userForm.certificate.$invalid" l10n-text="common.users.edit.inputCertificate"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.roles"></label>
      <div class="col-sm-4">
        <div class="checkbox" ng-repeat="role in roles">
          <input type="checkbox" ng-model="role.selected">
          <span>{{role.name}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" l10n-text="common.users.edit.active"></label>
      <div class="col-sm-4">
        <div class="checkbox">
          <input type="checkbox" ng-model="user.isActive">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-4">
        <button id="saveBtn" type="button" class="btn btn-primary" ng-click="save()" l10n-text="common.users.edit.save"></button>
        <button id="cancelBtn" type="button" class="btn btn-default" ng-click="cancel()" l10n-text="common.users.edit.cancel"></button>
      </div>
    </div>
  </form>
</div>
