<sc-button name="createBtn" btn-click="newDocumentOther()" text="airports.otherSearch.newOther" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="documentOthers" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editDocumentOther(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteDocumentOther(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="airports.otherSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="airports.otherSearch.documentDateValidFrom" type="date">
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="airports.otherSearch.documentDateValidTo" type="date">
  </sc-column>
  <sc-column data="part.documentPublisher" title="airports.otherSearch.documentPublisher">
  </sc-column>
  <sc-column data="part.otherDocumentType.name" title="airports.otherSearch.otherDocumentType">
  </sc-column>
  <sc-column data="part.airportOtherDocumentRole.name" title="airports.otherSearch.airportOtherDocumentRole">
  </sc-column>
  <sc-column data="part.bookPageNumber" title="airports.otherSearch.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="part.pageCount" title="airports.otherSearch.pageCount" width="50px">
  </sc-column>
  <sc-column data="part.notes" title="airports.otherSearch.notes" visible="false">
  </sc-column>
</sc-datatable>
