<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.documentTrainings.new' }" text="persons.documentTrainingSearch.newDocumentTraining" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentTrainings" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDateValidFrom">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" class="btn btn-xs btn-primary" btn-sref="{ state: 'root.persons.view.documentTrainings.edit', params: {ind: item.partIndex} }" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.documentTrainingSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="persons.documentTrainingSearch.documentDateValidFrom" type="date">
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="persons.documentTrainingSearch.documentDateValidTo" type="date">
  </sc-column>
  <sc-column data="part.documentPublisher" title="persons.documentTrainingSearch.documentPublisher">
  </sc-column>
  <sc-column data="part.ratingType.name || part.sector" title="persons.documentTrainingSearch.ratingType">
  </sc-column>
  <sc-column data="part.ratingClass.name" title="persons.documentTrainingSearch.ratingClass">
  </sc-column>
  <sc-column data="part.authorization.name" title="persons.documentTrainingSearch.authorization">
  </sc-column>
  <sc-column data="part.licenceType.name" title="persons.documentTrainingSearch.licenceType">
  </sc-column>
  <sc-column data="part.documentType.name" title="persons.documentTrainingSearch.personOtherDocumentType">
  </sc-column>
  <sc-column data="part.documentRole.name" title="persons.documentTrainingSearch.personOtherDocumentRole">
  </sc-column>
  <sc-column data="part.valid" title="persons.documentTrainingSearch.valid" has-content="true">
    <span>{{item.part.valid.name}}</span>
  </sc-column>
  <sc-column data="case.bookPageNumber" title="persons.documentTrainingSearch.bookPageNumber">
  </sc-column>
  <sc-column data="case.pageCount" title="persons.documentTrainingSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.documentTrainingSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
