<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.regAirportOperators.new' }" text="organizations.regAirportOperatorSearch.newRegAirportOperator" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationRegAirportOperators" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.regAirportOperators.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certNumber" title="organizations.regAirportOperatorSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="organizations.regAirportOperatorSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="organizations.regAirportOperatorSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="part.organization.name" title="organizations.regAirportOperatorSearch.organization">
  </sc-column>
  <sc-column data="part.address" title="organizations.regAirportOperatorSearch.address">
  </sc-column>
  <sc-column data="part.revokeDate" title="organizations.regAirportOperatorSearch.revokeDate" type="date">
  </sc-column>
  <sc-column data="part.revokeCause" title="organizations.regAirportOperatorSearch.revokeCause">
  </sc-column>
</sc-datatable>