<div class="row">
  <div class="form-group col-sm-12">
    <div class="table-buttons" ng-if="isLast">
      <sc-button btn-click="addRating()" text="persons.licenceEditionDirective.addRating" class="btn btn-xs btn-primary" ng-if="!changeOrderMode" icon="glyphicon-plus"></sc-button>
      <sc-button btn-click="addExistingRating()" text="persons.licenceEditionDirective.addExistingRating" class="btn btn-xs btn-primary" ng-if="!changeOrderMode" icon="glyphicon-plus"></sc-button>
      <sc-button btn-click="changeOrder()" text="persons.licenceEditionDirective.changeOrder" class="btn btn-xs btn-primary" ng-if="!changeOrderMode && currentLicenceEdition.part.includedRatings.length" icon="glyphicon-pencil"></sc-button>
      <sc-button btn-click="saveOrder()" text="persons.licenceEditionDirective.saveOrder" icon="glyphicon-floppy-disk" class="btn btn-xs btn-primary" ng-if="changeOrderMode"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancelChangeOrder()" text="persons.licenceEditionDirective.cancel" ng-if="changeOrderMode" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-md-1 col-sm-2" ng-if="currentLicenceEdition.part.includedRatings.length && changeOrderMode"></th>
          <th width="1px" ng-if="currentLicenceEdition.part.includedRatings.length && !changeOrderMode && isLast"></th>
          <th l10n-text="persons.licenceEditionDirective.ratingsTable.ratingType"></th>
          <th l10n-text="persons.licenceEditionDirective.ratingsTable.ratingClass"></th>
          <th l10n-html="persons.licenceEditionDirective.ratingsTable.authorization"></th>
          <th l10n-text="persons.licenceEditionDirective.ratingsTable.dateValidFrom"></th>
          <th l10n-text="persons.licenceEditionDirective.ratingsTable.dateValidTo"></th>
        </tr>
      </thead>
      <tbody ng-model="currentLicenceEdition.part.includedRatings">
        <tr class="sort-disabled" ng-if="!currentLicenceEdition.part.includedRatings.length">
          <td colspan="5" class="text-center" l10n-text="persons.licenceEditionDirective.noRatings"></td>
        </tr>
        <tr ng-repeat="rating in includedRatings">
          <td ng-if="changeOrderMode">
            <sc-int ng-model="rating.orderNum" class="col-md-1 col-sm-2" ng-readonly="!changeOrderMode"></sc-int>
          </td>
          <td ng-if="currentLicenceEdition.part.includedRatings.length && !changeOrderMode && isLast">
            <sc-button name="deleteRatingBtn" class="btn btn-xs btn-danger" btn-click="removeRating(rating)" icon="glyphicon-remove"></sc-button>
          </td>
          <td>{{rating.personRatingLevel.name || rating.ratingType.name}}</td>
          <td>{{rating.aircraftTypeGroup.name || ((rating.ratingClass.name || '') + ( rating.ratingSubClasses ? ' (' + rating.ratingSubClasses + ')' : ''))}}</td>
          <td>{{((rating.authorization && rating.authorization.code) || '') + ' ' + (rating.limitations ? rating.limitations : '')}}</td>
          <td><span>{{rating.docDateValidFrom | date:'mediumDate'}}</span>
          </td>
          <td><span>{{rating.docDateValidTo | date:'mediumDate'}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>