<h5 class="table-header" l10n-text="persons.editLicenceEditions.editions"></h5>
<div style="padding-bottom:20px;">
  <sc-datatable items="licenceEditions" filterable="false" pageable="false" sortable="true" dynamic-columns="true" has-info-text="false"
    default-sort="part.documentDateValidFrom">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="editEditionBtn" icon="fa-circle-o" icon-disabled="fa-check-circle-o"
        btn-sref="{ state: 'root.persons.view.licences.view.editions.edit.ratings', params: { index: item.partIndex} }"
        ng-disabled="item.partIndex === currentLicenceEdition.partIndex"></sc-button>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="deleteBtn" btn-click="deleteCurrentEdition()" class="btn btn-danger btn-xs" icon="glyphicon-remove"  ng-disabled="item.partIndex !== lastEditionIndex">
      </sc-button>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="editBtn" btn-click="viewEditionDoc(item.partIndex)" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-disabled="item.partIndex !== currentLicenceEdition.partIndex">
      </sc-button>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <a ng-click="print(item)">
        <span class="glyphicon glyphicon-print"></span>
      </a>
    </sc-column>
    <sc-column data="part.documentDateValidFrom" title="persons.editLicenceEditions.documentDateValidFrom" has-content="true">
      {{item.part.documentDateValidFrom | date:'mediumDate'}}
    </sc-column>
    <sc-column data="part.documentDateValidTo" title="persons.editLicenceEditions.documentDateValidTo" has-content="true">
      {{item.part.documentDateValidTo | date:'mediumDate'}}
    </sc-column>
    <sc-column title="persons.editLicenceEditions.limitations" has-content="true">
      {{item.part.limitations | pluck:'code' | join:', '}}
    </sc-column>
    <sc-column data="part.notes" title="persons.editLicenceEditions.notes" has-content="true" visible="false">
      {{item.part.notes}}
    </sc-column>
    <sc-column data="part.notesAlt" title="persons.editLicenceEditions.notesAlt" has-content="true" visible="false">
      {{item.part.notesAlt}}
    </sc-column>
    <sc-column data="part.inspector" title="persons.editLicenceEditions.inspector">
    </sc-column>
    <sc-column data="part.stampNumber" title="persons.editLicenceEditions.stampNumber">
    </sc-column>
    <sc-column data="part.licenceAction.code" title="persons.editLicenceEditions.licenceAction">
    </sc-column>
    <sc-column data="cases[0].applications[0]" title="persons.editLicenceEditions.application" has-content="true">
       <a ng-click="viewApplication(item.cases[0].applications[0].applicationId, lotId, item.cases[0].applications[0].partIndex)">
        {{ !!item.cases[0].applications[0].oldDocumentNumber ? (item.cases[0].applications[0].application.applicationCode + ' ' + item.cases[0].applications[0].oldDocumentNumber + '/' + (item.cases[0].applications[0].documentDate | date: 'mediumDate')) : (item.cases[0].applications[0].applicationCode + ' ' + item.cases[0].applications[0].documentNumber) }}
      </a>
    </sc-column>
    <sc-column data="case.bookPageNumber" title="persons.editLicenceEditions.bookPageNumber" has-content="true">
      {{item.case.bookPageNumber}}
    </sc-column>
    <sc-column data="case.pageCount" title="persons.editLicenceEditions.pageCount" has-content="true">
      {{item.case.pageCount}}
    </sc-column>
  </sc-datatable>
  <div style="clear: both"></div>
</div>

<ng-form name="editLicenceEditionForm">
    <div class="well-sm panel-body">
      <gva-licence-edition name="licenceEditionForm" ng-model="currentLicenceEdition"
        sc-form-params="{
          isNew: false,
          lotId: lotId,
          caseTypeId: caseTypeId,
          appId: appId,
          partIndex: licence.partIndex
        }"
        sc-data-edit-mode="editMode"
        sc-data-is-fcl="licence.part.isFcl"
        sc-data-licence-type="licence.part.licenceType">
      </gva-licence-edition>
    </div>
</ng-form>

<sc-tabs tab-list="{
  'persons.licenceView.tabs.ratings': {
    state: 'root.persons.view.licences.view.editions.edit.ratings',
    stateParams: {
      appId: appId
    }
  },
  'persons.licenceView.tabs.exams': {
    state: 'root.persons.view.licences.view.editions.edit.exams',
    stateParams: {
      appId: appId
    }
  },
  'persons.licenceView.tabs.langCerts': {
    state: 'root.persons.view.licences.view.editions.edit.langCerts',
    stateParams: {
      appId: appId
    }
  },
  'persons.licenceView.tabs.trainings': {
    state: 'root.persons.view.licences.view.editions.edit.trainings',
    stateParams: {
      appId: appId
    }
  },'persons.licenceView.tabs.checks': {
    state: 'root.persons.view.licences.view.editions.edit.checks',
    stateParams: {
      appId: appId
    }
  },
  'persons.licenceView.tabs.medicals': {
    state: 'root.persons.view.licences.view.editions.edit.medicals',
    stateParams: {
      appId: appId
    }
  },
  'persons.licenceView.tabs.licences': {
    state: 'root.persons.view.licences.view.editions.edit.licences',
    stateParams: {
      appId: appId
    }
  }
}"></sc-tabs>

<div class="tab-content">
  <div ui-view></div>
  <div class="clear"></div>
</div>