<sc-button name="createBtn" btn-click="newMaintenance()" text="aircrafts.searchMaintenance.newMaintenance" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aircraftMaintenances" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editMaintenance(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteMaintenance(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.lim145limitation.name" title="aircrafts.searchMaintenance.lim145limitation">
  </sc-column>
  <sc-column data="part.notes" title="aircrafts.searchMaintenance.notes">
  </sc-column>
  <sc-column data="part.fromDate" title="aircrafts.searchMaintenance.fromDate" type="date">
  </sc-column>
  <sc-column data="part.toDate" title="aircrafts.searchMaintenance.toDate" type="date">
  </sc-column>
   <sc-column data="part.organization.name" title="aircrafts.searchMaintenance.organization">
  </sc-column>
   <sc-column data="part.person.name" title="aircrafts.searchMaintenance.person">
  </sc-column>
</sc-datatable>