<ng-form name="editCertNoiseForm" sc-validate="{}">

  <gva-aircraft-cert-noise name="aircraftCertNoiseForm" ng-model="noise.part"></gva-aircraft-cert-noise>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editNoise.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editCertNoiseForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editNoise.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
