<ng-form name="editCertNoiseForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editNoise.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.editNoise.edit"
          class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteNoise()" text="aircrafts.editNoise.deleteNoise"
          class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode" >
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editNoise.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editNoise.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-noise name="aircraftCertNoiseForm" ng-model="noise.part" readonly="!editMode"></gva-aircraft-cert-noise>
    </div>
  </div>
</ng-form>
