<ng-form name="form.wordTemplatedataGeneratorForm" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="common.wordTemplateDataGenerator.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="common.wordTemplateDataGenerator.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="common.wordTemplateDataGenerator.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="text" ng-model="template.name" ng-required="true" ng-readonly="true" l10n-text="common.wordTemplateDataGenerator.templateName" class="col-sm-4"></sc-field>
      </div>
      <div class="row">
        <div class="form-group col-sm-7" sc-has-error="dataGenerator">
          <label class="control-label" l10n-text="common.wordTemplateDataGenerator.dataGenerator"></label>
          <sc-validation-error field-name="dataGenerator" validations="{required: 'default'}"></sc-validation-error>
          <select ui-select2 ng-model="dataGenerator.code" name="dataGenerator" class="input-sm form-control" ng-required="true">
            <option ng-repeat="generator in dataGenerators" value="{{generator.code}}">{{generator.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</ng-form>
