<ng-form name="editDocumentApplicationForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="equipments.editEquipmentDocApplication.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="equipments.editEquipmentDocApplication.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteApplication()" text="equipments.editEquipmentDocApplication.deleteApplication" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="equipments.editEquipmentDocApplication.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="equipments.editEquipmentDocApplication.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-document-application name="equipmentDocumentApplicationForm" ng-model="equipmentDocumentApplication" 
        sc-form-params="{ lotId: lotId, setPart: 'equipment' }"></gva-common-document-application>

      <gva-common-scanned-document name="equipmentScannedDocumentForm" ng-model="equipmentDocumentApplication.case"
        sc-form-params="{ setPart: 'equipment', lotId: lotId, hideApplications: true }"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
