<ng-form name="newDocumentApplicationForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="equipments.newEquipmentDocApplication.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="equipments.newEquipmentDocApplication.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="equipments.newEquipmentDocApplication.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-document-application name="equipmentDocumentApplicationForm" ng-model="equipmentDocumentApplication.part" sc-form-params="{ lotId: lotId }"></gva-common-document-application>

      <gva-common-scanned-document name="equipmentScannedDocumentForm" ng-model="equipmentDocumentApplication.files"
        sc-form-params="{ setPart: 'equipment', lotId: lotId, hideApplications: true }"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
