<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <sc-search selected-filters="filters" btn-classes="col-sm-3 col-md-3" default-action="search()">
    <sc-filter type="int" name="licenceNumber" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.licenceNumberSearch"></sc-filter>
    <sc-filter type="int" name="lin" class="col-sm-1" removable="false" label="persons.stampedDocumentsView.lin"></sc-filter>
    <sc-filter type="text" name="uin" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.uin"></sc-filter>
    <sc-filter type="text" name="names" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.names"></sc-filter>
    <sc-filter type="text" name="stampNumber" class="col-sm-2" removable="true" label="persons.stampedDocumentsView.stampNumber"></sc-filter>
    <sc-filter type="nomenclature" alias="boolean" name="isOfficiallyReissuedId" mode="id" class="col-sm-2" removable="true" label="persons.stampedDocumentsView.officiallyReissued"></sc-filter>
    <sc-search-button action="search()" text="persons.stampedDocumentsView.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
  </sc-search>

  <sc-button name="saveBtn" btn-click="save()" text="persons.stampedDocumentsView.save" class="btn btn-xs btn-primary"></sc-button>
  <sc-ajaxdatatable items="docs" items-count="documentsCount" fetch-fn="getDocuments" set-prop="documents" count-prop="documentsCount"
     filterable="false" dynamic-columns="false">
    <sc-ajaxcolumn sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewBtn" btn-sref="{ state: 'root.persons.view.licences.view.editions.edit.ratings', params: {id: item.lotId, ind: item.partIndex, index: item.editionPartIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="licenceNumber" title="persons.stampedDocumentsView.licenceNumber">
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="person.lin" title="persons.stampedDocumentsView.lin" has-content="true">
      <sc-button name="viewButton" btn-sref="{state: 'root.persons.view.edit', params: { id: item.lotId }}" text="{{item.person.lin}}"></sc-button>
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="person.uin" title="persons.stampedDocumentsView.uin" has-content="true">
      {{item.person.uin}}
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="person.names" title="persons.stampedDocumentsView.names" has-content="true" class="wrap">
      {{item.person.names}}
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="dateValidFrom" title="persons.stampedDocumentsView.documentDateValidFrom" type="date">
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="dateValidTo" title="persons.stampedDocumentsView.documentDateValidTo" type="date">
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="stampNumber" title="persons.stampedDocumentsView.stampNumber" has-content="true">
      {{item.hasNoNumber ? noNumberLabel : item.stampNumber.replace('$$', ', ')}}
    </sc-ajaxcolumn>
    <sc-ajaxcolumn title="persons.stampedDocumentsView.application" has-content="true">
      <sc-button btn-sref="{state: 'root.applications.edit.case', params: { id: item.application.applicationId }}" text="{{ item.application.applicationName }}"></sc-button>
    </sc-ajaxcolumn>
    <sc-ajaxcolumn data="licenceAction.code" title="persons.stampedDocumentsView.licenceAction">
    </sc-ajaxcolumn>
    <sc-ajaxcolumn title="persons.stampedDocumentsView.ready" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="isChecked(item, 'licenceReady') || item.isReady" ng-disabled="item.isReady" sc-click="selectCheck($event, item, 'licenceReady')">
    </sc-ajaxcolumn>
    <sc-ajaxcolumn title="persons.stampedDocumentsView.received" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="isChecked(item, 'returned') || item.isReceived" ng-disabled="item.isReceived || !item.isReady" sc-click="selectCheck($event, item, 'returned')" >
    </sc-ajaxcolumn>
    <sc-ajaxcolumn title="persons.stampedDocumentsView.finished" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="isChecked(item, 'done') || item.isDone" sc-click="selectCheck($event, item, 'done')" ng-if="!item.isOfficiallyReissued">
    </sc-ajaxcolumn>
  </sc-ajaxdatatable>
</ng-form>