<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <sc-search selected-filters="filters" btn-classes="col-sm-3 col-md-3" default-action="search()">
    <sc-filter type="int" name="licenceNumber" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.licenceNumberSearch"></sc-filter>
    <sc-filter type="int" name="lin" class="col-sm-1" removable="false" label="persons.stampedDocumentsView.lin"></sc-filter>
    <sc-filter type="text" name="uin" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.uin"></sc-filter>
    <sc-filter type="text" name="names" class="col-sm-2" removable="false" label="persons.stampedDocumentsView.names"></sc-filter>
    <sc-filter type="text" name="stampNumber" class="col-sm-2" removable="true" label="persons.stampedDocumentsView.stampNumber"></sc-filter>
    <sc-search-button action="search()" text="persons.stampedDocumentsView.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
  </sc-search>

  <sc-button name="saveBtn" btn-click="save()" text="persons.stampedDocumentsView.save" class="btn btn-xs btn-primary"></sc-button>
  <sc-datatable items="documents" filterable="false" dynamic-columns="false">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewBtn" btn-sref="{ state: 'root.persons.view.licences.view.editions.edit.ratings', params: {id: item.lotId, ind: item.partIndex, index: item.editionPartIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column data="licenceNumber" title="persons.stampedDocumentsView.licenceNumber">
    </sc-column>
    <sc-column data="person.lin" title="persons.stampedDocumentsView.lin" has-content="true">
      {{item.person.lin}}
    </sc-column>
    <sc-column data="person.uin" title="persons.stampedDocumentsView.uin" has-content="true">
      {{item.person.uin}}
    </sc-column>
    <sc-column data="person.names" title="persons.stampedDocumentsView.names" has-content="true" class="wrap">
      {{item.person.names}}
    </sc-column>
    <sc-column data="dateValidFrom" title="persons.stampedDocumentsView.documentDateValidFrom" type="date">
    </sc-column>
    <sc-column data="dateValidTo" title="persons.stampedDocumentsView.documentDateValidTo" type="date">
    </sc-column>
    <sc-column data="stampNumber" title="persons.stampedDocumentsView.stampNumber">
    </sc-column>
    <sc-column title="persons.stampedDocumentsView.application" has-content="true">
      <a ng-click="viewApplication(item.lotId, item.application.partIndex)">
        {{ !!item.application.oldDocumentNumber ? (item.application.applicationCode + ' ' + item.application.oldDocumentNumber + '/' + (item.application.documentDate | date: 'mediumDate')) : (item.application.applicationCode + ' ' + item.application.documentNumber) }}
      </a>
    </sc-column>
    <sc-column data="licenceAction.code" title="persons.stampedDocumentsView.licenceAction">
   </sc-column>
    <sc-column title="persons.stampedDocumentsView.ready" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="item.isReady" ng-disabled="item.isReady" sc-click="selectCheck($event, item, 'licenceReady')">
    </sc-column>
    <sc-column title="persons.stampedDocumentsView.received" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="item.isReceived" ng-disabled="item.isReceived || !item.isReady" sc-click="selectCheck($event, item, 'returned')">
    </sc-column>
    <sc-column title="persons.stampedDocumentsView.finished" sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" sc-click="selectCheck($event, item, 'done')">
    </sc-column>
  </sc-datatable>
</ng-form>