<div>
  <form class="form-inline well well-sm card">
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.name"></span>
          <input disabled name="name" type="text" class="form-control" value="{{airport.name}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.nameAlt"></span>
          <input disabled name="nameAlt" type="text" class="form-control" value="{{airport.nameAlt}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.icao"></span>
          <input disabled name="icao" type="text" class="form-control" value="{{airport.icao}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.airportType"></span>
          <input disabled name="airportType" type="text" class="form-control" value="{{airport.airportType}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.runway"></span>
          <input disabled name="runway" type="text" class="form-control" value="{{airport.runway}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="airports.viewAirport.course"></span>
          <input disabled name="course" type="text" class="form-control" value="{{airport.course}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-offset-10 col-md-2">
        <sc-button name="editBtn" btn-click="edit()" text="airports.viewAirport.edit" class="btn btn-primary btn-sm pull-right" icon="glyphicon-pencil"></sc-button>
      </div>
    </div>
  </form>

  <div ng-if="application" class="alert alert-info" style="margin-bottom: 10px; padding: 7px 10px;">
    <a ng-click="viewApplication(application.applicationId)" class="alert-link" style="cursor: pointer;"><span l10n-text="airports.viewAirport.viewApplication"></span>{{ application.applicationName }}</a>
  </div>

  <sc-tabs tab-list="{
      'airports.tabs.owners' : 'root.airports.view.owners',
      'airports.tabs.inspections' : 'root.airports.view.inspections',
      'airports.tabs.docs': {
        'airports.tabs.others': 'root.airports.view.others'
       },
      'airports.tabs.certs': {
        'airports.tabs.opers': 'root.airports.view.opers'
       },
      'airports.tabs.applications' : 'root.airports.view.applications',
      'airports.tabs.inventory' : 'root.airports.view.inventory'
    }"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
</div>
