<sc-button name="createBtn" btn-sref="{ state: 'root.equipments.view.owners.new' }" text="equipments.ownerSearch.newOwner" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentOwners" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.equipments.view.owners.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.equipmentRelation.name" title="equipments.ownerSearch.equipmentRelation">
  </sc-column>
  <sc-column data="part.person.name" title="equipments.ownerSearch.person">
  </sc-column>
  <sc-column data="part.organization.name" title="equipments.ownerSearch.organization">
  </sc-column>
  <sc-column data="part.documentNumber" title="equipments.ownerSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDate" title="equipments.ownerSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.fromDate" title="equipments.ownerSearch.fromDate" type="date">
  </sc-column>
  <sc-column data="part.toDate" title="equipments.ownerSearch.toDate" type="date">
  </sc-column>
  <sc-column data="part.notes" title="equipments.ownerSearch.notes" visible="false">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="equipments.ownerSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="equipments.ownerSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="equipments.ownerSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" sc-access-token ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
