<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3" default-action="search()">
    <sc-filter type="text" name="incomingNumber" class="col-sm-2" removable="false" label="suggestions.search.incomingNumber"></sc-filter>
    <sc-filter type="text" name="incomingLot" class="col-sm-2" removable="true" label="suggestions.search.incomingLot"></sc-filter>
    <sc-filter type="text" name="applicant" class="col-sm-2" removable="true" label="suggestions.search.applicant"></sc-filter>
    <sc-filter type="date" name="incomingDateFrom" class="col-sm-2" removable="true" label="suggestions.search.incomingDateFrom"></sc-filter>
    <sc-filter type="date" name="incomingDateТо" class="col-sm-2" removable="true" label="suggestions.search.incomingDateТо"></sc-filter>
    <sc-search-button action="search()" text="suggestions.search.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="newSuggestion()" text="suggestions.search.newSuggestion" icon="glyphicon-plus"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
  </sc-search>

  <sc-datatable items="suggestions" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewButton" btn-click="viewSuggestion(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
      <sc-column data="incomingLot" title="suggestions.search.incomingLot">
    </sc-column>
    <sc-column data="incomingNumber" title="suggestions.search.incomingNumber">
    </sc-column>
    <sc-column data="incomingDate" title="suggestions.search.incomingDate">
    </sc-column>
    <sc-column data="applicant" title="suggestions.search.applicant">
    </sc-column>
  </sc-datatable>
</div>
