<ng-form name="editSuggestionDataForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="suggestions.editSuggestion.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="suggestions.editSuggestion.edit"
          class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="suggestions.editSuggestion.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="suggestions.editSuggestion.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-md-9">
          <label class="control-label" l10n-text="Свързан документ:"></label>
          <a sc-sref="{ state: 'root.docs.edit.view', params: { id: {{ data.applicationDocRelation.docId }} }}" ng-if="data.applicationDocRelation.docRelationId">
            {{ data.applicationDocRelation.docRegUri}} {{ data.applicationDocRelation.docDocTypeName }}: {{ data.applicationDocRelation.docSubject }}
          </a>
        </div>
        <div class="form-group col-md-3 pull-right" ng-if="!editMode">
          <a sc-click="connectToDoc()" ng-if="!data.applicationDocRelation.docRelationId" style="cursor: pointer;">свържи</a>
          <a sc-click="disconnectDoc()" ng-if="data.applicationDocRelation.docRelationId" style="cursor: pointer;">разкачи</a>
          <span ng-if="data.applicationDocRelation.docRelationId">&nbsp|</span>
          <a sc-click="loadData()" ng-if="data.applicationDocRelation.docRelationId" style="cursor: pointer;">зареди данни</a>
        </div>
      </div>

      <mosv-suggestion name="suggestionDataForm" ng-model="suggestion.part" readonly="!editMode"></mosv-suggestion>
    </div>
  </div>
</ng-form>
