<ng-form name="editStaffManagement" sc-validate="{}" sc-form-readonly="!editMode && !backFromChild">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.editStaffManagement.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.editStaffManagement.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode && !backFromChild">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteStaffManagement()" text="organizations.editStaffManagement.deleteStaffMng" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode && !backFromChild">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.editStaffManagement.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode || backFromChild">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editStaffManagement.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode || backFromChild">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-organization-staff-management name="organizationStaffManagementForm" ng-model="organizationStaffManagement"></gva-organization-staff-management>
    </div>
  </div>
</ng-form>
