<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.staffManagement.new' }" text="organizations.staffManagementSearch.newStaffManagement" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationStaffManagement" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.testDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.staffManagement.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.position" title="organizations.staffManagementSearch.position">
  </sc-column>
  <sc-column data="part.person.name" title="organizations.staffManagementSearch.person">
  </sc-column>
  <sc-column data="part.testDate" type="date" title="organizations.staffManagementSearch.testDate">
  </sc-column>
  <sc-column data="part.testScore.name" title="organizations.staffManagementSearch.testScore">
  </sc-column>
  <sc-column data="part.valid.name" title="organizations.staffManagementSearch.valid">
  </sc-column>
  <sc-column data="case.applications[0].applicationName" title="organizations.staffManagementSearch.application">
  </sc-column>
</sc-datatable>