<div>
  <sc-button name="saveBtn" btn-click="save()" text="organizations.chooseAudits.save" class="btn btn-sm btn-primary pull-left"></sc-button>
  <sc-button name="backBtn" btn-click="goBack()" text="organizations.chooseAudits.back" class="btn btn-sm btn-primary pull-left" icon="glyphicon-arrow-left" style="margin-left: 5px;"></sc-button>
   <sc-datatable items="audits" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
    <sc-column  sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-model="item.checked" ng-disabled="item.disabled">
    </sc-column>
    <sc-column data="part.documentNumber" title="organizations.chooseAudits.documentNumber">
    </sc-column>
    <sc-column data="part.subject" title="organizations.chooseAudits.subject">
    </sc-column>
    <sc-column data="part.inspectionFrom" title="organizations.chooseAudits.inspectionFrom" type="date">
    </sc-column>
    <sc-column data="part.inspectionTo" title="organizations.chooseAudits.inspectionTo" type="date">
    </sc-column>
  </sc-datatable>
</div>
