<div>
  <form name="form"class="form-inline well" role="form">
    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label">Nomeclature directive</label>
        <sc-nomenclature ng-model="gender" alias="'gender'"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-2 col-md-1">
        <div class="labeless">
          <button id="changeBtn" class="btn btn-sm btn-default" ng-click="change()">
            Change
          </button>
        </div>
      </div>
      <div class="form-group col-sm-5">
        <div class="labeless">
          <span id="selectedNomId">{{gender.nomValueId}}</span>
          <span id="selectedNomName">{{gender.name}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label">Parent</label>
        <sc-nomenclature ng-model="parentVal" alias="'countries'" mode="id"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label">Child</label>
        <sc-nomenclature ng-model="childVal" alias="'cities'" mode="id" params="{ parentValueId: parentVal }"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-5">
        <div class="labeless">
          <span id="selectedParentNomId">{{parentVal}}</span>
          <span id="selectedChildNomId">{{childVal}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label">ObjectMode multiple</label>
        <sc-nomenclature ng-model="multipleObjVal" alias="'gender'" multiple="multiple"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-5">
        <div class="labeless">
          <span id="multipleObjVal">{{multipleObjVal}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-2">
        <label class="control-label">IdMode multiple</label>
        <sc-nomenclature ng-model="multipleIdVal" alias="'countries'" mode="id" multiple="multiple"></sc-nomenclature>
      </div>
      <div class="form-group col-sm-5">
        <div class="labeless">
          <span id="multipleIdVal">{{multipleIdVal}}</span>
        </div>
      </div>
    </div>

  </form>
</div>
