<div>
  <form class="form-inline well well-sm card">
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.aircraftProducer"></span>
          <input disabled name="producer" type="text" class="form-control" value="{{aircraft.aircraftProducer.name}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.aircraftCategory"></span>
          <input disabled name="category" type="text" class="form-control" value="{{aircraft.aircraftCategory.name}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.icao"></span>
          <input disabled name="icao" type="text" class="form-control" value="{{aircraft.icao}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.model"></span>
          <input disabled name="name" type="text" class="form-control" value="{{aircraft.model}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.modelAlt"></span>
          <input disabled name="nameAlt" type="text" class="form-control" value="{{aircraft.modelAlt}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.manSN"></span>
          <input disabled name="manSN" type="text" class="form-control" value="{{aircraft.manSN}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-offset-10 col-md-2">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.viewAircraft.edit" class="btn btn-primary btn-sm pull-right" icon="glyphicon-pencil"></sc-button>
      </div>
    </div>
  </form>
    <sc-tabs tab-list="{
      'Регистрация': {
        'Текуща регистрация': 'root.aircrafts.view.currentReg',
        'Регистрации': 'root.aircrafts.view.regs',
        'Летателни годности': 'root.aircrafts.view.airworthinesses',
        'Регистрационни знаци': 'root.aircrafts.view.marks',
        'S-code': 'root.aircrafts.view.smods',
        'Разрешения за полет': 'root.aircrafts.view.permits',
        'Удостоверения за шум': 'root.aircrafts.view.noisesFM',
        'Разрешителни за радиостанция': 'root.aircrafts.view.radios'
       },
      'Свързани лица' : {},
      'Оборудване' : {},
      'Залози' : 'root.aircrafts.view.debtsFM',
      'Поддръжки' : 'root.aircrafts.view.maintenances',
      'Инциденти':'root.aircrafts.view.occurrences',
      'Инспекции': {
        'Инспекции': 'root.aircrafts.view.inspections'
      },
      'Заявления' : {},
      'Документи': {
        'Други': 'root.aircrafts.view.others'
       },
      'Опис' : {}
    }"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
</div>
