<div>
  <form class="form-inline well well-sm card">
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.aircraftProducer"></span>
          <input disabled name="producer" type="text" class="form-control" value="{{aircraft.aircraftProducer.name}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.aircraftCategory"></span>
          <input disabled name="category" type="text" class="form-control" value="{{aircraft.aircraftCategory.name}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.icao"></span>
          <input disabled name="icao" type="text" class="form-control" value="{{aircraft.icao}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.model"></span>
          <input disabled name="name" type="text" class="form-control" value="{{aircraft.model}}" />
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.modelAlt"></span>
          <input disabled name="nameAlt" type="text" class="form-control" value="{{aircraft.modelAlt}}" />
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="aircrafts.viewAircraft.manSN"></span>
          <input disabled name="manSN" type="text" class="form-control" value="{{aircraft.manSN}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-offset-10 col-md-2">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.viewAircraft.edit" class="btn btn-primary btn-sm pull-right" icon="glyphicon-pencil"></sc-button>
      </div>
    </div>
  </form>
    <sc-tabs tab-list="{
      'aircrafts.tabs.reg': {
        'aircrafts.tabs.currentReg': 'root.aircrafts.view.currentReg',
        'aircrafts.tabs.regs': 'root.aircrafts.view.regsFM',
        'aircrafts.tabs.airworthinesses': 'root.aircrafts.view.airworthinessesFM',
        'aircrafts.tabs.marks': 'root.aircrafts.view.marks',
        'aircrafts.tabs.smods': 'root.aircrafts.view.smods',
        'aircrafts.tabs.permits': 'root.aircrafts.view.permits',
        'aircrafts.tabs.noisesFM': 'root.aircrafts.view.noisesFM',
        'aircrafts.tabs.radios': 'root.aircrafts.view.radios'
       },
      'aircrafts.tabs.owners' : 'root.aircrafts.view.owners',
      'aircrafts.tabs.parts' : 'root.aircrafts.view.parts',
      'aircrafts.tabs.debts' : 'root.aircrafts.view.debtsFM',
      'aircrafts.tabs.maintenances' : 'root.aircrafts.view.maintenances',
      'aircrafts.tabs.occurrences':'root.aircrafts.view.occurrences',
      'aircrafts.tabs.inspections': 'root.aircrafts.view.inspections',
      'aircrafts.tabs.applications' : 'root.aircrafts.view.applications',
      'aircrafts.tabs.docs': {
        'aircrafts.tabs.others': 'root.aircrafts.view.others'
       },
      'aircrafts.tabs.inventory' : {}
    }"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
</div>
