<ng-form name="editCertGroundServiceOperatorsSnoOperationalForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.editCertGroundServiceOperatorsSnoOperational.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.editCertGroundServiceOperatorsSnoOperational.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteCert()" text="organizations.editCertGroundServiceOperatorsSnoOperational.deleteCertGround" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.editCertGroundServiceOperatorsSnoOperational.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editCertGroundServiceOperatorsSnoOperational.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-organization-certificate name="certGroundServiceOperatorsSnoOperationalForm" ng-model="certificate.part"
        sc-form-params="{ lotId: lotId }">
      </gva-organization-certificate>

      <h5 class="form-header" l10n-text="organizations.editCertGroundServiceOperatorsSnoOperational.equipmentForm"></h5>
      <gva-organization-equipment ng-model="certificate.part" name="organizationEquipmentForm"></gva-organization-equipment>
    </div>
  </div>
</ng-form>
