<div>
  <sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.licences.new' }" text="persons.licencesSearch.newLicence" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
  <sc-datatable items="licences" filterable="true" pageable="true" sortable="true" dynamic-columns="true"
    row-class="{'invalidLicence' : isInvalidLicence(item), 'expiredLicence' : (!isInvalidLicence(item) && isExpiredLicence(item)), 'expiringLicence' : isExpiringLicence(item)}">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewBtn" btn-sref="{ state: 'root.persons.view.licences.view.editions.edit', params: {ind: item.partIndex, index: item.editionPartIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <a ng-click="print(item)">
        <span class="glyphicon glyphicon-print"></span>
      </a>
    </sc-column>
    <sc-column title="persons.licencesSearch.licenceNumber" has-content="true">
      {{licenceNumberFormatMask(item)}}
    </sc-column>
    <sc-column data="licenceType.name" title="persons.licencesSearch.licenceType">
    </sc-column>
    <sc-column data="dateValidFrom" title="persons.licencesSearch.documentDateValidFrom" type="date">
    </sc-column>
    <sc-column data="dateValidTo" title="persons.licencesSearch.documentDateValidTo" type="date">
    </sc-column>
    <sc-column data="firstDocDateValidFrom" title="persons.licencesSearch.firstEditionValidFrom" type="date">
    </sc-column>
    <sc-column data="licenceActionName" title="persons.licencesSearch.licenceAction">
    </sc-column>
    <sc-column data="statusChange" title="persons.licencesSearch.statusChange">
    </sc-column>
    <sc-column data="inspector" title="persons.licencesSearch.inspector">
    </sc-column>
    <sc-column data="application.applicationName" title="persons.licencesSearch.application">
    </sc-column>
    <sc-column data="notes" title="persons.licencesSearch.notes" visible="false">
    </sc-column>
    <sc-column data="foreignLicence" title="persons.licencesSearch.foreignLicence" visible="false">
    </sc-column>
    <sc-column data="valid" title="persons.licencesSearch.valid" visible="false" has-content="true">
      {{item.valid? 'Да' : 'Не'}}
    </sc-column>
    <sc-column data="pageNumber" title="persons.licencesSearch.pageNumber" visible="false">
    </sc-column>
    <sc-column data="pageCount" title="persons.licencesSearch.pageCount" visible="false">
    </sc-column>
    <sc-column data="limitations" title="persons.licencesSearch.limitations" visible="false">
    </sc-column>
  </sc-datatable>
</div>
