<ng-form name="newLicenceForm" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="persons.newLicence.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.newLicence.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.newLicence.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-licence name="licenceForm" ng-model="newLicence" sc-form-params="{ isNew: true, lotId: lotId, caseTypeId: caseTypeId }"></gva-licence>

      <gva-licence-edition name="licenceEditionForm" ng-if="newEdition" ng-model="newEdition"
        sc-form-params="{
          isNew: true,
          lotId: lotId,
          caseTypeId: caseTypeId,
          appId: appId
        }"
        sc-data-fcl="newLicence.part.fcl"
        sc-data-licence-type="newLicence.part.licenceType">
      </gva-licence-edition>
    </div>
  </div>
</ng-form>
