<ng-form name="editRatingForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="persons.ratingEdit.title"></strong>
      <div class="pull-right">
        <sc-button name="createBtn" btn-click="newEdition()" text="persons.ratingEdit.newEdition" class="btn btn-primary btn-xs" icon="glyphicon-plus">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <h5 class="form-header" l10n-text="persons.ratingEdit.ratingForm"></h5>
      <gva-rating name="ratingForm" ng-model="rating.part" sc-form-params="{ isNew: false }"></gva-rating>
    </div>
  </div>

  <div>
    <div ui-view></div>
    <div class="clear"></div>
  </div>

</ng-form>
