<ng-form name="newRatingForm" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="persons.ratingNew.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.ratingNew.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.ratingNew.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-rating name="ratingForm" ng-model="newRating" sc-form-params="{ isNew: true, lotId: lotId,caseTypeId: caseTypeId }"></gva-rating>

      <gva-rating-edition name="ratingEditionForm" ng-if="newEdition" ng-model="newEdition"
        sc-form-params="{ lotId: lotId, isNew: true, caseTypeId: caseTypeId, appId: appId }">
      </gva-rating-edition>
    </div>
  </div>
</ng-form>
