<ng-form name="editRatingForm" sc-validate="{}" sc-form-readonly="editMode !== 'edit'">
  <h5 class="form-header" l10n-text="persons.ratingEdit.editions"></h5>

  <div>
    <sc-datatable items="rating.part.editions" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <input type="radio" ng-checked="item === currentEdition" sc-click="selectEdition(item)">
      </sc-column>
      <sc-column title="persons.ratingEdit.documentDateValidFrom" has-content="true">
        {{item.documentDateValidFrom | date:'mediumDate'}}
      </sc-column>
      <sc-column title="persons.ratingEdit.documentDateValidTo" has-content="true">
        {{item.documentDateValidTo | date:'mediumDate'}}
      </sc-column>
      <sc-column title="persons.ratingEdit.firstEditionValidFrom" has-content="true">
        {{(rating.part.editions | first).documentDateValidFrom | date:'mediumDate'}}
      </sc-column>
      <sc-column title="persons.ratingEdit.ratingTypeOrRatingLevel" has-content="true">
        {{rating.part.personRatingLevel.name || rating.part.ratingType.name}}
      </sc-column>
      <sc-column title="persons.ratingEdit.classOrCategory" has-content="true">
        {{rating.part.aircraftTypeGroup.name || (rating.part.ratingClass.name || '') + (item.ratingSubClasses && ' (' + (item.ratingSubClasses | pluck:'name' | join:', ') + ')')}}
      </sc-column>
      <sc-column title="persons.ratingSearch.authorizationAndLimitations" has-content="true">
        {{(rating.part.authorization.name || '') + ' ' + (item.limitations | pluck:'name' | join:', ')}}
      </sc-column>
      <sc-column title="persons.ratingEdit.notes" has-content="true">
        {{item.notes}}
      </sc-column>
      <sc-column title="persons.ratingEdit.notesAlt" has-content="true">
        {{item.notesAlt}}
      </sc-column>
      <sc-column title="persons.ratingEdit.inspector" has-content="true">
        {{item.inspector.name}}
      </sc-column>
      <sc-column title="persons.ratingEdit.personRatingModel" has-content="true">
        {{rating.part.personRatingModel.name}}
      </sc-column>
    </sc-datatable>
    <div style="clear: both"></div>
  </div>

  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="persons.ratingEdit.title"></strong>

      <div class="pull-right">
        <sc-button name="createBtn" btn-click="newEdition()" text="persons.ratingEdit.newEdition" class="btn btn-primary btn-xs" icon="glyphicon-plus" ng-show="!editMode" ng-disabled="currentEdition !== lastEdition">
        </sc-button>
        <sc-button name="editBtn" btn-click="editLastEdition()" text="persons.ratingEdit.editLastEdition" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode" ng-disabled="currentEdition !== lastEdition">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteLastEdition(item)" text="persons.ratingEdit.deleteLastEdition" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode" ng-disabled="currentEdition !== lastEdition"></sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="persons.ratingEdit.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.ratingEdit.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">

      <h5 class="form-header" l10n-text="persons.ratingEdit.ratingForm"></h5>

      <gva-rating name="ratingForm" ng-model="rating.part" sc-form-params="{ isNew: false }"></gva-rating>

      <h5 class="form-header" l10n-text="persons.ratingEdit.editionForm"></h5>

      <gva-rating-edition name="ratingEditionForm" ng-model="currentEdition"
        sc-data-staff-type="rating.part.staffType"></gva-rating-edition>

    </div>
  </div>

</ng-form>
