<div>
  <sc-button name="createBtn" btn-sref="{state: 'root.persons.view.ratings.new'}" text="persons.ratingSearch.newRating" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
  <sc-datatable items="ratings" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="lastDocDateValidFrom"
    row-class="{'expiredDocument' : (isExpiredRating(item)), 'expiringDocument' : isExpiringRating(item)}">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewBtn" btn-sref="{state: 'root.persons.view.ratings.edit.editions.edit', params: {ind: item.ratingPartIndex, index: item.editionPartIndex}}" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column data="personRatingLevel.code || ratingTypes || aircraftTypeGroup.code || locationIndicator.code" title="persons.ratingSearch.ratingTypeOrRatingLevel">
    </sc-column>
    <sc-column data="(ratingClass.code || '') + ( ratingSubClasses ? ' (' + ratingSubClasses + ')' : '')" title="persons.ratingSearch.classOrCategory" class="wrap">
    </sc-column>
    <sc-column data="((authorization && authorization.code) || '') + ' ' + (limitations ? limitations : '')" title="persons.ratingSearch.authorizationAndLimitations" class="wrap">
    </sc-column>
    <sc-column data="lastDocDateValidFrom" title="persons.ratingSearch.lastEditionValidFrom" type="date">
    </sc-column>
    <sc-column data="lastDocDateValidTo" title="persons.ratingSearch.lastEditionValidTo" type="date">
    </sc-column>
    <sc-column data="firstDocDateValidFrom" title="persons.ratingSearch.firstEditionValidFrom" type="date">
    </sc-column>
    <sc-column data="notes" title="persons.ratingSearch.lastEditionNotes" class="wrap">
    </sc-column>
    <sc-column data="notesAlt" title="persons.ratingSearch.lastEditionNotesAlt" class="wrap">
    </sc-column>
  </sc-datatable>
</div>
