<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.approvals.new' }" text="organizations.approvalSearch.newApproval" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationApprovals" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="viewBtn" btn-sref="{ state: 'root.organizations.view.approvals.edit.amendments.edit', params: {ind: item.partIndex, index: item.amendmentPartIndex } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="approvalType.name" title="organizations.approvalSearch.approvalType" class="wrap">>
  </sc-column>
  <sc-column data="approvalDocumentNumber" title="organizations.approvalSearch.documentNumber">
  </sc-column>
  <sc-column data="amendmentDocumentNumber" title="organizations.approvalSearch.documentNumberAmendment">
  </sc-column>
  <sc-column data="firstAmendmentDateIssue" title="organizations.approvalSearch.documentFirstDateIssue" type="date">
  </sc-column>
  <sc-column data="lastAmendmentDateIssue" title="organizations.approvalSearch.documentDateIssueAmendment" type="date">
  </sc-column>
  <sc-column data="changeNum" title="organizations.approvalSearch.changeNumAmendment">
  </sc-column>
  <sc-column data="approvalState.name" title="organizations.approvalSearch.approvalState">
  </sc-column>
  <sc-column data="applicationName" title="organizations.approvalSearch.application" class="wrap">
  </sc-column>
</sc-datatable>