<ng-form name="editApprovalForm" sc-validate="{}"  sc-form-readonly="!editApprovalMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.approvalEdit.title"></strong>
      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.approvalEdit.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editApprovalMode">
        </sc-button>
        <sc-button name="createBtn" btn-click="newAmendment()" text="organizations.approvalEdit.newAmendment" class="btn btn-primary btn-xs" icon="glyphicon-plus">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.approvalEdit.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editApprovalMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.approvalEdit.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editApprovalMode">
        </sc-button>
      </div>
    </div>
    <div class="well-sm panel-body">
      <gva-organization-approval name="organizationApprovalForm" ng-model="approval"
        sc-form-params="{ lotId: lotId, isNew: false }"></gva-organization-approval>
    </div>

  </div>

</ng-form>
<div ui-view></div>
<div class="clear"></div>

