<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.addresses.new' }" text="organizations.addressSearch.newAddress" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationAddresses" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.addresses.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.addressType.name" title="organizations.addressSearch.addressType">
  </sc-column>
  <sc-column data="part.settlement.name" title="organizations.addressSearch.settlement">
  </sc-column>
  <sc-column data="part.address" title="organizations.addressSearch.address" class="wrap">
  </sc-column>
  <sc-column data="part.addressAlt" title="organizations.addressSearch.addressAlt" class="wrap">>
  </sc-column>
  <sc-column data="part.phone" title="organizations.addressSearch.phone">
  </sc-column>
  <sc-column data="part.fax" title="organizations.addressSearch.fax">
  </sc-column>
  <sc-column data="part.valid.name" title="organizations.addressSearch.valid">
  </sc-column>
  <sc-column data="part.postalCode" title="organizations.addressSearch.postalCode">
  </sc-column>
</sc-datatable>