<sc-button name="createBtn" btn-click="newRecommendation()" text="organizations.recommendationSearch.newRecommendation" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationRecommendations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteRecommendation(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.recommendationPart.name" title="organizations.recommendationSearch.recommendationPart">
  </sc-column>
  <sc-column data="part.formDate" title="organizations.recommendationSearch.formDate" type="date">
  </sc-column>
  <sc-column data="part.formText" title="organizations.recommendationSearch.formText">
  </sc-column>
  <sc-column data="part.interviewedStaff" title="organizations.recommendationSearch.interviewedStaff">
  </sc-column>
  <sc-column data="part.fromDate" title="organizations.recommendationSearch.fromDate" type="date">
  </sc-column>
  <sc-column data="part.toDate" title="organizations.recommendationSearch.toDate" type="date">
  </sc-column>
  <sc-column data="part.documentDescription" title="organizations.recommendationSearch.documentDescription">
  </sc-column>
  <sc-column data="part.recommendation" title="organizations.recommendationSearch.recommendation">
  </sc-column>
  <sc-column sortable="false" title="organizations.recommendationSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>