<sc-button name="createBtn" btn-click="newRecommendation()" text="organizations.recommendationSearch.newRecommendation" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="organizationRecommendations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteRecommendation(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.recommendationPart.name" title="organizations.recommendationSearch.recommendationPart">
  </sc-column>
  <sc-column data="part.formDate" title="organizations.recommendationSearch.formDate" type="date">
  </sc-column>
  <sc-column data="part.formText" title="organizations.recommendationSearch.formText">
  </sc-column>
  <sc-column data="part.interviewedStaff" title="organizations.recommendationSearch.interviewedStaff">
  </sc-column>
  <sc-column data="part.fromDate" title="organizations.recommendationSearch.fromDate" type="date">
  </sc-column>
  <sc-column data="part.toDate" title="organizations.recommendationSearch.toDate" type="date">
  </sc-column>
  <sc-column data="part.documentDescription" title="organizations.recommendationSearch.documentDescription">
  </sc-column>
  <sc-column data="part.recommendation" title="organizations.recommendationSearch.recommendation">
  </sc-column>
</sc-datatable>