<sc-button name="createBtn" btn-click="newRecommendation()" text="organizations.recommendationSearch.newRecommendation" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="organizationRecommendations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteRecommendation(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
 <!-- <sc-column data="part.nomValueId" title="organizations.staffExaminerSearch.nomValueId">
  </sc-column>-->
</sc-datatable>