<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" style="padding: 0px;">
        <sc-button btn-click="save()" name="registerBtn" text="applications.newForm.register" class="btn btn-primary btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" name="cancelBtn" text="applications.newForm.cancel" class="btn btn-default btn-sm" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body">
          <div ng-if="filter === 'Person'">
            <gva-common-select-person name="personForm" ng-model="appModel" sc-data-new-class="'col-sm-10'"></gva-common-select-person>
          </div>
          <div ng-if="filter === 'Organization'">
            <gva-application-select-organization name="organizationForm" ng-model="appModel"></gva-application-select-organization>
          </div>
          <div ng-if="filter === 'Aircraft'">
            <gva-application-select-aircraft name="aircraftForm" ng-model="appModel" sc-on-select-aircraft="selectAircraft()" sc-on-new-aircraft="newAircraft()"></gva-application-select-aircraft>
          </div>
          <div ng-if="filter === 'Airport'">
            <gva-application-select-airport name="airportForm" ng-model="appModel" sc-on-select-airport="selectAirport()" sc-on-new-airport="newAirport()"></gva-application-select-airport>
          </div>
          <div ng-if="filter === 'Equipment'">
            <gva-application-select-equipment name="equipmentForm" ng-model="appModel" sc-on-select-equipment="selectEquipment()" sc-on-new-equipment="newEquipment()"></gva-application-select-equipment>
          </div>

          <ems-doc-new-common name="docNewCommonForm" ng-model="appModel"></ems-doc-new-common>

          <div class="row">
            <sc-field-group class="col-sm-6" text="docs.newDoc.docCorrespondent" validations="{ required: 'default', requiredValue: 'Задължително поле' }" field-name="correspondents">
              <sc-nomenclature ng-model="appModel.doc.docCorrespondents" name="correspondents" alias="'correspondent'" sc-validate="{ requiredValue: requireCorrespondents }" mode="id" multiple></sc-nomenclature>
              <sc-button btn-click="selectCorr()" class="btn btn-default" icon="glyphicon glyphicon-search"></sc-button>
              <sc-button btn-click="newCorr()" class="btn btn-default" text="applications.corrSelect.newCorr" icon="glyphicon-plus"></sc-button>
            </sc-field-group>
          </div>

        </div>
      </ng-form>
    </div>
  </div>
</div>
