<sc-search selected-filters="filters" btn-classes="col-sm-6 col-md-5 col-lg-4" default-action="search()">
  <sc-filter type="date" name="fromDate" class="col-sm-3" removable="false" label="applications.search.fromDate"></sc-filter>
  <sc-filter type="date" name="toDate" class="col-sm-3" removable="false" label="applications.search.toDate"></sc-filter>
  <sc-filter type="int" name="personLin" class="col-sm-2" removable="true" label="applications.search.lin"></sc-filter>
  <sc-filter type="nomenclature" name="stageId" class="col-sm-2" removable="true" label="applications.search.stage" alias="appStages" mode="id"></sc-filter>
  <sc-filter type="text" name="aircraftIcao" class="col-sm-2" removable="true" label="applications.search.aircraftICAO"></sc-filter>
  <sc-filter type="text" name="organizationUin" class="col-sm-2" removable="true" label="applications.search.organizationUIN"></sc-filter>
  <sc-filter type="nomenclature" alias="inspectors" name="inspectorId" class="col-sm-2" removable="true" label="applications.search.inspector" mode="id"></sc-filter>
  <sc-search-button action="search()" name="searchBtn" class="btn btn-primary btn-sm" text="applications.search.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
  <sc-search-button action="newApp()" name="newAppBtn" text="applications.search.newApp" icon="glyphicon glyphicon-plus"></sc-search-button>
  <sc-search-button action="clear"></sc-search-button>
  <sc-search-button action="add"></sc-search-button>
</sc-search>

<sc-ajaxdatatable items="apps" items-count="applicationsCount" fectch-fn="getApplications" set-prop="applications" count-prop="applicationsCount"
  filterable="false" dynamic-columns="true"
  row-class="{'expiredApplication' : isExpiredApplication(item), 'expiringDocument' : isExpiringApplication(item)}">
  <sc-ajaxcolumn sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="viewButton" btn-click="viewApplication(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="lotSetName" title="applications.search.lotSetName">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="description" title="applications.search.description">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn  data="stageTermDate" title="applications.search.stageTermDate" type="date">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn  data="stageName" title="applications.search.stage">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="appPartDocumentDate" type="date" title="applications.search.documentDate">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="appPartDocumentNumber" title="applications.search.documentNumber">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="appPartApplicationTypeName" title="applications.search.applicationType" class="wrap">
  </sc-ajaxcolumn>
</sc-ajaxdatatable>