<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" style="padding: 0px;">
        <sc-button btn-click="link()" name="linkBtn" text="applications.link.link" class="btn btn-primary btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" name="cancelBtn" text="applications.link.cancel" class="btn btn-default btn-sm" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body">

          <div class="row">

            <div class="col-md-9">
              <table class="table table-bordered table-condensed" ng-class="{'table-bordered-red': !appModel.doc.docId && appForm.$validated}">
                <thead>
                  <tr>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.regDate"></span></th>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.regUri"></span></th>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.docSubject"></span></th>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.docDirectionName"></span></th>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.docStatusName"></span></th>
                    <th ng-class="{ 'clear-border-bottom': !appModel.doc.docId}"><span l10n-text="applications.docSelect.correspondentName"></span></th>
                  </tr>
                </thead>
                <tbody ng-show="appModel.doc.docId">
                  <tr>
                    <td>{{ appModel.doc.regDate | date:'dd.MM.yyyy' }}</td>
                    <td>{{ appModel.doc.regUri }}</td>
                    <td>{{ appModel.doc.docSubject }}</td>
                    <td>{{ appModel.doc.docDirectionName }}</td>
                    <td>{{ appModel.doc.docStatusName }}</td>
                    <td ng-bind-html="appModel.doc.correspondentNames"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-3">
                <sc-button btn-click="clear()" name="clearBtn" text="applications.link.clear" class="btn btn-default btn-sm"></sc-button>
                <sc-button btn-click="selectDoc()" name="selectDocBtn" text="applications.link.selectDoc" class="btn btn-default btn-sm" icon="glyphicon glyphicon-search"></sc-button>
            </div>
          </div>

          <div ng-if="filter === 'Person'">
            <gva-common-select-person name="personForm" ng-model="appModel" sc-data-new-class="'col-sm-10'"></gva-common-select-person>
          </div>
          <div ng-if="filter === 'Organization'">
            <gva-application-select-organization name="organizationForm" ng-model="appModel"></gva-application-select-organization>
          </div>
          <div ng-if="filter === 'Aircraft'">
            <gva-application-select-aircraft name="aircraftForm" ng-model="appModel"></gva-application-select-aircraft>
          </div>
          <div ng-if="filter === 'Airport'">
            <gva-application-select-airport name="airportForm" ng-model="appModel"></gva-application-select-airport>
          </div>
          <div ng-if="filter === 'Equipment'">
            <gva-application-select-equipment name="equipmentForm" ng-model="appModel"></gva-application-select-equipment>
          </div>
    </div>
    </ng-form>
  </div>
</div>
</div>
