<ng-form name="addDocPartType" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.edit.newFile.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="addPart()" text="applications.edit.newFile.addPart"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.newFile.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-4 col-md-4" sc-has-error="docPartType">
          <label class="control-label" l10n-text="applications.edit.newFile.documentType"></label>
          <sc-validation-error field-name="docPartType" validations="{required: 'default'}"></sc-validation-error>
          <sc-nomenclature ng-model="docPartType" name="docPartType" alias="'documentParts'" params="{ parentValueId: lotSetId }" ng-required="true"></sc-nomenclature>
        </div>
      </div>
    </div>
  </div>
</ng-form>
