<sc-button name="createBtn" btn-click="newAddress()" text="organizations.addressSearch.newCertAirportOperator" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="certAirportOperators" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editCertAirportOperator(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteCertAirportOperator(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <!--<sc-column data="part.addressType.name" title="organizations.addressSearch.addressType">
  </sc-column>-->
</sc-datatable>