<sc-button name="createBtn" btn-click="newCertAirportOperator()" text="organizations.certAirportOperatorSearch.newCertAirportOperator" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="certAirportOperators" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editCertAirportOperator(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certNumber" title="organizations.certAirportOperatorSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="organizations.certAirportOperatorSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="organizations.certAirportOperatorSearch.validToDate"  type="date">
  </sc-column>
  <sc-column data="part.airport.name" title="organizations.certAirportOperatorSearch.airport">
  </sc-column>
  <sc-column data="activities" title="organizations.certAirportOperatorSearch.activities">
  </sc-column>
</sc-datatable>