<div class="panel panel-default">
  <div class="panel-heading">
    <strong l10n-text="common.choosePublisherModal.title"></strong>
    <div class="pull-right">
      <sc-button class="btn btn-default btn-xs" btn-click="cancel()" text="common.choosePublisherModal.cancel" icon="glyphicon-ban-circle"></sc-button>
    </div>
  </div>

  <div class="well-sm panel-body">
    <div class="row">
      <div class="form-group col-md-3 col-sm-4">
        <label class="control-label" l10n-text="common.choosePublisherModal.name"></label>
        <sc-text ng-model="searchParams.publisherName">
      </div>
      <div class="form-group col-md-3 col-sm-4">
        <label class="control-label" l10n-text="common.choosePublisherModal.publisherType"></label>
        <input type="hidden" ui-select2="{ data: publisherTypes, allowClear: true, placeholder: ' ' }" ng-model="searchParams.publisherType" class="form-control input-sm">
      </div>
      <div class="form-group col-sm-2 labeless">
        <sc-button class="btn btn-primary btn-sm" btn-click="search()" text="common.choosePublisherModal.search" icon="glyphicon-search"></sc-button>
      </div>
    </div>

    <sc-datatable items="publishers" filterable="true" pageable="true" sortable="false" dynamic-columns="false">
      <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
        <sc-button name="selectBtn" class="btn btn-xs btn-primary" btn-click="selectPublisher(item)" l10n-text="common.choosePublisherModal.select"></sc-button>
      </sc-column>
      <sc-column data="name" sortable="true" title="common.choosePublisherModal.name">
      </sc-column>
      <sc-column sortable="true" title="common.choosePublisherModal.publisherType" has-content="true">
        {{publisherTypesDictionary[item.publisherType]}}
      </sc-column>
      <sc-column data="code" sortable="true" title="common.choosePublisherModal.code">
      </sc-column>
    </sc-datatable>
  </div>
</div>
