<sc-button name="createBtn" btn-click="newOccurrence()" text="aircrafts.occurrenceSearch.newOccurrence" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aircraftDocumentOccurrences" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editOccurrence(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.localDate" title="aircrafts.occurrenceSearch.localDate" type="date">
  </sc-column>
  <sc-column data="part.localTime" title="aircrafts.occurrenceSearch.localTime" has-content="true">
    <span>{{item.part.time.hours}}:{{item.part.time.minutes}}</span>
  </sc-column>
  <sc-column data="part.aircraftOccurrenceClass.name" title="aircrafts.occurrenceSearch.aircraftOccurrenceClass">
  </sc-column>
  <sc-column data="part.country.name" title="aircrafts.occurrenceSearch.country">
  </sc-column>
  <sc-column data="part.area" title="aircrafts.occurrenceSearch.area">
  </sc-column>
  <sc-column data="part.occurrenceNotes" title="aircrafts.occurrenceSearch.occurrenceNotes">
  </sc-column>
  <sc-column data="part.notes" title="aircrafts.occurrenceSearch.notes">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.occurrenceSearch.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.occurrenceSearch.pageCount" width="50px">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.occurrenceSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>