<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.occurrences.new' }" text="aircrafts.occurrenceSearch.newOccurrence" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aircraftDocumentOccurrences" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.occurrences.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.localDate" title="aircrafts.occurrenceSearch.localDate" type="date">
  </sc-column>
  <sc-column data="part.localTime" title="aircrafts.occurrenceSearch.localTime" has-content="true">
    <span>{{item.part.time.hours}}:{{item.part.time.minutes}}</span>
  </sc-column>
  <sc-column data="part.aircraftOccurrenceClass.name" title="aircrafts.occurrenceSearch.aircraftOccurrenceClass" class="wrap">
  </sc-column>
  <sc-column data="part.country.name" title="aircrafts.occurrenceSearch.country">
  </sc-column>
  <sc-column data="part.area" title="aircrafts.occurrenceSearch.area">
  </sc-column>
  <sc-column data="part.occurrenceNotes" title="aircrafts.occurrenceSearch.occurrenceNotes" class="wrap">
  </sc-column>
  <sc-column data="part.description" title="aircrafts.occurrenceSearch.description" class="wrap">
  </sc-column>
  <sc-column data="case.bookPageNumber" title="aircrafts.occurrenceSearch.bookPageNumber">
  </sc-column>
  <sc-column data="case.pageCount" title="aircrafts.occurrenceSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.occurrenceSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>