<sc-button name="createBtn" btn-click="newCertRadio()" text="aircrafts.radioSearch.newRadio" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="radios" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" btn-click="editCertRadio(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" btn-click="deleteCertRadio(item)" class="btn btn-xs btn-default" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.valid.name" title="aircrafts.radioSearch.valid">
  </sc-column>
  <sc-column data="part.certNumber" title="aircrafts.radioSearch.certNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="aircrafts.radioSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="aircrafts.radioSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="part.radios.aircraftRadioType.name" title="aircrafts.radioSearch.aircraftRadioType">
  </sc-column>
  <sc-column data="part.radios.count" title="aircrafts.radioSearch.count">
  </sc-column>
  <sc-column data="part.radios.producer" title="aircrafts.radioSearch.producer">
  </sc-column>
  <sc-column data="part.radios.model" title="aircrafts.radioSearch.model">
  </sc-column>
</sc-datatable>