<ng-form name="newCertRadioForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.newRadio.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.newRadio.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.newRadio.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-radio name="aircraftCertRadioForm" ng-model="radio.part"></gva-aircraft-cert-radio>
    </div>
  </div>
</ng-form>
