<ng-form name="corrForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="corrs.edit.correspondentTitle"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="corrs.edit.save"
          class="btn btn-primary btn-sm" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="corrs.edit.cancel"
          class="btn btn-default btn-sm" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <ems-corr-data name="corrDataForm" ng-model="corr" sc-data-is-new="true"></ems-corr-data>

  </div>
</ng-form>
