<ng-form name="newStaffExaminer" sc-validate="{}">

  <gva-organization-staff-examiner name="organizationStaffExaminersForm" ng-model="organizationStaffExaminer.part"></gva-organization-staff-examiner>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="organizations.newStaffExaminer.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="newStaffExaminers.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.newStaffExaminer.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
