<sc-button name="createBtn" btn-click="newStaffExaminer()" text="organizations.staffExaminerSearch.newStaffExaminer" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationStaffExaminers" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editStaffChecker(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.nomValueId" title="organizations.staffExaminerSearch.nomValueId">
  </sc-column>
  <sc-column data="part.code" title="organizations.staffExaminerSearch.code">
  </sc-column>
  <sc-column data="part.name" title="organizations.staffExaminerSearch.name">
  </sc-column>
  <sc-column data="part.valid.name" type="date" title="organizations.staffExaminerSearch.valid">
  </sc-column>
  <sc-column data="part.parentValue.name" type="date" title="organizations.staffExaminerSearch.person">
  </sc-column>
  <sc-column data="part.content.stampNumber" title="organizations.staffExaminerSearch.content.stampNumber">
  </sc-column>
  <sc-column data="part.content.organization.name" title="organizations.staffExaminerSearch.content.organization">
  </sc-column>
  <sc-column data="part.content.permitedAW.name" title="organizations.staffExaminerSearch.content.permitedAW">
  </sc-column>
  <sc-column data="part.content.permitedCheck.name" title="organizations.staffExaminerSearch.content.permitedCheck">
  </sc-column>
  <sc-column sortable="false" title="organizations.staffExaminerSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>