<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3" default-action="search()">
    <sc-filter type="text" name="regMark" class="col-sm-3" removable="false" label="aircrafts.registrations.regMark"></sc-filter>
    <sc-filter type="text" name="certNumber" class="col-sm-3" removable="false" label="aircrafts.registrations.certNumber"></sc-filter>
    <sc-filter type="text" name="actNumber" class="col-sm-3" removable="false" label="aircrafts.registrations.actNumber"></sc-filter>
    <sc-filter type="nomenclature" name="registerId" class="col-sm-3" removable="false" alias="registers" load="false" mode="id" label="aircrafts.registrations.register">
    </sc-filter>
    <sc-search-button action="search()" text="aircrafts.registrations.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
  </sc-search>

  <sc-datatable items="registrations" filterable="true" pageable="true" sortable="true" default-sort="actNumber" default-sorting-type="asc">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewButton" btn-sref="{state: 'root.aircrafts.view.regsFM.edit', params: { id: item.lotId, ind: item.partIndex }}" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
    <sc-column data="registerName" title="aircrafts.registrations.register">
    </sc-column>
    <sc-column data="actNumber" title="aircrafts.registrations.actNumber">
    </sc-column>
    <sc-column data="certNumber" title="aircrafts.registrations.certNumber">
    </sc-column>
    <sc-column data="regMark" title="aircrafts.registrations.regMark">
    </sc-column>
  </sc-datatable>
</div>
