<ng-form name="newAircraftForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.newWizzard.title"></strong>
      <div class="pull-right">
        <sc-button btn-click="cancel()" text="aircrafts.newWizzard.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
        <button name="forwardButton" sc-click="forward()" class="btn btn-primary btn-xs" type="button">
          <span l10n-text="aircrafts.newWizzard.forward"></span>
          <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !forwardButton.$pending, 'glyphicon-loading': forwardButton.$pending}"></span>
        </button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-new-wizzard name="aircraftNewWizzardForm" ng-model="model"></gva-aircraft-new-wizzard>
    </div>
  </div>
</ng-form>
