<sc-datatable items="certCampaigns" filterable="true" pageable="true" sortable="true">
  <sc-column data="code" title="persons.certCampaigns.code">
  </sc-column>
  <sc-column data="name" title="persons.certCampaigns.name">
  </sc-column>
  <sc-column data="validFrom" title="persons.certCampaigns.validFrom" type="date">
  </sc-column>
  <sc-column data="validTo" title="persons.certCampaigns.validTo" type="date">
  </sc-column>
  <sc-column data="qualificationName" title="persons.certCampaigns.qualificationName">
  </sc-column>
</sc-datatable>