<sc-datatable items="certPaths" filterable="true" pageable="true" sortable="true">
  <sc-column data="code" title="persons.certPaths.code">
  </sc-column>
  <sc-column data="name" title="persons.certPaths.name">
  </sc-column>
  <sc-column data="validFrom" title="persons.certPaths.validFrom" type="date">
  </sc-column>
  <sc-column data="validTo" title="persons.certPaths.validTo" type="date">
  </sc-column>
  <sc-column data="examName" title="persons.certPaths.exam">
  </sc-column>
  <sc-column data="qualificationName" title="persons.certPaths.qualificationName">
  </sc-column>
</sc-datatable>