<div class="container page-content">
  <ng-form name="editDocumentIdForm">

    <gva-person-document-id name="personDocumentIdForm" ng-model="personDocumentId.part"></gva-person-document-id>

    <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentId.file"></gva-person-scanned-document>

    <gva-person-application name="personApplicationForm" ng-model="personDocumentId.applications"></gva-person-application>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <button name="saveBtn" sc-click="save()" type="button" class="btn btn-primary" ng-disabled="editDocumentIdForm.$invalid">
          <span class="glyphicon" ng-class="{'glyphicon-loading':saveBtn.$pending, 'glyphicon-floppy-disk': !saveBtn.$pending}"></span>
          <span l10n-text="persons.editDocumentId.save"></span>
        </button>
        <button type="button" name="cancelBtn" class="btn btn-default" sc-click="cancel()">
          <span class="glyphicon" ng-class="{'glyphicon-loading': cancelBtn.$pending, 'glyphicon-arrow-left': !cancelBtn.$pending}"></span>
          <span l10n-text="persons.editDocumentId.cancel"></span>
        </button>
      </div>
    </div>
  </ng-form>
</div>
