<gva-button name="createBtn" gva-click="newDocumentCheck()" text="persons.checkSearch.newCheck" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></gva-button>
<sc-datatable ng-model="checks" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column data="part.documentNumber" title="persons.checkSearch.documentNumber">
  </sc-column>
  <sc-column data="part.ratingClass.name" title="persons.checkSearch.ratingClass">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="persons.checkSearch.documentDateValidFrom">
    <span>{{item.part.documentDateValidFrom | date:'mediumDate'}}</span>
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="persons.checkSearch.documentDateValidTo">
    <span>{{item.part.documentDateValidTo | date:'mediumDate'}}</span>
  </sc-column>
  <sc-column data="part.documentPublisher" title="persons.checkSearch.documentPublisher">
  </sc-column>
  <sc-column data="part.ratingType.name" title="persons.checkSearch.ratingType">
  </sc-column>
  <sc-column data="part.authorization.name" title="persons.checkSearch.authorization">
  </sc-column>
  <sc-column data="part.licenceType.name" title="persons.checkSearch.licenceType">
  </sc-column>
  <sc-column data="part.personCheckDocumentType.name" title="persons.checkSearch.personCheckDocumentType">
  </sc-column>
  <sc-column data="part.personCheckDocumentRole.name" title="persons.checkSearch.personCheckDocumentRole">
  </sc-column>
  <sc-column data="part.valid.name" title="persons.checkSearch.valid">
  </sc-column>
  <sc-column data="part.bookPageNumber" title="persons.checkSearch.bookPageNumber">
  </sc-column>
  <sc-column data="part.pageCount" title="persons.checkSearch.pageCount">
  </sc-column>
  <sc-column data="file" title="persons.checkSearch.file">
    <span>{{item.file[0].name}}</span>
  </sc-column>
  <sc-column>
    <gva-button name="editBtn" gva-click="editDocumentCheck(item)" text="persons.checkSearch.edit" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></gva-button>
  </sc-column>
  <sc-column>
    <gva-button name="deleteBtn" gva-click="deleteDocumentCheck(item)" text="persons.checkSearch.remove" class="btn btn-xs btn-default" icon="glyphicon-remove"></gva-button>
  </sc-column>
</sc-datatable>