<ng-form name="editDocumentIdForm" sc-validate="{}">

  <gva-person-document-id name="personDocumentIdForm" ng-model="personDocumentId.part"></gva-person-document-id>

  <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentId.file"></gva-person-scanned-document>

  <gva-person-application name="personApplicationForm" ng-model="personDocumentId.applications"></gva-person-application>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <gva-button name="saveBtn" gva-click="save()" text="persons.editDocumentId.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editDocumentIdForm.$pristine"></gva-button>
      <gva-button name="cancelBtn" gva-click="cancel()" text="persons.editDocumentId.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></gva-button>
    </div>
  </div>
</ng-form>
