<div class="container page-content">
  <ng-form name="newDocumentEducationForm">

    <gva-person-document-education name="personDocumentEducationForm" ng-model="personDocumentEducation.part"></gva-person-document-education>

    <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentEducation.file"></gva-person-scanned-document>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <gva-button name="saveBtn" gva-click="save()" text="persons.newDocumentEducation.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="newDocumentEducationForm.$invalid"></gva-button>
        <gva-button name="cancelBtn" gva-click="cancel()" text="persons.newDocumentEducation.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></gva-button>
      </div>
    </div>
  </ng-form>
</div>
