<div class="container page-content">
  <ng-form name="editDocumentEmploymentForm">

    <gva-person-document-employment name="personDocumentEmploymentForm" ng-model="personDocumentEmployment.part"></gva-person-document-employment>

    <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentEmployment.file"></gva-person-scanned-document>

    <gva-person-application name="personApplicationForm" ng-model="personDocumentEmployment.applications"></gva-person-application>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <gva-button name="saveBtn" gva-click="save()" text="persons.editEmployment.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editEmploymentForm.$invalid"></gva-button>
        <gva-button name="cancelBtn" gva-click="cancel()" text="persons.editEmployment.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></gva-button>
      </div>
    </div>
  </ng-form>
</div>
