<gva-button name="createBtn" gva-click="newDocumentId()" text="persons.documentIdSearch.newDocumentId" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></gva-button>
<sc-datatable ng-model="documentIds" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column data="part.personDocumentIdType.name" title="persons.documentIdSearch.docTypeId">
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.documentIdSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="persons.documentIdSearch.documentDateValidFrom">
    <span>{{item.part.documentDateValidFrom | date:'mediumDate'}}</span>
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="persons.documentIdSearch.documentDateValidTo">
    <span>{{item.part.documentDateValidTo | date:'mediumDate'}}</span>
  </sc-column>
  <sc-column data="part.documentPublisher" title="persons.documentIdSearch.publisher">
  </sc-column>
  <sc-column data="part.valid.name" title="persons.documentIdSearch.valid">
  </sc-column>
  <sc-column data="part.bookPageNumber" title="persons.documentIdSearch.bookPageNumber">
  </sc-column>
  <sc-column data="part.pageCount" title="persons.documentIdSearch.pageCount">
  </sc-column>
  <sc-column data="file" title="persons.documentIdSearch.file">
    <span>{{item.file[0].name}}</span>
  </sc-column>
  <sc-column width="115px">
    <gva-button name="editBtn" class="btn btn-xs btn-primary" gva-click="editDocumentId(item)" text="persons.documentIdSearch.edit" icon="glyphicon-pencil"></gva-button>
  </sc-column>
  <sc-column  width="100px">
    <gva-button name="deleteBtn" class="btn btn-xs btn-default" gva-click="deleteDocumentId(item)" text="persons.documentIdSearch.remove" icon="glyphicon-remove"></gva-button>
  </sc-column>
</sc-datatable>