<div>
  <sc-datatable ng-model="inventory" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="bookPageNumber" title="persons.inventorySearch.bookPageNumber" width="80px">
    </sc-column>
    <sc-column data="name" title="persons.inventorySearch.document">
    </sc-column>
    <sc-column data="type" title="persons.inventorySearch.type">
    </sc-column>
    <sc-column data="number" title="persons.inventorySearch.docNumber">
    </sc-column>
    <sc-column data="date" title="persons.inventorySearch.date">
    </sc-column>
    <sc-column data="publisher" title="persons.inventorySearch.publisher">
    </sc-column>
    <sc-column data="valid" title="persons.inventorySearch.valid">
    </sc-column>
    <sc-column data="fromDate" title="persons.inventorySearch.fromDate">
    </sc-column>
    <sc-column data="toDate" title="persons.inventorySearch.toDate">
    </sc-column>
    <sc-column data="pageCount" title="persons.inventorySearch.pageCount">
    </sc-column>
    <sc-column title="persons.inventorySearch.file">
      <a target="_self" ng-show="item.file" title="{{item.file.name}}">
        <span class="glyphicon glyphicon-file"></span>
      </a>
    </sc-column>
    <sc-column>
      <gva-button name="editBtn" gva-click="edit(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></gva-button>
    </sc-column>
  </sc-datatable>
</div>