<div class="container page-content">
  <ng-form name="editPersonForm">
    <gva-person-data name="personDataForm" ng-model="personData.part"></gva-person-data>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <button name="saveBtn" sc-click="save()" type="button" class="btn btn-primary" ng-disabled="editPersonForm.$invalid">
          <span class="glyphicon" ng-class="{'glyphicon-loading':saveBtn.$pending, 'glyphicon-floppy-disk': !saveBtn.$pending}"></span>
          <span l10n-text="persons.newPerson.save"></span>
        </button>
        <button name="cancelBtn" type="button" ng-click="cancel()" class="btn btn-default" l10n-text="persons.newPerson.cancel"></button>
      </div>
    </div>
  </ng-form>
</div>