<div>
  <ng-form name="editPersonForm">
    <gva-person-data name="personDataForm" ng-model="personData.part"></gva-person-data>

    <div class="row">
      <div class="form-group col-sm-3 col-sm-offset-4">
        <gva-button name="saveBtn" gva-click="save()" text="persons.newPerson.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editPersonForm.$invalid"></gva-button>
        <gva-button name="cancelBtn" gva-click="cancel()" text="persons.newPerson.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></gva-button>
      </div>
    </div>
  </ng-form>
</div>