<div>
  <div class="row">
    <div class="form-group col-sm-3 col-sm-offset-0">
      <gva-button name="createBtn" gva-click="newStatus()" text="persons.statusSearch.newState" class="btn btn-primary" icon="glyphicon-floppy-disk"></gva-button>
    </div>
  </div>
  <sc-datatable ng-model="statuses" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="part.personStatusType.name" title="persons.statusSearch.personStatusType" type="string">
    </sc-column>
    <sc-column data="part.documentNumber" title="persons.statusSearch.documentNumber" type="string">
    </sc-column>
    <sc-column data="part.documentDateValidFrom" title="persons.statusSearch.documentDateValidFrom" type="string">
      <span>{{item.part.documentDateValidFrom | date:'mediumDate'}}</span>
    </sc-column>
    <sc-column data="part.documentDateValidTo" title="persons.statusSearch.documentDateValidTo" type="string">
      <span>{{item.part.documentDateValidTo | date:'mediumDate'}}</span>
    </sc-column>
    <sc-column data="part.notes" title="persons.statusSearch.notes" type="string">
    </sc-column>
    <sc-column data="part.isActive" title="persons.statusSearch.isActive" type="string">
      <span>{{item.part.isActive ? 'Да' : 'Не'}}</span>
    </sc-column>
    <sc-column width="115px">
      <gva-button name="editBtn" gva-click="editStatus(item)" text="persons.statusSearch.edit" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></gva-button>
    </sc-column>
    <sc-column width="100px">
      <gva-button name="deleteBtn" gva-click="deleteStatus(item)" text="persons.statusSearch.remove" class="btn btn-xs btn-default" icon="glyphicon-remove"></gva-button>
    </sc-column>
  </sc-datatable>
</div>
