<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.documentApplications.new' }" text="persons.personDocApplicationSearch.newApplication" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="personDocumentApplications" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.persons.view.documentApplications.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.personDocApplicationSearch.documentNumber">
  </sc-column>
  <sc-column data="part.applicationType.code" title="persons.personDocApplicationSearch.applicationCode">
  </sc-column>
  <sc-column data="part.applicationType.name" title="persons.personDocApplicationSearch.applicationType" visible="false">
  </sc-column>
  <sc-column data="part.documentDate" title="persons.personDocApplicationSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="part.applicationPaymentType.name" title="persons.personDocApplicationSearch.applicationPaymentType" visible="false">
  </sc-column>
  <sc-column data="part.taxAmount" title="persons.personDocApplicationSearch.taxAmount">
  </sc-column>
  <sc-column data="part.currency.code" title="persons.personDocApplicationSearch.currency">
  </sc-column>
  <sc-column data="part.notes" title="persons.personDocApplicationSearch.notes">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="persons.personDocApplicationSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="persons.personDocApplicationSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.personDocApplicationSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" sc-access-token ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
