<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3" default-action="search()">
    <sc-filter type="int" name="lin" class="col-md-1 col-sm-2" removable="false" label="persons.referenceLicences.lin"></sc-filter>
    <sc-filter type="nomenclature" name="licenceTypeId" class="col-sm-3" removable="false" alias="licenceTypes" mode="id" label="persons.referenceLicences.licenceTypeName"></sc-filter>
    <sc-filter type="nomenclature" name="licenceActionId" class="col-sm-3" removable="true" alias="licenceActions" mode="id" label="persons.referenceLicences.licenceAction"></sc-filter>
    <sc-filter type="date" name="fromDate" class="col-sm-2" removable="false" label="persons.referenceLicences.fromDate"></sc-filter>
    <sc-filter type="date" name="toDate" class="col-sm-2" removable="false" label="persons.referenceLicences.toDate"></sc-filter>
    <sc-search-button action="search()" text="persons.referenceLicences.search" icon="glyphicon-search" class="btn btn-sm btn-primary"></sc-search-button>
    <sc-search-button action="clear"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
  </sc-search>

  <sc-datatable items="licences" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="lin" title="persons.referenceLicences.lin">
    </sc-column>
    <sc-column data="uin" title="persons.referenceLicences.uin">
    </sc-column>
    <sc-column data="licenceTypeName" title="persons.referenceLicences.licenceTypeName">
    </sc-column>
    <sc-column data="licenceCode" title="persons.referenceLicences.licenceCode">
    </sc-column>
    <sc-column data="names" title="persons.referenceLicences.names">
    </sc-column>
    <sc-column data="dateValidFrom" title="persons.referenceLicences.fromDate" type="date">
    </sc-column>
    <sc-column data="dateValidTo" title="persons.referenceLicences.toDate" type="date">
    </sc-column>
    <sc-column data="firstIssueDate" title="persons.referenceLicences.firstIssueDate" type="date">
    </sc-column>
    <sc-column data="licenceAction" title="persons.referenceLicences.licenceAction">
    </sc-column>
    <sc-column data="stampNumber" title="persons.referenceLicences.stampNumber">
    </sc-column>
  </sc-datatable>
</div>