<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.documentLangCerts.new' }" text="persons.documentLangCertSearch.newDocumentLangCert" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentLangCerts" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.documentDateValidFrom"
  row-class="{'invalidDocument' : isInvalidDocument(item), 'expiredDocument' : (!isInvalidDocument(item) && isExpiredDocument(item)), 'expiringDocument' : isExpiringDocument(item)}">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" class="btn btn-xs btn-primary" btn-sref="{ state: 'root.persons.view.documentLangCerts.edit', params: {ind: item.partIndex} }" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.documentLangCertSearch.documentNumber">
  </sc-column>
  <sc-column data="part.documentDateValidFrom" title="persons.documentLangCertSearch.documentDateValidFrom" type="date">
  </sc-column>
  <sc-column data="part.documentDateValidTo" title="persons.documentLangCertSearch.documentDateValidTo" type="date">
  </sc-column>
  <sc-column data="part.documentPublisher" title="persons.documentLangCertSearch.documentPublisher" class="wrap">
  </sc-column>
  <sc-column data="part.langLevel.name" title="persons.documentLangCertSearch.langLevel" class="wrap">
  </sc-column>
  <sc-column title="persons.documentLangCertSearch.ratingType" has-content="true">
    {{item.part.ratingTypes && item.part.ratingTypes.length > 0 ? (item.part.ratingTypes | pluck:'code' | join:', ') : (item.part.locationIndicator ? item.part.locationIndicator.code : '')  + ' ' + (item.part.sector ? item.part.sector : '')}}
  </sc-column>
  <sc-column data="part.ratingClass.code" title="persons.documentLangCertSearch.ratingClass">
  </sc-column>
  <sc-column data="part.authorization.code" title="persons.documentLangCertSearch.authorization" class="wrap">
  </sc-column>
  <sc-column data="part.licenceType.code" title="persons.documentLangCertSearch.licenceType" class="wrap">
  </sc-column>
  <sc-column data="part.documentType.name" title="persons.documentLangCertSearch.personOtherDocumentType" class="wrap">
  </sc-column>
  <sc-column data="part.documentRole.name" title="persons.documentLangCertSearch.personOtherDocumentRole" class="wrap">
  </sc-column>
  <sc-column data="part.valid.name" title="persons.documentLangCertSearch.valid" has-content="true">
  </sc-column>
  <sc-column data="case.bookPageNumber" title="persons.documentLangCertSearch.bookPageNumber" visible="false">
  </sc-column>
  <sc-column data="case.pageCount" title="persons.documentLangCertSearch.pageCount" visible="false">
  </sc-column>
  <sc-column sortable="false" title="persons.documentLangCertSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
