<ng-form name="editCertRegForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong ng-if="reg.isActive"  l10n-text="aircrafts.editReg.title"></strong>
      <strong ng-if="!reg.isActive" l10n-text="aircrafts.editReg.dereged"></strong>
      <div class="pull-right" ng-show="reg.part.isCurrent">
        <sc-button name="editBtn" btn-click="rereg()" text="aircrafts.editReg.rereg"
          class="btn btn-primary btn-xs" icon="glyphicon-repeat" ng-show="!editMode && reg.part.isActive">
        </sc-button>
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.editReg.edit"
          class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteReg()" text="aircrafts.editReg.deleteReg"
          class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode && reg.part.isActive" >
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editReg.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editReg.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="dereg()" text="aircrafts.editReg.dereg"
          class="btn btn-danger btn-xs" icon="glyphicon-ban-circle" ng-show="!editMode && reg.part.isActive">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="removeDereg()" text="aircrafts.editReg.removeDereg"
          class="btn btn-danger btn-xs" icon="glyphicon-ban-circle" ng-show="!reg.part.isActive">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-reg-fm name="aircraftCertRegForm" ng-model="reg.part" readonly="!editMode"></gva-aircraft-cert-reg-fm>

      <h5 class="form-header" l10n-text="aircrafts.deregReg.deregData" ng-if="!reg.part.isActive"></h5>
      <gva-aircraft-cert-reg-dereg-fm name="aircraftCertRegDeregForm" ng-model="reg.part.removal" ng-if="!reg.part.isActive" readonly="!editMode"></gva-aircraft-cert-reg-dereg-fm>

      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="reg.files" sc-data-set-part="'aircraft'" readonly="!editMode"></gva-common-scanned-document>
    </div>
  </div>
</ng-form>
