<ng-form name="newRegForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.newRegWizzard.title"></strong>
      <div class="pull-right">
        <sc-button btn-click="cancel()" text="aircrafts.newRegWizzard.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
        <sc-button btn-click="back()" text="aircrafts.newRegWizzard.back" ng-if="currentStep !== steps.chooseRegisterAndRegMark"
          class="btn btn-default btn-xs" icon="glyphicon-chevron-left">
        </sc-button>
        <button name="forwardButton" sc-click="forward()" class="btn btn-primary btn-xs" type="button" ng-if="currentStep !== steps.regMarkInUse">
          <span l10n-text="aircrafts.newRegWizzard.forward"></span>
          <span class="glyphicon" ng-class="{'glyphicon-chevron-right': !forwardButton.$pending, 'glyphicon-loading': forwardButton.$pending}"></span>
        </button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="form-inline">
        <div class="row">
          <div class="form-group col-sm-2 col-sm-4" sc-has-error="register">
            <label class="control-label" l10n-text="aircrafts.newRegWizzard.register"></label>
            <sc-validation-error field-name="register" validations="{required: 'default'}"></sc-validation-error>
            <sc-nomenclature ng-model="model.register" name="register" alias="'registers'" ng-required="true"></sc-nomenclature>
          </div>
          <sc-field type="int" ng-model="model.certNumber" ng-if="model.register.code !== '2'" name="certNumber" ng-readonly="true" l10n-text="aircrafts.newRegWizzard.certNumber" class="col-md-2 col-sm-4"></sc-field>
          <sc-field-group ng-if="model.register.code === '2'" class="col-md-2 col-sm-4" text="aircrafts.newRegWizzard.certNumber">
            <span >II - </span>
            <sc-field type="int" ng-model="model.certNumber" name="certNumber" ng-readonly="true"></sc-field>
          </sc-field-group>
          <sc-field type="int" ng-model="model.actNumber" ng-if="model.register.code !== '2'" name="actNumber" ng-readonly="true" l10n-text="aircrafts.newRegWizzard.actNumber" class="col-md-2 col-sm-4"></sc-field>
          <sc-field-group ng-if="model.register.code === '2'" class="col-md-2 col-sm-4" text="aircrafts.newRegWizzard.actNumber" validations="{required: 'default'}" field-name="actNumber">
            <span >II - </span>
            <sc-field type="int" ng-model="model.actNumber" name="actNumber" ng-readonly="true"></sc-field>
          </sc-field-group>
          <div class="form-group col-md-3 col-sm-4" sc-has-error="regMark">
            <label class="control-label" l10n-text="aircrafts.newRegWizzard.regMark"></label>
            <sc-validation-error field-name="regMark" validations="{required: 'default', pattern: 'default'}"></sc-validation-error>
            <sc-text ng-model="model.regMark" name="regMark" ng-required="true" ng-readonly="currentStep !== steps.chooseRegisterAndRegMark" ng-pattern="regMarkPattern"></sc-text>
          </div>

          <sc-info class="success" icon="glyphicon glyphicon-ok" text="aircrafts.newRegWizzard.confirmRegMark" ng-if="currentStep === steps.confirmRegMark"></sc-info>
          <sc-info class="danger" icon="glyphicon glyphicon-remove" text="aircrafts.newRegWizzard.regMarkInUse" ng-if="currentStep === steps.regMarkInUse"></sc-info>
        </div>
        <div ng-if="sModeCodeHex">
          <sc-info class="warning" icon="glyphicon glyphicon-warning-sign" text="aircrafts.newRegWizzard.regMarkIsConnectedToSModeCode"></sc-info>
          <a name="viewBtn" style="margin-top:10px" sc-sref="{state: 'root.sModeCodes.edit', params: { id: sModeCodeLotId }}" target="_blank" class="btn btn-xs btn-default">
            <span class="glyphicon glyphicon-eye-open"></span> {{sModeCodeHex}}
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-form>
