<ng-form name="deregCertRegForm" sc-validate="{}" sc-form-readonly>
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.deregReg.title"></strong>

      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.deregReg.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="back()" text="aircrafts.deregReg.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-reg-fm name="aircraftCertRegForm" ng-model="reg.part" readonly="true"></gva-aircraft-cert-reg-fm>

      <h5 class="form-header" l10n-text="aircrafts.deregReg.deregData"></h5>

      <gva-aircraft-cert-reg-dereg-fm name="aircraftCertRegDeregForm" ng-model="reg.part.removal"></gva-aircraft-cert-reg-dereg-fm>
    </div>
  </div>
</ng-form>
