<sc-button name="createBtn" btn-click="newCertReg()" text="aircrafts.regFMSearch.newReg" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk" ng-show="showNewButton"></sc-button>
<sc-datatable items="regs" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editCertReg(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.isCurrent? 'Да' : 'Не'" title="aircrafts.regFMSearch.isCurrent">
  </sc-column>
  <sc-column data="part.isActive? 'Да' : 'Не'" title="aircrafts.regFMSearch.isActive">
  </sc-column>
  <sc-column data="part.register.textContent.regPrefix + part.certNumber" title="aircrafts.regFMSearch.certNumber">
  </sc-column>
  <sc-column data="part.register.textContent.regPrefix + part.actNumber" title="aircrafts.regFMSearch.actNumber">
  </sc-column>
  <sc-column data="part.certDate" title="aircrafts.regFMSearch.certDate" type="date">
  </sc-column>
  <sc-column data="part.regMark" title="aircrafts.regFMSearch.regMark">
  </sc-column>
  <sc-column data="part.incomingDocNumber" title="aircrafts.regFMSearch.incomingDocNumber">
  </sc-column>
  <sc-column data="part.incomingDocDate" title="aircrafts.regFMSearch.incomingDocDate" type="date">
  </sc-column>
  <sc-column data="part.inspector.name" title="aircrafts.regFMSearch.inspector" >
  </sc-column>
  <sc-column data="part.owner.name" title="aircrafts.regFMSearch.owner">
  </sc-column>
  <sc-column data="part.operator.name" title="aircrafts.regFMSearch.operator">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.regFMSearch.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.regFMSearch.pageCount" width="50px">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.regFMSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
