<ng-form  sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="aircrafts.maintenanceDirective.title"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-3" sc-has-error="lim145limitation">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.lim145limitation"></label>
          <sc-validation-error field-name="lim145limitation" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.lim145limitation" name="lim145limitation" alias="'lim145limitations'" ng-required="true"></sc-nomenclature>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.person"></label>
          <sc-nomenclature ng-model="model.person" alias="'persons'"></sc-nomenclature>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.organization"></label>
          <sc-nomenclature ng-model="model.organization" alias="'organizations'"></sc-nomenclature>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-2"  sc-has-error="fromDate">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.fromDate"></label>
          <sc-validation-error field-name="fromDate" validations="{required: null}"></sc-validation-error>
          <sc-date ng-model="model.fromDate" ng-required="true" name="fromDate"></sc-date>
        </div>
        <div class="form-group col-sm-3 col-md-2" sc-has-error="toDate">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.toDate"></label>
          <sc-validation-error field-name="toDate" validations="{required: null}"></sc-validation-error>
          <sc-date ng-model="model.toDate" ng-required="true" name="toDate"></sc-date>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label class="control-label" l10n-text="aircrafts.maintenanceDirective.notes"></label>
          <sc-textarea rows="3" ng-model="model.notes"></sc-textarea>
        </div>
      </div>
    </div>
  </div>
</ng-form>