<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="aircrafts.aircraftPartDirective.title"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-4 col-md-2" sc-has-error="aircraftPart">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.aircraftPart"></label>
          <sc-validation-error field-name="aircraftPart" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.aircraftPart" name="aircraftPart" alias="'aircraftParts'" ng-required="true"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-6 col-md-4" sc-has-error="partProducer">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.partProducer"></label>
          <sc-validation-error field-name="partProducer" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.partProducer" name="partProducer" alias="'aircraftPartProducers'" params="{ parentValueId: model.aircraftPart.nomValueId }" ng-required="true"></sc-nomenclature>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6" sc-has-error="model">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.model"></label>
          <sc-validation-error field-name="model" validations="{required: null}"></sc-validation-error>
          <sc-text ng-model="model.model" name="model" ng-required="true"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.modelAlt"></label>
          <sc-text ng-model="model.modelAlt" name="modelAlt"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-8 col-md-4">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.sn"></label>
          <sc-text ng-model="model.sn" name="sn"></sc-text>
        </div>
        <div class="form-group col-sm-4 col-md-2" sc-has-error="count">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.count"></label>
          <sc-validation-error field-name="count" validations="{required: null}"></sc-validation-error>
          <sc-int ng-model="model.count" name="count" ng-required="true"></sc-int>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4 col-md-2" sc-has-error="aircraftPartStatus">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.aircraftPartStatus"></label>
          <sc-validation-error field-name="aircraftPartStatus" validations="{required: null}"></sc-validation-error>
          <sc-nomenclature ng-model="model.aircraftPartStatus" name="aircraftPartStatus" alias="'aircraftPartStatuses'" ng-required="true"></sc-nomenclature>
        </div>
        <div class="form-group col-sm-4 col-md-2">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.manDate"></label>
          <sc-date ng-model="model.manDate" name="manDate"></sc-date>
        </div>
        <div class="form-group col-sm-4 col-md-2">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.manPlace"></label>
          <sc-text ng-model="model.manPlace" name="manPlace"></sc-text>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6">
          <label class="control-label" l10n-text="aircrafts.aircraftPartDirective.description"></label>
          <sc-textarea rows="3" ng-model="model.description" name="description"></sc-textarea>
        </div>
      </div>
    </div>
  </div>
</ng-form>
