<ng-form class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="aircrafts.permitDirective.title"></strong></div>
    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-md-4 col-sm-6" sc-has-error="issuePlace">
          <label class="control-label" l10n-text="aircrafts.permitDirective.issuePlace"></label>
          <sc-validation-error field-name="issuePlace" validations="{required: null}"></sc-validation-error>
          <sc-text ng-model="model.issuePlace" name="issuePlace" ng-required="true"></sc-text>
        </div>
        <div class="form-group col-md-2 col-sm-4" sc-has-error="issueDate">
          <label class="control-label" l10n-text="aircrafts.permitDirective.issueDate"></label>
          <sc-validation-error field-name="issueDate" validations="{required: null}"></sc-validation-error>
          <sc-date ng-model="model.issueDate" name="issueDate" ng-required="true"></sc-date>
        </div>
        <div class="form-group col-md-2 col-sm-4" sc-has-error="validToDate">
          <label class="control-label" l10n-text="aircrafts.permitDirective.validToDate"></label>
          <sc-validation-error field-name="validToDate" validations="{required: null}"></sc-validation-error>
          <sc-date ng-model="model.validToDate" name="validToDate" ng-required="true"></sc-date>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.purpose"></label>
          <sc-textarea rows="2" ng-model="model.purpose" name="purpose"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.purposeAlt"></label>
          <sc-textarea rows="2" ng-model="model.purposeAlt" name="purposeAlt"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.pointFrom"></label>
          <sc-textarea rows="2" ng-model="model.pointFrom" name="pointFrom"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.pointFromAlt"></label>
          <sc-textarea rows="2" ng-model="model.pointFromAlt" name="pointFromAlt"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.pointTo"></label>
          <sc-textarea rows="2" ng-model="model.pointTo" name="pointTo"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.pointToAlt"></label>
          <sc-textarea rows="2" ng-model="model.pointToAlt" name="pointToAlt"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.planStops"></label>
          <sc-textarea rows="2" ng-model="model.planStops" name="planStops"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.planStopsAlt"></label>
          <sc-textarea rows="2" ng-model="model.planStopsAlt" name="planStopsAlt"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.notes"></label>
          <sc-textarea rows="2" ng-model="model.notes" name="notes"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.notesAlt"></label>
          <sc-textarea rows="2" ng-model="model.notesAlt" name="notesAlt"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.crew"></label>
          <sc-textarea rows="2" ng-model="model.crew" name="crew"></sc-textarea>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-8 col-sm-12">
          <label class="control-label" l10n-text="aircrafts.permitDirective.crewAlt"></label>
          <sc-textarea rows="2" ng-model="model.crewAlt" name="crewAlt"></sc-textarea>
        </div>
      </div>
    </div>
    </div>
</ng-form>
