<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-md-2 col-sm-4" sc-has-error="registration">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.registration"></label>
      <sc-validation-error field-name="registration" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.registration" name="registration" ng-required="true" alias="'registrations'" params="{ parentValueId: model.lotId }" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4" sc-has-error="issueDate">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.issueDate"></label>
      <sc-validation-error field-name="issueDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.issueDate" name="issueDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.validFromDate"></label>
      <sc-date ng-model="model.validFromDate" name="validFromDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.validToDate"></label>
      <sc-date ng-model="model.validToDate" name="validToDate" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.inspector"></label>
      <sc-nomenclature ng-model="model.inspector" name="inspector" alias="'inspectors'" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.incomingDocNumber"></label>
      <sc-text ng-model="model.incomingDocNumber" name="incomingDocNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.incomingDocDate"></label>
      <sc-date ng-model="model.incomingDocDate" name="incomingDocDate" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA25IssueDate"></label>
      <sc-date ng-model="model.EASA25IssueDate" name="EASA25IssueDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA24IssueDate"></label>
      <sc-date ng-model="model.EASA24IssueDate" name="EASA24IssueDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA24IssueValidToDate"></label>
      <sc-date ng-model="model.EASA24IssueValidToDate" name="EASA24IssueValidToDate" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA15IssueDate"></label>
      <sc-date ng-model="model.EASA15IssueDate" name="EASA15IssueDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA15IssueValidToDate"></label>
      <sc-date ng-model="model.EASA15IssueValidToDate" name="EASA15IssueValidToDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.EASA15IssueRefNo"></label>
      <sc-text ng-model="model.EASA15IssueRefNo" name="EASA15IssueRefNo" ng-readonly="readonly"></sc-text>
    </div>
  </div>

</ng-form>
