<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-sm-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.register"></label>
      <sc-nomenclature ng-model="model.register" name="register" alias="'registers'" ng-readonly="true"></sc-nomenclature>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.certNumber"></label>
      <sc-int ng-model="model.certNumber" name="certNumber" ng-readonly="true"></sc-int>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.actNumber"></label>
      <sc-int ng-model="model.actNumber" name="actNumber" ng-readonly="true"></sc-int>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.regMark"></label>
      <sc-text ng-model="model.regMark" name="regMark" ng-readonly="true"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.certDate"></label>
      <sc-date ng-model="model.certDate" name="certDate" ng-readonly="readonly"></sc-date>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocNumber"></label>
      <sc-text ng-model="model.incomingDocNumber" name="incomingDocNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocDate"></label>
      <sc-date ng-model="model.incomingDocDate" name="incomingDocDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocDesc"></label>
      <sc-text ng-model="model.incomingDocDesc" name="incomingDocDesc" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6" sc-has-error="owner">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.owner"></label>
      <sc-validation-error field-name="owner" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.owner" name="owner" alias="'organizations'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-md-4 col-sm-6" sc-has-error="operator">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.operator"></label>
      <sc-validation-error field-name="operator" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.operator" name="operator" alias="'organizations'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6" sc-has-error="category">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.category"></label>
      <sc-validation-error field-name="category" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.category" name="category" alias="'aircraftCategories'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-md-4 col-sm-6" sc-has-error="limitation">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.limitation"></label>
      <sc-validation-error field-name="limitation" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.limitation" name="limitation" alias="'aircraftLimitationsFm'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingDocNumber"></label>
      <sc-text ng-model="model.leasingDocNumber" name="leasingDocNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingDocDate"></label>
      <sc-date ng-model="model.leasingDocDate" name="leasingDocDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingEndDate"></label>
      <sc-text ng-model="model.leasingEndDate" name="leasingEndDate" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingLessor"></label>
      <sc-textarea rows="2" ng-model="model.leasingLessor" name="leasingLessor" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingAgreement"></label>
      <sc-textarea rows="2" ng-model="model.leasingAgreement" name="leasingAgreement" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6" sc-has-error="status">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.status"></label>
      <sc-validation-error field-name="status" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.status" name="status" alias="'aircraftRegStatsesFm'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.EASA25Number"></label>
      <sc-text ng-model="model.EASA25Number" name="EASA25Number" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.EASA25Date"></label>
      <sc-date ng-model="model.EASA25Date" name="EASA25Date" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.EASA15Date"></label>
      <sc-date ng-model="model.EASA15Date" name="EASA15Date" ng-readonly="readonly"></sc-date>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.cofRDate"></label>
      <sc-date ng-model="model.cofRDate" name="cofRDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.noiseDate"></label>
      <sc-date ng-model="model.noiseDate" name="noiseDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.noiseNumber"></label>
      <sc-text ng-model="model.noiseNumber" name="noiseNumber" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.paragraph"></label>
      <sc-textarea rows="2" ng-model="model.paragraph" name="paragraph" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-8 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.paragraphAlt"></label>
      <sc-textarea rows="2" ng-model="model.paragraphAlt" name="paragraphAlt" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
</ng-form>
