<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-md-2 col-sm-4" sc-has-error="issueNumber">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.issueNumber"></label>
      <sc-validation-error field-name="issueNumber" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.issueNumber" name="issueNumber" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4" sc-has-error="issueDate">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.issueDate"></label>
      <sc-validation-error field-name="issueDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.issueDate" name="issueDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.tcdsn"></label>
      <sc-text ng-model="model.tcdsn" name="tcdsn" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.chapter"></label>
      <sc-text ng-model="model.chapter" name="chapter" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.flyover"></label>
      <sc-float ng-model="model.flyover" name="flyover" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.approach"></label>
      <sc-float ng-model="model.approach" name="approach" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.lateral"></label>
      <sc-float ng-model="model.lateral" name="lateral" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.overflight"></label>
      <sc-float ng-model="model.overflight" name="overflight" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirectiveFM.takeoff"></label>
      <sc-float ng-model="model.takeoff" name="takeoff" ng-readonly="readonly"></sc-float>
    </div>
  </div>
</ng-form>
