<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-md-5 col-sm-8" sc-has-error="aircraftProducer">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.aircraftProducer"></label>
      <sc-validation-error field-name="aircraftProducer" validations="{required: 'default'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.aircraftProducer" name="aircraftProducer" alias="'aircraftProducers'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-6 col-md-3" sc-has-error="airCategory">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.airCategory"></label>
      <sc-validation-error field-name="airCategory" validations="{required: 'default'}"></sc-validation-error>
      <sc-nomenclature ng-model="model.airCategory" name="airCategory" alias="'easaTypes'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.icao"></label>
      <sc-text ng-model="model.icao" name="icao" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4" sc-has-error="manSN">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.manSN"></label>
      <sc-validation-error field-name="manSN" validations="{required: 'default', unique: null}"></sc-validation-error>
      <sc-text ng-model="model.manSN" name="manSN" ng-required="true" ng-readonly="readonly" sc-validate="{unique: isUniqueMSN}" sc-validate-immediate="true"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8" sc-has-error="model">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.model"></label>
      <sc-validation-error field-name="model" validations="{required: 'default'}"></sc-validation-error>
      <sc-text ng-model="model.model" name="model" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-5 col-sm-8" sc-has-error="modelAlt">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.modelAlt"></label>
      <sc-validation-error field-name="modelAlt" validations="{required: 'default'}"></sc-validation-error>
      <sc-text ng-model="model.modelAlt" name="modelAlt" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-2" sc-has-error="outputDate">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.outputDate"></label>
      <sc-validation-error field-name="outputDate" validations="{required: 'default'}"></sc-validation-error>
      <sc-date ng-model="model.outputDate" name="outputDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.engine"></label>
      <sc-text ng-model="model.engine" name="engine" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.engineAlt"></label>
      <sc-text ng-model="model.engineAlt" name="engineAlt" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-2">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.docRoom"></label>
      <sc-text ng-model="model.docRoom" name="docRoom" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.propeller"></label>
      <sc-text ng-model="model.propeller" name="propeller" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.propellerAlt"></label>
      <sc-text ng-model="model.propellerAlt" name="propellerAlt" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-4 col-md-2">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.seats"></label>
      <sc-text ng-model="model.seats" name="seats" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.ModifOrWingColor"></label>
      <sc-text ng-model="model.ModifOrWingColor" name="ModifOrWingColor" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.ModifOrWingColorAlt"></label>
      <sc-text ng-model="model.ModifOrWingColorAlt" name="ModifOrWingColorAlt" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.maxMassT"></label>
      <sc-int ng-model="model.maxMassT" name="maxMassT" ng-readonly="readonly"></sc-int>
    </div>
    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.maxMassL"></label>
      <sc-int ng-model="model.maxMassL" name="maxMassL" ng-readonly="readonly"></sc-int>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-sm-8 col-md-5">
      <label class="control-label" l10n-text="aircrafts.aircraftDataDirective.aircraftType"></label>
      <sc-nomenclature ng-model="model.aircraftType" name="aircraftType" alias="'aircraftTypes'" ng-readonly="readonly"></sc-nomenclature>
    </div>

  </div>

  <h5 class="form-header" style="margin-top:10px;">
    <a l10n-text="aircrafts.aircraftDataDirective.noiseData"></a>
  </h5>


</ng-form>
