<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.issueNumber" l10n-text="aircrafts.noiseDirective.issueNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.issueDate" l10n-text="aircrafts.noiseDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.chapter" l10n-text="aircrafts.noiseDirective.chapter" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.tcds" l10n-text="aircrafts.noiseDirective.tcds" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.tcdsn" l10n-text="aircrafts.noiseDirective.tcdsn" class="col-md-3 col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="float" ng-model="model.flyover" l10n-text="aircrafts.noiseDirective.flyover" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="float" ng-model="model.approach" l10n-text="aircrafts.noiseDirective.approach" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="float" ng-model="model.lateral" l10n-text="aircrafts.noiseDirective.lateral" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="float" ng-model="model.overflight" l10n-text="aircrafts.noiseDirective.overflight" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="float" ng-model="model.takeoff" l10n-text="aircrafts.noiseDirective.takeoff" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.additionalModification" l10n-text="aircrafts.noiseDirective.additionalModification" class="col-md-6 col-sm-12"></sc-field>
  </div>
</ng-form>