<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.name" l10n-text="aircrafts.aircraftDataApexDirective.name" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.nameAlt" l10n-text="aircrafts.aircraftDataApexDirective.nameAlt" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.model" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.model" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.series" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.series" class="col-md-3 col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftTypeGroup" alias="'aircraftTypeGroups'" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.aircraftTypeGroup" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftCategory" alias="'aircraftCategories'" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.aircraftCategory" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftSCodeType" alias="'aircraftSCodeTypes'" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.aircraftSCodeType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftProducer" alias="'aircraftProducers'" ng-required="true" l10n-text="aircrafts.aircraftDataApexDirective.aircraftProducer" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="text" ng-model="model.manPlace" l10n-text="aircrafts.aircraftDataApexDirective.manPlace" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.manDate" l10n-text="aircrafts.aircraftDataApexDirective.manDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.manSN" l10n-text="aircrafts.aircraftDataApexDirective.manSN" class="col-md-3 col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.beaconCodeELT" l10n-text="aircrafts.aircraftDataApexDirective.beaconCodeELT" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="text" ng-model="model.maxMassT" l10n-text="aircrafts.aircraftDataApexDirective.maxMassT" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.maxMassL" l10n-text="aircrafts.aircraftDataApexDirective.maxMassL" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.icao" l10n-text="aircrafts.aircraftDataApexDirective.icao" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.docRoom" l10n-text="aircrafts.aircraftDataApexDirective.docRoom" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;" ng-init="showMassData = false">

    <a l10n-text="aircrafts.aircraftDataApexDirective.massData" ng-click="showMassData = !showMassData" style="cursor:pointer;"></a>

  </h5>

  <div class="row" ng-show="showMassData">
    <sc-field type="text" ng-model="model.mass.mass" l10n-text="aircrafts.aircraftDataApexDirective.mass" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.mass.cax" l10n-text="aircrafts.aircraftDataApexDirective.cax" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.mass.date" l10n-text="aircrafts.aircraftDataApexDirective.date" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;" ng-init="showUltralightData = false">

    <a l10n-text="aircrafts.aircraftDataApexDirective.ultralightData" ng-click="showUltralightData = !showUltralightData" style="cursor:pointer;"></a>

  </h5>

  <div class="row" ng-show="showUltralightData">
    <sc-field type="text" ng-model="model.ultralight.color" l10n-text="aircrafts.aircraftDataApexDirective.color" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.ultralight.colorAlt" l10n-text="aircrafts.aircraftDataApexDirective.colorAlt" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.ultralight.seats" l10n-text="aircrafts.aircraftDataApexDirective.seats" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.ultralight.payload" l10n-text="aircrafts.aircraftDataApexDirective.payload" class="col-md-3 col-sm-6"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;" ng-init="showNoiseData = false">

    <a l10n-text="aircrafts.aircraftDataApexDirective.noiseData" ng-click="showNoiseData = !showNoiseData" style="cursor:pointer;"></a>

  </h5>

  <div class="row" ng-show="showNoiseData">
    <sc-field type="text" ng-model="model.noise.flyover" l10n-text="aircrafts.aircraftDataApexDirective.flyover" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.noise.approach" l10n-text="aircrafts.aircraftDataApexDirective.approach" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.noise.lateral" l10n-text="aircrafts.aircraftDataApexDirective.lateral" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.noise.overflight" l10n-text="aircrafts.aircraftDataApexDirective.overflight" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.noise.takeoff" l10n-text="aircrafts.aircraftDataApexDirective.takeoff" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;" ng-init="showRadioData = false">

    <a l10n-text="aircrafts.aircraftDataApexDirective.radioData" ng-click="showRadioData = !showRadioData" style="cursor:pointer;"></a>

  </h5>

  <div class="row" ng-show="showRadioData">
    <sc-field type="text" ng-model="model.radio.approvalNumber" l10n-text="aircrafts.aircraftDataApexDirective.approvalNumber" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.radio.approvalDate" l10n-text="aircrafts.aircraftDataApexDirective.approvalDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.radio.incommingApprovalNumber" l10n-text="aircrafts.aircraftDataApexDirective.incommingApprovalNumber" class="col-md-3 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.radio.incommingApprovalDate" l10n-text="aircrafts.aircraftDataApexDirective.incommingApprovalDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
</ng-form>