<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftCertificateType" alias="'aircraftCertificateTypes'" ng-required="true" l10n-text="aircrafts.airworthinessDirective.aircraftCertificateType" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.refNumber" ng-required="true" l10n-text="aircrafts.airworthinessDirective.refNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" ng-required="true" l10n-text="aircrafts.airworthinessDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
</ng-form>