<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.issueNumber"></label>
      <sc-text ng-model="model.issueNumber" name="issueNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.issueDate"></label>
      <sc-date ng-model="model.issueDate" name="issueDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.chapter"></label>
      <sc-text ng-model="model.chapter" name="chapter" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.tcds"></label>
      <sc-text ng-model="model.tcds" name="tcds" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-3 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.tcdsn"></label>
      <sc-text ng-model="model.tcdsn" name="tcdsn" ng-readonly="readonly"></sc-text>
    </div>
  </div>


  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.flyover"></label>
      <sc-float ng-model="model.flyover" name="flyover" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.approach"></label>
      <sc-float ng-model="model.approach" name="approach" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.lateral"></label>
      <sc-float ng-model="model.lateral" name="lateral" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.overflight"></label>
      <sc-float ng-model="model.overflight" name="overflight" ng-readonly="readonly"></sc-float>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.takeoff"></label>
      <sc-float ng-model="model.takeoff" name="takeoff" ng-readonly="readonly"></sc-float>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.noiseDirective.additionalModification"></label>
      <sc-text ng-model="model.additionalModification" name="additionalModification" ng-readonly="readonly"></sc-text>
    </div>
  </div>
</ng-form>
