<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-md-2 col-sm-6" sc-has-error="certNumber">
      <label class="control-label" l10n-text="aircrafts.radioDirective.certNumber"></label>
      <sc-validation-error field-name="certNumber" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.certNumber" name="certNumber" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4" sc-has-error="issueDate">
      <label class="control-label" l10n-text="aircrafts.radioDirective.issueDate"></label>
      <sc-validation-error field-name="issueDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.issueDate" name="issueDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4" sc-has-error="validToDate">
      <label class="control-label" l10n-text="aircrafts.radioDirective.validToDate"></label>
      <sc-validation-error field-name="validToDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.validToDate" name="validToDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-2" sc-has-error="valid">
      <label class="control-label" l10n-text="aircrafts.radioDirective.valid"></label>
      <sc-validation-error field-name="valid" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.valid" name="valid" alias="'boolean'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-mid-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.radioDirective.aircraftRadioType"></label>
      <sc-nomenclature ng-model="model.radios.aircraftRadioType" name="aircraftRadioType" alias="'aircraftRadioTypes'" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.radioDirective.count"></label>
      <sc-text ng-model="model.radios.count" name="count" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3 col-sm-5" >
      <label class="control-label" l10n-text="aircrafts.radioDirective.producer"></label>
      <sc-text ng-model="model.radios.producer" name="producer" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-3 col-sm-5">
      <label class="control-label" l10n-text="aircrafts.radioDirective.model"></label>
      <sc-text ng-model="model.radios.model" name="model" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.radioDirective.power"></label>
      <sc-text ng-model="model.radios.power" name="power" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.radioDirective.class"></label>
      <sc-text ng-model="model.radios.class" name="class" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.radioDirective.bandwidth"></label>
      <sc-text ng-model="model.radios.bandwidth" name="bandwidth" ng-readonly="readonly"></sc-text>
    </div>
  </div>

</ng-form>
