<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.regDate" l10n-text="aircrafts.debtDirective.regDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="time" ng-model="model.regTime" ng-required="true" l10n-text="aircrafts.debtDirective.regTime" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftDebtType" alias="'aircraftDebtTypes'" ng-required="true" l10n-text="aircrafts.debtDirective.aircraftDebtType" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="text" ng-model="model.contractNumber" l10n-text="aircrafts.debtDirective.contractNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.contractDate" l10n-text="aircrafts.debtDirective.contractDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.creditorName" l10n-text="aircrafts.debtDirective.creditorName" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.creditorNameAlt" l10n-text="aircrafts.debtDirective.creditorNameAlt" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.startDate" l10n-text="aircrafts.debtDirective.startDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" l10n-text="aircrafts.debtDirective.inspector" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" ng-model="model.startReason" l10n-text="aircrafts.debtDirective.startReason" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" ng-model="model.startReasonAlt" l10n-text="aircrafts.debtDirective.startReasonAlt" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.ltrNumber" l10n-text="aircrafts.debtDirective.ltrNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.ltrDate" l10n-text="aircrafts.debtDirective.ltrDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.endDate" l10n-text="aircrafts.debtDirective.endDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.closeInspector" alias="'inspectors'" l10n-text="aircrafts.debtDirective.closeInspector" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" ng-model="model.endReason" l10n-text="aircrafts.debtDirective.endReason" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.closeAplicationNumber" l10n-text="aircrafts.debtDirective.closeAplicationNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.closeAplicationDate" l10n-text="aircrafts.debtDirective.closeAplicationDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.closeCaaAplicationNumber" l10n-text="aircrafts.debtDirective.closeCaaAplicationNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.closeCaaAplicationDate" l10n-text="aircrafts.debtDirective.closeCaaAplicationDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" cols="50" ng-model="model.notes" l10n-text="aircrafts.debtDirective.notes" class="col-sm-12 col-md-8"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;" ng-init="showCreditor = false">

    <a l10n-text="aircrafts.debtDirective.creditorData" ng-click="showCreditor = !showCreditor" style="cursor:pointer;"></a>

  </h5>

  <div ng-show="showCreditor">
    <div class="row">
      <sc-field type="text" ng-model="model.creditorAddress" l10n-text="aircrafts.debtDirective.creditorAddress" class="col-md-8"></sc-field>
      <sc-field type="text" ng-model="model.creditorEmail" l10n-text="aircrafts.debtDirective.creditorEmail" class="col-md-4"></sc-field>
    </div>
    <div class="row">
      <sc-field type="text" ng-model="model.creditorContact" l10n-text="aircrafts.debtDirective.creditorContact" class="col-md-8"></sc-field>
      <sc-field type="text" ng-model="model.creditorPhone" l10n-text="aircrafts.debtDirective.creditorPhone" class="col-md-4"></sc-field>
    </div>
  </div>
</ng-form>