<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <div class="form-group col-sm-2" sc-has-error="register">
      <label class="control-label" l10n-text="aircrafts.regDirective.register"></label>
      <sc-validation-error field-name="register" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.register" name="register" alias="'registers'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-6" sc-has-error="aircraftCertificateType">
      <label class="control-label" l10n-text="aircrafts.regDirective.aircraftCertificateType"></label>
      <sc-validation-error field-name="aircraftCertificateType" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.aircraftCertificateType" name="aircraftCertificateType" alias="'aircraftCertificateTypes'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-6" sc-has-error="certNumber">
      <label class="control-label" l10n-text="aircrafts.regDirective.certNumber"></label>
      <sc-validation-error field-name="certNumber" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.certNumber" name="certNumber" ng-required="true" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4" sc-has-error="certDate">
      <label class="control-label" l10n-text="aircrafts.regDirective.certDate"></label>
      <sc-validation-error field-name="certDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.certDate" name="certDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regDirective.aircraftNewOld"></label>
      <sc-nomenclature ng-model="model.aircraftNewOld" name="aircraftNewOld" alias="'aircraftNewOld'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="aircrafts.regDirective.operationType"></label>
      <sc-nomenclature ng-model="model.operationType" name="operationType" alias="'operationTypes'" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label" l10n-text="aircrafts.regDirective.inspector"></label>
      <sc-nomenclature ng-model="model.inspector" name="inspector" alias="'inspectors'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <h5 class="form-header" l10n-text="aircrafts.regDirective.typeCertTitle"></h5>
  <div class="row">
    <div class="form-group col-md-6 col-sm-8" sc-has-error="aircraftTypeCertificateType">
      <label class="control-label" l10n-text="aircrafts.regDirective.aircraftTypeCertificateType"></label>
      <sc-validation-error field-name="aircraftTypeCertificateType" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.typeCert.aircraftTypeCertificateType" name="aircraftTypeCertificateType" alias="'aircraftTypeCertificateTypes'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regDirective.typeCertNumber"></label>
      <sc-validation-error field-name="certNumber" validations="{required: null}"></sc-validation-error>
      <sc-text ng-model="model.typeCert.certNumber" name="typeCertNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regDirective.typeCertDate"></label>
      <sc-date ng-model="model.typeCert.certDate" name="typeCertDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regDirective.typeCertRelease"></label>
      <sc-text ng-model="model.typeCert.certRelease" name="typeCertRelease" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regDirective.contry"></label>
      <sc-nomenclature ng-model="model.typeCert.contry" name="contry" alias="'contries'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

</ng-form>
