<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.regDate" l10n-text="aircrafts.debtDirectiveFM.regDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="time" ng-model="model.regTime" ng-required="true" l10n-text="aircrafts.debtDirectiveFM.regTime" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftDebtType" alias="'aircraftDebtTypes'" ng-required="true" l10n-text="aircrafts.debtDirectiveFM.aircraftDebtType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" l10n-text="aircrafts.debtDirectiveFM.documentNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.documentDate" l10n-text="aircrafts.debtDirectiveFM.documentDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.theirNumber" l10n-text="aircrafts.debtDirectiveFM.theirNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.theirDate" l10n-text="aircrafts.debtDirectiveFM.theirDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-7 col-md-5">
      <label class="control-label" l10n-text="aircrafts.debtDirectiveFM.aircraftApplicant"></label>
      <div class="input-group">
        <sc-nomenclature class="form-control input-sm" ng-model="model.aircraftApplicant" alias="'aircraftCreditorsFm'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-button type="button" class="btn btn-sm btn-default glyphicon-plus" btn-click="newApplicant()" ng-if="!form.$readonly"></sc-button>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="4" ng-model="model.notes" l10n-text="aircrafts.debtDirectiveFM.notes" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" ng-class="{ 'has-error': form.$validated && !form.$readonly && (form['inspectorType'].$invalid || form['inspector'].$invalid || form['other'].$invalid) }">
      <label class="control-label" l10n-text="aircrafts.inspectorDirective.checkedBy"></label>
      <sc-validation-error field-name="inspectorType" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'inspector'" field-name="inspector" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'other'" field-name="other" validations="{required: null}"></sc-validation-error>
      <div class="input-group" style="width:100%">
        <select name="inspectorType" class="form-control input-sm" style="width: 110px" ng-model="inspectorType" ng-readonly="form.$readonly" ng-required="true" ui-select2="{ placeholder: ' ', allowClear: true, minimumResultsForSearch: -1 }">
          <option></option>
          <option value="inspector" l10n-text="aircrafts.inspectorDirective.inspector"></option>
          <option value="other" l10n-text="aircrafts.inspectorDirective.other"></option>
        </select>
        <sc-nomenclature ng-if="inspectorType  === 'inspector'" class="form-control input-sm" ng-model="model.inspector.inspector" name="inspector" alias="'inspectors'" params="{limit: null}" ng-required="true" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-text ng-if="inspectorType  === 'other'" class="form-control input-sm" ng-model="model.inspector.other" name="other" ng-required="true" ng-readonly="form.$readonly"></sc-text>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-3">
      <label class="control-label" l10n-text="aircrafts.debtDirectiveFM.isActive"></label>
      <input type="checkbox" ng-model="model.isActive" ng-disabled="form.$readonly"/>
    </div>
  </div>
</ng-form>