<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftProducer" alias="'aircraftProducers'" ng-required="true" l10n-text="aircrafts.aircraftDataDirective.aircraftProducer" class="col-md-5 col-sm-8"></sc-field>
    <sc-field type="nomenclature" ng-model="model.airCategory" alias="'easaTypes'" ng-required="true" l10n-text="aircrafts.aircraftDataDirective.airCategory" class="col-sm-6 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.icao" l10n-text="aircrafts.aircraftDataDirective.icao" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.manSN" ng-required="true" sc-validate="{unique: isUniqueMSN}" sc-validate-immediate="true" l10n-text="aircrafts.aircraftDataDirective.manSN" validations="{unique: 'default'}" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.model" ng-required="true" l10n-text="aircrafts.aircraftDataDirective.model" class="col-md-5 col-sm-8"></sc-field>
    <sc-field type="text" ng-model="model.modelAlt" ng-required="true" l10n-text="aircrafts.aircraftDataDirective.modelAlt" class="col-md-5 col-sm-8"></sc-field>
    <sc-field type="date" ng-model="model.outputDate" ng-required="true" l10n-text="aircrafts.aircraftDataDirective.outputDate" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.engine" l10n-text="aircrafts.aircraftDataDirective.engine" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.engineAlt" l10n-text="aircrafts.aircraftDataDirective.engineAlt" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.docRoom" l10n-text="aircrafts.aircraftDataDirective.docRoom" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.propeller" l10n-text="aircrafts.aircraftDataDirective.propeller" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.propellerAlt" l10n-text="aircrafts.aircraftDataDirective.propellerAlt" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.seats" l10n-text="aircrafts.aircraftDataDirective.seats" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.ModifOrWingColor" l10n-text="aircrafts.aircraftDataDirective.ModifOrWingColor" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="text" ng-model="model.ModifOrWingColorAlt" l10n-text="aircrafts.aircraftDataDirective.ModifOrWingColorAlt" class="col-sm-8 col-md-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="int" ng-model="model.maxMassT" l10n-text="aircrafts.aircraftDataDirective.maxMassT" class="col-sm-8 col-md-5"></sc-field>
    <sc-field type="int" ng-model="model.maxMassL" l10n-text="aircrafts.aircraftDataDirective.maxMassL" class="col-sm-8 col-md-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftType" alias="'aircraftTypes'" l10n-text="aircrafts.aircraftDataDirective.aircraftType" class="col-sm-8 col-md-5"></sc-field>
  </div>
  <h5 class="form-header" style="margin-top:10px;">
    <a l10n-text="aircrafts.aircraftDataDirective.noiseData"></a>
  </h5>
</ng-form>