<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="int" ng-model="model.certNumber" ng-if="model.register.code !== '2'" name="certNumber" ng-readonly="true" l10n-text="aircrafts.regFMDirective.certNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field-group ng-if="model.register.code === '2'" class="col-md-2 col-sm-4" text="aircrafts.regFMDirective.certNumber">
      <span >II - </span>
      <sc-field type="int" ng-model="model.certNumber" name="certNumber" ng-readonly="true"></sc-field>
    </sc-field-group>

    <sc-field type="int" ng-if="model.register.code !== '2'" ng-readonly="true" ng-model="model.actNumber" class="col-md-2 col-sm-4" l10n-text="aircrafts.regFMDirective.actNumber"></sc-field>
    <sc-field-group ng-if="model.register.code === '2'" class="col-md-2 col-sm-4" text="aircrafts.regFMDirective.actNumber">
      <span >II - </span>
      <sc-field type="int" ng-model="model.actNumber" name="actNumber" ng-readonly="true"></sc-field>
    </sc-field-group>

    <sc-field type="text" ng-model="model.regMark" l10n-text="aircrafts.regFMDirective.regMark" ng-readonly="true" class="col-md-2 col-sm-4" ng-pattern="regMarkPattern"></sc-field>
    <sc-field type="date" ng-model="model.certDate" l10n-text="aircrafts.regFMDirective.certDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.incomingDocNumber" l10n-text="aircrafts.regFMDirective.incomingDocNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.incomingDocDate" l10n-text="aircrafts.regFMDirective.incomingDocDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.incomingDocDesc" l10n-text="aircrafts.regFMDirective.incomingDocDesc" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" ng-class="{ 'has-error': form.$validated && !form.$readonly && (form['inspectorType'].$invalid || form['inspector'].$invalid || form['other'].$invalid) }">
      <label class="control-label" l10n-text="aircrafts.inspectorDirective.checkedBy"></label>
      <sc-validation-error field-name="inspectorType" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'inspector'" field-name="inspector" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'other'" field-name="other" validations="{required: null}"></sc-validation-error>
      <div class="input-group" style="width:100%">
        <select name="inspectorType" class="form-control input-sm" style="width: 110px" ng-model="inspectorType" ng-readonly="form.$readonly" ng-required="true" ui-select2="{ placeholder: ' ', allowClear: true, minimumResultsForSearch: -1 }">
          <option></option>
          <option value="inspector" l10n-text="aircrafts.inspectorDirective.inspector"></option>
          <option value="other" l10n-text="aircrafts.inspectorDirective.other"></option>
        </select>
        <sc-nomenclature ng-if="inspectorType  === 'inspector'" class="form-control input-sm" ng-model="model.inspector.inspector" name="inspector" alias="'inspectors'" params="{limit: null}" ng-required="true" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-text ng-if="inspectorType  === 'other'" class="form-control input-sm" ng-model="model.inspector.other" name="other" ng-required="true" ng-readonly="form.$readonly"></sc-text>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.status" ng-required="true" alias="'aircraftRegStatsesFm'" l10n-text="aircrafts.regFMDirective.status" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <h5 class="form-header"></h5>

  <div class="row">
    <div class="col-sm-7 col-md-5">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.owner"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="form.$readonly">
            {{model.ownerIsOrg? 'ЮЛ' : 'ФЛ'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="model.ownerIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a>
            </li>
            <li>
              <a ng-click="model.ownerIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a>
            </li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerOrganization" name="ownerOrganization" alias="'organizations'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerPerson" name="ownerPerson" alias="'persons'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-button type="button" class="btn btn-sm btn-default glyphicon-plus" btn-click="new('owner')" ng-if="!form.$readonly"></sc-button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 col-md-5">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.operator"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="form.$readonly">
            {{model.operIsOrg? 'ЮЛ' : 'ФЛ'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="model.operIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a>
            </li>
            <li>
              <a ng-click="model.operIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a>
            </li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.operIsOrg" class="form-control input-sm" ng-model="model.operOrganization" name="operOrganization" alias="'organizations'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.operIsOrg" class="form-control input-sm" ng-model="model.operPerson" name="operPerson" alias="'persons'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-button type="button" class="btn btn-sm btn-default glyphicon-plus" btn-click="new('oper')" ng-if="!form.$readonly"></sc-button>
      </div>
    </div>
  </div>
  <h5 class="form-header"></h5>

  <div class="row">
    <sc-field type="nomenclature" ng-model="model.catAW" alias="'aircraftCatAWsFm'" ng-required="true" multiple l10n-text="aircrafts.regFMDirective.catAW" class="col-md-4 col-sm-6"></sc-field>
    <sc-field type="nomenclature" ng-model="model.limitations" alias="'aircraftLimitationsFm'" ng-required="true" multiple l10n-text="aircrafts.regFMDirective.limitation" class="col-md-4 col-sm-6"></sc-field>
  </div>

  <h5 class="form-header"></h5>

  <div class="row">
    <sc-field type="text" ng-model="model.leasingDocNumber" l10n-text="aircrafts.regFMDirective.leasingDocNumber" class="col-md-3 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.leasingDocDate" l10n-text="aircrafts.regFMDirective.leasingDocDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.leasingEndDate" l10n-text="aircrafts.regFMDirective.leasingEndDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingLessor"></label>
      <div class="input-group-btn">
        <select name="lessorType" class="form-control input-sm" style="width: 110px" ng-model="model.lessorType" ng-readonly="form.$readonly" ui-select2="{ placeholder: ' ', allowClear: true, minimumResultsForSearch: -1 }">
          <option></option>
          <option value="organization" l10n-text="aircrafts.regFMDirective.organization"></option>
          <option value="person" l10n-text="aircrafts.regFMDirective.person"></option>
        </select>
        <sc-nomenclature ng-if="model.lessorType === 'organization'" class="form-control input-sm" ng-model="model.lessorOrganization" name="lessorOrganization" alias="'organizations'" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="model.lessorType === 'person'" class="form-control input-sm" ng-model="model.lessorPerson" name="lessorPerson" alias="'persons'" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-button ng-if="!form.$readonly" type="button" class="btn btn-sm btn-default glyphicon-plus" btn-click="new('lessor')"></sc-button>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.leasingAgreement" l10n-text="aircrafts.regFMDirective.leasingAgreement" class="col-md-8 col-sm-12"></sc-field>
  </div>
</ng-form>