<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.equipment" alias="'aircraftRadioTypes'" l10n-text="aircrafts.radioEntryDirective.equipment" class="col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.otherType" ng-if="model.equpiment.code === 'Otr'" l10n-text="aircrafts.radioEntryDirective.otherType" class="col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="int" ng-model="model.count" l10n-text="aircrafts.radioEntryDirective.count" class="col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.power" l10n-text="aircrafts.radioEntryDirective.power" class="col-sm-5"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.class" l10n-text="aircrafts.radioEntryDirective.classOfEmission" class="col-sm-4"></sc-field> 
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.bandwidth" l10n-text="aircrafts.radioEntryDirective.bandwidth" class="col-sm-4"></sc-field>
  </div>
</ng-form>