<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field custom-type="gva-part-select" ng-model="model.registration" ng-required="true" lot-id="model.lotId" part-path="aircraftCertRegistrationsFM" l10n-text="aircrafts.debtDirectiveFM.registration" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.regDate" l10n-text="aircrafts.debtDirectiveFM.regDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="time" ng-model="model.regTime" ng-required="true" l10n-text="aircrafts.debtDirectiveFM.regTime" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftDebtType" alias="'aircraftDebtTypes'" ng-required="true" l10n-text="aircrafts.debtDirectiveFM.aircraftDebtType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" l10n-text="aircrafts.debtDirectiveFM.documentNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.documentDate" l10n-text="aircrafts.debtDirectiveFM.documentDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftCreditor" alias="'aircraftCreditorsFm'" ng-required="false" l10n-text="aircrafts.debtDirectiveFM.aircraftCreditor" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="4" ng-model="model.creditorDocument" l10n-text="aircrafts.debtDirectiveFM.creditorDocument" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" l10n-text="aircrafts.debtDirectiveFM.inspector" class="col-md-4 col-sm-8"></sc-field>
  </div>
</ng-form>