<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftPart" alias="'aircraftParts'" ng-required="true" l10n-text="aircrafts.aircraftPartDirective.aircraftPart" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.partProducer" alias="'aircraftProducers'" params="{ makeRadio: model.aircraftPart.code === 'RAD', makeEngine: model.aircraftPart.code === 'ENG', makePropeller: model.aircraftPart.code === 'PRP' }"
    ng-required="true" l10n-text="aircrafts.aircraftPartDirective.partProducer" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.model" ng-required="true" l10n-text="aircrafts.aircraftPartDirective.model" class="col-sm-12 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.modelAlt" l10n-text="aircrafts.aircraftPartDirective.modelAlt" class="col-sm-12 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.sn" l10n-text="aircrafts.aircraftPartDirective.sn" class="col-sm-8 col-md-4"></sc-field>
    <sc-field type="int" ng-model="model.count" ng-required="true" l10n-text="aircrafts.aircraftPartDirective.count" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.aircraftPartStatus" alias="'aircraftPartStatuses'" ng-required="true" l10n-text="aircrafts.aircraftPartDirective.aircraftPartStatus" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.manDate" l10n-text="aircrafts.aircraftPartDirective.manDate" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.manPlace" l10n-text="aircrafts.aircraftPartDirective.manPlace" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" ng-model="model.description" l10n-text="aircrafts.aircraftPartDirective.description" class="col-sm-12 col-md-6"></sc-field>
  </div>
</ng-form>