<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.lim145limitation" alias="'lim145limitations'" ng-required="true" l10n-text="aircrafts.maintenanceDirective.lim145limitation" class="col-sm-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.person" alias="'persons'" l10n-text="aircrafts.maintenanceDirective.person" class="col-sm-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" l10n-text="aircrafts.maintenanceDirective.organization" class="col-sm-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.fromDate" ng-required="true" l10n-text="aircrafts.maintenanceDirective.fromDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.toDate" ng-required="true" l10n-text="aircrafts.maintenanceDirective.toDate" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="3" ng-model="model.notes" l10n-text="aircrafts.maintenanceDirective.notes" class="col-md-3"></sc-field>
  </div>
</ng-form>