<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field-group class="col-md-2 col-sm-4" text="aircrafts.regFMDirective.certNumber">
      <span ng-if="model.register && model.register.textContent.regPrefix">
        {{model.register && model.register.textContent.regPrefix}}
      </span>
      <sc-int ng-model="model.certNumber" name="certNumber" ng-readonly="true"></sc-int>
    </sc-field-group>
    <sc-field type="nomenclature" ng-model="model.register" alias="'registers'" l10n-text="aircrafts.regFMDirective.register" class="col-sm-2 col-sm-4"></sc-field>
    <sc-field type="int" ng-model="model.actNumber" l10n-text="aircrafts.regFMDirective.actNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.regMark" l10n-text="aircrafts.regFMDirective.regMark" class="col-md-2 col-sm-4" ng-pattern="regMarkPattern"></sc-field>
    <sc-field type="date" ng-model="model.certDate" l10n-text="aircrafts.regFMDirective.certDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.incomingDocNumber" l10n-text="aircrafts.regFMDirective.incomingDocNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.incomingDocDate" l10n-text="aircrafts.regFMDirective.incomingDocDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.incomingDocDesc" l10n-text="aircrafts.regFMDirective.incomingDocDesc" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <h5 class="form-header"></h5>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.owner"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="form.$readonly">
            {{model.ownerIsOrg? 'ЮЛ' : 'ФЛ'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="model.ownerIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a>
            </li>
            <li>
              <a ng-click="model.ownerIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a>
            </li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerOrganization" name="ownerOrganization" alias="'organizations'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerPerson" name="ownerPerson" alias="'persons'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
      </div>
    </div>
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.operator"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="form.$readonly">
            {{model.operIsOrg? 'ЮЛ' : 'ФЛ'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="model.operIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a>
            </li>
            <li>
              <a ng-click="model.operIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a>
            </li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.operIsOrg" class="form-control input-sm" ng-model="model.operOrganization" name="operOrganization" alias="'organizations'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.operIsOrg" class="form-control input-sm" ng-model="model.operPerson" name="operPerson" alias="'persons'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
      </div>
    </div>
  </div>
  <h5 class="form-header"></h5>

  <div class="row">
    <sc-field type="nomenclature" ng-model="model.catAW" alias="'aircraftCatAWsFm'" ng-required="true" multiple l10n-text="aircrafts.regFMDirective.catAW" class="col-md-4 col-sm-6"></sc-field>
    <sc-field type="nomenclature" ng-model="model.limitations" alias="'aircraftLimitationsFm'" ng-required="true" multiple l10n-text="aircrafts.regFMDirective.limitation" class="col-md-4 col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.operationType" alias="'aircraftOperTypes'" l10n-text="aircrafts.regFMDirective.operationType" class="col-sm-8 col-md-4"></sc-field>
  </div>
  <h5 class="form-header"></h5>

  <div class="row">
    <sc-field type="text" ng-model="model.leasingDocNumber" l10n-text="aircrafts.regFMDirective.leasingDocNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.leasingDocDate" l10n-text="aircrafts.regFMDirective.leasingDocDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.leasingEndDate" l10n-text="aircrafts.regFMDirective.leasingEndDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingLessor"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="form.$readonly">
            {{model.lessorIsOrg? 'ЮЛ' : 'ФЛ'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="model.lessorIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a>
            </li>
            <li>
              <a ng-click="model.lessorIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a>
            </li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.lessorIsOrg" class="form-control input-sm" ng-model="model.lesorOrganization" name="lesorOrganization" alias="'organizations'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.lessorIsOrg" class="form-control input-sm" ng-model="model.lessorPerson" name="lessorPerson" alias="'persons'" ng-required="false" ng-readonly="form.$readonly"></sc-nomenclature>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.leasingAgreement" l10n-text="aircrafts.regFMDirective.leasingAgreement" class="col-md-8 col-sm-12"></sc-field>
  </div>
</ng-form>