<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" l10n-text="aircrafts.aircraftOtherDirective.documentNumber" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.documentDateValidFrom" l10n-text="aircrafts.aircraftOtherDirective.documentDateValidFrom" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.documentDateValidTo" l10n-text="aircrafts.aircraftOtherDirective.documentDateValidTo" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.documentPublisher" ng-required="true" l10n-text="aircrafts.aircraftOtherDirective.documentPublisher" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.otherDocumentType" alias="'documentTypes'" mode="id" params="{ isIdDocument: false }" ng-required="true" l10n-text="aircrafts.aircraftOtherDirective.otherDocumentType" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.otherDocumentRoleId" alias="'documentRoles'" mode="id" params="{ categoryAlias: 'other'}" ng-required="true" l10n-text="aircrafts.aircraftOtherDirective.otherDocumentRole" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.validId" alias="'boolean'" mode="id" l10n-text="aircrafts.aircraftOtherDirective.valid" class="col-sm-6 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.notes" alias="'notes'" l10n-text="aircrafts.aircraftOtherDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>