<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.issueDate" l10n-text="aircrafts.airworthinessFMDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" l10n-text="aircrafts.airworthinessFMDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <gva-aircraft-inspector ng-model="model.inspector" sc-data-show-inspectors="false" sc-data-is-readonly="form.$readonly"></gva-aircraft-inspector>
    <sc-field type="text" ng-model="model.approvalNumber" l10n-text="aircrafts.airworthinessFMDirective.approvalNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.refNumber" l10n-text="aircrafts.airworthinessFMDirective.refNumber" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organzations'" l10n-text="aircrafts.airworthinessFMDirective.organzation" class="col-md-4 col-sm-8"></sc-field>
  </div>
</ng-form>