<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.status" ng-required="true" alias="'aircraftRegStatsesFm'" l10n-text="aircrafts.airworthinessReviewOtherDirective.status" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessReviewOtherDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" ng-required="true" l10n-text="aircrafts.airworthinessReviewOtherDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.approvalNumber" ng-required="true" l10n-text="aircrafts.airworthinessReviewOtherDirective.approvalNumber" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <gva-aircraft-inspector name="inspector" ng-model="model.inspector" readonly="readonly" sc-form-params="{ inspectorTypes: ['inspector'] }"></gva-aircraft-inspector>
  </div>
</ng-form>
