<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.airworthinessReviewType" ng-required="true" alias="'airworthinessReviewTypes'" l10n-text="aircrafts.airworthinessForm15MainDirective.airworthinessReviewType" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessForm15MainDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" ng-required="true" l10n-text="aircrafts.airworthinessForm15MainDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.approvalNumber" ng-required="true" l10n-text="aircrafts.airworthinessForm15MainDirective.approvalNumber" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row" ng-switch="model.airworthinessReviewType.alias">
    <gva-aircraft-inspector ng-switch-when="15a" name="inspector" ng-model="model.inspector" readonly="readonly" sc-data-inspector-types="['inspector']"></gva-aircraft-inspector>
    <gva-aircraft-inspector ng-switch-when="15b" name="inspector" ng-model="model.inspector" readonly="readonly" sc-data-inspector-types="['examiner','other']"></gva-aircraft-inspector>
    <gva-aircraft-inspector ng-switch-when="unknown" name="inspector" ng-model="model.inspector" readonly="readonly" sc-data-inspector-types="['inspector','examiner','other']"></gva-aircraft-inspector>
  </div>
</ng-form>
