<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-sm-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.register"></label>
      <sc-nomenclature ng-model="model.register" name="register" alias="'registers'" ng-readonly="true"></sc-nomenclature>
    </div>
    <sc-field-group class="col-md-2 col-sm-4" text="aircrafts.regFMDirective.certNumber">
      <span ng-if="model.register && model.register.textContent.regPrefix">{{model.register && model.register.textContent.regPrefix}}</span>
      <sc-int ng-model="model.certNumber" name="certNumber" ng-readonly="true"></sc-int>
    </sc-field-group>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.actNumber"></label>
      <sc-int ng-model="model.actNumber" name="actNumber" ng-readonly="true"></sc-int>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.regMark"></label>
      <sc-text ng-model="model.regMark" name="regMark" ng-readonly="true"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.certDate"></label>
      <sc-date ng-model="model.certDate" name="certDate" ng-readonly="readonly"></sc-date>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocNumber"></label>
      <sc-text ng-model="model.incomingDocNumber" name="incomingDocNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocDate"></label>
      <sc-date ng-model="model.incomingDocDate" name="incomingDocDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.incomingDocDesc"></label>
      <sc-text ng-model="model.incomingDocDesc" name="incomingDocDesc" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">


    <div class="col-sm-2 col-md-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.owner"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="readonly">
            {{model.ownerIsOrg? 'ЮЛ' : 'ФЛ'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="model.ownerIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a></li>
            <li><a ng-click="model.ownerIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a></li>
          </ul>
        </div>
          <sc-nomenclature ng-if="model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerOrganization" name="ownerOrganization" alias="'organizations'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
          <sc-nomenclature ng-if="!model.ownerIsOrg" class="form-control input-sm" ng-model="model.ownerPerson" name="ownerPerson" alias="'persons'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
      </div>
    </div>
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.operator"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="readonly">
            {{model.operIsOrg? 'ЮЛ' : 'ФЛ'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="model.operIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a></li>
            <li><a ng-click="model.operIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a></li>
          </ul>
        </div>
          <sc-nomenclature ng-if="model.operIsOrg" class="form-control input-sm" ng-model="model.operOrganization" name="operOrganization" alias="'organizations'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
          <sc-nomenclature ng-if="!model.operIsOrg" class="form-control input-sm" ng-model="model.operPerson" name="operPerson" alias="'persons'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
      </div>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6" sc-has-error="catAW">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.catAW"></label>
      <sc-validation-error field-name="catAW" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.catAW" name="catAW" alias="'aircraftCatAWs'" ng-required="true" ng-readonly="readonly" multiple></sc-nomenclature>
    </div>
    <div class="form-group col-md-4 col-sm-6" sc-has-error="limitation">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.limitation"></label>
      <sc-validation-error field-name="limitation" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.limitation" name="limitation" alias="'aircraftLimitationsFm'" ng-required="true" ng-readonly="readonly" multiple></sc-nomenclature>
    </div>
  </div>
  <h5 class="form-header"></h5>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingDocNumber"></label>
      <sc-text ng-model="model.leasingDocNumber" name="leasingDocNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingDocDate"></label>
      <sc-date ng-model="model.leasingDocDate" name="leasingDocDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingEndDate"></label>
      <sc-text ng-model="model.leasingEndDate" name="leasingEndDate" ng-readonly="readonly"></sc-text>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingLessor"></label>
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" style="text-align: left; width: 40px" ng-disabled="readonly">
            {{model.lessorIsOrg? 'ЮЛ' : 'ФЛ'}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="model.lessorIsOrg = true" l10n-text="aircrafts.regFMDirective.organization"></a></li>
            <li><a ng-click="model.lessorIsOrg = false" l10n-text="aircrafts.regFMDirective.person"></a></li>
          </ul>
        </div>
        <sc-nomenclature ng-if="model.lessorIsOrg" class="form-control input-sm" ng-model="model.lesorOrganization" name="lesorOrganization" alias="'organizations'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
        <sc-nomenclature ng-if="!model.lessorIsOrg" class="form-control input-sm" ng-model="model.lessorPerson" name="lessorPerson" alias="'persons'" ng-required="false" ng-readonly="readonly"></sc-nomenclature>
      </div>
    </div>
    </div>
  <div class="row">
    <div class="form-group col-md-8 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.leasingAgreement"></label>
      <sc-textarea rows="1" ng-model="model.leasingAgreement" name="leasingAgreement" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
</ng-form>
