<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
    <div class="form-group col-md-2 col-sm-4" sc-has-error="removalDate">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalDate"></label>
      <sc-validation-error field-name="removalDate" validations="{required: null}"></sc-validation-error>
      <sc-date ng-model="model.date" name="removalDate" ng-required="true" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-4 col-sm-8" sc-has-error="removalReason">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalReason"></label>
      <sc-validation-error field-name="removalReason" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.reason" name="removalReason" alias="'aircraftRemovalReasonsFm'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-10 col-sm-12">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalText"></label>
      <sc-textarea rows="2" ng-model="model.text" name="removalText" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalDocumentNumber"></label>
      <sc-text ng-model="model.documentNumber" name="removalDocumentNumber" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalDocumentDate"></label>
      <sc-date ng-model="model.documentDate" name="removalDocumentDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalInspector"></label>
      <sc-nomenclature ng-model="model.inspector" name="removalInspector" alias="'inspectors'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalCountry"></label>
      <sc-nomenclature ng-model="model.country" name="removalCountry" alias="'countries'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalNotes"></label>
      <sc-textarea ng-model="model.notes" name="removalNotes" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-8">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.removalNotesAlt"></label>
      <sc-textarea ng-model="model.notesAlt" name="removalNotesAlt" ng-readonly="readonly"></sc-textarea>
    </div>
  </div>
</ng-form>
