<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row" ng-if="showAmendmentType">
    <sc-field type="nomenclature" ng-model="model.airworthinessReviewType" ng-required="true" alias="'airworthinessReviewTypes'" l10n-text="aircrafts.airworthinessFMDirective.airworthinessReviewType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.issueDate" l10n-text="aircrafts.airworthinessFMDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" l10n-text="aircrafts.airworthinessFMDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <gva-aircraft-inspector ng-if="model.airworthinessReviewType.code === 'AW'" name="inspector" ng-model="model.inspector" sc-data-show-inspectors="false" readonly="readonly"></gva-aircraft-inspector>
    <gva-aircraft-inspector ng-if="model.airworthinessReviewType.code === 'AV'" name="inspector" ng-model="model.inspector" sc-data-show-inspectors="true" readonly="readonly"></gva-aircraft-inspector>
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" l10n-text="aircrafts.airworthinessFMDirective.inspector" class="col-md-4 col-sm-8"></sc-field>
    <sc-field type="text" ng-model="model.approvalNumber" l10n-text="aircrafts.airworthinessFMDirective.approvalNumber" class="col-md-2 col-sm-4"></sc-field>
  </div>
</ng-form>