<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.aircraftCertificateType" ng-required="true" alias="'airworthinessCertificateTypes'" l10n-text="aircrafts.airworthinessFMDirective.aircraftCertificateType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field custom-type="gva-part-select" ng-model="model.part.registration" ng-required="true" lot-id="model.lotId" part-path="aircraftCertRegistrationsFM" l10n-text="aircrafts.airworthinessFMDirective.registration" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.part.certNumber" l10n-text="aircrafts.airworthinessFMDirective.certNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.part.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessFMDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <gva-aircraft-inspector name="inspector" ng-model="model.part.inspector" sc-data-show-inspectors="true" readonly="readonly"></gva-aircraft-inspector>
  </div>
  <div class="row" ng-hide="hideApplications">
    <div class="form-group col-sm-10 col-md-4">
      <label class="control-label" l10n-text="common.scannedDocumentlDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="'aircraft'" ng-readonly="form.$readonly"></gva-applications>
    </div>
  </div>
</ng-form>