<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="date" ng-model="model.date" ng-required="true" l10n-text="aircrafts.regFMDirective.removalDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.reason" alias="'aircraftRemovalReasonsFm'" ng-required="true" l10n-text="aircrafts.regFMDirective.removalReason" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" l10n-text="aircrafts.regFMDirective.removalDocumentNumber" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="2" ng-model="model.text" l10n-text="aircrafts.regFMDirective.removalText" class="col-md-10 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.country" alias="'countries'" l10n-text="aircrafts.regFMDirective.removalCountry" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.notes" l10n-text="aircrafts.regFMDirective.notes" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.notesAlt" l10n-text="aircrafts.regFMDirective.notesAlt" class="col-md-8 col-sm-12"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6" ng-class="{ 'has-error': form.$validated && !form.$readonly && (form['inspectorType'].$invalid || form['inspector'].$invalid || form['other'].$invalid) }">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.checkedBy"></label>
      <sc-validation-error field-name="inspectorType" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'inspector'" field-name="inspector" validations="{required: null}"></sc-validation-error>
      <sc-validation-error ng-if="inspectorType  === 'other'" field-name="other" validations="{required: null}"></sc-validation-error>
      <div class="input-group" style="width:100%">
        <select name="inspectorType" class="form-control input-sm" style="width: 110px" ng-model="inspectorType" ng-readonly="form.$readonly" ng-required="true" ui-select2="{ placeholder: ' ', allowClear: true, minimumResultsForSearch: -1 }">
          <option></option>
          <option value="inspector" l10n-text="aircrafts.regFMDirective.inspector"></option>
          <option value="other" l10n-text="aircrafts.regFMDirective.other"></option>
        </select>
        <sc-nomenclature ng-if="inspectorType  === 'inspector'" class="form-control input-sm" ng-model="model.inspector.inspector" name="inspector" alias="'inspectors'" ng-required="true" params="{limit: null}" ng-readonly="form.$readonly"></sc-nomenclature>
        <sc-text ng-if="inspectorType  === 'other'" class="form-control input-sm" ng-model="model.inspector.other" name="other" ng-required="true" ng-readonly="form.$readonly"></sc-text>
      </div>
    </div>
  </div>
  <h5 class="form-header" l10n-text="aircrafts.regFMDirective.export" style="margin-top:10px;"></h5>

  <button class="btn btn-xs btn-default pull-right" ng-if="!model.export" ng-click="getExportData()" style="position:relative; top:-25px" ng-disabled="form.$readonly"> <span class="glyphicon glyphicon-plus"></span>
  </button>
  <sc-link-button name="printBtn" ng-if="model.export && form.$readonly" ng-href="api/printExportCert?lotId={{lotId}}&partIndex={{partIndex}}" target="_blank" sc-access-token class="btn btn-sm pull-right" icon="glyphicon-print"></sc-link-button>
  <div ng-if="model.export">
    <div class="row">
      <sc-field type="textarea" rows="3" cols="50" ng-model="model.export.text" l10n-text="aircrafts.regFMDirective.text" class="col-md-10 col-sm-12"></sc-field>
    </div>
    <div class="row">
      <sc-field type="textarea" rows="3" cols="50" ng-model="model.export.textAlt" l10n-text="aircrafts.regFMDirective.textAlt" class="col-md-10 col-sm-12"></sc-field>
    </div>
    <div class="row">
      <sc-field type="text" ng-model="model.export.notes" l10n-text="aircrafts.regFMDirective.notes" class="col-md-8 col-sm-12"></sc-field>
    </div>
    <div class="row">
      <sc-field type="text" ng-model="model.export.notesAlt" l10n-text="aircrafts.regFMDirective.notesAlt" class="col-md-8 col-sm-12"></sc-field>
    </div>
    <div class="form-group col-sm-2 row">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.aircraftIsNew"></label>
      <input type="checkbox" ng-model="model.export.aircraftNewOld" ng-true-value="true" ng-checked="model.export.aircraftNewOld === true" ng-false-value="" ng-disabled="form.$readonly" />
    </div>
    <div class="form-group col-sm-2 row">
      <label class="control-label" l10n-text="aircrafts.regFMDirective.aircraftIsUsed"></label>
      <input type="checkbox" ng-model="model.export.aircraftNewOld" ng-true-value="false" ng-checked="model.export.aircraftNewOld === false" ng-false-value="" ng-disabled="form.$readonly" />
    </div>
  </div>
</ng-form>