<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-if="model.partIndex" ng-readonly="model.partIndex" ng-model="model.part.airworthinessCertificateType" ng-required="true" params="{ lotId: lotId}" alias="'airworthinessCertificateTypes'" l10n-text="aircrafts.airworthinessDirective.airworthinessCertificateType" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.registration" alias="'aircraftsRegistrations'" ng-required="true" params="{ lotId: lotId }" l10n-text="aircrafts.airworthinessDirective.registration" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.documentNumber" l10n-text="aircrafts.airworthinessDirective.documentNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field ng-if="model.part.airworthinessCertificateType.alias !== 'special'"
      type="date" ng-model="model.part.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessDirective.issueDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field ng-if="model.part.airworthinessCertificateType.alias === 'special'"
      type="date" ng-model="model.part.issueDate" ng-required="true" l10n-text="aircrafts.airworthinessDirective.issueDateSpecial" class="col-md-3 col-sm-4"></sc-field>
  </div>
  <div ng-if="model.part.airworthinessCertificateType.alias === 'vla' || model.part.airworthinessCertificateType.alias === 'unknown' || model.part.airworthinessCertificateType.alias === 'vlaReissue' || model.part.airworthinessCertificateType.alias === 'directive8Reissue' || model.part.airworthinessCertificateType.alias === 'directive8'">
    <div class="row">
      <sc-field type="date" ng-model="model.part.validFromDate" l10n-text="aircrafts.airworthinessDirective.validFromDate" class="col-md-2 col-sm-4"></sc-field>
      <sc-field type="date" ng-model="model.part.validToDate" l10n-text="aircrafts.airworthinessDirective.validToDate" class="col-md-2 col-sm-4"></sc-field>
    </div>
    <div class="row">
      <gva-aircraft-inspector name="inspector" ng-model="model.part.inspector" readonly="readonly" sc-form-params="{ inspectorTypes: ['inspector','other'] }"></gva-aircraft-inspector>
    </div>
  </div>
</ng-form>