<ng-form class="form-inline" sc-validate="{}">
  <div class="row" ng-if="showAmendmentType">
    <div class="form-group col-md-4 col-sm-8" sc-has-error="airworthinessReviewType">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.airworthinessReviewType"></label>
      <sc-validation-error field-name="airworthinessReviewType" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.airworthinessReviewType" name="airworthinessReviewType" ng-required="true" alias="'airworthinessReviewTypes'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.issueDate"></label>
      <sc-date ng-model="model.issueDate" name="issueDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.validToDate"></label>
      <sc-date ng-model="model.validToDate" name="validToDate"  ng-readonly="readonly"></sc-date>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4 col-sm-8" ng-if="model.airworthinessReviewType.code !== 'AW' && model.airworthinessReviewType.code !== 'AV'">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.inspector"></label>
      <sc-nomenclature ng-model="model.inspector" name="inspector" alias="'inspectors'" ng-readonly="readonly"></sc-nomenclature>
    </div>
    <gva-aircraft-inspector ng-model="model.inspector" ng-if="model.airworthinessReviewType.code === 'AW'" sc-data-show-inspectors="false" sc-data-is-readonly="readonly"> </gva-aircraft-inspector>
    <gva-aircraft-inspector ng-model="model.inspector" ng-if="model.airworthinessReviewType.code === 'AV'" sc-data-show-inspectors="true" sc-data-is-readonly="readonly"> </gva-aircraft-inspector>
    <div class="form-group col-md-2 col-sm-4">
      <label class="control-label" l10n-text="aircrafts.airworthinessFMDirective.approvalNumber"></label>
      <sc-text ng-model="model.approvalNumber" name="approvalNumber" ng-readonly="readonly"></sc-text>
    </div>
  </div>
</ng-form>
