<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.register" alias="'registers'" ng-required="true" l10n-text="aircrafts.regDirective.register" class="col-sm-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftCertificateType" alias="'aircraftCertificateTypes'" ng-required="true" l10n-text="aircrafts.regDirective.aircraftCertificateType" class="col-sm-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.certNumber" name="certRegNumber" ng-required="true" l10n-text="aircrafts.regDirective.certNumber" class="col-md-2 col-sm-6"></sc-field>
    <sc-field type="date" ng-model="model.certDate" name="certRegDate" ng-required="true" l10n-text="aircrafts.regDirective.certDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.aircraftNewOld" alias="'boolean'" l10n-text="aircrafts.regDirective.aircraftNewOld" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.operationType" alias="'aircraftOperTypes'" l10n-text="aircrafts.regDirective.operationType" class="col-sm-3"></sc-field>
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" l10n-text="aircrafts.regDirective.inspector" class="col-sm-3"></sc-field>
  </div>
  <h5 class="form-header" l10n-text="aircrafts.regDirective.typeCertTitle"></h5>

  <div class="row">
    <sc-field type="nomenclature" ng-model="model.typeCert.aircraftTypeCertificateType" alias="'aircraftTypeCertificateTypes'" ng-required="true" l10n-text="aircrafts.regDirective.aircraftTypeCertificateType" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.typeCert.certNumber" l10n-text="aircrafts.regDirective.typeCertNumber" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="date" ng-model="model.typeCert.certDate" l10n-text="aircrafts.regDirective.typeCertDate" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.typeCert.certRelease" l10n-text="aircrafts.regDirective.typeCertRelease" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.typeCert.contry" alias="'countries'" l10n-text="aircrafts.regDirective.contry" class="col-md-4 col-sm-6"></sc-field>
  </div>
</ng-form>