<ng-form name="form.changePasswordForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="common.changePasswordModal.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="common.changePasswordModal.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="common.changePasswordModal.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="oldPassword">
          <label class="control-label" l10n-text="common.changePasswordModal.oldPassword"></label>
          <sc-validation-error field-name="oldPassword" validations="{correctPassword: 'common.changePasswordModal.wrongPassword', minlength: 'common.changePasswordModal.passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.oldPassword" name="oldPassword" ng-required="true" ng-minlength="5" sc-validate="{ correctPassword: checkPassword }" sc-validate-immediate="true" class="input-sm form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="newPassword">
          <label class="control-label" l10n-text="common.changePasswordModal.newPassword"></label>
          <sc-validation-error field-name="newPassword" validations="{minlength: 'common.changePasswordModal.passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="passwords.newPassword" name="newPassword" ng-required="true" ng-minlength="5" class="input-sm form-control" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-5" sc-has-error="confirmNewPassword">
          <label class="control-label" l10n-text="common.changePasswordModal.confirmNewPassword"></label>
          <sc-validation-error field-name="confirmNewPassword" validations="{passwordMatch: 'common.changePasswordModal.noPasswordMatch', minlength: 'common.changePasswordModal.passMustBeMin8symbols', required: 'default'}"></sc-validation-error>
          <input type="password" ng-model="confirmNewPassword" name="confirmNewPassword" ng-required="true" ng-minlength="5"
            sc-validate="{ passwordMatch: matchPasswords }" sc-validate-immediate="true" class="input-sm form-control" />
        </div>
      </div>
    </div>
  </div>
</ng-form>