<ng-form name="appForm" class="form-inline" sc-validate="{}">

  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" id="menu-navigation" style="padding: 0px;">
        <sc-button ng-show="!inEditMode && app.flags.isVisibleEditCmd" btn-click="enterEditMode()" text="apps.edit.edit" class="btn btn-default btn-sm" icon="glyphicon-edit"></sc-button>
        <sc-button ng-show="inEditMode && app.flags.isVisibleEditCmd" name="saveBtn" btn-click="save()" text="apps.edit.save" class="btn btn-primary btn-sm" icon="glyphicon-floppy-disk" ng-disabled="appForm.$pristine"></sc-button>
        <sc-button ng-show="inEditMode && app.flags.isVisibleEditCmd" btn-click="exitEditMode()" text="apps.edit.cancel" class="btn btn-default btn-sm" icon="glyphicon-ban-circle"></sc-button>

        <div class="pull-right">
          <sc-button ng-show="!inEditMode && app.flags.isVisibleEditCmd" btn-click="remove()" text="apps.edit.remove" class="btn btn-danger btn-sm" icon="glyphicon-remove"></sc-button>
        </div>
      </div>
    </nav>

    <div class="well-sm panel-body">

      <div class="row">
        <div class="form-group col-md-6">
          <label class="control-label" l10n-text="Създадено от"></label>
            <sc-text ng-model="app.createUnitName" ng-readonly="true"></sc-text>
        </div>
      </div>

      <br />

      <accordion close-others="false">

        <accordion-group is-open="true">
          <accordion-heading>
              <a l10n-text="Възложител" style="font-size: 12px;"></a>
          </accordion-heading>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Възложител"></label>
              <div class="input-group input-group-sm">
                <sc-nomenclature ng-model="app.aopEmployerId" nom-obj="aopEmployer" alias="'aopEmployer'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
                <span class="input-group-btn">
                  <sc-button btn-click="newAopEmployer()" class="btn btn-default" icon="glyphicon glyphicon-plus" ng-disabled="!inEditMode"></sc-button>
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Имейл"></label>
              <div class="input-group input-group-sm">
                <sc-text ng-model="app.email" ng-readonly="!inEditMode"></sc-text>
              </div>
            </div>
          </div>

        </accordion-group>

        <accordion-group is-open="true">
          <accordion-heading>
              <a l10n-text="I-ви етап" style="font-size: 12px;"></a>
          </accordion-heading>

          <div class="row">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Документ към етап I:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.stDocRelation.docId }} }}" ng-if="app.stDocRelation.docRelationId">
                {{ app.stDocRelation.docRegUri}} {{app.stDocRelation.docDocTypeName}}: {{app.stDocRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('stDoc')" ng-if="!app.stDocRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['stDocId', 'stChecklistId', 'stNoteId'])" ng-if="app.stDocRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="readFedForFirstStage()" ng-if="app.stDocRelation.docRelationId" style="cursor: pointer;">прочети .fed</a>
            </div>
          </div>

          <div class="row" ng-if="app.stDocRelation.docRelationId">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Чеклист към етап I:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.stChecklistRelation.docId }} }}" ng-if="app.stChecklistRelation.docRelationId">
                {{ app.stChecklistRelation.docRegUri}} {{app.stChecklistRelation.docDocTypeName}}: {{app.stChecklistRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('stChecklist')" ng-if="!app.stChecklistRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['stChecklistId'])" ng-if="app.stChecklistRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="generateSTChecklist('new')" style="cursor: pointer;">нов</a>&nbsp|
              <a sc-click="generateSTChecklist('copy')" style="cursor: pointer;">копие</a>&nbsp|
              <a sc-click="generateSTChecklist('correct')" style="cursor: pointer;">поправка</a>&nbsp|
              <a ng-href="api/aop/apps/{{ app.aopApplicationId }}/download/checklist?identifier=st" target="_blank">свали</a>
            </div>
          </div>

          <div class="row" ng-if="app.stDocRelation.docRelationId">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Становище към етап I:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.stNoteRelation.docId }} }}" ng-if="app.stNoteRelation.docRelationId">
                {{ app.stNoteRelation.docRegUri}} {{app.stNoteRelation.docDocTypeName}}: {{app.stNoteRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('stNote')" ng-if="!app.stNoteRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['stNoteId'])" ng-if="app.stNoteRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="generateSTNote()" ng-if="app.stChecklistRelation.docRelationId && !app.stNoteRelation.docRelationId" style="cursor: pointer;">генерирай</a>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Вид на процедурата"></label>
              <sc-nomenclature ng-model="app.stAopApplicationTypeId" alias="'aopApplicationType'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Обект"></label>
              <sc-nomenclature ng-model="app.stObjectId" alias="'aopApplicationObject'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Критерий"></label>
              <sc-nomenclature ng-model="app.stCriteriaId" alias="'aopApplicationCriteria'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Предмет на поръчката"></label>
              <sc-textarea rows="2" ng-model="app.stSubject" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Стойност на поръчката"></label>
              <sc-text ng-model="app.stValue" ng-readonly="!inEditMode"></sc-text>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Поръчката свързана ли е с отбраната/сигурността"></label><br />
              <input type="checkbox" ng-model="app.stIsMilitary" ng-disabled="!inEditMode"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Забележка"></label>
              <sc-textarea rows="2" ng-model="app.stRemark" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

        </accordion-group>

        <accordion-group is-open="true">
          <accordion-heading>
              <a l10n-text="II-ви етап" style="font-size: 12px;"></a>
          </accordion-heading>

           <div class="row">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Документ към етап II:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.ndDocRelation.docId }} }}" ng-if="app.ndDocRelation.docRelationId">
                {{ app.ndDocRelation.docRegUri}} {{app.ndDocRelation.docDocTypeName}}: {{app.ndDocRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('ndDoc')" ng-if="!app.ndDocRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['ndDocId', 'ndChecklistId', 'ndReportId'])" ng-if="app.ndDocRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="readFedForSecondStage()" ng-if="app.ndDocRelation.docRelationId" style="cursor: pointer;">прочети .fed</a>
            </div>
          </div>

          <div class="row" ng-if="app.ndDocRelation.docRelationId">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Чеклист към етап II:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.ndChecklistRelation.docId }} }}" ng-if="app.ndChecklistRelation.docRelationId">
                {{ app.ndChecklistRelation.docRegUri}} {{app.ndChecklistRelation.docDocTypeName}}: {{app.ndChecklistRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('ndChecklist')" ng-if="!app.ndChecklistRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['ndChecklistId'])" ng-if="app.ndChecklistRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="generateNDChecklist('new')" style="cursor: pointer;">нов</a>&nbsp|
              <a sc-click="generateNDChecklist('copy')" style="cursor: pointer;">копие</a>&nbsp|
              <a sc-click="generateNDChecklist('correct')" style="cursor: pointer;">поправка</a>&nbsp|
              <a ng-href="api/aop/apps/{{ app.aopApplicationId }}/download/checklist?identifier=nd" target="_blank">свали</a>
            </div>
          </div>

          <div class="row" ng-if="app.ndDocRelation.docRelationId">
            <div class="form-group col-md-9">
              <label class="control-label" l10n-text="Доклад към етап II:"></label>
              <a sc-sref="{state: 'root.docs.edit.view', params: { id: {{ app.ndReportRelation.docId }} }}" ng-if="app.ndReportRelation.docRelationId">
                {{ app.ndReportRelation.docRegUri}} {{app.ndReportRelation.docDocTypeName}}: {{app.ndReportRelation.docSubject }}
              </a>
            </div>
            <div class="form-group col-md-3 pull-right" ng-if="!inEditMode && app.flags.isVisibleEditCmd">
              <a sc-click="connectToDoc('ndReport')" ng-if="!app.ndReportRelation.docRelationId" style="cursor: pointer;">свържи</a>
              <a sc-click="disconnectDoc(['ndReportId'])" ng-if="app.ndReportRelation.docRelationId" style="cursor: pointer;">разкачи</a>&nbsp|
              <a sc-click="generateNDReport()" ng-if="app.ndChecklistRelation.docRelationId && !app.ndReportRelation.docRelationId" style="cursor: pointer;">генерирай</a>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Вид на процедурата"></label>
              <sc-nomenclature ng-model="app.ndAopApplicationTypeId" alias="'aopApplicationType'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Обект"></label>
              <sc-nomenclature ng-model="app.ndObjectId" alias="'aopApplicationObject'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Критерий"></label>
              <sc-nomenclature ng-model="app.ndCriteriaId" alias="'aopApplicationCriteria'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Предмет на поръчката"></label>
              <sc-textarea rows="2" ng-model="app.ndSubject" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label" l10n-text="Идентификационен номер в РОП"></label>
              <sc-text ng-model="app.ndropIdNum" ng-readonly="!inEditMode"></sc-text>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label" l10n-text="Уникален номер на поръчката в РОП"></label>
              <sc-text ng-model="app.ndropUnqNum" ng-readonly="!inEditMode"></sc-text>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label" l10n-text="Дата на публикуване в РОП"></label>
              <sc-date ng-model="app.ndropDate" ng-readonly="!inEditMode"></sc-date>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Статус на процедурата"></label>
              <sc-nomenclature ng-model="app.ndProcedureStatusId" alias="'aopProcedureStatus'" mode="id" ng-readonly="!inEditMode"></sc-nomenclature>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-3">
              <label class="control-label" l10n-text="Стойност на поръчката"></label>
              <sc-text ng-model="app.ndValue" ng-readonly="!inEditMode"></sc-text>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label" l10n-text="Поръчката свързана ли е с отбраната/сигурността"></label><br />
              <input type="checkbox" ng-model="app.ndIsMilitary" ng-disabled="!inEditMode"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Основания за прекратяване"></label>
              <sc-textarea rows="2" ng-model="app.ndRefusalReason" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Обжалване"></label>
              <sc-textarea rows="2" ng-model="app.ndAppeal" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label" l10n-text="Забележка"></label>
              <sc-textarea rows="2" ng-model="app.ndRemark" ng-readonly="!inEditMode"></sc-textarea>
            </div>
          </div>

        </accordion-group>

      </accordion>

    </div>

  </div>

</ng-form>
