<sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3" default-action="search()">
  <!--<sc-filter type="text" name="displayName" class="col-sm-3" removable="false" label="corrs.search.displayName"></sc-filter>
  <sc-filter type="text" name="correspondentEmail" class="col-sm-3" removable="true" label="corrs.search.email"></sc-filter>-->
  <sc-search-button action="search()" text="apps.search.search" class="btn btn-primary btn-sm" icon="glyphicon-search"></sc-search-button>
  <sc-search-button action="newApp()" text="apps.search.new" icon="glyphicon-plus"></sc-search-button>
  <sc-search-button action="clear"></sc-search-button>
  <sc-search-button action="add"></sc-search-button>
</sc-search>


<sc-ajaxdatatable items="apps" items-count="appCount" fetch-fn="getApps" set-prop="applications" count-prop="applicationCount" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-ajaxcolumn sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="viewButton" btn-click="editApp(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="createUnitName" title="apps.search.expert">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="aopEmployerName" title="apps.search.employer">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn data="email" title="apps.search.email">
  </sc-ajaxcolumn>
  <sc-ajaxcolumn title="apps.search.docIstage" has-content="true">
    {{item.stDocRelation.docRegUri}} {{item.stDocRelation.docDocTypeName}}: {{item.stDocRelation.docSubject}}
  </sc-ajaxcolumn>
  <sc-ajaxcolumn title="apps.search.docIIstage" has-content="true">
    {{item.ndDocRelation.docRegUri}} {{item.ndDocRelation.docDocTypeName}}: {{item.ndDocRelation.docSubject}}
  </sc-ajaxcolumn>
</sc-ajaxdatatable>
