<ng-form name="editAmendmentForm">

  <gva-organization-amendment name="organizationAmendmentForm" ng-model="organizationAmendment.amendment.part"></gva-organization-amendment>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="organizations.editAmendment.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editAmendmentForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editAmendment.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
