<sc-button name="createBtn" btn-click="newInspection()" text="airports.inspectionSearch.newInspection" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="airportInspections" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-click="editInspection(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.auditState.name" title="airports.inspectionSearch.auditState">
  </sc-column>
  <sc-column data="part.documentNumber" title="airports.inspectionSearch.documentNumber">
  </sc-column>
  <sc-column data="part.auditReason.name" title="airports.inspectionSearch.auditReason">
  </sc-column>
  <sc-column data="part.auditType.name" title="airports.inspectionSearch.auditType">
  </sc-column>
  <sc-column data="part.subject" title="airports.inspectionSearch.subject">
  </sc-column>
  <sc-column data="part.notification.name" title="airports.inspectionSearch.notification">
  </sc-column>
  <sc-column data="part.startDate" title="airports.inspectionSearch.startDate" type="date">
  </sc-column>
  <sc-column data="part.endDate" title="airports.inspectionSearch.endDate" type="date">
  </sc-column>
  <sc-column data="part.inspectionPlace" title="airports.inspectionSearch.inspectionPlace">
  </sc-column>
  <sc-column data="applications[0].applicationName" title="airports.inspectionSearch.application">
  </sc-column>
</sc-datatable>