<sc-button name="createBtn" btn-click="newDocumentDebt()" text="aircrafts.debtSearchFM.newDebt" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="debts" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editDocumentDebt(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.certId" title="aircrafts.debtSearchFM.certId">
  </sc-column>
  <sc-column data="part.regDate" title="aircrafts.debtSearchFM.regDate" type="date">
  </sc-column>
  <sc-column data="part.aircraftDebtType.name" title="aircrafts.debtSearchFM.aircraftDebtType">
  </sc-column>
  <sc-column data="part.documentNumber" title="aircrafts.debtSearchFM.documentNumber">
  </sc-column>
  <sc-column data="part.documentDate" title="aircrafts.debtSearchFM.documentDate" type="date">
  </sc-column>
  <sc-column data="part.aircraftCreditor.name" title="aircrafts.debtSearchFM.aircraftCreditor">
  </sc-column>
  <sc-column data="part.inspector.name" title="aircrafts.debtSearchFM.inspector">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.debtSearchFM.bookPageNumber" width="50px">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.debtSearchFM.pageCount" width="50px">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.debtSearchFM.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
