<div>
  <sc-button name="addBtn" btn-click="addMedicals()" text="persons.chooseMedical.add" class="btn btn-sm btn-primary pull-left" icon="glyphicon-plus"></sc-button>
  <sc-button name="backtn" btn-click="goBack()" text="persons.chooseMedical.back" class="btn btn-sm btn-primary pull-left" icon="glyphicon-arrow-left" style="margin-left: 5px;"></sc-button>
  <sc-datatable items="medicals" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column  sortable="false" class="buttons-cell" has-content="true">
      <input type="checkbox" ng-checked="selectedMedicals | contains:item" sc-click="selectMedical($event, item)">
    </sc-column>
    <sc-column title="persons.chooseMedical.number" has-content="true">
      {{item.part.documentNumberPrefix}}-{{item.part.documentNumber}}-{{person.lin}}-{{item.part.documentNumberSuffix}}
    </sc-column>
    <sc-column data="part.documentDateValidFrom" type="date" title="persons.chooseMedical.dateValidFrom">
    </sc-column>
    <sc-column data="part.documentDateValidTo" type="date" title="persons.chooseMedical.dateValidTo">
    </sc-column>
    <sc-column data="part.medClass.name"title="persons.chooseMedical.medClass">
    </sc-column>
    <sc-column data="part.limitations | pluck:'name' | join:', '" title="persons.chooseMedical.limitations">
    </sc-column>
    <sc-column data="part.documentPublisher.name" title="persons.chooseMedical.publisher">
    </sc-column>
  </sc-datatable>
</div>
