<div>
  <sc-button name="addBtn" btn-click="addLicences()" text="persons.chooseLicence.add" class="btn btn-sm btn-primary pull-left" icon="glyphicon-plus"></sc-button>
  <sc-button name="backtn" btn-click="goBack()" text="persons.chooseLicence.back" class="btn btn-sm btn-primary pull-left" icon="glyphicon-arrow-left" style="margin-left: 5px;"></sc-button>
  <sc-datatable items="licences" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column  sortable="false" class="buttons-cell" width="1px" has-content="true">
      <input type="checkbox" ng-checked="selectedLicences | contains:item" sc-click="selectLicence($event, item)">
    </sc-column>
    <sc-column data="part.licenceNumber" title="persons.licencesSearch.licenceNumber">
    </sc-column>
    <sc-column data="part.licenceType.name" title="persons.licencesSearch.licenceType">
    </sc-column>
    <sc-column data="(part.editions | last).documentDateValidFrom" title="persons.licencesSearch.documentDateValidFrom" type="date">
    </sc-column>
    <sc-column data="(part.editions | last).documentDateValidTo" title="persons.licencesSearch.documentDateValidTo" type="date">
    </sc-column>
    <sc-column data="(part.editions | first).documentDateValidFrom" title="persons.licencesSearch.firstEditionValidFrom" type="date">
    </sc-column>
  </sc-datatable>
</div>
