<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.parts.new' }" text="aircrafts.partSearch.newPart" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="parts" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.parts.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.aircraftPart.name" title="aircrafts.partSearch.aircraftPart">
  </sc-column>
  <sc-column data="part.partProducer.name" title="aircrafts.partSearch.partProducer">
  </sc-column>
  <sc-column data="part.model" title="aircrafts.partSearch.model">
  </sc-column>
  <sc-column data="part.sn" title="aircrafts.partSearch.sn">
  </sc-column>
  <sc-column data="part.count" title="aircrafts.partSearch.count">
  </sc-column>
  <sc-column data="part.aircraftPartStatus.name" title="aircrafts.partSearch.aircraftPartStatus">
  </sc-column>
  <sc-column data="part.manDate" title="aircrafts.partSearch.manDate" type="date">
  </sc-column>
  <sc-column data="part.manPlace" title="aircrafts.partSearch.manPlace">
  </sc-column>
</sc-datatable>
