<div class="container page-content">
  <sc-search selected-filters="filters" btn-classes="col-sm-4 col-lg-3" btn-actions="btnActions">
    <sc-filter type="text" model-name="username" classes="col-sm-3" removable="false" filter-name="users.search.username"></sc-filter>
    <sc-filter type="text" model-name="fullname" classes="col-sm-3 col-lg-4" removable="false" filter-name="users.search.name"></sc-filter>
    <sc-filter type="select" model-name="showActive" classes="col-sm-2" removable="false" options="{ allowClear: true, placeholder: ' ', data: [{ id: 'true', text: $root.l10n.get('users.search.onlyActive') }, { id: 'false', text: $root.l10n.get('users.search.onlyUnactive')}]}" filter-name="users.search.activity"></sc-filter>
    <sc-button action-name="search" text="users.search.search" icon="glyphicon-search"></sc-button>
    <sc-button action-name="newUser" text="users.search.new" icon="glyphicon-user"></sc-button>
  </sc-search>
  <table class="table table-bordered table-striped table-condensed" ng-show="users.length > 0">
    <thead>
      <tr>
        <th l10n-text="users.search.username"></th>
        <th l10n-text="users.search.name"></th>
        <th l10n-text="users.search.roles"></th>
        <th l10n-text="users.search.active"></th>
        <th style="width:1px"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.roles}}</td>
        <td ng-show="user.isActive" l10n-text="users.search.yes"></td>
        <td ng-show="{{!user.isActive}}" l10n-text="users.search.no"></td>
        <td>
          <button type="button" class="btn-xs btn-info" ng-click="editUser(user)" l10n-text="users.search.edit">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <span ng-show="users.length === 0" l10n-text="users.search.noUsersFound"></span>
</div>