<div class="container page-content">
  <form class="well well-sm form-inline" role="form">
    <div class="row">
      <div class="form-group col-sm-3">
        <label class="control-label" l10n-text="users.search.username"></label>
        <sc-text ng-model="username"></sc-text>
      </div>
      <div class="form-group col-sm-3 col-lg-4">
        <label class="control-label" l10n-text="users.search.name"></label>
        <sc-text ng-model="fullname"></sc-text>
      </div>
      <div class="form-group col-sm-2">
        <label class="control-label" l10n-text="users.search.activity"></label>
        <select id="showActive" class="input-sm form-control" ui-select2="{ allowClear: true}" ng-model="searchParams.showActive" data-placeholder=" ">
          <option value=""></option>
          <option value="true" l10n-text="users.search.onlyActive"></option>
          <option value="false" l10n-text="users.search.onlyUnactive"></option>
        </select>
      </div>
      <div class="col-sm-4 col-lg-3 labeless">
        <button type="button" class="pull-right btn-sm btn-default" ng-click="newUser()" >
          <span class="glyphicon glyphicon-user"></span>
          <span l10n-text="users.search.new"></span>
        </button>
        <button id="searchBtn" type="button" class="pull-right btn-sm btn-default" ng-click="search()">
          <span class="glyphicon glyphicon-search"></span>
          <span l10n-text="users.search.search"></span>
        </button>
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped table-condensed" ng-show="users.length > 0">
    <thead>
      <tr>
        <th l10n-text="users.search.username"></th>
        <th l10n-text="users.search.name"></th>
        <th l10n-text="users.search.roles"></th>
        <th l10n-text="users.search.active"></th>
        <th style="width:1px"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.roles}}</td>
        <td ng-show="user.isActive" l10n-text="users.search.yes"></td>
        <td ng-show="{{!user.isActive}}" l10n-text="users.search.no"></td>
        <td>
          <button type="button" class="btn-xs btn-info" ng-click="editUser(user)" l10n-text="users.search.edit">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <span ng-show="users.length === 0" l10n-text="users.search.noUsersFound"></span>
</div>