<sc-button name="createBtn" btn-click="newAuditplan()" text="organizations.auditplanSearch.newAuditplan" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationAuditplans" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-click="editAuditplan(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.auditPartRequirement.name" title="organizations.auditplanSearch.auditPartRequirement">
  </sc-column>
  <sc-column data="part.planYear" title="organizations.auditplanSearch.planYear">
  </sc-column>
  <sc-column data="part.planMonth" title="organizations.auditplanSearch.planMonth">
  </sc-column>
</sc-datatable>