<ng-form  class="form-inline" sc-validate="{}">
  <div class="">
    <div class="well-sm panel-body">
      <div class="panel panel-default">
          <div class="panel-heading"><strong l10n-text="common.auditDetailDirective.auditDetailsTable.title"></strong></div>
            <div class="well-sm panel-body">
              <sc-button btn-click="insertAuditDetails()" ng-if="!model.auditDetails.length" text="common.auditDetailDirective.insertAuditDetails" class="btn btn-default"></sc-button>
              <table class="table table-striped table-bordered"  ng-if="model.auditDetails.length > 0" >
                <thead>
                  <tr>
                    <th l10n-text="common.auditDetailDirective.auditDetailsTable.code"></th>
                    <th l10n-text="common.auditDetailDirective.auditDetailsTable.subject"></th>
                    <th l10n-text="common.auditDetailDirective.auditDetailsTable.conclusion"></th>
                    <th l10n-text="common.auditDetailDirective.auditDetailsTable.disparity"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="detail in model.auditDetails">
                    <td style="width: 10px;">
                      {{detail.code}}
                    </td>
                    <td class="col-sm-4 col-md-3">
                      {{detail.subject.name}}
                    </td>
                    <td class="col-sm-4 col-md-3">
                      <sc-nomenclature ng-model="detail.auditResult" alias="'auditResults'"></sc-nomenclature>
                    </td>
                    <td class="row">
                      <sc-button name="addDisparityBtn" type="button" btn-click="addDisparity(detail)" class="btn btn-primary btn-sm pull-right" icon="glyphicon-plus" 
                         ng-show="detail.auditResult.code === '3' || detail.auditResult.code === '4'">
                      </sc-button>
                      <div class="nav-pills pull-left" ng-repeat="detail in detail.disparities">
                          <a href="" scroll-to=".disparity{{detail}}">
                            <span class="badge pull-right">{{detail}}</span>
                          </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
  <div class="panel panel-default ">
    <div class="panel-heading"><strong l10n-text="common.auditDetailDirective.disparitiesTable.disparitiesTitle"></strong></div>
    <div class="well-sm panel-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.sortOrder"></th>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.subject"></th>
            <th>
              <div sc-has-error="refNumber"  class="col-sm-1 col-md-1">
                <label class="control-label" l10n-text="common.auditDetailDirective.disparitiesTable.refNumber"></label>
                <sc-validation-error field-name="refNumber" validations="{required: null}"></sc-validation-error>
              </div>
            </th>
            <th>
              <div sc-has-error="description">
                <label class="control-label" l10n-text="common.auditDetailDirective.disparitiesTable.description"></label>
                <sc-validation-error field-name="description" validations="{required: null}"></sc-validation-error>
              </div>
            </th>
            <th>
              <div sc-has-error="disparityLevel">
                <label class="control-label" l10n-text="common.auditDetailDirective.disparitiesTable.disparityLevel"></label>
                <sc-validation-error field-name="disparityLevel" validations="{required: null}"></sc-validation-error>
              </div>
            </th>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.removalDate"></th>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.rectifyAction"></th>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.closureDate"></th>
            <th l10n-text="common.auditDetailDirective.disparitiesTable.closureDocument"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="disparity in model.disparities" class="disparity{{disparity.sortOrder}}">
            <td style="width: 10px;">
              <sc-int ng-model="disparity.sortOrder"></sc-int>
            </td>
            <td class="col-sm-1 col-md-1">
              {{disparity.subject.name}}
            </td>
            <td class="col-sm-2 col-md-2">
              <sc-text ng-model="disparity.refNumber" name="refNumber"  ng-required="true"></sc-text>
            </td>
            <td>
              <sc-text ng-model="disparity.description" name="description" ng-required="true"></sc-text>
            </td>
            <td>
              <sc-nomenclature class="col-sm-1 col-md-1" ng-model="disparity.disparityLevel" name="disparityLevel" alias="'disparityLevels'" ng-required="true"></sc-nomenclature>
            </td>
            <td>
              <sc-date ng-model="disparity.removalDate"></sc-date>
            </td>
            <td>
              <sc-text ng-model="disparity.rectifyAction"></sc-text>
            </td>
            <td>
              <sc-date ng-model="disparity.closureDate"></sc-date>
            </td>
            <td>
              <sc-text ng-model="disparity.closureDocument"></sc-text>
            </td>
            <td>
              <sc-button name="deleteDisparityBtn" type="button" btn-click="deleteDisparity(disparity)" class="btn btn-primary btn-sm" icon="glyphicon-remove"></sc-button>
            </td>
          </tr>
          <tr class="sort-disabled" ng-if="!model.disparities.length">
            <td colspan="8" class="text-center" l10n-text="common.auditDetailDirective.disparitiesTable.noAvailableDisparities"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-form>