<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3">
    <sc-filter type="text" name="username" class="col-sm-3" removable="false" label="common.users.search.username"></sc-filter>
    <sc-filter type="text" name="fullname" class="col-sm-2 col-md-3 col-lg-4" removable="true" label="common.users.search.name"></sc-filter>
    <sc-filter type="nomenclature" name="showActive" class="col-sm-2" removable="true" alias="boolean" label="common.users.search.activity"></sc-filter>
    <sc-search-button action="search()" text="common.users.search.search" icon="glyphicon-search"></sc-search-button>
    <sc-search-button action="newUser()" text="common.users.search.new" icon="glyphicon-user"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
  </sc-search>

  <sc-datatable items="users" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column data="username" title="Потребителско име">
    </sc-column>
    <sc-column data="fullname" title="Име">
    </sc-column>
    <sc-column data="roles" title="Роли">
    </sc-column>
    <sc-column data="isActive" title="Активен" has-content="true">
      <span>{{item.isActive ? 'Да' : 'Не'}}</span>
    </sc-column>
    <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
      <button type="button" class="btn btn-xs btn-primary" ng-click="editUser(item)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </sc-column>
  </sc-datatable>
</div>