<sc-button name="createBtn" btn-click="newApproval()" text="organizations.approvalSearch.newApproval" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationApprovals" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column data="approval.organizationType.name" title="organizations.approvalSearch.organizationType">
  </sc-column>
  <sc-column data="approval.documentNumber" title="organizations.approvalSearch.documentNumber">
  </sc-column>
  <sc-column data="amendment.part.documentNumber" title="organizations.approvalSearch.documentNumberAmendment">
  </sc-column>
  <sc-column data="documentFirstDateIssue" title="organizations.approvalSearch.documentFirstDateIssue" type="date">
  </sc-column>
  <sc-column data="amendment.part.documentDateIssue" title="organizations.approvalSearch.documentDateIssueAmendment">
  </sc-column>
  <sc-column data="amendment.part.changeNum" title="organizations.approvalSearch.changeNumAmendment">
  </sc-column>
  <sc-column data="approval.approvalState.name" title="organizations.approvalSearch.approvalState">
  </sc-column>
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="viewBtn" btn-click="viewAmendment(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column sortable="false" title="organizations.approvalSearch.recommendationReport" width="30px">
  </sc-column>
  <sc-column sortable="false" title="organizations.approvalSearch.file" width="30px" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{amendment.part.files[0].file.key}}&fileName={{amendment.part.files[0].file.name}}" ng-show="item.files" title="{{amendment.part.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
  

</sc-datatable>