<ng-form name="editApprovalForm" sc-validate="{}">
  <h5 class="form-header" l10n-text="organizations.approvalEdit.amendments"></h5>
  <div>

    <sc-datatable items="organizationApproval.part.amendments" filterable="false" pageable="false" sortable="false" dynamic-columns="false">
      <sc-column  sortable="false" class="buttons-cell" width="1px" has-content="true">
        <input type="radio" ng-checked="item === currentAmendment" sc-click="selectAmendment(item)">
      </sc-column>
      <sc-column title="organizations.approvalEdit.approvalType" has-content="true">
        {{organizationApproval.part.approvalType.name}}
      </sc-column>
      <sc-column title="organizations.approvalEdit.documentNumber" has-content="true">
        {{organizationApproval.part.documentNumber}}
      </sc-column>
      <sc-column title="organizations.approvalEdit.documentNumberAmendment" has-content="true">
        {{item.documentNumber}}
      </sc-column>
      <sc-column title="organizations.approvalEdit.documentFirstDateIssue" has-content="true">
        {{(organizationApproval.part.amendments | first).documentDateIssue | date:'mediumDate'}}
      </sc-column>
      <sc-column  title="organizations.approvalEdit.documentDateIssueAmendment" has-content="true">
         {{item.documentDateIssue | date:'mediumDate'}}
      </sc-column>
      <sc-column title="organizations.approvalEdit.changeNumAmendment" has-content="true">
        {{item.changeNum}}
      </sc-column>
      <sc-column title="organizations.approvalEdit.approvalState" has-content="true">
        {{organizationApproval.part.approvalState.name}}
      </sc-column>
    </sc-datatable>
    <div style="clear: both"></div>
  </div>

  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.approvalEdit.title"></strong>
      <div class="pull-right">
         <sc-button name="createBtn" btn-click="newAmendment()" text="organizations.approvalEdit.newAmendment"
          class="btn btn-primary btn-xs" icon="glyphicon-plus"
          ng-show="!editMode" ng-disabled="currentAmendment !== lastAmendment">
        </sc-button>
        <sc-button name="editBtn" btn-click="editLastAmendment()" text="organizations.approvalEdit.editLastAmendment"
          class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode" ng-disabled="currentAmendment !== lastAmendment">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteLastAmendment()" text="organizations.approvalEdit.deleteLastAmendment"
          class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode" ng-disabled="currentAmendment !== lastAmendment">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.approvalEdit.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.approvalEdit.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>
    
    <div class="well-sm panel-body">
      <h5 class="form-header" l10n-text="organizations.approvalEdit.approvalForm"></h5>
      <gva-organization-approval name="organizationApprovalForm" ng-model="approval.part" sc-data-is-new="false" readonly="editMode !== 'edit'"></gva-organization-approval>

      <h5 class="form-header" l10n-text="organizations.approvalEdit.amendmentForm"></h5>
      <gva-organization-amendment name="organizationAmendmentForm" ng-model="currentAmendment" readonly="editMode !== 'edit'">></gva-organization-amendment>
    </div>

  </div>

</ng-form>
