<sc-button name="createBtn" btn-sref="{ state: 'root.organizations.view.inspections.new' }" text="organizations.inspectionSearch.newInspection" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationInspections" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.organizations.view.inspections.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.auditState.name" title="organizations.inspectionSearch.auditState">
  </sc-column>
  <sc-column data="part.documentNumber" title="organizations.inspectionSearch.documentNumber">
  </sc-column>
  <sc-column data="part.auditReason.name" title="organizations.inspectionSearch.auditReason">
  </sc-column>
  <sc-column data="part.auditType.name" title="organizations.inspectionSearch.auditType">
  </sc-column>
  <sc-column data="part.subject" title="organizations.inspectionSearch.subject">
  </sc-column>
  <sc-column data="part.notification.name" title="organizations.inspectionSearch.notification">
  </sc-column>
  <sc-column data="part.startDate" title="organizations.inspectionSearch.startDate" type="date">
  </sc-column>
  <sc-column data="part.endDate" title="organizations.inspectionSearch.endDate" type="date">
  </sc-column>
  <sc-column data="part.inspectionPlace" title="organizations.inspectionSearch.inspectionPlace">
  </sc-column>
  <sc-column data="applications[0].applicationName" title="organizations.inspectionSearch.application">
  </sc-column>
</sc-datatable>