<ng-form name="editInspectionForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="organizations.editInspection.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.editInspection.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteInspection()" text="organizations.editInspection.deleteInspection" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="organizations.editInspection.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editInspection.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-common-inspection-data name="inspectionDataForm" ng-model="organizationInspection" sc-form-params="{ setPart: 'organization', isNew: false, caseTypeId: caseTypeId }"></gva-common-inspection-data>

      <gva-common-scanned-document name="organizationScannedDocumentForm" ng-model="organizationInspection.case"
        sc-form-params="{ setPart: 'organization', lotId: lotId, hideFiles: true }">
      </gva-common-scanned-document>

      <h5 class="table-header" l10n-text="organizations.editInspection.recommendations"></h5>
      <sc-datatable items="recommendations" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false">
        <sc-column sortable="false" class="buttons-cell" has-content="true">
          <sc-button btn-click="viewRecommendation(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil" ng-disabled="form.$readonly"></sc-button>
        </sc-column>
        <sc-column data="auditPartName" title="organizations.editInspection.auditPart"></sc-column>
        <sc-column data="formDate" title="organizations.editInspection.formDate" type="date"></sc-column>
        <sc-column data="formText" title="organizations.editInspection.formText"></sc-column>
      </sc-datatable>

      <gva-common-inspection-details name="inspectionDetailsForm" ng-model="organizationInspection.part" sc-form-params="{ setPart: 'organization' }"></gva-common-inspection-details>
    </div>
  </div>
</ng-form>
