<sc-button name="createBtn" btn-click="newCertAirworthiness()" text="aircrafts.airworthinessSearch.newAirworthiness" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aws" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-click="editCertAirworthiness(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.aircraftCertificateType.name" title="aircrafts.airworthinessSearch.aircraftCertificateType">
  </sc-column>
  <sc-column data="part.refNumber" title="aircrafts.airworthinessSearch.refNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="aircrafts.airworthinessSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="aircrafts.airworthinessSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="aircrafts.airworthinessSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="aircrafts.airworthinessSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.airworthinessSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>