<sc-button name="createBtn" btn-sref="{ state: 'root.aircrafts.view.airworthinesses.new' }" text="aircrafts.airworthinessSearch.newAirworthiness" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="aws" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="part.issueDate">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.aircrafts.view.airworthinesses.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.aircraftCertificateType.name" title="aircrafts.airworthinessSearch.aircraftCertificateType">
  </sc-column>
  <sc-column data="part.refNumber" title="aircrafts.airworthinessSearch.refNumber">
  </sc-column>
  <sc-column data="part.issueDate" title="aircrafts.airworthinessSearch.issueDate" type="date">
  </sc-column>
  <sc-column data="part.validToDate" title="aircrafts.airworthinessSearch.validToDate" type="date">
  </sc-column>
  <sc-column data="case.bookPageNumber" title="aircrafts.airworthinessSearch.bookPageNumber">
  </sc-column>
  <sc-column data="case.pageCount" title="aircrafts.airworthinessSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="aircrafts.airworthinessSearch.file" has-content="true">
     <a target="_self" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>