<ng-form name="editAircraftForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editAircraft.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="aircrafts.editAircraft.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editAircraft.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editAircraft.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-data name="aircraftDataForm" ng-model="aircraftData.part"></gva-aircraft-data>
    </div>
  </div>
</ng-form>
