<ng-form class="form-inline" name="form.printLicenceForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-bottom: 0px">
    <div class="panel-heading">
      <strong l10n-text="persons.printLicenceModal.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="persons.printLicenceModal.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode"></sc-button>
        <sc-button name="editBtn" btn-click="edit()" text="persons.printLicenceModal.edit" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="!editMode"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="persons.printLicenceModal.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <div class="row">
        <sc-field type="text" ng-model="model.stampNumber" ng-required="!model.hasNoNumber" l10n-text="persons.printLicenceModal.stampNumber" class="col-sm-5"></sc-field>
        <div class="labeless">
          <sc-link-button name="printBtn" ng-href="api/print?lotId={{model.lotId}}&licenceInd={{model.index}}&editionInd={{model.editionIndex}}" target="_blank" sc-access-token text="persons.printLicenceModal.print" class="btn btn-primary btn-sm" icon="glyphicon-print"></sc-link-button>
          <sc-link-button ng-disabled="!isLastEdition" name="printBtn" ng-href="api/print?lotId={{model.lotId}}&licenceInd={{model.index}}&editionInd={{model.editionIndex}}&generateNew=true" target="_blank" sc-access-token text="persons.printLicenceModal.generateNew" class="btn btn-primary btn-sm" icon="glyphicon-print"></sc-link-button>
        </div>
      </div>
      <div class="row">
        <sc-field type="nomenclature" ng-model="model.paperId" alias="'papers'" mode="id" ng-required="!model.hasNoNumber" l10n-text="persons.printLicenceModal.paper" class="col-sm-6"></sc-field>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label" l10n-text="persons.printLicenceModal.noNumber"></label>
          <input type="checkbox" ng-checked="model.hasNoNumber" ng-disabled="!editMode" sc-click="setNoNumber($event)" />
        </div>
      </div>
      <hr />
      <div class="row" style="margin-left :0px" class="labeless">
        <sc-link-button ng-disabled="!isLastEdition" name="printBtn" ng-href="api/printExaminerCert?lotId={{model.lotId}}&partIndex={{model.index}}" target="_blank" sc-access-token text="persons.printLicenceModal.printExaminerCert" class="btn btn-default btn-sm col-sm-8" icon="glyphicon-print"></sc-link-button>
      </div>
      <div class="row" style="margin-left :0px" class="labeless">
        <sc-link-button ng-disabled="!isLastEdition" name="printBtn" ng-href="api/printInstructorCert?lotId={{model.lotId}}&partIndex={{model.index}}" target="_blank" sc-access-token text="persons.printLicenceModal.printInstructorCert" class="btn btn-default btn-sm col-sm-8" icon="glyphicon-print"></sc-link-button>
      </div>
      <div ng-if="model.isFclOrPart66">
        <hr />
        <div class="row" style="margin-left :0px" class="labeless">
          <sc-link-button ng-disabled="!isLastEdition" name="printBtn" ng-href="api/printLicenceAuthForm?lotId={{model.lotId}}&licenceInd={{model.index}}" target="_blank" sc-access-token text="persons.printLicenceModal.printLicenceAuthForm" class="btn btn-default btn-sm col-sm-8" icon="glyphicon-print"></sc-link-button>
        </div>
      </div>
    </div>
  </div>
</ng-form>
