<ng-form name="templatesEditForm" sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="templates.templatesEdit.title"></strong>

      <div class="pull-right">
        <sc-button name="editBtn" btn-click="edit()" text="templates.templatesEdit.edit" class="btn btn-primary btn-xs" icon="glyphicon-edit" ng-show="!editMode">
        </sc-button>
        <sc-button name="deleteBtn" btn-click="deleteTemplate()" text="templates.templatesEdit.delete" class="btn btn-danger btn-xs" icon="glyphicon-remove" ng-show="!editMode">
        </sc-button>
        <sc-button name="saveBtn" btn-click="save()" text="templates.templatesEdit.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk" ng-show="editMode">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="templates.templatesEdit.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle" ng-show="editMode">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-template-data name="templateDataForm" ng-model="template" sc-form-params="{dataGenerators: dataGenerators, isNew: false}"></gva-template-data>
    </div>
  </div>
</ng-form>
