<ng-form name="form.stageForm" class="form-inline" sc-validate="{}">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong l10n-text="applications.edit.stages.edit"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="applications.editDocStageModal.save" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.editDocStageModal.cancel" class="btn btn-default btn-xs" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </div>

    <div class="well-sm panel-body ">

      <div class="row">

        <div class="form-group col-sm-10" sc-has-error="electronicServiceStageId">
          <label class="control-label" l10n-text="applications.editDocStageModal.stage"></label>
          <sc-validation-error field-name="electronicServiceStageId" validations="{required: 'default'}"></sc-validation-error>
          <sc-nomenclature ng-model="stageModel.electronicServiceStageId" nom-obj="stageModel.electronicServiceStage" mode="id" name="electronicServiceStageId" alias="'electronicServiceStage'" params="{ docTypeId: stageModel.docTypeId }" ng-required="true"></sc-nomenclature>
        </div>

        <div class="form-group col-sm-2" sc-has-error="startingDate">
          <label class="control-label" l10n-text="applications.editDocStageModal.startingDate"></label>
          <sc-validation-error field-name="startingDate" validations="{required: 'default'}"></sc-validation-error>
          <sc-date ng-model="stageModel.startingDate" name="startingDate" readonly="true" required></sc-date>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-sm-8">
          <label class="control-label" l10n-text="applications.editDocStageModal.executors"></label>
          <sc-text ng-model="stageModel.electronicServiceStage.executorName" name="executors" readonly="true"></sc-text>
        </div>

        <div class="form-group col-sm-2" sc-has-error="expectedEndingDate">
          <label class="control-label" l10n-text="applications.editDocStageModal.expectedEndingDate"></label>
          <sc-validation-error field-name="expectedEndingDate" validations="{required: 'default'}"></sc-validation-error>
          <sc-date ng-model="stageModel.expectedEndingDate" name="expectedEndingDate"></sc-date>
        </div>

        <div class="form-group col-sm-2" sc-has-error="endingDate">
          <label class="control-label" l10n-text="applications.editDocStageModal.endingDate"></label>
          <sc-validation-error field-name="endingDate" validations="{required: 'default', invalidEndingDate: 'Изберете дата след днешната'}"></sc-validation-error>
          <sc-date ng-model="stageModel.endingDate" name="endingDate" sc-validate="{ invalidEndingDate: isEndingDateValid }" sc-validate-immediate="true"></sc-date>
        </div>

      </div>

    </div>
  </div>
</ng-form>
