<sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3">
  <sc-filter type="text" name="manSN" class="col-sm-3" removable="false" label="applications.aircraftSelect.manSN"></sc-filter>
  <sc-filter type="text" name="model" class="col-sm-3" removable="false" label="applications.aircraftSelect.model"></sc-filter>
  <sc-filter type="text" name="icao" class="col-sm-3" removable="true" label="applications.aircraftSelect.icao"></sc-filter>
  <sc-search-button action="search()" text="applications.aircraftSelect.search" icon="glyphicon-search"></sc-search-button>
  <sc-search-button action="cancel()" text="applications.aircraftSelect.cancel"></sc-search-button>
  <sc-search-button action="add"></sc-search-button>
</sc-search>

<sc-datatable items="aircrafts" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column data="manSN" title="applications.aircraftSelect.manSN">
  </sc-column>
  <sc-column data="model" title="applications.aircraftSelect.model">
  </sc-column>
  <sc-column data="outputDate" title="applications.aircraftSelect.outputDate" type="date">
  </sc-column>
  <sc-column data="icao" title="applications.aircraftSelect.icao">
  </sc-column>
  <sc-column data="aircraftCategory" title="applications.aircraftSelect.aircraftCategory">
  </sc-column>
  <sc-column data="aircraftProducer" title="applications.aircraftSelect.aircraftProducer">
  </sc-column>
  <sc-column data="engine" title="applications.aircraftSelect.engine">
  </sc-column>
  <sc-column data="propeller" title="applications.aircraftSelect.propeller">
  </sc-column>
  <sc-column data="modifOrWingColor" title="applications.aircraftSelect.modifOrWingColor">
  </sc-column>
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
   <sc-button name="viewButton" btn-click="selectAircraft(item)" text="applications.aircraftSelect.select" class="btn btn-xs btn-primary"></sc-button>
  </sc-column>
</sc-datatable>
