<ng-form name="newAirportForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="applications.airportNew.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="applications.airportNew.saveAndSelect"
          class="btn btn-primary btn-sm" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.airportNew.cancel"
          class="btn btn-default btn-sm" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-airport-data name="airportDataForm" ng-model="airport.airportData"></gva-airport-data>
    </div>
  </div>
</ng-form>
