<div>
  <form class="form-inline well well-sm card">
    <div class="row">
      <div class="form-group col-md-3 col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="organizations.viewOrganization.name"></span>
          <input disabled name="name" type="text" class="form-control" value="{{organization.name}}" />
        </div>
      </div>
      <div class="form-group col-md-5 col-sm-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="organizations.viewOrganization.organizationType"></span>
          <input disabled name="organizationType" type="text" class="form-control" value="{{organization.organizationType}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3 col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="organizations.viewOrganization.cao"></span>
          <input disabled name="cao" type="text" class="form-control" value="{{organization.cao}}" />
        </div>
      </div>
      <div class="form-group col-md-3 col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="organizations.viewOrganization.uin"></span>
          <input disabled name="uin" type="text" class="form-control" value="{{organization.uin}}" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3 col-lg-2">
        <sc-nomenclature ng-model="caseType" name="caseType" alias="'caseTypes'" mode="id" params="{lotId: organization.id}" ng-change="changeCaseType()"></sc-nomenclature>
      </div>
      <div class="form-group col-lg-offset-8 col-sm-offset-7 col-sm-2">
        <sc-button name="editBtn" btn-click="edit()" text="organizations.viewOrganization.edit" class="btn btn-primary btn-sm pull-right" icon="glyphicon-pencil"></sc-button>
      </div>
    </div>
  </form>

  <gva-application-alert-info  ng-if="application" application="application"></gva-application-alert-info>

  <sc-tabs tab-list="tablist"></sc-tabs>
  <div class="tab-content">
    <div ui-view></div>
    <div class="clear"></div>
  </div>
</div>
