<div>
  <sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3">
    <sc-filter type="text" name="organizationName" class="col-sm-2" removable="false" label="organizations.search.name"></sc-filter>
    <sc-filter type="nomenclature" name="caseTypeId" class="col-sm-2" removable="false" alias="organizationCaseTypes" mode="id" label="organizations.search.caseType"></sc-filter>
    <sc-filter type="text" name="CAO" class="col-sm-2" removable="true" label="organizations.search.CAO"></sc-filter>
    <sc-filter type="text" name="uin" class="col-sm-2" removable="true" label="organizations.search.uin"></sc-filter>
    <sc-filter type="date" name="dateValidTo" class="col-sm-2" removable="true" label="organizations.search.dateValidTo"></sc-filter>
    <sc-filter type="date" name="dateCAOValidTo" class="col-sm-2" removable="true" label="organizations.search.dateCAOValidTo"></sc-filter>
    <sc-search-button action="search()" text="organizations.search.search" icon="glyphicon-search"></sc-search-button>
    <sc-search-button action="newOrganization()" text="organizations.search.newOrganization" icon="glyphicon-plus"></sc-search-button>
    <sc-search-button action="add"></sc-search-button>
  </sc-search>

  <sc-datatable items="organizations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
    <sc-column sortable="false" class="buttons-cell" has-content="true">
      <sc-button name="viewButton" btn-sref="{state: 'root.organizations.view', params: { id: item.id }}" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
    </sc-column>
      <sc-column data="name" title="organizations.search.name">
    </sc-column>
    <sc-column data="cao" title="organizations.search.CAO">
    </sc-column>
    <sc-column data="uin" title="organizations.search.uin">
    </sc-column>
    <sc-column data="valid" title="organizations.search.valid" type="boolean">
    </sc-column>
    <sc-column data="organizationType" title="organizations.search.organizationType">
    </sc-column>
    <sc-column data="dateValidTo" title="organizations.search.dateValidTo" type="date">
    </sc-column>
    <sc-column data="dateCAOValidTo" title="organizations.search.dateCAOValidTo" type="date">
    </sc-column>
  </sc-datatable>
</div>
