<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.addresses.new' }" text="persons.addressSearch.newAddress" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="addresses" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.persons.view.addresses.edit', params: {ind: item.partIndex} }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.addressType.name" title="persons.addressSearch.type">
  </sc-column>
  <sc-column data="part.settlement.name" title="persons.addressSearch.settlement">
  </sc-column>
  <sc-column data="part.address" title="persons.addressSearch.address">
  </sc-column>
  <sc-column data="part.addressAlt" title="persons.addressSearch.addressAlt">
  </sc-column>
  <sc-column data="part.postalCode" title="persons.addressSearch.postalCode">
  </sc-column>
  <sc-column data="part.phone" title="persons.addressSearch.phone">
  </sc-column>
  <sc-column data="part.valid.name" title="persons.addressSearch.valid">
  </sc-column>
</sc-datatable>