<sc-button name="createBtn" btn-click="newStaffExaminer()" text="organizations.staffExaminerSearch.newStaffExaminer" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationStaffExaminers" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editStaffChecker(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.code" title="organizations.staffExaminerSearch.code">
  </sc-column>
  <sc-column data="part.person.name" title="organizations.staffExaminerSearch.person">
  </sc-column>
  <sc-column data="part.valid.name" type="date" title="organizations.staffExaminerSearch.valid">
  </sc-column>
  <sc-column data="part.stampNumber" title="organizations.staffExaminerSearch.stampNumber">
  </sc-column>
</sc-datatable>