<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="int" ng-model="model.certNumber" l10n-text="organizations.organizationRegisterDirective.certNumber" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.issueDate" l10n-text="organizations.organizationRegisterDirective.issueDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" l10n-text="organizations.organizationRegisterDirective.validToDate" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" l10n-text="organizations.organizationRegisterDirective.organization" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.airport" alias="'airports'" l10n-text="organizations.organizationRegisterDirective.airport" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.address" l10n-text="organizations.organizationRegisterDirective.address" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row" ng-if="$parent.organizationRegAirportOperator">
    <sc-field type="nomenclature" ng-model="model.airportoperatorActivityTypes" alias="'airportoperatorActivityTypes'" multiple="multiple" l10n-text="organizations.organizationRegisterDirective.activityTypes" class="col-sm-5 col-md-4"></sc-field>
  </div>
  <div class="row" ng-if="$parent.organizationRegGroundServiceOperator">
    <sc-field type="nomenclature" ng-model="model.groundServiceOperatorActivityTypes" alias="'groundServiceOperatorActivityTypes'" multiple="multiple" l10n-text="organizations.organizationRegisterDirective.activityTypes" class="col-sm-5 col-md-4"></sc-field>
  </div>
  <h5 class="form-header" l10n-text="organizations.organizationRegisterDirective.revokeTitle"></h5>

  <div class="row">
    <sc-field type="date" ng-model="model.revokeDate" l10n-text="organizations.organizationRegisterDirective.revokeDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.revokeCause" l10n-text="organizations.organizationRegisterDirective.revokeCause" class="col-sm-3 col-md-2"></sc-field>
  </div>
</ng-form>