<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.addressType" alias="'addressTypes'" params="{ type: 'F' }" ng-required="true" l10n-text="organizations.organizationAddressDirective.addressType" class="col-md-3 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.valid" alias="'boolean'" ng-required="true" l10n-text="organizations.organizationAddressDirective.valid" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.email" l10n-text="organizations.organizationAddressDirective.email" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.fax" l10n-text="organizations.organizationAddressDirective.fax" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.contactPerson" l10n-text="organizations.organizationAddressDirective.contactPerson" class="col-sm-8 col-md-6"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.address" ng-required="true" l10n-text="organizations.organizationAddressDirective.address" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="text" ng-model="model.addressAlt" ng-required="true" l10n-text="organizations.organizationAddressDirective.addressAlt" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.settlement" alias="'cities'" ng-required="true" l10n-text="organizations.organizationAddressDirective.settlement" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.postalCode" l10n-text="organizations.organizationAddressDirective.postalCode" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.phone" l10n-text="organizations.organizationAddressDirective.phone" class="col-sm-6 col-md-4"></sc-field>
  </div>
</ng-form>