<ng-form class="form-inline" sc-validate="{}">
  <div class="row">
      <div class="form-group col-sm-4">
      <label class="control-label" l10n-text="organizations.staffExaminerDirective.examinerCode"></label>
      <sc-text ng-model="model.part.examinerCode" ng-readonly="readonly"></sc-text>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label" l10n-text="organizations.staffExaminerDirective.person"></label>
      <sc-nomenclature ng-model="model.part.person" alias="'persons'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="organizations.staffExaminerDirective.content.stampNumber"></label>
      <sc-text ng-model="model.part.stampNum" ng-readonly="readonly"></sc-text>
    </div>
    <div class="form-group col-sm-2">
      <label class="control-label" l10n-text="organizations.staffExaminerDirective.valid"></label>
      <sc-nomenclature ng-model="model.part.valid" alias="'boolean'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
</ng-form>
