<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.name" ng-required="true" l10n-text="organizations.organizationDataDirective.name" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.nameAlt" ng-required="true" l10n-text="organizations.organizationDataDirective.nameAlt" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.code" l10n-text="organizations.organizationDataDirective.code" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.uin" l10n-text="organizations.organizationDataDirective.uin" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.caseTypes" alias="'organizationCaseTypes'" sc-validate="{ requiredValue: requireCaseTypes }"  sc-validate-immediate="true" multiple l10n-text="organizations.organizationDataDirective.caseTypes" validations="{requiredValue: 'Задължително поле'}"
    class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.cao" l10n-text="organizations.organizationDataDirective.cao" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.dateCaoFirstIssue" l10n-text="organizations.organizationDataDirective.dateCaoFirstIssue" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.dateCaoLastIssue" l10n-text="organizations.organizationDataDirective.dateCaoLastIssue" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.dateCaoValidTo" l10n-text="organizations.organizationDataDirective.dateCaoValidTo" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.dateValidTo" l10n-text="organizations.organizationDataDirective.dateValidTo" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.valid" alias="'boolean'" ng-required="true" l10n-text="organizations.organizationDataDirective.valid" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.icao" l10n-text="organizations.organizationDataDirective.ICAO" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.iata" l10n-text="organizations.organizationDataDirective.IATA" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.sita" l10n-text="organizations.organizationDataDirective.SITA" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.organizationType" alias="'organizationTypes'" ng-required="true" l10n-text="organizations.organizationDataDirective.organizationType" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.organizationKind" alias="'organizationKinds'" ng-required="true" l10n-text="organizations.organizationDataDirective.organizationKind" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.docRoom" l10n-text="organizations.organizationDataDirective.docRoom" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.phones" l10n-text="organizations.organizationDataDirective.phones" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.webSite" l10n-text="organizations.organizationDataDirective.webSite" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea" rows="3" ng-model="model.notes" l10n-text="organizations.organizationDataDirective.notes" class="col-sm-8 col-md-6"></sc-field>
  </div>
</ng-form>