<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.part.examinerCode" required l10n-text="organizations.awExaminerDirective.examinerCode" validations="{required: 'default'}" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.person" alias="'awExaminers'" params="{limit: null}" required l10n-text="organizations.awExaminerDirective.person" validations="{required: 'default'}" class="col-md-6 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.stampNum" l10n-text="organizations.awExaminerDirective.content.stampNumber" class="col-md-3 col-sm-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.valid" alias="'boolean'" required l10n-text="organizations.awExaminerDirective.valid" validations="{required: 'default'}" class="col-md-3 col-sm-4"></sc-field>
  </div>
  <div style="margin-top:20px;">
    <h5 class="form-header" l10n-text="organizations.awExaminerDirective.approvedAircrafts.title"></h5>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>
            <div sc-has-error="aircraftTypeGroup">
              <label class="control-label" l10n-text="organizations.awExaminerDirective.approvedAircrafts.aircraftTypeGroup"></label>
              <sc-validation-error field-name="aircraftTypeGroup" validations="{required: 'default'}"></sc-validation-error>
            </div>
          </th>
          <th>
            <div sc-has-error="dateApproved">
              <label class="control-label" l10n-text="organizations.awExaminerDirective.approvedAircrafts.dateApproved"></label>
              <sc-validation-error field-name="dateApproved" validations="{required: 'default'}"></sc-validation-error>
            </div>
          </th>
          <th>
            <div sc-has-error="inspector">
              <label class="control-label" l10n-text="organizations.awExaminerDirective.approvedAircrafts.inspector"></label>
              <sc-validation-error field-name="inspector" validations="{required: 'default'}"></sc-validation-error>
            </div>
          </th>
          <th>
            <div sc-has-error="valid">
              <label class="control-label" l10n-text="organizations.awExaminerDirective.approvedAircrafts.valid"></label>
              <sc-validation-error field-name="valid" validations="{required: 'default'}"></sc-validation-error>
            </div>
          </th>
          <th l10n-text="organizations.awExaminerDirective.approvedAircrafts.notes"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="approvedAircraft in model.part.approvedAircrafts">
          <td style="text-align: right; width: 1px;">
            <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteAircraft(approvedAircraft)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
          </td>
          <td class="col-sm-3">
            <sc-nomenclature name="aircraftTypeGroup" ng-model="approvedAircraft.aircraftTypeGroup" alias="'aircraftTypeGroups'" ng-readonly="form.$readonly" ng-required="true"></sc-nomenclature>
          </td>
          <td class="col-sm-3 col-md-2">
            <sc-date name="dateApproved" ng-model="approvedAircraft.dateApproved" ng-readonly="form.$readonly" ng-required="true"></sc-date>
          </td>
          <td class="col-sm-3">
            <sc-nomenclature name="inspector" ng-model="approvedAircraft.inspector" alias="'inspectors'" ng-readonly="form.$readonly" ng-required="true"></sc-nomenclature>
          </td>
          <td class="col-sm-2 col-md-1">
            <sc-nomenclature name="valid" ng-model="approvedAircraft.valid" alias="'boolean'" ng-readonly="form.$readonly" ng-required="true"></sc-nomenclature>
          </td>
          <td>
            <sc-text ng-model="approvedAircraft.notes" ng-readonly="form.$readonly"></sc-text>
          </td>
        </tr>
        <tr ng-repeat-end=""></tr>
        <tr class="sort-disabled" ng-if="!model.part.approvedAircrafts.length">
          <td colspan="6" class="text-center" l10n-text="organizations.awExaminerDirective.approvedAircrafts.noEntry"></td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: right; width: 1px;">
            <sc-button type="button" btn-click="addAircraft()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-form>
