<ng-form class="form-inline" sc-validate="{}">

  <div class="row">
    <sc-field-group class="col-sm-3 col-md-2" text="organizations.staffManagementDirective.position" validations="{ required: null }" field-name="position">
      <sc-text ng-model="model.part.position" name="position" ng-required="true" ng-readonly="readonly"></sc-text>
      <sc-button class="btn btn-default" btn-click="$parent.chooseEmployment()" icon="glyphicon-search" ng-disabled="readonly"></sc-button>
    </sc-field-group>
    <div class="form-group col-sm-6 col-md-5" sc-has-error="person">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.person"></label>
      <sc-validation-error field-name="person" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.part.person" name="person" alias="'persons'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.testDate"></label>
      <sc-date ng-model="model.part.testDate" ng-readonly="readonly"></sc-date>
    </div>
    <div class="form-group col-sm-3 col-md-2">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.testScore"></label>
      <sc-nomenclature ng-model="model.part.testScore" alias="'testScores'" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2 col-md-2" sc-has-error="valid">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.valid"></label>
      <sc-validation-error field-name="valid" validations="{required: null}"></sc-validation-error>
      <sc-nomenclature ng-model="model.part.valid" name="valid" alias="'boolean'" ng-required="true" ng-readonly="readonly"></sc-nomenclature>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-9 col-md-7">
      <label class="control-label" l10n-text="organizations.staffManagementDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="'organization'" ng-readonly="readonly"></gva-applications>
    </div>
  </div>
</ng-form>
