<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.auditPartRequirement" alias="'auditPartRequirements'" ng-required="true" l10n-text="organizations.auditplanDirective.auditPartRequirement" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.planYear" l10n-text="organizations.auditplanDirective.planYear" class="col-sm-2 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.planMonth" l10n-text="organizations.auditplanDirective.planMonth" class="col-sm-2 col-md-2"></sc-field>
  </div>
</ng-form>