<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.auditPart" alias="'auditParts'" ng-readonly="form.$readonly || model.partIndex" l10n-text="organizations.recommendationDirective.auditPart" class="col-sm-3 col-md-3"></sc-field>
  </div>

  <div ng-if="model.part.auditPart">
    <h4 class="form-header">
      <a l10n-text="organizations.recommendationDirective.part1Title" ng-click="parts.part1 = !parts.part1" style="cursor:pointer;"></a>
    </h4>
    <div ng-show="parts.part1">
      <div class="row">
        <div class="form-group col-sm-7 col-md-5">
          <label class="control-label" l10n-text="organizations.recommendationDirective.form"></label>
        </div>
      </div>
      <div class="row" style="margin-top: 0px">
        <sc-field type="date" ng-model="model.part.formDate" l10n-text="organizations.recommendationDirective.formDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.formText" l10n-text="organizations.recommendationDirective.formText" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="textarea" ng-model="model.part.interviewedStaff" l10n-text="organizations.recommendationDirective.interviewedStaff" rows="4" class="col-sm-8 col-md-6"></sc-field>
      </div>

      <div class="row">
        <div class="form-group col-sm-7 col-md-5">
          <label class="control-label" l10n-text="organizations.recommendationDirective.inspectionPeriod"></label>
        </div>
      </div>
      <div class="row" style="margin-top: 0px">
        <sc-field type="date" ng-model="model.part.inspectionFromDate" l10n-text="organizations.recommendationDirective.inspectionFromDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="date" ng-model="model.part.inspectionToDate" l10n-text="organizations.recommendationDirective.inspectionToDate" class="col-sm-3 col-md-2"></sc-field>
      </div>

      <div class="row">
        <sc-field type="date" ng-model="model.part.finished1Date" l10n-text="organizations.recommendationDirective.finishedDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.town1" l10n-text="organizations.recommendationDirective.town" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <gva-common-inspectors ng-model="model.part.part1Inspectors" name="inspectorsForm1" sc-form-params="{
        addInspectorText: 'organizations.recommendationDirective.addInspector',
        inspectorText: 'organizations.recommendationDirective.inspector',
        inspectorsText: 'organizations.recommendationDirective.inspectors',
        noAvailableInspectorsText: 'organizations.recommendationDirective.noAvailableInspectors'
      }"></gva-common-inspectors>
    </div>

    <h4 class="form-header" ng-init="part2 = false">
      <a l10n-text="organizations.recommendationDirective.part2Title" ng-click="part2 = !part2" style="cursor:pointer;"></a>
    </h4>
    <div ng-show="part2">
      <div class="row">
        <sc-field type="date" ng-model="model.part.finished2Date" l10n-text="organizations.recommendationDirective.finishedDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.town2" l10n-text="organizations.recommendationDirective.town" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <h5 class="table-header" l10n-text="organizations.recommendationDirective.audits"></h5>
      <sc-button type="button" ng-show="!form.$readonly" btn-click="chooseInspections()" class="btn btn-primary btn-xs" icon="glyphicon-plus" text="organizations.recommendationDirective.chooseAudits"></sc-button>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1px" ng-show="!form.$readonly"></th>
            <th l10n-text="organizations.recommendationDirective.inspectionStartDate"></th>
            <th l10n-text="organizations.recommendationDirective.inspectionEndDate"></th>
            <th l10n-text="organizations.recommendationDirective.inspectionSubject"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="!inspections.length">
            <td colspan="{{form.$readonly ? 3 : 4}}" class="text-center" l10n-text="organizations.recommendationDirective.noAvailableAudits"></td>
          </tr>
          <tr ng-repeat="inspection in inspections">
            <td ng-show="!form.$readonly">
              <sc-button class="btn btn-xs btn-danger" btn-click="deleteInspection(inspection.partIndex)" icon="glyphicon-remove"></sc-button>
            </td>
            <td>{{inspection.startDate | date:'mediumDate'}}</td>
            <td>{{inspection.endDate | date:'mediumDate'}}</td>
            <td>{{inspection.subject}}</td>
          </tr>
        </tbody>
      </table>

      <gva-common-inspectors ng-model="model.part.part2Inspectors" name="inspectorsForm2" sc-form-params="{
        addInspectorText: 'organizations.recommendationDirective.addInspector',
        inspectorText: 'organizations.recommendationDirective.inspector',
        inspectorsText: 'organizations.recommendationDirective.inspectors',
        noAvailableInspectorsText: 'organizations.recommendationDirective.noAvailableInspectors'
      }"></gva-common-inspectors>
    </div>

    <h4 class="form-header">
      <a l10n-text="organizations.recommendationDirective.part3Title" ng-click="parts.part3 = !parts.part3" style="cursor:pointer;"></a>
    </h4>
    <div ng-show="parts.part3">
      <div class="row">
        <sc-field type="date" ng-model="model.part.finished3Date" l10n-text="organizations.recommendationDirective.finishedDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.town3" l10n-text="organizations.recommendationDirective.town" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="textarea" ng-model="model.part.documentDescription" l10n-text="organizations.recommendationDirective.documentDescription" rows="4" class="col-sm-8 col-md-6"></sc-field>
      </div>

      <h5 class="table-header" l10n-text="organizations.recommendationDirective.recommendationDetailsTitle"></h5>
      <sc-button btn-click="insertRecommendationDetails()" icon="glyphicon-download-alt" ng-show="!model.part.recommendationDetails.length" text="organizations.recommendationDirective.insertRecommendationDetails" class="btn btn-primary btn-xs"></sc-button>
      <table class="table table-striped table-bordered ctrl-table" ng-if="model.part.recommendationDetails.length > 0" >
        <thead>
          <tr>
            <th l10n-text="organizations.recommendationDirective.detailCode"></th>
            <th l10n-text="organizations.recommendationDirective.detailSubject"></th>
            <th l10n-text="organizations.recommendationDirective.detailAuditResult"></th>
            <th l10n-text="organizations.recommendationDirective.detailDisparities"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="group in model.part.recommendationDetails">
            <td colspan="4">{{group.sectionCode + ' ' + group.sectionName}}</td>
          </tr>
          <tr ng-repeat-end ng-repeat="detail in group.details">
            <td>
              {{detail.code}}
            </td>
            <td>
              {{detail.subject}}
            </td>
            <td class="ctrl-cell">
              <sc-nomenclature ng-model="detail.recommendationResult" alias="'recommendationResults'" name="recommendationResult" ng-required="true" ng-readonly="form.$readonly"></sc-nomenclature>
            </td>
            <td>
              <sc-button type="button" btn-click="addDisparity(detail)" class="btn btn-primary btn-xs pull-right" icon="glyphicon-plus" 
                  ng-show="detail.recommendationResult.code === 'D'"
                  ng-disabled="form.$readonly">
              </sc-button>
              <div class="nav-pills pull-left" ng-repeat="dispIndex in detailDisparities[detail.code]">
                  <a href="" ng-click="parts.part4 = true" scroll-to=".disparity{{dispIndex + 1}}">
                    <span class="badge">{{dispIndex + 1}}</span>
                  </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <gva-common-inspectors ng-model="model.part.part3Inspectors" name="inspectorsForm3" sc-form-params="{
        addInspectorText: 'organizations.recommendationDirective.addInspector',
        inspectorText: 'organizations.recommendationDirective.inspector',
        inspectorsText: 'organizations.recommendationDirective.inspectors',
        noAvailableInspectorsText: 'organizations.recommendationDirective.noAvailableInspectors'
      }"></gva-common-inspectors>
    </div>

    <h4 class="form-header">
      <a l10n-text="organizations.recommendationDirective.part4Title" ng-click="parts.part4 = !parts.part4" style="cursor:pointer;"></a>
    </h4>
    <div ng-show="parts.part4">
      <div class="row">
        <sc-field type="date" ng-model="model.part.finished4Date" l10n-text="organizations.recommendationDirective.finishedDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.town4" l10n-text="organizations.recommendationDirective.town" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <h5 class="table-header" l10n-text="organizations.recommendationDirective.inspectionsDisparitiesTitle"></h5>
      <table class="table table-striped table-bordered ctrl-table">
        <thead>
          <tr>
            <th l10n-text="organizations.recommendationDirective.disparitiesIndex"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRefNumber"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesDescription"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesDisparityLevel"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRemovalDate"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesClosureDate"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRectifyAction"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesClosureDocument"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="disparity in inspectionsDisparities" class="disparity{{$index + 1}}">
            <td>{{$index + 1}}</td>
            <td>{{disparity.refNumber}}</td>
            <td>{{disparity.description}}</td>
            <td>{{disparity.disparityLevel.name}}</td>
            <td>{{disparity.removalDate | date:'mediumDate'}}</td>
            <td>{{disparity.closureDate | date:'mediumDate'}}</td>
            <td>{{disparity.rectifyAction}}</td>
            <td>{{disparity.closureDocument}}</td>
          </tr>
          <tr ng-if="!inspectionsDisparities.length">
            <td colspan="8" class="text-center" l10n-text="organizations.recommendationDirective.noAvailableDisparities"></td>
          </tr>
        </tbody>
      </table>

      <h5 class="table-header" l10n-text="organizations.recommendationDirective.disparitiesTitle"></h5>
      <table class="table table-striped table-bordered ctrl-table">
        <thead>
          <tr>
            <th l10n-text="organizations.recommendationDirective.disparitiesIndex"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRefNumber"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesDescription"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesDisparityLevel"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRemovalDate"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesClosureDate"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesRectifyAction"></th>
            <th l10n-text="organizations.recommendationDirective.disparitiesClosureDocument"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="disparity in model.part.disparities" class="disparity{{$index + 1}}">
            <td>{{$index + 1}}</td>
            <td>{{disparity.refNumber}}</td>
            <td>{{disparity.description}}</td>
            <td>{{disparity.disparityLevel.name}}</td>
            <td>{{disparity.removalDate | date:'mediumDate'}}</td>
            <td>{{disparity.closureDate | date:'mediumDate'}}</td>
            <td>{{disparity.rectifyAction}}</td>
            <td>{{disparity.closureDocument}}</td>
            <td style="white-space: nowrap">
              <sc-button btn-click="editDisparity(disparity)" class="btn btn-xs btn-primary" icon="glyphicon-pencil" ng-disabled="form.$readonly"></sc-button>
              <sc-button type="button" btn-click="deleteDisparity(disparity)" class="btn btn-primary btn-xs" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
            </td>
          </tr>
          <tr ng-if="!model.disparities.length">
            <td colspan="9" class="text-center" l10n-text="organizations.recommendationDirective.noAvailableDisparities"></td>
          </tr>
        </tbody>
      </table>

      <gva-common-inspectors ng-model="model.part.part4Inspectors" name="inspectorsForm4" sc-form-params="{
        addInspectorText: 'organizations.recommendationDirective.addInspector',
        inspectorText: 'organizations.recommendationDirective.inspector',
        inspectorsText: 'organizations.recommendationDirective.inspectors',
        noAvailableInspectorsText: 'organizations.recommendationDirective.noAvailableInspectors'
      }"></gva-common-inspectors>
    </div>

    <h4 class="form-header">
      <a l10n-text="organizations.recommendationDirective.part5Title" ng-click="parts.part5 = !parts.part5" style="cursor:pointer;"></a>
    </h4>
    <div ng-show="parts.part5">
      <div class="row">
        <sc-field type="date" ng-model="model.part.finished5Date" l10n-text="organizations.recommendationDirective.finishedDate" class="col-sm-3 col-md-2"></sc-field>
        <sc-field type="text" ng-model="model.part.town5" l10n-text="organizations.recommendationDirective.town" class="col-sm-5 col-md-4"></sc-field>
      </div>

      <div class="row">
        <sc-field type="textarea" rows="4" ng-model="model.part.recommendation" l10n-text="organizations.recommendationDirective.recommendation" class="col-sm-8 col-md-6"></sc-field>
      </div>

      <gva-common-inspectors ng-model="model.part.part5Inspectors" name="inspectorsForm5" sc-form-params="{
        addInspectorText: 'organizations.recommendationDirective.addInspector',
        inspectorText: 'organizations.recommendationDirective.inspector',
        inspectorsText: 'organizations.recommendationDirective.inspectors',
        noAvailableInspectorsText: 'organizations.recommendationDirective.noAvailableInspectors'
      }"></gva-common-inspectors>
    </div>
  </div>
</ng-form>
