<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.certNumber" l10n-text="organizations.certificateDirective.certNumber" class="col-sm-2 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.validToDate" l10n-text="organizations.certificateDirective.validToDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.issueDate" l10n-text="organizations.certificateDirective.issueDate" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.audit" alias="'organizationsAudits'" params="{lotId: lotId}" l10n-text="organizations.certificateDirective.audit" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" l10n-text="organizations.certificateDirective.organization" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.airport" alias="'airports'" l10n-text="organizations.certificateDirective.airport" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.inspector" alias="'inspectors'" l10n-text="organizations.certificateDirective.inspector" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.valid" alias="'boolean'" l10n-text="organizations.certificateDirective.valid" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row" ng-if="$parent.certAirportOperatorForm">
    <sc-field type="nomenclature" ng-model="model.airportoperatorActivityTypes" alias="'airportoperatorActivityTypes'" multiple="multiple" l10n-text="organizations.certificateDirective.activityTypes" class="col-sm-5 col-md-4"></sc-field>
  </div>
  <div class="row" ng-if="$parent.certGroundServiceOperatorForm">
    <sc-field type="nomenclature" ng-model="model.groundServiceOperatorActivityTypes" alias="'groundServiceOperatorActivityTypes'" multiple="multiple" l10n-text="organizations.certificateDirective.activityTypes" class="col-sm-5 col-md-4"></sc-field>
  </div>
  <div class="row" ng-if="$parent.certAirOperatorForm || $parent.certAirNavigationServiceDelivererForm">
    <sc-field type="text" ng-model="model.specs" l10n-text="organizations.certificateDirective.specs" class="col-sm-5 col-md-4"></sc-field>
  </div>
  <div ng-if="$parent.certAirCarrierForm">
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.aircrafts" alias="'aircrafts'" multiple="multiple" l10n-text="organizations.certificateDirective.aircrafts" class="col-sm-7 col-md-6"></sc-field>
    </div>
    <div class="row">
      <sc-field type="nomenclature" ng-model="model.aircarrierServices" alias="'aircarrierServices'" multiple="multiple" l10n-text="organizations.certificateDirective.aircarrierServices" class="col-sm-7 col-md-6"></sc-field>
    </div>
  </div>

  <h5 class="form-header" l10n-text="organizations.certificateDirective.ext"></h5>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.ext.inspector" alias="'inspectors'" l10n-text="organizations.certificateDirective.inspector" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="date" ng-model="model.ext.date" l10n-text="organizations.certificateDirective.date" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.ext.validToDate" l10n-text="organizations.certificateDirective.validToDateExt" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <h5 class="form-header" l10n-text="organizations.certificateDirective.documentsTable.includedDocuments"></h5>
  <sc-button name="chooseDocumentsBtn" type="button" btn-click="chooseDocuments()" class="btn btn-primary btn-sm" icon="glyphicon-plus" text="organizations.certificateDirective.documentsTable.chooseDocuments" ng-disabled="form.$readonly"></sc-button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          <div>
            <label class="control-label" l10n-text="organizations.certificateDirective.documentsTable.inspector"></label>
          </div>
        </th>
        <th l10n-text="organizations.certificateDirective.documentsTable.approvalDate"></th>
        <th l10n-text="organizations.certificateDirective.documentsTable.linkedDocument"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="document in model.includedDocuments">
        <td>
          <sc-nomenclature ng-model="document.inspector" alias="'inspectors'" ng-readonly="form.$readonly"></sc-nomenclature>
        </td>
        <td class="col-sm-3 col-md-2">
          <sc-date ng-model="document.approvalDate" ng-readonly="form.$readonly"></sc-date>
        </td>
        <td class="col-sm-3 col-md-3">
          <a class="glyphicon glyphicon-file" ng-click="viewDocument(document)"></a>
        </td>
        <td style="text-align: right; width: 1px;">
          <sc-button name="deleteDocumentBtn" type="button" class="btn btn-primary btn-sm" btn-click="deleteDocument(document)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
        </td>
      </tr>
      <tr ng-repeat-end=""></tr>
      <tr class="sort-disabled" ng-if="!model.includedDocuments.length">
        <td colspan="8" class="text-center" l10n-text="organizations.certificateDirective.documentsTable.noAvailableDocuments"></td>
      </tr>
    </tbody>
  </table>
  <h5 class="form-header" l10n-text="organizations.certificateDirective.revokeTitle"></h5>
  <div class="row">
    <sc-field type="date" ng-model="model.revokeDate" l10n-text="organizations.certificateDirective.revokeDate" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="nomenclature" ng-model="model.revokeinspector" alias="'inspectors'" l10n-text="organizations.certificateDirective.revokeinspector" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.revokeCause" l10n-text="organizations.certificateDirective.revokeCause" class="col-sm-2 col-md-2"></sc-field>
  </div>
</ng-form>