<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.approvalType" alias="'approvalTypes'" ng-required="true" l10n-text="organizations.approvalDirective.approvalType" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.documentNumber" ng-required="true" l10n-text="organizations.approvalDirective.documentNumber" class="col-sm-2 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.documentDateIssue" l10n-text="organizations.approvalDirective.documentDateIssue" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.approvalState" alias="'approvalStates'" l10n-text="organizations.approvalDirective.approvalState" class="col-sm-4 col-md-3"></sc-field>
    <sc-field type="date" ng-model="model.approvalStateDate" l10n-text="organizations.approvalDirective.approvalStateDate" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="3" cols="50" ng-model="model.approvalStateNote" l10n-text="organizations.approvalDirective.approvalStateNote" class="col-sm-7 col-md-5"></sc-field>
  </div>
</ng-form>