<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" l10n-text="organizations.amendmentDirective.documentNumber" class="col-sm-4 col-md-3"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.documentDateIssue" l10n-text="organizations.amendmentDirective.documentDateIssue" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="int" ng-model="model.changeNum" l10n-text="organizations.amendmentDirective.changeNum" class="col-sm-3 col-md-2"></sc-field>
  </div>
  <div class="row">
    <div class="form-group col-sm-9 col-md-7">
      <label class="control-label" l10n-text="organizations.amendmentDirective.applications"></label>
      <gva-applications ng-model="model.applications" set-part="'organization'" lot-id="lotId" ng-readonly="form.$readonly"></gva-applications>
    </div>
  </div>
  <div ng-if="$parent.approval.part.approvalType.code == '147'">
    <h5 class="form-header" l10n-text="organizations.amendmentDirective.lims147.title"></h5>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th l10n-text="organizations.amendmentDirective.lims147.sortOrder"></th>
          <th l10n-text="organizations.amendmentDirective.lims147.lim147limitation"></th>
          <th l10n-text="organizations.amendmentDirective.lims147.lim147limitationText"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="limitation in model.lims147">
          <td class="col-sm-1 col-md-1">
            <sc-int ng-model="limitation.sortOrder" ng-readonly="form.$readonly"></sc-int>
          </td>
          <td>
            <div class="input-group input-group-sm">
              <sc-text ng-model="limitation.lim147limitation" ng-readonly="form.$readonly"></sc-text>
              <span class="input-group-btn">
                <sc-button class="btn btn-default" btn-click="chooseLimitation({index: $index, alias: 'lim147limitations'})" icon="glyphicon-search" ng-disabled="form.$readonly"></sc-button>
              </span>
            </div>
          </td>
          <td>
            <sc-text ng-model="limitation.lim147limitationText" ng-readonly="form.$readonly"></sc-text>
          </td>
          <td style="text-align: right; width: 1px;">
            <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteLimitation147($index)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
        <tr ng-repeat-end=""></tr>
        <tr class="sort-disabled" ng-if="!model.lims147.length">
          <td colspan="8" class="text-center" l10n-text="organizations.amendmentDirective.noAvailableLimitations"></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align: right; width: 1px;">
            <sc-button type="button" btn-click="addLimitation147()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$parent.approval.part.approvalType.code == '145' || $parent.approval.part.approvalType.code == 'MF'">
    <h5 class="form-header" l10n-text="organizations.amendmentDirective.lims145.title"></h5>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th l10n-text="organizations.amendmentDirective.lims145.lim145limitation"></th>
          <th l10n-text="organizations.amendmentDirective.lims145.lim145limitationText"></th>
          <th l10n-text="organizations.amendmentDirective.lims145.basic"></th>
          <th l10n-text="organizations.amendmentDirective.lims145.line"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="limitation in model.lims145">
          <td>
            <div class="input-group input-group-sm">
              <sc-text ng-model="limitation.lim145limitation" ng-readonly="form.$readonly"></sc-text>
              <span class="input-group-btn">
                <sc-button class="btn btn-default" btn-click="chooseLimitation({index: $index, alias: 'lim145limitations'})" icon="glyphicon-search" ng-disabled="form.$readonly"></sc-button>
              </span>
            </div>
          </td>
          <td>
            <sc-text ng-model="limitation.lim145limitationText" ng-readonly="form.$readonly"></sc-text>
          </td>
          <td>
            <sc-nomenclature ng-model="limitation.basic" alias="'boolean'" ng-readonly="form.$readonly"></sc-nomenclature>
          </td>
          <td>
            <sc-nomenclature ng-model="limitation.line" alias="'boolean'" ng-readonly="form.$readonly"></sc-nomenclature>
          </td>
          <td style="text-align: right; width: 1px;">
            <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteLimitation145($index)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
        <tr ng-repeat-end=""></tr>
        <tr class="sort-disabled" ng-if="!model.lims145.length">
          <td colspan="8" class="text-center" l10n-text="organizations.amendmentDirective.noAvailableLimitations"></td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: right; width: 1px;">
            <sc-button type="button" btn-click="addLimitation145()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$parent.approval.part.approvalType.code == 'MG1' || $parent.approval.part.approvalType.code == 'MG2'">

    <h5 class="form-header" l10n-text="organizations.amendmentDirective.limsMG.title"></h5>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th l10n-text="organizations.amendmentDirective.limsMG.typeAC" class="col-md-3 col-sm-4"></th>
          <th l10n-text="organizations.amendmentDirective.limsMG.qualitySystem"></th>
          <th l10n-text="organizations.amendmentDirective.limsMG.awapproval"></th>
          <th l10n-text="organizations.amendmentDirective.limsMG.pfapproval"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="limitation in model.limsMG">
          <td>
            <div class="input-group input-group-sm">
              <sc-text ng-model="limitation.aircraftTypeGroup" ng-readonly="form.$readonly"></sc-text>
              <span class="input-group-btn">
                <sc-button class="btn btn-default" btn-click="chooseLimitation({index: $index, alias: 'aircraftTypeGroups'})" icon="glyphicon-search" ng-disabled="form.$readonly"></sc-button>
              </span>
            </div>
          </td>
          <td>
            <sc-text ng-model="limitation.qualitySystem" ng-readonly="form.$readonly"></sc-text>
          </td>
          <td>
            <sc-nomenclature ng-model="limitation.awapproval" alias="'boolean'" ng-readonly="form.$readonly"></sc-nomenclature>
          </td>
          <td>
            <sc-nomenclature ng-model="limitation.pfapproval" alias="'boolean'" ng-readonly="form.$readonly"></sc-nomenclature>
          </td>
          <td style="text-align: right; width: 1px;">
            <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteLimitationMG($index)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
        <tr ng-repeat-end=""></tr>
        <tr class="sort-disabled" ng-if="!model.limsMG.length">
          <td colspan="8" class="text-center" l10n-text="organizations.amendmentDirective.noAvailableLimitations"></td>
        </tr>
        <tr>
          <td colspan="5" style="text-align: right; width: 1px;">
            <sc-button type="button" btn-click="addLimitationMG()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h5 class="form-header" l10n-text="organizations.amendmentDirective.includedDocuments.title"></h5>
  <sc-button name="chooseDocumentsBtn" type="button" btn-click="chooseDocuments()" class="btn btn-primary btn-sm" icon="glyphicon-plus" text="organizations.amendmentDirective.includedDocuments.chooseDocuments" ng-disabled="form.$readonly"></sc-button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          <div>
            <label class="control-label" l10n-text="organizations.amendmentDirective.includedDocuments.inspector"></label>
          </div>
        </th>
        <th l10n-text="organizations.amendmentDirective.includedDocuments.approvalDate"></th>
        <th l10n-text="organizations.amendmentDirective.includedDocuments.linkedLim"></th>
        <th l10n-text="organizations.amendmentDirective.includedDocuments.linkedDocument"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="document in model.includedDocuments">
        <td>
          <sc-nomenclature ng-model="document.inspector" alias="'inspectors'" ng-readonly="form.$readonly"></sc-nomenclature>
        </td>
        <td>
          <sc-date ng-model="document.approvalDate" ng-readonly="form.$readonly"></sc-date>
        </td>
        <td>
          <input type="hidden" ng-model="document.linkedLim" class="input-sm select2input" ui-select2="select2Options" ng-readonly="form.$readonly">
        </td>
        <td>
          <a class="glyphicon glyphicon-file" ng-click="viewDocument(document)"></a>
        </td>
        <td style="text-align: right; width: 1px;">
          <sc-button name="deleteDocumentBtn" type="button" class="btn btn-primary btn-sm" btn-click="deleteDocument(document)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
        </td>
      </tr>
      <tr ng-repeat-end=""></tr>
      <tr class="sort-disabled" ng-if="!model.includedDocuments.length">
        <td colspan="8" class="text-center" l10n-text="organizations.amendmentDirective.includedDocuments.noAvailableDocuments"></td>
      </tr>
    </tbody>
  </table>
</ng-form>