<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row" ng-if="!hideCaseType">
    <div class="form-group col-sm-2" sc-has-error="caseType">
      <label class="control-label" l10n-text="organizations.organizationOtherDirective.caseType"></label>
      <sc-validation-error field-name="caseType" validations="{required: 'default'}"></sc-validation-error>
      <gva-case-type model="model.case" name="caseType" init="isNew" ng-disabled="!isNew" case-type="caseTypeId" ng-required="true"></gva-case-type>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.part.documentNumber" l10n-text="organizations.organizationOtherDirective.documentNumber" class="col-sm-6 col-md-3"></sc-field>
    <sc-field type="text" ng-model="model.part.documentPersonNumber" l10n-text="organizations.organizationOtherDirective.documentPersonNumber" class="col-sm-6 col-md-3"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.valid" alias="'boolean'" ng-required="true" l10n-text="organizations.organizationOtherDirective.valid" class="col-sm-2 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.part.documentDateValidFrom" ng-required="true" l10n-text="organizations.organizationOtherDirective.documentDateValidFrom" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.part.documentDateValidTo" l10n-text="organizations.organizationOtherDirective.documentDateValidTo" class="col-sm-3 col-md-2"></sc-field>
    <sc-field type="text" ng-model="model.part.documentPublisher" ng-required="true" l10n-text="organizations.organizationOtherDirective.documentPublisher" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.part.documentType" alias="'documentTypes'" params="{ isIdDocument: false }" ng-required="true" l10n-text="organizations.organizationOtherDirective.organizationOtherDocumentType" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.part.documentRole" alias="'documentRoles'" params="{ categoryAlias: 'other', categoryCodes: ['O', 'A']}" ng-required="true" l10n-text="organizations.organizationOtherDirective.organizationOtherDocumentRole"
    class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.part.notes" alias="'notes'" l10n-text="organizations.organizationOtherDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>