<sc-button name="createBtn" btn-sref="{ state: 'root.applications.new', params: {set: 'airport', lotId: lotId} }" text="airports.airportDocApplicationSearch.newApplication" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="airportDocumentApplications" filterable="true" pageable="true" sortable="true" dynamic-columns="true" default-sort="documentDate"
  row-class="{'declinedApplication' : isDeclinedApp(item), 'doneApplication' : isDoneApp(item)}">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" btn-sref="{ state: 'root.applications.edit.data', params: { id: item.applicationId } }" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="applicationType.name" title="airports.airportDocApplicationSearch.applicationType" class="wrap">
  </sc-column>
  <sc-column data="documentNumber" title="airports.airportDocApplicationSearch.documentNumber">
  </sc-column>
  <sc-column data="documentDate" title="airports.airportDocApplicationSearch.documentDate" type="date">
  </sc-column>
  <sc-column data="stage.name" title="persons.personDocApplicationSearch.stageName">
  </sc-column>
  <sc-column data="applicationPaymentType.name" title="airports.airportDocApplicationSearch.applicationPaymentType" class="wrap">
  </sc-column>
  <sc-column data="taxAmount" title="airports.airportDocApplicationSearch.taxAmount" visible="false">
  </sc-column>
  <sc-column data="currency.name" title="airports.airportDocApplicationSearch.currency" visible="false">
  </sc-column>
  <sc-column data="notes" title="airports.airportDocApplicationSearch.notes" class="wrap" visible="false">
  </sc-column>
  <sc-column data="case.bookPageNumber" title="airports.airportDocApplicationSearch.bookPageNumber">
  </sc-column>
  <sc-column data="case.pageCount" title="airports.airportDocApplicationSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="airports.airportDocApplicationSearch.file" has-content="true">
    <a target="_blank" ng-href="api/file?fileKey={{item.case.file.key}}&fileName={{item.case.file.name}}&mimeType={{item.case.file.mimeType}}" sc-access-token ng-show="item.case.file" title="{{item.case.file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>
