<sc-button name="createBtn" btn-click="newStaffManagement()" text="organizations.staffManagementSearch.newStaffManagement" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="organizationStaffManagement" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px" has-content="true">
    <sc-button name="editBtn" btn-click="editStaffManagement(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.position" title="organizations.staffManagementSearch.position">
  </sc-column>
  <sc-column data="part.person.name" title="organizations.staffManagementSearch.person">
  </sc-column>
  <sc-column data="part.testDate" type="date" title="organizations.staffManagementSearch.testDate">
  </sc-column>
  <sc-column data="part.testScore.name" title="organizations.staffManagementSearch.testScore">
  </sc-column>
  <sc-column data="part.valid.name" title="organizations.staffManagementSearch.valid">
  </sc-column>
  <sc-column data="applications[0].applicationName" title="organizations.staffManagementSearch.application" width="500">
  </sc-column>
</sc-datatable>