<ng-form name="editAuditplanForm">

  <gva-organization-auditplan name="organizationAuditplanForm" ng-model="organizationAuditplan.part"></gva-organization-auditplan>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="organizations.editAuditplan.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="editAuditplanForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="organizations.editAuditplan.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
