<li ng-class="{'active': item.active, 'dropdown-submenu': item.isSubmenu }">
  <a ng-if="item.url" ng-href="{{ item.url }}" target="{{ item.newTab && '_blank' || '_self' }}">
    <span ng-if="item.icon" ng-class="item.icon"></span>
    <span>{{ item.text }}</span>
  </a>

  <a ng-if="item.state && !item.parent" name="stateLink" sc-sref="{ state: state, params: params(), options: { inherit: false } }">
    <span ng-show="item.icon" ng-class="stateLink.$pending ? 'glyphicon glyphicon-loading' : item.icon"></span>
    <span>{{ item.text }}</span>
  </a>

  <a ng-if="!item.state && item.parent" class="dropdown-toggle">
    <span ng-show="item.icon" ng-class="item.icon"></span>
    <span>{{ item.text }}</span>
    <b class="caret"></b>
  </a>

  <a ng-if="!item.state && item.isSubmenu">
    <span ng-show="item.icon" ng-class="item.icon"></span>
    <span>{{ item.text }}</span>
  </a>

  <ul class="dropdown-menu" ng-transclude></ul>
</li>
