<ng-form class="form-inline" sc-form-readonly>
  <h5 class="form-header" l10n-text="applications.app0001AdditionalData.title" style="margin:10px 0px;"></h5>
  <table class="table table-striped table-bordered" style="width:50px; margin-bottom: 10px;">
    <tbody>
      <tr>
        <td l10n-text="applications.app0001AdditionalData.pplA"></td>
        <td>
          <input type="checkbox" ng-model="model.pplA" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.pplH"></td>
        <td>
          <input type="checkbox" ng-model="model.pplH" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.pplAs"></td>
        <td>
          <input type="checkbox" ng-model="model.pplAs" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.laplA"></td>
        <td>
          <input type="checkbox" ng-model="model.laplA" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.laplH"></td>
        <td>
          <input type="checkbox" ng-model="model.laplH" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.laplS"></td>
        <td>
          <input type="checkbox" ng-model="model.laplS" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.laplB"></td>
        <td>
          <input type="checkbox" ng-model="model.laplB" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.bpl"></td>
        <td>
          <input type="checkbox" ng-model="model.bpl" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.spl"></td>
        <td>
          <input type="checkbox" ng-model="model.spl" ng-disabled="form.$readonly" />
        </td>
      </tr>
      <tr>
        <td l10n-text="applications.app0001AdditionalData.cplA"></td>
        <td>
          <input type="checkbox" ng-model="model.cplA" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.cplH"></td>
        <td>
          <input type="checkbox" ng-model="model.cplH" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.cplAs"></td>
        <td>
          <input type="checkbox" ng-model="model.cplAs" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.irA"></td>
        <td>
          <input type="checkbox" ng-model="model.ira" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.irH"></td>
        <td>
          <input type="checkbox" ng-model="model.irh" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.irAs"></td>
        <td>
          <input type="checkbox" ng-model="model.irAs" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.atplA"></td>
        <td>
          <input type="checkbox" ng-model="model.atplA" ng-disabled="form.$readonly" />
        </td>

        <td l10n-text="applications.app0001AdditionalData.atplH" colspan="3"></td>
        <td>
          <input type="checkbox" ng-model="model.atplH" ng-disabled="form.$readonly" />
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <sc-field type="text" name="rating" ng-model="model.rating" l10n-text="applications.app0001AdditionalData.rating" class="col-sm-9"></sc-field>
  </div>
</ng-form>
