<sc-button name="createBtn" btn-sref="{ state: 'root.persons.view.documentEducations.new' }" text="persons.documentEducationSearch.newDocumentEducation" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable items="documentEducations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" has-content="true">
    <sc-button name="editBtn" sortable="false" class="btn btn-xs btn-primary" btn-sref="{ state: 'root.persons.view.documentEducations.edit', params: {ind: item.partIndex} }" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.documentEducationSearch.documentNumber">
  </sc-column>
  <sc-column data="part.completionDate" title="persons.documentEducationSearch.completionDate" type="date">
  </sc-column>
  <sc-column data="part.speciality" title="persons.documentEducationSearch.speciality">
  </sc-column>
  <sc-column data="part.school.name" title="persons.documentEducationSearch.school">
  </sc-column>
  <sc-column data="part.graduation.name" title="persons.documentEducationSearch.graduation">
  </sc-column>
  <sc-column data="part.notes" title="persons.documentEducationSearch.notes" visible="false">
  </sc-column>
  <sc-column data="files[0].bookPageNumber" title="persons.documentEducationSearch.bookPageNumber">
  </sc-column>
  <sc-column data="files[0].pageCount" title="persons.documentEducationSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.documentEducationSearch.file" has-content="true">
    <a target="_self" ng-href="api/file?fileKey={{item.files[0].file.key}}&fileName={{item.files[0].file.name}}" ng-show="item.files[0].file" title="{{item.files[0].file.name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>