<div class="btn-group" style="padding: 0;">
  <button type="button"
          class="btn btn-default btn-sm dropdown-toggle"
          data-toggle="dropdown"
          ng-disabled="isDisabled()"
          style="width: 100%; position: relative;">
    {{selectedItem[itemTextField]}}
    <span style="position: absolute; right: 5px;">
      <span class="caret"></span>
    </span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="item in itemsSource()"
        ng-click="selectItem(item)">
      <a>{{item[itemTextField]}}</a>
    </li>
  </ul>
</div>
