<ng-form name="editDocumentEducationForm">

  <gva-person-document-education name="personDocumentEducationForm" ng-model="personDocumentEducation.part"></gva-person-document-education>

  <gva-person-scanned-document name="personScannedDocumentForm" ng-model="personDocumentEducation.file"></gva-person-scanned-document>

  <gva-person-application name="personApplicationForm" ng-model="personDocumentEducation.applications"></gva-person-application>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="persons.editDocumentEducation.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="!editDocumentEducationForm.$dirty"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="persons.editDocumentEducation.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
