<sc-button name="createBtn" btn-click="newDocumentEducation()" text="persons.documentEducationSearch.newDocumentEducation" class="btn btn-sm btn-primary pull-left" icon="glyphicon-floppy-disk"></sc-button>
<sc-datatable ng-model="documentEducations" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="editBtn" sortable="false" class="btn btn-xs btn-primary" btn-click="editDocumentEducation(item)" icon="glyphicon-pencil"></sc-button>
    <sc-button name="deleteBtn" sortable="false" class="btn btn-xs btn-default" btn-click="deleteDocumentEducation(item)" icon="glyphicon-remove"></sc-button>
  </sc-column>
  <sc-column data="part.documentNumber" title="persons.documentEducationSearch.documentNumber">
  </sc-column>
  <sc-column data="part.completionDate" title="persons.documentEducationSearch.completionDate" type="date">
  </sc-column>
  <sc-column data="part.speciality" title="persons.documentEducationSearch.speciality">
  </sc-column>
  <sc-column data="part.school.name" title="persons.documentEducationSearch.school">
  </sc-column>
  <sc-column data="part.graduation.name" title="persons.documentEducationSearch.graduation">
  </sc-column>
  <sc-column data="part.notes" title="persons.documentEducationSearch.notes" visible="false">
  </sc-column>
  <sc-column data="part.bookPageNumber" title="persons.documentEducationSearch.bookPageNumber">
  </sc-column>
  <sc-column data="part.pageCount" title="persons.documentEducationSearch.pageCount">
  </sc-column>
  <sc-column sortable="false" title="persons.documentEducationSearch.file">
    <a target="_self" ng-show="item.file" title="{{item.file[0].name}}">
      <span class="glyphicon glyphicon-file"></span>
    </a>
  </sc-column>
</sc-datatable>