<div class="well well-sm">
  <div class="row card">
    <div class="col-sm-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="persons.viewPerson.name"></span>
        <input disabled name="names" type="text" class="form-control" value="{{application.person.names}}" />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="persons.viewPerson.lin"></span>
        <input disabled name="lin" type="text" class="form-control" value="{{application.person.lin}}" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Статус:</span>
        <input disabled name="status" type="text" class="form-control" value="Неприключено" />
      </div>
    </div>
  </div>
  <div class="row card">
    <div class="col-sm-10">
      <div class="input-group input-group-sm">
        <span class="input-group-addon">Относно</span>
        <sc-text ng-model="application.doc.docTypeName" disabled></sc-text>
      </div>
    </div>
    <div class="col-sm-2">
      <gva-button name="editBtn" gva-click="viewPerson(application.lotId)" text="persons.viewPerson.edit" class="btn btn-sm btn-primary pull-right" icon="glyphicon-pencil"></gva-button>
    </div>
  </div>
</div>

<gva-tabs tab-list="{
'Преписка': 'root.applications.edit.case',
'Квалификации': 'root.applications.edit.quals',
'Лицензи': 'root.applications.edit.licenses'
}"></gva-tabs>

<div ui-view>
</div>
