<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" style="padding: 0px;">
        <sc-button btn-click="save()" name="registerBtn" text="applications.newForm.register" class="btn btn-default btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" name="cancelBtn" text="applications.newForm.cancel" class="btn btn-default btn-sm" icon="glyphicon glyphicon-remove"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body ">
          <div class="row">
            <div class="form-group col-sm-10" sc-has-error="personLotId">
              <label class="control-label" l10n-text="applications.newForm.person"></label>
              <sc-validation-error field-name="personLotId" validations="{required: null}"></sc-validation-error>
              <div class="input-group input-group-sm">
                <sc-nomenclature ng-model="appModel.person.id" alias="'persons'" mode="id" name="personLotId" required style="float: left;"></sc-nomenclature>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="selectPerson()">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                  <button class="btn btn-default" type="button" ng-click="newPerson()">Нов заявител</button>
                </span>
              </div>
            </div>
          </div>

          <ems-doc-new-common name="docNewCommonForm" ng-model="appModel"></ems-doc-new-common>

        </div>
      </ng-form>
    </div>
  </div>
</div>
