<div class="tab-content">
  <ng-form name="addFormWrapper" sc-validate="{}">
    <div ng-if="docPartTypeAlias === 'DocumentId'">
      <gva-person-document-id name="addForm" ng-model="applicationDocPart.part"></gva-person-document-id>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentEducation'">
      <gva-person-document-education name="addForm" ng-model="applicationDocPart.part"></gva-person-document-education>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentEmployment'">
      <gva-person-document-employment name="addForm" ng-model="applicationDocPart.part"></gva-person-document-employment>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentMed'">
      <gva-person-document-medical name="addForm" ng-model="applicationDocPart.part"></gva-person-document-medical>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentCheck'">
      <gva-person-document-check name="addForm" ng-model="applicationDocPart.part"></gva-person-document-check>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentTraining'">
      <gva-person-document-training name="addForm" ng-model="applicationDocPart.part"></gva-person-document-training>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentOther'">
      <gva-person-document-other name="addForm" ng-model="applicationDocPart.part"></gva-person-document-other>
    </div>
    <div ng-if="docPartTypeAlias === 'DocumentApplication'">
      <gva-person-document-application name="addForm" ng-model="applicationDocPart.part"></gva-person-document-application>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><strong l10n-text="persons.personScannedDocumentDirective.title"></strong></div>
      <div class="well-sm panel-body">
        <table class="table table-bordered table-condensed" ng-if="isLinkNew === 'false'">
          <thead>
              <tr>
                <th>Наименование</th>
                <th>Вид файл</th>
                <th>Тип файл</th>
                <th>Прикачен файл</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 400px;" sc-has-error="name">
                <sc-text name="name" ng-model="applicationDocPart.docFile.name" required></sc-text>
              </td>
              <td style="width: 150px;" sc-has-error="docFileKind">
                  <sc-nomenclature name="docFileKind" ng-model="applicationDocPart.docFile.docFileKindId" nom-obj="applicationDocPart.docFile.docFileKind" mode="id" alias="'docFileKinds'" required></sc-nomenclature>
              </td>
              <td style="width: 250px;" sc-has-error="docFileType">
                <sc-nomenclature name="docFileType" ng-model="applicationDocPart.docFile.docFileTypeId" nom-obj="applicationDocPart.docFile.docFileType" mode="id" alias="'docFileTypes'" required></sc-nomenclature>
              </td>
              <td sc-has-error="docFile">
                <sc-files name="docFile" ng-model="applicationDocPart.docFile.docFile" required></sc-files>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="form-group col-sm-3" ng-if="isLinkNew === 'true'">
            <label class="control-label" l10n-text="persons.personScannedDocumentDirective.fileName"></label>
            <sc-files ng-model="docFile" ng-readonly="true"></sc-files>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-4 col-sm-offset-5 col-sm-4">
        <sc-button ng-if="isLinkNew === 'false'" name="saveBtn" btn-click="addPart()" text="applications.edit.addPart.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="addFormWrapper.$pristine"></sc-button>
        <sc-button ng-if="isLinkNew === 'true'" name="saveBtn" btn-click="linkNew()" text="applications.edit.addPart.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="addFormWrapper.$pristine"></sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="applications.edit.addPart.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
      </div>
    </div>
  </ng-form>
</div>
