<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" id="Div1" style="padding: 0px;">
        <sc-button btn-click="save()" text="applications.link.link" class="btn btn-default btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" text="applications.link.cancel" class="btn btn-default btn-sm" icon="glyphicon glyphicon-remove"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body ">

          <div class="row">
            <div class="form-group col-md-6" gva-has-error="personLotId">
              <label class="control-label" l10n-text="applications.link.person"></label>
              <sc-validation-error field-name="personLotId" validations="{required: null}"></sc-validation-error>
              <div class="input-group input-group-sm">
                <sc-nomenclature ng-model="person.id" alias="'persons'" mode="id" name="personLotId" required style="float: left;"></sc-nomenclature>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="selectPerson()">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                  <button class="btn btn-default" type="button" ng-click="newPerson()">Нов заявител</button>
                </span>
              </div>
            </div>
          </div>

          <div class="row card" ng-class="{'has-error': !doc.docId && appForm.$validated}">
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docNumber"/>
                <input disabled="disabled" type="text" class="form-control" value="{{ doc.regUri }}">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docName"/>
                <input disabled="disabled" type="text" class="form-control" value="{{ doc.docTypeName }}">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docStatus"/>
                <input disabled="disabled" type="text" class="form-control" value="{{ doc.docStatusName }}">
              </div>
            </div>
            <div class="form-group col-md-3">
                <sc-button btn-click="clear()" text="applications.link.clear" class="btn btn-default btn-sm"></sc-button>
                <sc-button btn-click="selectDoc()" text="applications.link.selectDoc" class="btn btn-default btn-sm"></sc-button>
            </div>
          </div>

        </div>
      </form>
    </div>
 </div>
</div>
