<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" style="padding: 0px;">
        <sc-button btn-click="link()" name="linkBtn" text="applications.link.link" class="btn btn-primary btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" name="cancelBtn" text="applications.link.cancel" class="btn btn-default btn-sm" icon="glyphicon-ban-circle"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body">
          <div ng-if="filter === 'Person'">
            <gva-application-select-person name="personForm" ng-model="appModel" sc-on-select-person="selectPerson()" sc-on-new-person="newPerson()"></gva-application-select-person>
          </div>
          <div ng-if="filter === 'Organization'">
            <gva-application-select-organization name="organizationForm" ng-model="appModel" sc-on-select-organization="selectOrganization()" sc-on-new-organization="newOrganization()"></gva-application-select-organization>
          </div>
          <div ng-if="filter === 'Aircraft'">
            <gva-application-select-aircraft name="aircraftForm" ng-model="appModel" sc-on-select-aircraft="selectAircraft()" sc-on-new-aircraft="newAircraft()"></gva-application-select-aircraft>
          </div>

          <br />
          <div class="row card" ng-class="{'has-error': !appModel.doc.docId && appForm.$validated}">
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docNumber"/>
                <input disabled="disabled" name="regUri" type="text" class="form-control" value="{{ appModel.doc.regUri }}">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docName"/>
                <input disabled="disabled" name="docTypeName" type="text" class="form-control" value="{{ appModel.doc.docTypeName }}">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" l10n-text="applications.link.docStatus"/>
                <input disabled="disabled" name="docStatusName" type="text" class="form-control" value="{{ appModel.doc.docStatusName }}">
              </div>
            </div>
            <div class="form-group col-md-3">
                <sc-button btn-click="clear()" name="clearBtn" text="applications.link.clear" class="btn btn-default btn-sm"></sc-button>
                <sc-button btn-click="selectDoc()" name="selectDocBtn" text="applications.link.selectDoc" class="btn btn-default btn-sm"></sc-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
