<div>
  <div class="panel panel-default">
    <nav class="panel-heading">
      <div class="collapse navbar-collapse" style="padding: 0px;">
        <sc-button btn-click="save()" name="registerBtn" text="applications.newForm.register" class="btn btn-default btn-sm" icon="glyphicon glyphicon-ok"></sc-button>
        <sc-button btn-click="cancel()" name="cancelBtn" text="applications.newForm.cancel" class="btn btn-default btn-sm" icon="glyphicon glyphicon-remove"></sc-button>
      </div>
    </nav>
    <div class="well-sm panel-body">
      <ng-form name="appForm" sc-validate="{}">
        <div class="well-sm panel-body">
          <gva-application-select-person name="personForm" ng-model="appModel" sc-on-select-person="selectPerson()" sc-on-new-person="newPerson()"></gva-application-select-person>

          <ems-doc-new-common name="docNewCommonForm" ng-model="appModel"></ems-doc-new-common>
        </div>
      </ng-form>
    </div>
  </div>
</div>
