<sc-search selected-filters="filters" btn-classes="col-sm-5 col-md-4 col-lg-3">
  <sc-filter type="date" name="fromDate" class="col-sm-3" removable="false" label="applications.search.fromDate"></sc-filter>
  <sc-filter type="date" name="toDate" class="col-sm-3" removable="false" label="applications.search.toDate"></sc-filter>
  <sc-filter type="text" name="lin" class="col-sm-2" removable="false" label="applications.search.lin"></sc-filter>
<!--  <sc-filter type="text" name="regUri" class="col-sm-2" removable="false" label="applications.search.regUri"></sc-filter>-->
  <sc-search-button action="search()" name="searchBtn" text="applications.search.search" icon="glyphicon-search"></sc-search-button>
  <sc-search-button action="newApp()" name="newAppBtn" text="applications.search.newApp"></sc-search-button>
  <sc-search-button action="linkApp()" name="linkAppBtn" text="applications.search.linkApp"></sc-search-button>
</sc-search>

<sc-datatable ng-model="applications" filterable="true" pageable="true" sortable="true" dynamic-columns="true">
  <sc-column sortable="false" class="buttons-cell" width="1px">
    <sc-button name="viewButton" btn-click="viewApplication(item)" class="btn btn-xs btn-primary" icon="glyphicon-pencil"></sc-button>
  </sc-column>
  <sc-column data="appPartRequestDate" width="100" type="date" title="applications.search.requestDate">
  </sc-column>
  <sc-column data="appPartDocumentNumber" title="applications.search.documentNumber">
  </sc-column>
  <sc-column data="appPartApplicationTypeName" width="350" title="applications.search.applicationType">
  </sc-column>
  <sc-column data="appPartStatusName" title="applications.search.status">
  </sc-column>
  <sc-column data="personLin" title="applications.search.lin">
  </sc-column>
  <sc-column data="personNames" title="applications.search.applicant">
  </sc-column>
</sc-datatable>
