<div class="tab-content">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th style="width: 250px;"><span l10n-text="applications.edit.case.regNumber"></span></th>
        <th><span l10n-text="applications.edit.case.description"></span></th>
        <th><span l10n-text="applications.edit.case.act"></span></th>
        <th style="width: 75px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="docCase in application.docCase">
        <td>{{ docCase.docInfo.regNumber }} {{ docCase.docInfo.statusName }}</td>
        <td>{{ docCase.docInfo.description }}</td>
        <td></td>
        <td style="text-align: right;">
          <a ng-click="viewDoc(docCase.docInfo.docId)" l10n-text="applications.edit.case.viewDoc" style="cursor: pointer;"></a>
        </td>
      </tr>
      <tr ng-repeat="df in docCase.docFiles">
        <td></td>
        <td ng-show="df.appFile">{{ df.appFile.setPartName }} (<a ng-href="{{df.docFile.docFileUrl}}" target="_blank"><span>{{ df.docFile.docFile.name }}</span></a>)</td>
        <td ng-show="!df.appFile"><a ng-href="{{df.docFile.docFileUrl}}" target="_blank"><span>{{ df.docFile.docFile.name }}</span></a></td>
        <td>
          <div ng-if="df.appFile">
            <a ng-click="viewPart(df)" style="cursor: pointer;"><span l10n-text="applications.edit.case.act"></span> {{ application.person.lin }} <span l10n-text="applications.edit.case.page"></span> {{ df.appFile.part.bookPageNumber }}</a>
          </div>
          <div ng-if="!df.appFile">
            <a ng-click="linkNew(docCase.docInfo.docId, df.docFile.docFile)" l10n-text="applications.edit.case.linkNew" style="cursor: pointer;"></a> / <a ng-click="linkPart(docCase.docInfo.docId, df.docFile.docFile)" l10n-text="applications.edit.case.linkPart" style="cursor: pointer;"></a>
          </div>
        </td>
        <td></td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="4" style="text-align: right;">
          <a ng-click="newFile(docCase.docInfo.docId)" l10n-text="applications.edit.case.newFile" style="cursor: pointer;"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
