<div class="tab-content">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th style="width: 250px;">Тип/№/Дата</th>
        <th>Тип</th>
        <th>Дело</th>
        <th style="width: 75px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="docCase in application.docCase">
        <td>{{ docCase.docInfo.regNumber }} {{ docCase.docInfo.statusName }}</td>
        <td>{{ docCase.docInfo.description }}</td>
        <td></td>
        <td style="text-align: right;">
          <a ng-click="viewDoc(docCase.docInfo.docId)" style="cursor: pointer;">Преглед
          </a>
        </td>
      </tr>
      <tr ng-repeat="df in docCase.docFiles">
        <td></td>
        <td ng-show="df.appFile">{{ df.appFile.setPartName }} ({{ df.docFile.name }})</td>
        <td ng-show="!df.appFile">{{ df.docFile.name }}</span></td>
        <td>
          <div ng-if="df.appFile">
            <a ng-click="viewPart(df)" style="cursor: pointer;">Дело {{ application.person.lin }} стр. {{ df.appFile.part.bookPageNumber }}</a>
          </div>
          <div ng-if="!df.appFile">
            <a ng-click="linkNew(docCase.docInfo.docId, df.docFile)" style="cursor: pointer;">Добави към дело</a> / <a ng-click="linkPart(docCase.docInfo.docId, df.docFile)" style="cursor: pointer;">Свържи с вече добавен</a>
          </div>
        </td>
        <td></td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="4" style="text-align: right;">
          <a ng-click="newfile(docCase)" style="cursor: pointer;">Нов документ</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
