<div class="well well-sm">
  <div class="row card">
    <div ng-if="application.lotSetAlias == 'Person'">
      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.personName"></span>
          <input name="names" type="text" class="form-control" value="{{application.person.names}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.personLin"></span>
          <input name="lin" type="text" class="form-control" value="{{application.person.lin}}" disabled />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.status"></span>
          <input name="status" type="text" class="form-control" value="{{}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <sc-button name="editBtn" btn-click="viewPerson(application.lotId)" text="applications.edit.viewPerson" class="btn btn-sm btn-primary pull-right" icon="glyphicon-search"></sc-button>
      </div>
    </div>
    <div ng-if="application.lotSetAlias == 'Organization'">
      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.organizationName"></span>
          <input name="names" type="text" class="form-control" value="{{application.organization.name}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.organizationUIN"></span>
          <input name="lin" type="text" class="form-control" value="{{application.organization.uin}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.organizationCAO"></span>
          <input name="lin" type="text" class="form-control" value="{{application.organization.cao}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <sc-button name="editBtn" btn-click="viewOrganization(application.lotId)" text="applications.edit.viewOrganization" class="btn btn-sm btn-primary pull-right" icon="glyphicon-search"></sc-button>
      </div>
    </div>
    <div ng-if="application.lotSetAlias == 'Aircraft'">
      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.aircraftProducer"></span>
          <input name="names" type="text" class="form-control" value="{{application.aircraft.aircraftProducer}}" disabled />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.aircraftCategory"></span>
          <input name="lin" type="text" class="form-control" value="{{application.aircraft.aircraftCategory}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group input-group-sm">
          <span class="input-group-addon" l10n-text="applications.edit.aircraftICAO"></span>
          <input name="lin" type="text" class="form-control" value="{{application.aircraft.icao}}" disabled />
        </div>
      </div>
      <div class="col-sm-2">
        <sc-button name="editBtn" btn-click="viewAircraft(application.lotId)" text="applications.edit.viewAircraft" class="btn btn-sm btn-primary pull-right" icon="glyphicon-search"></sc-button>
      </div>
    </div>
  </div>
</div>

<sc-tabs tab-list="{
'Преписка': 'root.applications.edit.case',
'Квалификации': 'root.applications.edit.quals',
'Лицензи': 'root.applications.edit.licenses'
}"></sc-tabs>

<div ui-view>
</div>
