<div class="well well-sm">
  <div class="row card">
    <div class="col-sm-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="applications.edit.personName"></span>
        <input disabled name="names" type="text" class="form-control" value="{{application.person.names}}" />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="applications.edit.personLin"></span>
        <input disabled name="lin" type="text" class="form-control" value="{{application.person.lin}}" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="applications.edit.status"></span>
        <input disabled name="status" type="text" class="form-control" value="{{}}" />
      </div>
    </div>
  </div>
  <div class="row card">
    <div class="col-sm-10">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" l10n-text="applications.edit.docTypeName">Относно</span>
        <sc-text ng-model="application.doc.docTypeName" disabled></sc-text>
      </div>
    </div>
    <div class="col-sm-2">
      <sc-button name="editBtn" btn-click="viewPerson(application.lotId)" text="applications.edit.editPerson" class="btn btn-sm btn-primary pull-right" icon="glyphicon-pencil"></sc-button>
    </div>
  </div>
</div>

<sc-tabs tab-list="{
'Преписка': 'root.applications.edit.case',
'Квалификации': 'root.applications.edit.quals',
'Лицензи': 'root.applications.edit.licenses'
}"></sc-tabs>

<div ui-view>
</div>
