<div class="tab-content">
  <div class="panel panel-default">
    <div class="panel-heading"><strong l10n-text="applications.edit.newFile.title"></strong></div>
    <div class="well-sm panel-body ">
      <ng-form name="addDocPartType" sc-validate="{}">
        <div class="row">
          <div class="form-group col-sm-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4" ng-class="{'has-error': addDocPartType.$validated && addDocPartType.$invalid}">
            <label class="control-label" l10n-text="applications.edit.newFile.documentType"></label>
            <span ng-show="addDocPartType.$invalid && addDocPartType.$validated && !addDocPartType.$error.$pending" class="glyphicon glyphicon-warning-sign" title="Задължително поле"></span>
            <sc-nomenclature ng-model="documentData.docPartType" name="docPartType" alias="'documentParts'" load="false" ng-required="true"></sc-nomenclature>
          </div>
        </div>

        <div class="col-sm-4 col-lg-offset-5 col-md-offset-5 col-sm-offset-4">
          <gva-button name="cancelBtn" gva-click="cancel()" text="applications.edit.newFile.cancel" class="btn btn-sm btn-primary" icon="glyphicon-arrow-left"></gva-button>
          <gva-button name="cancelBtn" gva-click="addPart()" text="applications.edit.newFile.addPart" class="btn btn-sm btn-primary"></gva-button>
        </div>
      </ng-form>
    </div>
  </div>
</div>
