<!DOCTYPE html>
<html lang="en">
<head>
  <title>Лицензиране на авиационен персонал, въздухоплавателни средства и летателна годност</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="version" content="1.0.0#000000">

  <%= cssBundle('build/css/styles.css') %>
</head>
<body id="ng-app" ng-app="app">
  <noscript>
    <h2 style="text-align: center;">Страницата не може да бъде показана, ако сте спрели изпълнението на JavaScript</h2>
  </noscript>

  <div id="root" ui-view="rootView">
    <div id="initial-loader">
      <h4>Моля изчакайте...</h4>
      <i></i>
    </div>
  </div>
 
  <!--[if lt IE 9]>
  <%= jsBundle('build/js/lib.ie8.js') %>
  <!--<[endif]-->

  <!--[if gte IE 9]><!-->
  <%= jsBundle('build/js/lib.js') %>
  <!--<![endif]-->

  <%= jsBundle('build/js/app.js') %>
  <%= jsBundle('build/js/templates.js') %>
  <%= jsBundle('build/js/sample.data.js') %>
  <%= jsBundle('build/js/test.js') %>
</body>
</html>
