<ng-form name="newDocumentOwnerForm">

  <gva-aircraft-document-owner name="aircraftDocumentOwnerForm" ng-model="aircraftDocumentOwner.part"></gva-aircraft-document-owner>

  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.newOwner.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="aircraftDocumentOwnerForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.newOwner.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>
