<ng-form name="newSignalForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="signals.new.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="signals.new.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="signals.new.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <mosv-signal name="signalForm" ng-model="signal"></mosv-signal>
    </div>
  </div>
</ng-form>
