<sc-navigation user-fullname="{{userFullname}}" change-password-state="root.common.users.changePassword" logout-state="root.persons.search" class="navigation">
  <sc-navigation-item text="common.navigation.docs.title" icon="glyphicon glyphicon-folder-open" parent="true">
    <sc-navigation-item state="root.docs.search" params="{ filter: 'current' }" text="common.navigation.docs.search"></sc-navigation-item>
    <sc-navigation-item state="root.docs.new" text="common.navigation.docs.new"></sc-navigation-item>
    <sc-navigation-item state="root.docs.news" text="common.navigation.docs.news"></sc-navigation-item>
    <sc-navigation-item state="root.corrs.search" text="common.navigation.docs.corrsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.corrs.new" text="common.navigation.docs.corrsNew"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.persons.title" icon="fa fa-users" parent="true">
    <sc-navigation-item state="root.persons.search" text="common.navigation.persons.search"></sc-navigation-item>
    <sc-navigation-item state="root.persons.new" text="common.navigation.persons.new"></sc-navigation-item>
    <sc-navigation-item state="root.persons.search" text="common.navigation.persons.licences"></sc-navigation-item>
    <sc-navigation-item state="root.persons.search" text="common.navigation.persons.qualifications"></sc-navigation-item>
    <sc-navigation-item state="root.persons.search" text="common.navigation.persons.medicals"></sc-navigation-item>
    <sc-navigation-item state="root.applications.search" params="{ filter: 'Person' }" text="common.navigation.persons.appsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.applications.new" params="{ filter: 'Person' }" text="common.navigation.persons.appsNew"></sc-navigation-item>
    <sc-navigation-item state="root.applications.link" params="{ filter: 'Person' }" text="common.navigation.persons.appsLink"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.aircrafts.title" icon="glyphicon glyphicon-plane" parent="true">
    <sc-navigation-item state="root.aircrafts.search" text="common.navigation.aircrafts.search"></sc-navigation-item>
    <sc-navigation-item state="root.persons.search" text="common.navigation.aircrafts.certifications"></sc-navigation-item>
    <sc-navigation-item state="root.persons.search" text="common.navigation.aircrafts.inspections"></sc-navigation-item>
    <sc-navigation-item state="root.applications.search" params="{ filter: 'Aircraft' }" text="common.navigation.aircrafts.appsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.applications.new" params="{ filter: 'Aircraft' }" text="common.navigation.aircrafts.appsNew"></sc-navigation-item>
    <sc-navigation-item state="root.applications.link" params="{ filter: 'Aircraft' }" text="common.navigation.aircrafts.appsLink"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.airports.title" parent="true">
    <sc-navigation-item state="root.airports.search" text="common.navigation.airports.search"></sc-navigation-item>
    <sc-navigation-item state="root.applications.search" params="{ filter: 'Airport' }" text="common.navigation.airports.appsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.applications.new" params="{ filter: 'Airport' }" text="common.navigation.airports.appsNew"></sc-navigation-item>
    <sc-navigation-item state="root.applications.link" params="{ filter: 'Airport' }" text="common.navigation.airports.appsLink"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.equipments.title" parent="true">
    <sc-navigation-item state="root.equipments.search" text="common.navigation.equipments.search"></sc-navigation-item>
    <sc-navigation-item state="root.applications.search" params="{ filter: 'Equipment' }" text="common.navigation.equipments.appsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.applications.new" params="{ filter: 'Equipment' }" text="common.navigation.equipments.appsNew"></sc-navigation-item>
    <sc-navigation-item state="root.applications.link" params="{ filter: 'Equipment' }" text="common.navigation.equipments.appsLink"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.approvedOrgs.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('approvedOrg') }" text="common.navigation.approvedOrgs.search"></sc-navigation-item>
    <sc-navigation-item state="root.applications.search" params="{ filter: 'Organization' }" text="common.navigation.approvedOrgs.appsSearch"></sc-navigation-item>
    <sc-navigation-item state="root.applications.new" params="{ filter: 'Organization' }" text="common.navigation.approvedOrgs.appsNew"></sc-navigation-item>
    <sc-navigation-item state="root.applications.link" params="{ filter: 'Organization' }" text="common.navigation.approvedOrgs.appsLink"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.airportOperators.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('airportOperator') }" text="common.navigation.airportOperators.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.groundSvcOperators.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('groundSvcOperator') }" text="common.navigation.groundSvcOperators.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.educationOrgs.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('educationOrg') }" text="common.navigation.educationOrgs.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.airCarriers.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('airCarrier') }" text="common.navigation.airCarriers.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.airOperators.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('airOperator') }" text="common.navigation.airOperators.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.airNavSvcProviders.title" parent="true">
    <sc-navigation-item state="root.organizations.search" params="{ caseTypeId: getOrgCaseType('airNavSvcProvider') }" text="common.navigation.airNavSvcProviders.search"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.admin.title" icon="glyphicon glyphicon-wrench" parent="true">
    <sc-navigation-item state="root.users.search" text="common.navigation.admin.users"></sc-navigation-item>
  </sc-navigation-item>
  <sc-navigation-item text="common.navigation.help.title" parent="true">
    <sc-navigation-item new-tab="true" url="/docs/kr_help.pdf" text="common.navigation.help.userManual"></sc-navigation-item>
  </sc-navigation-item>
</sc-navigation>

<sc-breadcrumb home-state="root.persons.search"></sc-breadcrumb>

<div class="breadcrumb-page-view"></div>

<div class="container alert-container">
  <alert ng-repeat="alert in alerts" type="alert.type" close="removeAlert(alert)">
    {{alert.message}}
  </alert>
</div>

<div ui-view class="container"></div>
