<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.airportRelation" alias="'airportRelations'" ng-required="true" l10n-text="airports.airportOwnerDirective.airportRelation" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.person" alias="'persons'" ng-disabled="model.organization" l10n-text="airports.airportOwnerDirective.person" class="col-sm-6 col-md-4"></sc-field>
    <sc-field type="nomenclature" ng-model="model.organization" alias="'organizations'" ng-disabled="model.person" l10n-text="airports.airportOwnerDirective.organization" class="col-sm-6 col-md-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.documentNumber" ng-required="true" l10n-text="airports.airportOwnerDirective.documentNumber" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.documentDate" ng-required="true" l10n-text="airports.airportOwnerDirective.documentDate" class="col-sm-4 col-md-2"></sc-field>
    <sc-field type="date" ng-model="model.fromDate" ng-required="true" l10n-text="airports.airportOwnerDirective.fromDate" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="date" ng-model="model.toDate" l10n-text="airports.airportOwnerDirective.toDate" class="col-sm-4 col-md-2"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" rows="2" cols="50" ng-model="model.reasonTerminate" l10n-text="airports.airportOwnerDirective.reasonTerminate" class="col-sm-12 col-md-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="textarea-suggestion" rows="2" ng-model="model.notes" alias="'notes'" l10n-text="airports.airportOwnerDirective.notes" class="col-sm-10"></sc-field>
  </div>
</ng-form>