<ng-form class="form-inline" sc-validate="{}" sc-form-readonly>
  <div class="row">
    <sc-field type="nomenclature" ng-model="model.airportType" alias="'airportTypes'" ng-required="true" l10n-text="airports.airportDataDirective.airportType" class="col-md-4 col-sm-8"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.name" ng-required="true" l10n-text="airports.airportDataDirective.name" class="col-md-4 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.nameAlt" ng-required="true" l10n-text="airports.airportDataDirective.nameAlt" class="col-md-4 col-sm-6"></sc-field>
    <sc-field type="text" ng-model="model.icao" l10n-text="airports.airportDataDirective.icao" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.place" l10n-text="airports.airportDataDirective.place" class="col-md-4 col-sm-8"></sc-field>
    <div class="form-group col-sm-8 col-md-4" ng-class="{'has-error': (form.longitude.$invalid || form.latitude.$invalid) && form.$validated}">
      <label class="control-label" l10n-text="airports.airportDataDirective.coordinates"></label>
      <span name="regTimeValidationSpan" ng-show="(form.longitude.$invalid || form.latitude.$invalid) && form.$validated" class="glyphicon glyphicon-warning-sign"></span>
      <div class="input-group input-group-sm">
        <span class="input-group-addon">N</span>
        <sc-float name="longitude" ng-model="model.coordinates.longitude" min="-180" max="180" ng-readonly="form.$readonly"></sc-float>

        <span class="input-group-addon padding6">E</span>
        <sc-float name="latitude" ng-model="model.coordinates.latitude" min="-180" max="180" ng-readonly="form.$readonly"></sc-float>
      </div>
    </div>
  </div>
  <div class="row">
    <sc-field type="text" ng-model="model.runway" l10n-text="airports.airportDataDirective.runway" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.course" l10n-text="airports.airportDataDirective.course" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.excess" l10n-text="airports.airportDataDirective.excess" class="col-md-2 col-sm-4"></sc-field>
    <sc-field type="text" ng-model="model.concrete" l10n-text="airports.airportDataDirective.concrete" class="col-md-2 col-sm-4"></sc-field>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <h5 class="form-header" l10n-text="airports.airportDataDirective.frequencies"></h5>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th l10n-text="airports.airportDataDirective.frequency"></th>
            <th l10n-text="airports.airportDataDirective.parameters"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="frequency in model.frequencies">
            <td>
              <sc-text ng-model="frequency.frequency" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td>
              <sc-text ng-model="frequency.parameters" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td style="text-align: right; width: 1px;">
              <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteFrequency(frequency)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
            </td>
          </tr>
          <tr ng-repeat-end=""></tr>
          <tr class="sort-disabled" ng-if="!model.frequencies.length">
            <td colspan="8" class="text-center" l10n-text="airports.airportDataDirective.noAvailableFrequencies"></td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: right; width: 1px;">
              <sc-button type="button" btn-click="addFrequency()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <h5 class="form-header" l10n-text="airports.airportDataDirective.radioNavigationAids"></h5>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th l10n-text="airports.airportDataDirective.aid"></th>
            <th l10n-text="airports.airportDataDirective.parameters"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="aid in model.radioNavigationAids">
            <td>
              <sc-text ng-model="aid.aid" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td>
              <sc-text ng-model="aid.parameters" ng-readonly="form.$readonly"></sc-text>
            </td>
            <td style="text-align: right; width: 1px;">
              <sc-button type="button" class="btn btn-primary btn-sm" btn-click="deleteAid(aid)" icon="glyphicon-remove" ng-disabled="form.$readonly"></sc-button>
            </td>
          </tr>
          <tr ng-repeat-end=""></tr>
          <tr class="sort-disabled" ng-if="!model.radioNavigationAids.length">
            <td colspan="8" class="text-center" l10n-text="airports.airportDataDirective.noAvailableAids"></td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: right; width: 1px;">
              <sc-button type="button" btn-click="addAid()" class="btn btn-primary btn-sm" icon="glyphicon-plus" ng-disabled="form.$readonly"></sc-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-form>