<div class="container page-content">
  <sc-datatable ng-model="users" filterable="false" pageable="false" dynamic-columns="false">
    <sc-column data="username" title="Потребителско име" type="string" name="username" sortable="false">
    </sc-column>
    <sc-column data="fullname" title="Име" type="string" name="name" visible="false">
    </sc-column>
    <sc-column data="roles" title="Роли" type="string" name="roles">
    </sc-column>
    <sc-column data="isActive" title="Активен" type="string" name="isActive" sorting="desc">
        <span>{{item.isActive? 'Да' : 'Не'}}</span>
    </sc-column>
    <sc-column>
        <button type="button" class="btn-xs btn-info" ng-click="editUser(item)" l10n-text="users.search.edit"></button>
    </sc-column>
  </sc-datatable>
</div>
<div class="container page-content">
  <button type="button" class="btn-xs btn-info" ng-click="loadMany()" id="loadManybtn">Load many users</button>
</div>