<div class="container page-content">
  <sc-datatable ng-model="users" filterable="true" pageable="true" sortable="true" dynamic-columns="false">
    <sc-column data="username" title="Потребителско име" type="string" name="username">
    </sc-column>
    <sc-column data="fullname" title="Име" type="string" name="name">
    </sc-column>
    <sc-column data="roles" title="Роли" type="string" name="roles">
    </sc-column>
    <sc-column data="isActive" title="Активен" type="string" name="isActive">
      <span>{{item.isActive? 'Да' : 'Не'}}</span>
    </sc-column>
    <sc-column data="buttons">
      <button type="button" class="btn-xs btn-info" ng-click="editUser(item)" l10n-text="users.search.edit"></button>
    </sc-column>
  </sc-datatable>
</div>
<div class="container page-content">
  <div class="row well">
    <label class="control-label">Edited User:
      <input style="width: 100px;" ng-model="btnResult" />
    </label>
    <button type="button" class="btn-xs btn-info" ng-click="loadMany()" id="loadManybtn">Load many users</button>
  </div>
</div>

<div class="container page-content">
  <sc-datatable ng-model="users2" sortable="false" pageable="false" dynamic-columns="false">
    <sc-column data="username" title="Потребителско име" type="string" name="username">
    </sc-column>
    <sc-column data="fullname" title="Име" type="string" name="name">
    </sc-column>
  </sc-datatable>
</div>