<ng-form name="editPartForm">

  <gva-aircraft-part name="aircraftPartForm" ng-model="aircraftPart.part"></gva-aircraft-part>


  <div class="row">
    <div class="form-group col-md-3 col-sm-offset-4 col-sm-4">
      <sc-button name="saveBtn" btn-click="save()" text="aircrafts.editPart.save" class="btn btn-primary" icon="glyphicon-floppy-disk" ng-disabled="aircraftPartForm.$pristine"></sc-button>
      <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.editPart.cancel" class="btn btn-default" icon="glyphicon-arrow-left"></sc-button>
    </div>
  </div>
</ng-form>