<ng-form sc-validate="{}" sc-form-readonly="!editMode">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editAirworthiness.titleAw"></strong>

      <div class="pull-right">
        <sc-button ng-show="!isEditAw" 
          btn-click="editAw()" name="editBtn" text="aircrafts.editAirworthiness.editAw" class="btn btn-primary btn-xs" icon="glyphicon-edit" >
        </sc-button>
        <sc-button ng-show="!isEditAw"
          btn-click="deleteAw()" name="deleteBtn" text="aircrafts.editAirworthiness.deleteAw" class="btn btn-danger btn-xs" icon="glyphicon-remove">
        </sc-button>
        <sc-button ng-show="isEditAw"
          btn-click="saveAw()" name="saveBtn" text="aircrafts.editAirworthiness.saveAw" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button ng-show="isEditAw"
          btn-click="cancelAw()" name="cancelBtn" text="aircrafts.editAirworthiness.cancelAw" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-airworthiness-fm name="aircraftCertAirworthinessForm" ng-model="aw"
        sc-form-params="{ lotId: lotId }">
      </gva-aircraft-cert-airworthiness-fm>
      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="aw.case"
        sc-form-params="{ setPart: 'aircraft', lotId: lotId, hideFiles: true }">
      </gva-common-scanned-document>
    </div>
  </div>

  <div ng-show="reviews">
    <h5 class="form-header" l10n-text="aircrafts.editAirworthiness.reviews" style="border-bottom: none; margin-top: 20px;"></h5>

    <sc-datatable items="reviews" filterable="false" pageable="false" sortable="false" dynamic-columns="false" has-info-text="false">
      <sc-column sortable="false" class="buttons-cell" has-content="true">
        <input type="radio" ng-checked="item === currentReview" ng-disabled="isEditReview" sc-click="selectReview(item)">
      </sc-column>
      <sc-column title="aircrafts.editAirworthiness.airworthinessReviewType" has-content="true">
        {{item.airworthinessReviewType.name}}
      </sc-column>
      <sc-column title="aircrafts.editAirworthiness.issueDate" has-content="true">
        {{item.issueDate | date:'mediumDate'}}
      </sc-column>
      <sc-column title="aircrafts.editAirworthiness.from" has-content="true">
        <div ng-switch="!!item.amendment1 + !!item.amendment2">
          <span ng-switch-when="0">{{item.issueDate | date:'mediumDate'}}</span>
          <span ng-switch-when="1">{{item.amendment1.issueDate | date:'mediumDate'}}</span>
          <span ng-switch-when="2">{{item.amendment2.issueDate | date:'mediumDate'}}</span>
        </div>
      </sc-column>
      <sc-column title="aircrafts.editAirworthiness.to" has-content="true">
        <div ng-switch="!!item.amendment1 + !!item.amendment2">
          <span ng-switch-when="0">{{item.validToDate | date:'mediumDate'}}</span>
          <span ng-switch-when="1">{{item.amendment1.validToDate | date:'mediumDate'}}</span>
          <span ng-switch-when="2">{{item.amendment2.validToDate | date:'mediumDate'}}</span>
        </div>
      </sc-column>
      <sc-column title="aircrafts.editAirworthiness.inspector" has-content="true">
        <div ng-switch="!!item.amendment1 + !!item.amendment2">
          <span ng-switch-when="0">{{item.inspector.inspector.name}}</span>
          <span ng-switch-when="1">{{item.amendment1.inspector.examiner.name || item.amendment1.inspector.other}}</span>
          <span ng-switch-when="2">{{item.amendment2.inspector.examiner.name || item.amendment2.inspector.other}}</span>
        </div>
      </sc-column>
    </sc-datatable>

    <div class="panel panel-default" style="margin-top: 10px">
      <div class="panel-heading">
        <strong l10n-text="aircrafts.editAirworthiness.titleReview"></strong>
        <div class="pull-right">
          <sc-button ng-show="!isEditReview"
             btn-click="newReview()" name="newReviewBtn" text="aircrafts.editAirworthiness.newReview" class="btn btn-primary btn-xs" icon="glyphicon-plus">
          </sc-button>
          <sc-button 
            ng-if="reviews && reviews.length && (aw.part.airworthinessCertificateType.alias === 'f24' || aw.part.airworthinessCertificateType.alias === 'f25')"
            ng-show="!isEditReview"
            ng-disabled="reviews[reviews.length - 1] !== currentReview || reviews[reviews.length - 1].amendment2"
            btn-click="newAmendment()" name="newAmendmentBtn" text="aircrafts.editAirworthiness.newAmendment" class="btn btn-primary btn-xs" icon="glyphicon-plus">
          </sc-button>
          <sc-button ng-if="reviews && reviews.length"
            ng-show="!isEditReview"
            btn-click="editReview()" name="editBtn" text="aircrafts.editAirworthiness.editReview" class="btn btn-primary btn-xs" icon="glyphicon-edit">
          </sc-button>
          <sc-button ng-if="reviews && reviews.length"
            ng-show="!isEditReview"
            ng-disabled="reviews.length <= 1 || reviews[reviews.length - 1] !== currentReview"
            btn-click="deleteReview(currentReview)" name="deleteBtn"  text="aircrafts.editAirworthiness.deleteReview" class="btn btn-danger btn-xs" icon="glyphicon-remove">
          </sc-button>
          <sc-button ng-show="isEditReview"
            btn-click="saveReview()" name="saveBtn" text="aircrafts.editAirworthiness.saveReview" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
          </sc-button>
          <sc-button ng-show="isEditReview"
            btn-click="cancelReview()" name="cancelBtn" text="aircrafts.editAirworthiness.cancelReview" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
          </sc-button>
        </div>
      </div>

      <div class="well-sm panel-body" ng-show="currentReview">
        <gva-airworthiness-review-f15 ng-show="aw.part.airworthinessCertificateType.alias === 'f24' || aw.part.airworthinessCertificateType.alias === 'f25'"
          name="airworthinessReviewF15Form" ng-model="currentReview" readonly="!isEditReview">
        </gva-airworthiness-review-f15>
        <gva-airworthiness-review-other ng-show="aw.part.airworthinessCertificateType.alias === 'directive8' || aw.part.airworthinessCertificateType.alias === 'vla' || aw.part.airworthinessCertificateType.alias === 'unknown'"
          name="airworthinessReviewOtherForm" ng-model="currentReview" readonly="!isEditReview">
        </gva-airworthiness-review-other>
      </div>
    </div>
  </div>
</ng-form>
