<ng-form name="newCertAirworthinessForm" sc-validate="{}">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.newAirworthiness.title"></strong>
      <div class="pull-right">
        <sc-button name="saveBtn" btn-click="save()" text="aircrafts.newAirworthiness.save"
          class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button name="cancelBtn" btn-click="cancel()" text="aircrafts.newAirworthiness.cancel"
          class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <gva-aircraft-cert-airworthiness-fm name="aircraftCertAirworthinessForm" ng-model="aw.part"></gva-aircraft-cert-airworthiness-fm>
    </div>
  </div>
  <div ng-if="aw.part.aircraftCertificateType.code === 'AC' || aw.part.aircraftCertificateType.code === 'AR'">
    <h5 class="form-header" l10n-text="aircrafts.editAirworthiness.review" style="margin-top:10px;"></h5>
    <gva-airworthiness-review name="airworthinessReviewForm" ng-model="aw.part.reviews[0]"></gva-airworthiness-review>
  </div>
</ng-form>
