<ng-form sc-validate="{}" sc-form-readonly="!isEditAw">
  <div class="panel panel-default" style="margin-top: 10px">
    <div class="panel-heading">
      <strong l10n-text="aircrafts.editAirworthiness.titleAw"></strong>

      <div class="pull-right">
        <a ng-click="print()" ng-if="certTypeAlias !== '15b' && certTypeAlias !== 'unknown' && certTypeAlias !== '15bReissue' && !isEditAw">
          <span class="glyphicon glyphicon-print"></span>
        </a>
        <sc-button ng-show="!isEditAw" 
          btn-click="editAw()" name="editBtn" text="aircrafts.editAirworthiness.editAw" class="btn btn-primary btn-xs" icon="glyphicon-edit" >
        </sc-button>
        <sc-button ng-show="!isEditAw"
          btn-click="deleteAw()" name="deleteBtn" text="aircrafts.editAirworthiness.deleteAw" class="btn btn-danger btn-xs" icon="glyphicon-remove">
        </sc-button>
        <sc-button ng-show="isEditAw"
          btn-click="saveAw()" name="saveBtn" text="aircrafts.editAirworthiness.saveAw" class="btn btn-primary btn-xs" icon="glyphicon-floppy-disk">
        </sc-button>
        <sc-button ng-show="isEditAw"
          btn-click="cancelAw()" name="cancelBtn" text="aircrafts.editAirworthiness.cancelAw" class="btn btn-default btn-xs" icon="glyphicon-ban-circle">
        </sc-button>
      </div>
    </div>

    <div class="well-sm panel-body">
      <ng-form class="form-inline" sc-validate="{}" sc-form-readonly="!isEditAw"" name="aircraftCertAirworthinessForm">
        <div class="row">
          <sc-field type="nomenclature" ng-readonly="true" ng-model="airworthiness.part.airworthinessCertificateType" ng-required="true" params="{ lotId: lotId }" alias="'airworthinessCertificateTypes'" l10n-text="aircrafts.airworthinessDirective.airworthinessCertificateType" class="col-md-6 col-sm-8"></sc-field>
        </div>
        <gva-aircraft-cert-airworthiness name="aircraftCertAirworthinessSubform1" ng-if="certTypeAlias !== '15b' && certTypeAlias !== '15a' && certTypeAlias !== '15aReissue' && certTypeAlias !== '15bReissue'" ng-model="airworthiness.part"
          sc-form-params="{ lotId: lotId }">
        </gva-aircraft-cert-airworthiness>

        <gva-aircraft-cert-airworthiness-form-15 name="aircraftCertAirworthinessSubform2" ng-if="certTypeAlias === '15b' || certTypeAlias === '15a' || certTypeAlias === '15aReissue' || certTypeAlias === '15bReissue'" ng-model="airworthiness.part"
          sc-form-params="{ lotId: lotId }">
        </gva-aircraft-cert-airworthiness-form-15>
      </ng-form>
      <gva-common-scanned-document name="aircraftScannedDocumentForm" ng-model="airworthiness.case"
        sc-form-params="{ setPart: 'aircraft', lotId: lotId, hideFiles: true }">
      </gva-common-scanned-document>
    </div>
  </div>
</ng-form>
